<page-template label="iBus Verwaltung">
    <div left-side>
        Auf dieser Seite können Sie verschiedene iBusse hinzufügen, die in einem
        oder mehreren Katalogen verwendet werden können.

        <h4>Verbindungsstatus:</h4>
        <div
            *ngFor="let info of connectionStates"
            class="flex-row align-items-center gap-6"
        >
            <span>{{ info.id }}:</span>
            <span
                *ngIf="info.connected !== undefined; else waiting"
                class="flex-row"
                ><mat-icon
                    [class.success-color]="info.connected"
                    [class.error-color]="!info.connected"
                    [matTooltip]="
                        info.connected ? 'Ok' : 'Keine Verbindung zum iBus'
                    "
                    >{{
                        info.connected
                            ? "check_circle_outline"
                            : "error_outline"
                    }}</mat-icon
                ></span
            >
            <ng-template #waiting
                ><mat-spinner diameter="24"></mat-spinner
            ></ng-template>
        </div>
    </div>

    <div main-header class="flex-col justify-content-start align-items-stretch">
        <div>
            <button mat-flat-button color="primary" (click)="save()">
                Speichern
            </button>
        </div>
    </div>

    <div main-content>
        <div class="scrollable">
            <formly-form
                [form]="form"
                [model]="model"
                [fields]="fields"
            ></formly-form>
        </div>
    </div>
</page-template>
