<ige-dialog-template
    label="Login"
    (submit)="submit()"
    [disabled]="form.invalid"
>
    <ng-container content>
        <p>
            Bitte geben Sie Ihre Anmeldedaten ein, um auf die geschützte
            GetCapabilities-URL zugreifen zu können.
        </p>

        <form class="flex-col gap-6" [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Benutzername</mat-label>
                <input matInput formControlName="username" [igeFocus] />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Passwort</mat-label>
                <input
                    matInput
                    formControlName="password"
                    type="password"
                    (keyup.enter)="submit()"
                />
            </mat-form-field>
        </form>
    </ng-container>
</ige-dialog-template>
