@import "src/variables";

.timeout-wrapper {
  background-color: $ige-background;
  color: $ige-text-color;
  padding: 0 0 0 12px;
  border-radius: 4px;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;

  .label {
    opacity: 0.6;
  }

  .time {
    font-weight: 500;
  }

  .separator {
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: white;
    vertical-align: bottom;
    margin-left: 12px;
  }

  button {
    line-height: 100%;
  }
}

.warn {
  background-color: #eb924499;

  .label {
    opacity: 1;
  }
}

.timeout-wrapper.auto-hide {
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;

    button {
      display: unset;
    }
  }

  button {
    display: none;
  }
}
