@import "src/variables";

.timeout-wrapper {
  background-color: $ige-background;
  color: #181818;
  padding: 0 0 0 12px;
  border-radius: 4px;
  font-size: 14px;

  .label {
    opacity: 0.6;
  }

  .time {
    font-weight: 500;
  }

  .separator {
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: white;
    vertical-align: bottom;
    margin-left: 12px;
  }

}

.warn {
  background-color: #EB924499;

  .label {
    opacity: 1;
  }
}
