<ng-template #matPrefix>
    <span
        *ngIf="props.addonLeft"
        [ngStyle]="{ cursor: props.addonLeft.onClick ? 'pointer' : 'inherit' }"
        (click)="addonLeftClick($event)"
    >
        <mat-icon *ngIf="props.addonLeft.icon">{{
            props.addonLeft.icon
        }}</mat-icon>
        <span *ngIf="props.addonLeft.text">{{ props.addonLeft.text }}</span>
    </span>
</ng-template>

<ng-container #fieldComponent></ng-container>

<ng-template #matSuffix>
    <span
        *ngIf="props.addonRight"
        [ngStyle]="{ cursor: props.addonRight.onClick ? 'pointer' : 'inherit' }"
        (click)="addonRightClick($event)"
    >
        <mat-icon *ngIf="props.addonRight.icon">{{
            props.addonRight.icon
        }}</mat-icon>
        <span class="right-text-padding" *ngIf="props.addonRight.text">{{
            props.addonRight.text
        }}</span>
    </span>
</ng-template>
