<ng-template #matPrefix>
    @if (props.addonLeft) {
        <span
            [ngStyle]="{
                cursor: props.addonLeft?.onClick ? 'pointer' : 'inherit',
            }"
            (click)="addonLeftClick($event)"
        >
            @if (props.addonLeft.icon) {
                <mat-icon>{{ props.addonLeft.icon }}</mat-icon>
            }
            @if (props.addonLeft.text) {
                <span [class.comment-field]="props.addonLeft.asComment">{{
                    props.addonLeft.text
                }}</span>
            }
        </span>
    }
</ng-template>

<ng-container #fieldComponent></ng-container>

<ng-template #matSuffix>
    <ng-container *ngTemplateOutlet="props._matSuffix"></ng-container>
    @if (props.addonRight?.isButton) {
        <button type="button" mat-icon-button (click)="addonRightClick($event)">
            @if (props.addonRight.icon) {
                <mat-icon>{{ props.addonRight.icon }}</mat-icon>
            }
        </button>
    }
    @if (props.addonRight && !props.addonRight.isButton) {
        <span
            [ngStyle]="{
                cursor: props.addonRight.onClick ? 'pointer' : 'inherit',
            }"
            (click)="addonRightClick($event)"
        >
            @if (props.addonRight.icon) {
                <mat-icon>{{ props.addonRight.icon }}</mat-icon>
            }
            @if (props.addonRight.text) {
                <span>{{ props.addonRight.text }}</span>
            }
        </span>
    }
</ng-template>
