<ige-form-error
    *ngIf="
        showError &&
        formControl.invalid &&
        formControl.errors &&
        !formControl.hasError('required')
    "
>
    <div *ngFor="let error of formControl.errors | keyvalue">
        {{ error.value.message }}
    </div>
</ige-form-error>
<mat-list
    *ngIf="field.fieldGroup.length"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="drop($event)"
>
    <mat-list-item
        *ngFor="let item of field.fieldGroup; let i = index"
        cdkDrag
        [cdkDragDisabled]="formControl.disabled"
        [class.clickable]="formControl.enabled"
        [class.draggable]="formControl.enabled"
    >
        <div *ngFor="let error of item.formControl.errors | keyvalue">
            {{ error.value.message }}
        </div>
        <ige-form-error *ngIf="showError && item.formControl.invalid">
            <formly-validation-message
                *ngFor="let subField of item.fieldGroup[0].fieldGroup"
                [field]="subField"
            ></formly-validation-message>
        </ige-form-error>
        <div class="flex-row gap-6">
            <mat-icon *ngIf="formControl.enabled" cdkDragHandle
                >drag_indicator
            </mat-icon>

            <div class="flex-1 flex-col align-items-start">
                <div
                    *ngIf="
                        field.fieldArray?.fieldGroup?.[0]?.fieldGroup?.[1]?.props
                            ?.codelistId;
                        else simpleType
                    "
                    class="type"
                >
                    {{
                    (model[i].type.key
                        | codelist
                        : field.fieldArray?.fieldGroup?.[0]?.fieldGroup?.[1]
                            ?.props?.codelistId
                        | async) ?? model[i].type.value
                    }}
                </div>
                <ng-template #simpleType>
                    <div class="type">{{ model[i].type }}</div>
                </ng-template>
                <div class="title">
                    {{ model[i][props.titleField ?? "title"] }}
                </div>
                <a
                    class="url no-text-transform"
                    [href]="model[i].url"
                    target="_blank"
                    >{{ model[i].url }}</a
                >
                <div *ngIf="model[i].explanation" class="explanation">
                    {{ model[i].explanation }}
                </div>
            </div>

            <button
                *ngIf="formControl.enabled"
                mat-icon-button
                type="button"
                class="menu-button"
                [matMenuTriggerFor]="menu"
            >
                <mat-icon svgIcon="Mehr"></mat-icon>
            </button>

            <mat-menu #menu>
                <button mat-menu-item (click)="editItem(i)">Bearbeiten</button>
                <button mat-menu-item (click)="remove(i)">Entfernen</button>
            </mat-menu>
        </div>
    </mat-list-item>
</mat-list>

<ige-add-button
    *ngIf="formControl.enabled"
    (add)="addItem()"
    [showRequiredError]="
        showError && formControl.invalid && formControl.errors?.required
    "
></ige-add-button>
