@import "src/variables";

ige-add-button {
  display: block;
  padding-bottom: 22px;
}

.cdk-drag {
  background-color: white;
  border: 4px solid $ige-background;
  border-radius: 6px;
  margin-bottom: 4px;
}

.mdc-list {
  padding-bottom: 0;
}
.mat-mdc-list-item {
  height: auto;
  padding: 6px;
  margin-bottom: 20px;

  .type {
    font-size: 14px;
  }

  .category {
    opacity: 0.6;
    margin-bottom: 8px;
    width: 100%;
    border-bottom: 1px solid $ige-background;
  }

  .title,
  .url {
    font-size: 16px;
    font-weight: 500;
  }

  .url,
  .title,
  .subtitle,
  .description {
    white-space: normal;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .description {
    opacity: 0.6;
  }

  .url {
    -webkit-line-clamp: 1;
  }

  .title,
  .description {
    -webkit-line-clamp: 2;
  }
}
