@import "src/variables";

.mat-list-base {
  background-color: $ige-background;
  padding-top: 0;

  .mat-list-item {
    border-bottom: 2px solid #fff;
    height: auto;

    ::ng-deep .mat-list-item-content {
      padding-top: 12px;
      padding-bottom: 12px;
      align-items: flex-start;
    }

    .avatar {
      align-self: center;
      width: 48px;
      height: 48px;
      .mat-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;

        ::ng-deep .coloring {
          fill: $ige-background-bar;
        }
      }
    }

    &.image .avatar {
      width: 100px;
      height: 100px;
      background-color: $ige-background-bar;
      background-repeat: no-repeat;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
    }

    .type {
      font-size: 14px;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 4px;
    }
  }
}

.download-image {
  display: inline-block;
  position: relative;

  .overlay {
    position: absolute;
    top: 16px;
    left: 12px;

    ::ng-deep .coloring {
      fill: $ige-icon-color !important;
    }
  }
}
