<mat-tab-group [animationDuration]="'0ms'" (selectedIndexChange)="currentTab = $event" [selectedIndex]="currentTab">

    <mat-tab label="Benutzer">
        <ige-user-manager [doSave]="doUserSave" [doDelete]="doUserDelete" (canSave)="canSaveUser = $event"></ige-user-manager>
    </mat-tab>

    <mat-tab label="Gruppen">
        <!-- Lazy load tab content to correctly initialize split component -->
        <ng-template matTabContent>
            <ige-group-manager [doSave]="doGroupSave" [doDelete]="doGroupDelete" (canSave)="canSaveGroup = $event"></ige-group-manager>
        </ng-template>
    </mat-tab>

</mat-tab-group>

<div style="position:absolute; right: 0; top: 6px; z-index: 1000">
    <button mat-button (click)="remove()" [disabled]="canDelete()">Löschen</button>
    <button mat-button (click)="save()" [disabled]="canNotSave()">Speichern</button>
</div>
