<mat-tab-group
    dynamicHeight
    class="page-tabs"
    [animationDuration]="'0ms'"
    (selectedIndexChange)="handleTabChange($event)"
    [selectedIndex]="selectedIndex | async"
>
    <mat-tab label="Nutzer" aria-label="users">
        <!-- Lazy load tab content to correctly initialize split component -->
        <ng-template matTabContent>
            <ige-user-manager #user></ige-user-manager>
        </ng-template>
    </mat-tab>

    <mat-tab label="Gruppen & Rechte" aria-label="groups-and-permissions">
        <!-- Lazy load tab content to correctly initialize split component -->
        <ng-template matTabContent>
            <ige-group-manager #group></ige-group-manager>
        </ng-template>
    </mat-tab>
</mat-tab-group>
