<nav
    mat-tab-nav-bar
    class="page-tabs-routing"
    mat-stretch-tabs="false"
    [tabPanel]="tabPanel"
>
    <a
        mat-tab-link
        *ngFor="let tab of tabs; let i = index"
        [attr.data-cy]="tab.path"
        #rla="routerLinkActive"
        routerLinkActive="active-link"
        [routerLink]="tab.params ? [tab.path, tab.params] : tab.path"
        [routerLinkActiveOptions]="{ exact: true }"
        [active]="rla.isActive"
        (click)="updateTab(i)"
    >
        {{ tab.label }}
    </a>
</nav>

<mat-tab-nav-panel #tabPanel>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</mat-tab-nav-panel>
