<form-toolbar></form-toolbar>
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div *ngFor="let field of fields" class="fieldContainer {{field.domClass}}"
             [ngClass]="{hasChildren: field.children, padding: !field.children}">
            <fieldset *ngIf="field.children">
                <dyn-field *ngFor="let child of field.children" [field]="child" [parentKey]="field.useGroupKey" [form]="form" [value]="data" class="padding {{child.domClass}}"></dyn-field>
            </fieldset>
            <dyn-field *ngIf="!field.children" [field]="field" [form]="form" [value]="data"></dyn-field>
        </div>

        <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>

    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>


</div>

<button (click)="load('0')">Load 1</button>
<button (click)="load('1')">Load 2</button>
