<mat-tab-group animationDuration="0" class="page-tabs"
               [selectedIndex]="tabIndex"
               (selectedIndexChange)="updateRoute($event)">
    <mat-tab label="Allgemein">
        <page-template title="Allgemein">
            <general-settings main></general-settings>
        </page-template>
    </mat-tab>

    <mat-tab label="Codelist Repository">
        <page-template title="Codelist Repository">
            <ige-codelists main></ige-codelists>
        </page-template>
    </mat-tab>

    <mat-tab label="Katalogverwaltung">
        <page-template title="Katalogverwaltung">
            <div help>Auf dieser Seite können die Kataloge verwaltet werden.</div>
            <ige-catalog-management main></ige-catalog-management>
        </page-template>
    </mat-tab>
</mat-tab-group>
