<nav mat-tab-nav-bar class="page-tabs-routing">
    <a mat-tab-link routerLink="general" routerLinkActive="active-link" (click)="activeLink = 'general'" [active]="activeLink == 'general'">
        Allgemein
    </a>

    <a mat-tab-link routerLink="codelist" routerLinkActive="active-link" (click)="activeLink = 'codelist'" [active]="activeLink == 'codelist'">
        Codelist Repository
    </a>

    <a mat-tab-link routerLink="catalog" routerLinkActive="active-link" (click)="activeLink = 'catalog'" [active]="activeLink == 'catalog'">
        Katalogverwaltung
    </a>
</nav>

<router-outlet></router-outlet>
