<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">{{forAddress ? 'Neue Adresse anlegen' : 'Neuen Datensatz anlegen'}}</span>
    </h2>
</div>
<mat-dialog-content class="hide-tab-header create-dlg-content">
    <mat-tab-group [selectedIndex]="selectedPage">
        <mat-tab label="Titel">
            <div class="first-tab-wrapper">
                <form fxFlex fxLayout="column" [formGroup]="formGroup">
                    <ng-container *ngIf="forAddress">
                        <div fxFlex fxLayout="row" fxLayoutGap="24px">

                            <mat-form-field appearance="outline" class="width-100">
                                <mat-label>Vorname</mat-label>
                                <input matInput
                                       formControlName="firstName"
                                       cdkFocusInitial
                                       placeholder="Vorname">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="width-100">
                                <mat-label>Nachname</mat-label>
                                <input matInput
                                       placeholder="Nachname"
                                       formControlName="lastName">
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>Organisation</mat-label>
                            <input matInput
                                   formControlName="organization"
                                   placeholder="Oder eine Organisation">
                        </mat-form-field>

                        <div *ngIf="formGroup.errors?.nameOrOrganization && (formGroup.touched || formGroup.dirty)"
                             class="cross-validation-error-message alert alert-danger">
                            Es müssen Name oder Organisation eingegeben werden.
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!forAddress">
                        <mat-form-field appearance="outline" class="width-100">
                            <mat-label>Titel</mat-label>
                            <input matInput
                                   formControlName="title"
                                   cdkFocusInitial
                                   placeholder="Titel"
                                   required>
                            <mat-error *ngIf="formGroup.get('title').invalid">Dieses Feld muss ausgefüllt sein</mat-error>
                        </mat-form-field>

                        <ng-container *ngIf="numDocumentTypes > 1">
                            <label id="doc-type">Datensatztyp wählen:</label>
                            <ige-document-list-item [docs]="documentTypes" showSelection="true"
                                                    [denseMode]="true"
                                                    [hideDivider]="true"
                                                    [setActiveItem]="initialActiveDocumentType"
                                                    (select)="setDocType($event)"></ige-document-list-item>
                        </ng-container>

                    </ng-container>

                    <div>
                        <label>Ort</label>
                        <ige-breadcrumb [path]="path"
                                        [rootName]="rootTreeName"
                                        emphasize="true"></ige-breadcrumb>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Ort auswählen">
            <ige-destination-selection [forAddress]="forAddress"
                                       (choice)="updateParent($event)"></ige-destination-selection>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>

<div style="flex: 1"></div>

<mat-dialog-actions>
    <button *ngIf="selectedPage === 1" color="primary" mat-button (click)="selectedPage = 0" class="back-button">
        <mat-icon>chevron_left</mat-icon>
        <span>Zurück</span>
    </button>

    <div fxFlex></div>

    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button *ngIf="selectedPage === 0" mat-button color="primary" (click)="selectedPage = 1">Ort ändern</button>
    <button mat-button color="primary" [disabled]="formGroup.invalid" (click)="createDoc()">Anlegen</button>
</mat-dialog-actions>
