@import "../../../../variables";

:host {
  .mat-dialog-content {
    padding: 0 0 10px;
    display: flex;

    .mat-tab-group {
      flex: 1;

      ::ng-deep .mat-tab-body-content {
        display: flex;
      }
    }
  }
}

#doc-type {
  padding-bottom: 12px;
  display: block;
}

mat-radio-button {
  display: block;
  padding-bottom: 16px;
}

.hide-tab-header ::ng-deep .mat-tab-header {
  display: none !important;
}

ige-tree, ige-document-list-item {
  display: block;
  padding-bottom: 20px;
}

.first-tab-wrapper {
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 1px;
}

.mat-form-field {
  width: 100%;
}

.back-button {
  padding: 0 10px 0 0;
}

.create-dlg-content ige-destination-selection ::ng-deep .mat-list-option {
  background-color: $ige-background;

  &:hover {
    background-color: darken($ige-background, 5%);
  }

  .mat-list-item-content {
    padding: 0 24px;
  }
}
