<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Rechte hinzufügen</h1>
    </div>

    <mat-dialog-content>
        <ige-tree
            (selected)="selection = $event"
            [forAddresses]="forAddress"
            [disabledCondition]="disableTreeNodes"
            [isExpandable]="isExpandable"
            [setActiveNode]="activeNodeSetter"
            [showHeader]="false"
            [allowMultiSelectionMode]="false"
        ></ige-tree>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-button
            mat-dialog-close
            cdkFocusInitial
            color="primary"
            data-cy="permission-dialog-cancel"
        >
            Abbrechen
        </button>
        <div class="flex-1"></div>
        <button
            data-cy="permission-dialog-add"
            mat-flat-button
            color="primary"
            [disabled]="shouldDisableAddButton()"
            (click)="addPermission('writeTree')"
        >
            Hinzufügen
        </button>
    </mat-dialog-actions>
</div>
