@import "src/variables";

.infoIcon {
  border-radius: 50%;
  background-color: $ige-background;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.mat-mdc-dialog-content {
  resize: both;
  padding-top: 0;
  color: $ige-text-color;
  white-space: normal !important;
  min-width: 250px;
}

.initialWidth {
  width: 500px;
}

.mat-mdc-dialog-title {
  display: flex;
  align-items: flex-start;
  cursor: move;
  font-size: 16px;
  padding: 8px;

  span {
    flex: 1 1 auto;
    line-height: 24px;
    color: $ige-primary;
    font-weight: normal;
  }
}
