@use "src/variables" as vars;

.mat-mdc-dialog-content {
  resize: both;
  padding-top: 0;
  color: vars.$ige-text-color;
  white-space: normal !important;
  min-width: 250px;
}

.initialWidth {
  width: 500px;
}

.context-help-title-wrapper {
  padding: 8px 8px 20px;
  cursor: move;

  h1 {
    color: vars.$ige-primary;
    margin: unset;
    padding: unset;
    font-size: 16px;
    font-weight: normal;

    &:before {
      display: none;
    }
  }
}
