@import "src/variables";

.infoIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $ige-background;
}

.mat-mdc-dialog-content {
  resize: both;
  padding-top: 0;
  color: $ige-text-color;
  white-space: normal !important;
  min-width: 250px;
}

.initialWidth {
  width: 500px;
}

.context-help-title-wrapper {
  padding: 8px 8px 20px;
  cursor: move;

  h1 {
    color: $ige-primary;
    margin: unset;
    padding: unset;
    font-size: 16px;
    font-weight: normal;

    &:before {
      display: none;
    }
  }
}
