<ng-template #selectAll let-selectOptions="selectOptions">
    <mat-option (click)="toggleSelectAll(selectOptions)">
        <mat-pseudo-checkbox
            class="mat-option-pseudo-checkbox"
            [state]="getSelectAllState(selectOptions)"
        >
        </mat-pseudo-checkbox>
        {{ props.selectAllOption }}
    </mat-option>
</ng-template>
<mat-select
    [id]="id"
    [attr.data-cy]="'select-' + key"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [placeholder]="props.placeholder"
    [tabIndex]="props.tabindex"
    [required]="props.required"
    [compareWith]="props.compareWith"
    [multiple]="props.multiple"
    (selectionChange)="change($event)"
    [errorStateMatcher]="errorStateMatcher"
    [aria-labelledby]="field | fieldToAriaLabelledBy"
    [disableOptionCentering]="props.disableOptionCentering"
>
    @if (props.showSearch) {
        <mat-option>
            <ngx-mat-select-search
                [formControl]="filterCtrl"
            ></ngx-mat-select-search>
        </mat-option>
    }
    @if (selectOptions) {
        @if (props.multiple && props.selectAllOption) {
            <ng-container
                [ngTemplateOutlet]="selectAll"
                [ngTemplateOutletContext]="{ selectOptions: selectOptions }"
            >
            </ng-container>
        }
        @if (props.allowNoValue) {
            <mat-option>{{ props.noValueLabel ?? "- Keine -" }}</mat-option>
        }
        @for (item of filteredOptions; track item) {
            <mat-option [value]="item" [disabled]="$any(item).disabled">{{
                item.value
            }}</mat-option>
        }
    }
</mat-select>
