<ng-template #selectAll let-selectOptions="selectOptions">
    <mat-option (click)="toggleSelectAll(selectOptions)">
        <mat-pseudo-checkbox
            class="mat-option-pseudo-checkbox"
            [state]="getSelectAllState(selectOptions)"
        >
        </mat-pseudo-checkbox>
        {{ to.selectAllOption }}
    </mat-option>
</ng-template>
<mat-select
    [id]="id"
    [formControl]="selectControl"
    [formlyAttributes]="field"
    [placeholder]="to.placeholder"
    [tabIndex]="to.tabindex"
    [required]="to.required"
    [compareWith]="to.compareWith"
    [multiple]="to.multiple"
    (selectionChange)="change($event)"
    [errorStateMatcher]="errorStateMatcher"
    [aria-label]="_getAriaLabel()"
    [aria-labelledby]="_getAriaLabelledby()"
    [disableOptionCentering]="to.disableOptionCentering"
>
    <ngx-mat-select-search
        *ngIf="to.showSearch"
        [formControl]="filterCtrl"
    ></ngx-mat-select-search>
    <ng-container *ngIf="selectOptions">
        <ng-container
            *ngIf="to.multiple && to.selectAllOption"
            [ngTemplateOutlet]="selectAll"
            [ngTemplateOutletContext]="{ selectOptions: selectOptions }"
        >
        </ng-container>
        <mat-option *ngIf="to.allowNoValue">- Keine -</mat-option>
        <ng-container *ngFor="let item of filteredOptions">
            <mat-option [value]="item.value" [disabled]="item.disabled">{{
                item.label
            }}</mat-option>
        </ng-container>
    </ng-container>
</mat-select>
