<ng-template #selectAll let-selectOptions="selectOptions">
    <mat-option (click)="toggleSelectAll(selectOptions)">
        <mat-pseudo-checkbox
            class="mat-option-pseudo-checkbox"
            [state]="getSelectAllState(selectOptions)"
        >
        </mat-pseudo-checkbox>
        {{ props.selectAllOption }}
    </mat-option>
</ng-template>
<mat-select
    [id]="id"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [placeholder]="props.placeholder"
    [tabIndex]="props.tabindex"
    [required]="props.required"
    [compareWith]="props.compareWith"
    [multiple]="props.multiple"
    (selectionChange)="change($event)"
    [errorStateMatcher]="errorStateMatcher"
    [aria-label]="props.ariaLabel"
    [aria-labelledby]="_getAriaLabelledby()"
    [disableOptionCentering]="props.disableOptionCentering"
>
    <mat-option *ngIf="props.showSearch">
        <ngx-mat-select-search
            [formControl]="filterCtrl"
        ></ngx-mat-select-search>
    </mat-option>
    <ng-container *ngIf="selectOptions">
        <ng-container
            *ngIf="props.multiple && props.selectAllOption"
            [ngTemplateOutlet]="selectAll"
            [ngTemplateOutletContext]="{ selectOptions: selectOptions }"
        >
        </ng-container>
        <mat-option *ngIf="props.allowNoValue">- Keine -</mat-option>
        <ng-container *ngFor="let item of filteredOptions">
            <mat-option [value]="item" [disabled]="item.disabled">{{
                item.value
            }}</mat-option>
        </ng-container>
    </ng-container>
</mat-select>
