<!-- Toolbar -->
<form-toolbar></form-toolbar>

<div class="notifyWrapper" [class.active]="error">
    <div class="tn-box tn-box-color-1">
        <p>An error occured: {{error}}</p>
        <div class="tn-progress"></div>
    </div>
</div>

<div class="tabs-left menu">
    <ul class="nav nav-tabs flex-column">
        <li class="nav-item" [class.active]="sideTab === 'tree'">
            <a class="nav-link" (click)="sideTab = 'tree'" title="Baumstruktur" data-toggle="tab">
                <span class="fa fa-tree"></span>
            </a>
        </li>
        <li class="nav-item" [class.active]="sideTab === 'search'">
            <a class="nav-link" (click)="sideTab = 'search'" title="Suche" data-toggle="tab">
                <span class="fa fa-search"></span>
            </a>
        </li>
        <li class="nav-item" [class.active]="sideTab === 'wizards'">
            <a class="nav-link" (click)="sideTab = 'wizards'" title="Assistenten" data-toggle="tab">
                <span class="fa fa-magic"></span>
            </a>
        </li>
        <li class="nav-item" [class.active]="sideTab === 'favorites'">
            <a class="nav-link" (click)="sideTab = 'favorites'" title="Favoriten" data-toggle="tab">
                <span class="fa fa-star"></span>
            </a>
        </li>
        <li class="nav-item" class="toggle">
            <a class="nav-link" title="Ein-/Ausklappen" (click)="hideSidebar = !hideSidebar">
                <span class="fa"
                      [class.fa-chevron-left]="!hideSidebar"
                      [class.fa-chevron-right]="hideSidebar"></span>
            </a>
        </li>
    </ul>
</div>

<split [disabled]="hideSidebar" [visibleTransition]="true">
    <!-- exchangable sidebar -->
    <split-area [size]="sidebarWidth" [visible]="!hideSidebar" id="sidebar">
        <!--<div class="col-md-4 col-sm-5">-->
        <div class="tabs-left">
            <div class="tab-content">
                <div class="tab-pane" [class.active]="sideTab === 'tree'">
                    <tree (activate)="handleLoad($event)"
                          (selected)="handleSelection($event)"></tree>
                </div>
                <div class="tab-pane" [class.active]="sideTab === 'search'">
                    <browser (onSelected)="load($event.id)"></browser>
                </div>
                <div class="tab-pane" [class.active]="sideTab === 'wizards'">
                    <!--<a [routerLink]="['/form/10']">Zurück</a>-->
                    <router-outlet name="wizard"></router-outlet>
                </div>
                <div class="tab-pane" [class.active]="sideTab === 'favorites'">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Favoriten</div>
                        <div class="list-group">
                            <button (click)="load('1')" class="list-group-item list-group-item-action">
                                <span class="fa fa-file-o"></span>
                                Document 1 (TEST)
                            </button>
                            <button (click)="load('2')" class="list-group-item list-group-item-action">
                                <span class="fa fa-file-o"></span>
                                Document 5 (TEST)
                            </button>
                            <button (click)="load('3')" class="list-group-item list-group-item-action">
                                <span class="fa fa-address-card-o"></span>
                                Document 6 (TEST)
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- /tab-content -->
        </div><!-- /tabbable -->
        <!--</div>&lt;!&ndash; /col &ndash;&gt;-->
        <!--<ul class="nav nav-tabs">
            <li role="presentation" [class.active]="sideTab === 'tree'"><a (click)="sideTab = 'tree'">Baum</a></li>
            <li role="presentation" [class.active]="sideTab === 'search'"><a (click)="sideTab = 'search'">Suche</a></li>
        </ul>
        <tree [class.hide]="sideTab !== 'tree'"
              (activate)="handleLoad($event)"
              (selected)="handleSelection($event)"></tree>
        <browser [class.hide]="sideTab !== 'search'" (onSelected)="load($event.id)"></browser>-->
    </split-area>

    <!-- The form -->
    <split-area [size]="75" id="form" class="formWrapper">
        <div *ngIf="!form" class="info-no-selection card-body text-center">
            Kein Dokument ausgewählt. Laden Sie ein vorhandenes oder erstellen Sie ein neues Dokument über die Toolbar.
        </div>

        <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">

            <!-- bottom info bar -->
            <div class="form-info-bar" style="position:relative;" [class.expanded]="showDateBar"
                 (click)="showDateBar = !showDateBar">
                <span class="text-muted">
                    <div class="pull-left padding-sm"
                         title="Als Favoriten merken"
                         (mouseover)="markFavoriteHovered = true"
                         (mouseout)="markFavoriteHovered = false"
                         (click)="markFavorite($event)">
                        <span class="fa"
                              [class.fa-star]="false || markFavoriteHovered"
                              [class.fa-star-o]="true && !markFavoriteHovered"
                        ></span>
                        {{getTitle()}}
                    </div>
                    <div class="padding-sm pull-right">
                        <span class="fa fa-user"></span>
                        <small>
                            <strong>Autor:</strong> {{data._modifiedBy}}
                        </small>
                    </div>
                    <div class="padding-sm pull-right">
                        <span class="fa fa-clock-o" [class.active]="showDateBar"
                              title="Zeige Datumsinformation"></span>
                        <small>
                            <strong>Geändert:</strong> {{data._modified | date:'HH:mm - dd.MM.yyyy'}}
                        </small>
                    </div>
                    <div style="clear: both;"></div>
                    <div [class.d-none]="!showDateBar" style="clear: both;">
                        <div class="padding-sm pull-right">
                            <small>
                                <strong>Erstellt:</strong> {{data._created | date:'HH:mm - dd.MM.yyyy'}}
                            </small>
                        </div>
                    </div>
                    <!--<span class="fa fa-chevron-left" (click)="showDateBar = !showDateBar"></span>-->
                    <div class="text-center" style="position:absolute; margin: 0 50%; bottom: -3px;">
                        <span class="fa"
                              [class.fa-chevron-down]="!showDateBar"
                              [class.fa-chevron-up]="showDateBar"></span>
                    </div>
                    <!--<div style="position: absolute; left: 50%;">
                        <div style="position: relative; left: -50%; border: dotted red 1px;">
                          <span class="fa fa-chevron-down"></span>
                        </div>
                    </div>-->
                </span>
            </div>

            <div class="main-form-flex">
                <!--<div class="main-form">-->
                <!--<ige-main-form [fields]="fields" [form]="form" (onAddSection)="addSection($event)"></ige-main-form>-->
                <ige-main-form-tabs [fields]="fields" [form]="form"
                                    style="display: flex;"
                                    [blurAllBut]="wizardFocusElement"
                                    (onAddSection)="addSection($event)"></ige-main-form-tabs>
                <!--</div>-->
            </div>
            <div *ngIf="debugEnabled" class="card-body text-muted">
                <strong>Form contains the following values</strong><br>{{form.value | json}}
                <!--<p>Form is valid: {{form.valid}}</p>-->
            </div>

            <!-- WIZARD -->
            <!-- TODO: show within sidebar with vertical style? -->
            <!--<div *ngIf="showWizard" class="padding wizard-container">
                <wizard [navBarLocation]="'bottom'">
                    <wizard-step title="Schritt 1">
                        Content of Step 1
                        <button type="button" nextStep>Next Step</button>
                    </wizard-step>
                    <wizard-step title="Schritt 2" optionalStep>
                        Content of Step 2
                        <button type="button" previousStep>Go to previous step</button>
                        <button type="button" nextStep>Go to next step</button>
                    </wizard-step>
                    <wizard-step title="Schritt 3">
                        Content of Step 3
                        <button type="button" previousStep>Previous Step</button>
                    </wizard-step>
                </wizard>
            </div>-->

        </form>
    </split-area>

    <ng2-toasty [position]="'bottom-center'"></ng2-toasty>

</split>

<ng-template #newDocModal>
    <div class="modal-header">
        <h4 class="modal-title">Neues Dokument</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="radio" *ngFor="let type of newDocOptions.docTypes">
            <label class="custom-control custom-radio">
                <input class="custom-control-input" name="newDocChoice" type="radio" [(ngModel)]="choiceNewDoc" [value]="type.id">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{type.label}}</span>
            </label>
        </div>
        <div class="checkbox">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [disabled]="!newDocOptions.rootOption" [(ngModel)]="addToDoc">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">unter ausgewähltem Dokument/Ordner anlegen</span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="prepareNewDoc()">Anlegen</button>
        <!--<button type="button" class="btn btn-link" (click)="modalRef.hide()">Nein</button>-->
    </div>
</ng-template>

<ng-template #discardConfirmModal>
    <div class="modal-header">
        <h4 class="modal-title">Daten wurden geändert</h4>
    </div>
    <div class="modal-body">
        <p>Der Datensatz wurde geändert. Wollen Sie die Änderungen verwerfen und einen anderen Datensatz laden?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" (click)="discardChanges()">Verwerfen</button>
        <button class="btn btn-link" (click)="isoViewModalRef.hide()">Abbrechen</button>
    </div>
</ng-template>
