<div [formGroup]="form"
     [class.has-error]="form.controls[field.key].invalid"
     (mouseenter)="showHelp = true"
     (mouseleave)="showHelp = false">

    <label *ngIf="!field.hideLabel" class="control-label" [attr.for]="field.key">{{field.label}}
        <span *ngIf="showHelp" class="btnHelp text-muted fa fa-question-circle-o"
              popoverTitle="Hilfe (Header kann entfallen)"
              popover="{{field.help}}"
              triggers="click:tap"
              popoverPlacement="top"
        ></span>
    </label>

    <ng-container [ngSwitch]="field.controlType">

        <!-- RUBRIC -->
        <ng-container *ngSwitchCase="'rubric'">
          <h4>{{field.label}}</h4>
          <hr>
        </ng-container>

        <!-- TEXTBOX -->
        <input *ngSwitchCase="'textbox'"
               [id]="field.key"
               class="form-control"
               [formControlName]="field.key"
               [attr.type]="field.type">

        <!-- DATEPICKER -->
        <ige-datebox *ngSwitchCase="'datepicker'"
                     [formControlName]="field.key"></ige-datebox>

        <!-- CHECKBOX -->
        <ige-checkbox *ngSwitchCase="'checkbox'" [label]="field.label" [formControlName]="field.key"></ige-checkbox>
            <!--<p-checkbox *ngSwitchCase="'checkbox'" [formControlName]="field.key" [value]="true" [label]="field.label" binary="true"></p-checkbox>-->
            <!--<label class="custom-control custom-checkbox">
                <input [formControlName]="field.key" [id]="field.key" type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{field.label}}</span>
            </label>-->

        <!-- RADIO BUTTON-->
        <span *ngSwitchCase="'radio'">
            <ige-radiobox *ngFor="let opt of field.options"
                          [formControlName]="field.key"
                          [label]="opt.label"
                          [radioName]="field.key"
                          [radioValue]="opt.value"></ige-radiobox>
            <!--<p-radioButton *ngFor="let opt of field.options"
                           [formControlName]="field.key"
                           [name]="field.key"
                           label="{{opt.label}}"
                           value="{{opt.value}}"></p-radioButton>-->
            <!--<label *ngFor="let opt of field.options" class="custom-control custom-radio">
                <input [formControlName]="field.key" type="radio"
                       class="custom-control-input"
                       [value]="opt.value">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{opt.label}}</span>
            </label>-->
        </span>

        <!-- SELECT -->
        <ige-drop-down *ngSwitchCase="'dropdown'" [formControlName]="field.key"
                       [id]="field.key"
                       [isCombo]="field.isCombo"
                       [options]="field.options">
        </ige-drop-down>

        <!-- TEXTAREA -->
        <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                  class="form-control">
        </textarea>

        <!-- TABLE -->
        <!--<data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                    [ngModel]="value[field.key]">
        </data-table>-->

        <ige-data-grid *ngSwitchCase="'opentable'"
                        [formControlName]="field.key"
                        [columns]="field.columns"
                        [addWithDialog]="field.addWithDialog"
                        [hideTableHeader]="field.hideHeader"></ige-data-grid>

        <!-- LEAFLET-->
        <leaflet *ngSwitchCase="'map'" [options]="field.options" [height]="field.height" [formControlName]="field.key"></leaflet>

        <link-dataset *ngSwitchCase="'linkDataset'" [formControlName]="field.key" [filter]="field.filter"></link-dataset>

        <!--<div class="invalid-feedback" [class.show]="form.controls[field.key].invalid && !form.controls[field.key].untouched">{{showError(form.controls[field.key].errors)}}</div>-->

        <ng-container *ngIf="form.controls[field.key]">
            <div *ngIf="form.controls[field.key].invalid && (form.controls[field.key].dirty || form.controls[field.key].touched)" class="invalid-feedback show">
                <div *ngIf="form.controls[field.key].errors.required">
                    Feld darf nicht leer sein.
                </div>
                <div *ngIf="form.controls[field.key].errors.minlength">
                    Der eingegebene Wert ist zu kurz.
                </div>
                <div *ngIf="form.controls[field.key].errors.other">
                    {{ form.controls[field.key].errors.other.error }}
                </div>
            </div>
        </ng-container>
    </ng-container>

</div>
