<div [formGroup]="form"
     [class.has-error]="form.controls[field.key].invalid">

    <label *ngIf="!field.hideLabel" class="control-label" [attr.for]="field.key">{{field.label}}</label>

    <ng-container [ngSwitch]="field.controlType">

        <!-- RUBRIC -->
        <ng-container *ngSwitchCase="'rubric'">
          <h4>{{field.label}}</h4>
          <hr>
        </ng-container>

        <!-- TEXTBOX -->
        <input *ngSwitchCase="'textbox'" [formControlName]="field.key" class="form-control"
               [id]="field.key" [attr.type]="field.type">

        <!-- CHECKBOX -->
        <div *ngSwitchCase="'checkbox'" class="checkbox">
            <label>
                <input [formControlName]="field.key" [id]="field.key" type="checkbox">
                {{field.label}}
            </label>
        </div>

        <!-- TODO: https://github.com/pleerock/ng2-radio-group -->
        <!-- RADIO BUTTON-->
        <span *ngSwitchCase="'radio'">
            <label *ngFor="let opt of field.options" class="radio-inline">
                <input [formControlName]="field.key" type="radio"
                       [value]="opt.value"> {{opt.label}}
            </label>
        </span>

        <!-- SELECT -->
        <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" class="form-control">
            <option *ngFor="let opt of field.options" [value]="opt.id">{{opt.value}}</option>
        </select>

        <!-- TEXTAREA -->
        <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                  class="form-control">
        </textarea>

        <!-- TABLE -->
        <!--<data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                    [ngModel]="value[field.key]">
        </data-table>-->

        <open-table *ngSwitchCase="'opentable'" [formControlName]="field.key" [columns]="field.columns" [hideTableHeader]="field.hideHeader"></open-table>

        <!-- LEAFLET-->
        <leaflet *ngSwitchCase="'map'" [options]="field.options" [height]="field.height" [formControlName]="field.key"></leaflet>

        <link-dataset *ngSwitchCase="'linkDataset'" [formControlName]="field.key" [filter]="field.filter"></link-dataset>

        <div class="help-block" [class.hide]="form.controls[field.key].valid || form.controls[field.key].untouched">{{showError(form.controls[field.key].errors)}}</div>
    </ng-container>

</div>
