<div [formGroup]="form"
     [class.has-error]="form.controls[field.key].invalid"
     (mouseenter)="showHelp = true"
     (mouseleave)="showHelp = false">

    <label *ngIf="!field.hideLabel" class="control-label" [attr.for]="field.key">{{field.label}}
        <span *ngIf="showHelp" class="btnHelp text-muted fa fa-question-circle-o"
              popoverTitle="Hilfe (Header kann entfallen)"
              popover="{{field.help}}"
              triggers="mouseenter"
              popoverPlacement="top"
        ></span>
    </label>

    <ng-container [ngSwitch]="field.controlType">

        <!-- RUBRIC -->
        <ng-container *ngSwitchCase="'rubric'">
          <h4>{{field.label}}</h4>
          <hr>
        </ng-container>

        <!-- TEXTBOX -->
        <input *ngSwitchCase="'textbox'" [formControlName]="field.key" class="form-control"
               [id]="field.key" [attr.type]="field.type">

        <!-- DATEPICKER -->
        <input *ngSwitchCase="'datepicker'"
               class="form-control"
               value="{{field.value | date:'dd.MM.YYYY'}}"
               [formControlName]="field.key"
               bsDatepicker
               [bsConfig]="bsConfig"
        >

        <!-- CHECKBOX -->
        <div *ngSwitchCase="'checkbox'" class="checkbox">
            <label class="custom-control custom-checkbox">
                <input [formControlName]="field.key" [id]="field.key" type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{field.label}}</span>
            </label>
        </div>

        <!-- TODO: https://github.com/pleerock/ng2-radio-group -->
        <!-- RADIO BUTTON-->
        <span *ngSwitchCase="'radio'">
            <label *ngFor="let opt of field.options" class="custom-control custom-radio">
                <input [formControlName]="field.key" type="radio"
                       class="custom-control-input"
                       [value]="opt.value">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{opt.label}}</span>
            </label>
        </span>

        <!-- SELECT -->
        <ige-drop-down *ngSwitchCase="'dropdown'" [formControlName]="field.key"
                       [id]="field.key"
                       [isCombo]="field.isCombo"
                       [options]="field.options">
        </ige-drop-down>

        <!-- TEXTAREA -->
        <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                  class="form-control">
        </textarea>

        <!-- TABLE -->
        <!--<data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                    [ngModel]="value[field.key]">
        </data-table>-->

        <open-table *ngSwitchCase="'opentable'" [formControlName]="field.key" [columns]="field.columns" [hideTableHeader]="field.hideHeader"></open-table>

        <!-- LEAFLET-->
        <leaflet *ngSwitchCase="'map'" [options]="field.options" [height]="field.height" [formControlName]="field.key"></leaflet>

        <link-dataset *ngSwitchCase="'linkDataset'" [formControlName]="field.key" [filter]="field.filter"></link-dataset>

        <div class="invalid-feedback" [class.show]="form.controls[field.key].invalid && !form.controls[field.key].untouched">{{showError(form.controls[field.key].errors)}}</div>
    </ng-container>

</div>
