split {
    padding-top: 42px;
}
.info-no-selection {
    margin: 20px;
}

.formWrapper {
  display: flex;
}

.formWrapper > form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-form-flex {
    display: flex;
    flex: 1;
}

/*.main-form {
    flex-grow: 1;
}*/

.bottom-bar {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    border: 1px solid #e3e3e3;
    /*max-height: 35px;*/
    /*line-height: 30px;*/
    background-color: #f5f5f5;
    /*overflow: hidden;*/
    cursor: pointer;
    padding: 3px;
}
/*.bottom-bar .content {
    display: inline-block;
    padding: 5px;
    max-width: 30px;
    transition: max-width 0.5s ease-in-out;
}*/

.bottom-bar.expanded {
    /*max-height: 100px;*/
    transition: max-width 1s ease-in-out;
}

.notifyWrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 10000;
    display: none;
    opacity: 0;
}

.tn-box {
    display: inline-block;
    width: 360px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: default;
}

.tn-box-color-1 {
    background: #ffe691;
    border: 1px solid #f6db7b;
}

.notifyWrapper.active {
    display: inline-block;
    animation: fadeOut 2s linear forwards;
}

.wizard-container {
  box-shadow: 0 0 20px -7px #000000;
}
/deep/ .horizontal ul.steps-indicator li.default, /deep/ .horizontal ul.steps-indicator li.current, /deep/ .horizontal ul.steps-indicator li.optional, /deep/ .horizontal ul.steps-indicator li.editing {
  pointer-events: initial !important;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    99% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 0;
    }
}


/* vertical tabs */
.tabs-left {
  /*margin-top: 3rem;*/
  padding-top: 10px;
}

.nav-tabs {
  float: left;
  border-bottom: 0;
}
.nav-tabs li {
  float: none;
  margin: 0;
}
.nav-tabs li a {
  margin-right: 0;
  border: 0;
  /*background-color: #333;*/
  border-radius: 0;
}
.nav-tabs li a:hover {
  /*background-color: #444;*/
}
.nav-tabs .glyphicon {
  /*color: #fff;*/
}
.nav-tabs .active .glyphicon {
  /*color: #333;*/
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}

.tab-content, .tab-pane {
  height: 100%;
  /*margin-left: 45px;*/
}
.tab-content .tab-pane {
  /*display: none;*/
  /*display: block;*/
  /*background-color: #fff;*/
  padding: 0 10px;
  overflow-y: auto;
}
/*.tab-content .active {*/
  /*display: block;*/
/*}*/

ul.nav-tabs, .tabs-left {
  height: 100%;
}
li.toggle {
  position: absolute;
  bottom: 10px;
}


.tabs-left.menu {
  position: absolute;
  bottom: 0;
  top: 0;
  padding-top: 110px;
  padding-bottom: 10px;
}

split {
  padding-left: 50px;
}
.nav-tabs {
  box-shadow: 0 0 20px -7px #000000;
}
