<div fxLayout="column">
    <div class="dlg-field-label required">Begrenzungspolygon als WKT*</div>
    <mat-form-field class="width-100" appearance="outline">
        <textarea
            #wkt
            matInput
            rows="5"
            [value]="wktString"
            igeFocus
            data-cy="spatial-dialog-wkt"
            placeholder="POLYGON((0 0, 0 10, 10 10, 10 0, 0 0)(5 5, 5 7, 7 7, 7 5, 5 5))"
        ></textarea>
        <button
            mat-icon-button
            matSuffix
            class="hint"
            (click)="showHelpDialog()"
        >
            <mat-icon class="material-icons-outlined" svgIcon="info-24px">
            </mat-icon>
        </button>
    </mat-form-field>
    <div>
        <button
            mat-button
            color="primary"
            type="button"
            (click)="validateWKT(wkt.value)"
        >
            Anzeigen
        </button>
    </div>

    <ige-form-error *ngIf="error">{{ error }} </ige-form-error>

    <mat-hint class="hint-text-custom-style">
        Zur Darstellung auf der Karte klicken Sie auf "Anzeigen".</mat-hint
    >
</div>
