<div fxLayout="column">
    <div class="dlg-field-label required">Begrenzungspolygon als WKT*</div>
    <mat-form-field class="width-100" appearance="outline">
        <textarea
            #wkt
            matInput
            rows="5"
            [value]="wktString"
            igeFocus
            data-cy="spatial-dialog-wkt"
            placeholder="POLYGON((0 0, 0 10, 10 10, 10 0, 0 0)(5 5, 5 7, 7 7, 7 5, 5 5))"
        ></textarea>
    </mat-form-field>
    <div>
        <button
            mat-button
            color="primary"
            type="button"
            (click)="validateWKT(wkt.value)"
        >
            Anzeigen
        </button>
    </div>

    <mat-hint class="hint-text-custom-style">
        Nur in geografischen Koordinaten (WGS84) möglich. Unterstützt werden
        Polygone mit einer Außen- und Innengrenze (Löcher), Points und
        Linestrings. Zur Darstellung auf der Karte klicken Sie auf
        "Anzeigen".</mat-hint
    >
</div>
