/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
@import "src/variables";

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0px !important;
  margin: 0px !important;
}

.mat-form-field-appearance-outline {
  padding: 0px !important;
  margin-bottom: -10px !important;
}

button.hint {
  background-color: $ige-background;
}

.hint-text-custom-style {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  padding: 6px !important;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.6;
}

.btn-analyze {
  align-self: flex-end;
}
