@import "src/variables";

:host {
  .mat-mdc-dialog-content {
    padding: 24px 0 8px;
    display: flex;
    flex-direction: column;

    .side-padding {
      padding-left: 24px;
      padding-right: 24px;
    }

    .top-padding {
      padding-top: 24px;
    }
  }

  ::ng-deep mat-tree-node.folder.active {
    background: $ige-background !important;
  }
}

.mat-mdc-dialog-title {
  cursor: move;
}

ige-tree {
  overflow: auto;
  max-height: 550px;
  background: white;
}

.selection-divider {
  height: 1px;
  background: $ige-primary;
}

.chosen-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  padding: 12px 0 36px;

  .mat-icon {
    padding: 0 18px 0 12px;
  }
}
