<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Adresse hinzufügen</h1>
    </div>

    <mat-dialog-content>
        <ige-tree
            [class.hide]="activeStep !== 1"
            (selected)="updateAddressTree($event[0])"
            data-cy="choose-address-tree"
            [setActiveNode]="selectedNode"
            [forAddresses]="true"
            [disabledCondition]="disabledCondition"
            [showHeaderOptions]="false"
            [allowMultiSelectionMode]="false"
            [searchSuggestions]="recentAddresses$"
            (error)="handleTreeError($event)"
        ></ige-tree>

        <div
            class="side-padding"
            [class.hide]="!typeSelectionEnabled() || activeStep !== 2"
        >
            <div>Adresstyp zuordnen für:</div>
            <div class="chosen-address">
                <mat-icon [svgIcon]="selection()?.icon"></mat-icon>
                <span>{{ selection()?.title }}</span>
            </div>
            <ige-document-list-item
                data-cy="address-type-select"
                [docs]="referenceTypes"
                showSelection="true"
                [denseMode]="true"
                [hideDivider]="true"
                [setActiveItem]="initialActiveAddressType"
                [showIcons]="false"
                (select)="setRefType($event)"
            ></ige-document-list-item>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        @if (activeStep === 1) {
            <button
                mat-button
                mat-dialog-close
                cdkFocusInitial
                color="primary"
                data-cy="choose-address-cancel"
            >
                Abbrechen
            </button>
        }
        @if (activeStep === 2) {
            <button
                mat-button
                cdkFocusInitial
                color="primary"
                data-cy="choose-address-previous-step"
                (click)="activeStep = 1"
            >
                Zurück
            </button>
        }
        <div class="flex-1"></div>
        @if (typeSelectionEnabled() && activeStep == 1) {
            <button
                mat-flat-button
                color="primary"
                data-cy="choose-address-next-step"
                [disabled]="!selection() || selection()._type === 'FOLDER'"
                (click)="activeStep = 2"
                aria-label="Weiter zur Auswahl des Adresstyps"
            >
                Weiter
            </button>
        }
        @if (!typeSelectionEnabled() || activeStep == 2) {
            <button
                mat-flat-button
                color="primary"
                data-cy="choose-address-confirm"
                [disabled]="
                    !selection() ||
                    !selectedType ||
                    selection()._type === 'FOLDER'
                "
                (click)="getResult()"
                aria-label="Adresse mit Auswahl bestätigen"
            >
                Übernehmen
            </button>
        }
    </mat-dialog-actions>
</div>
