<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Adresse hinzufügen</span>
    </h2>
</div>
<mat-dialog-content>
    <div class="side-padding place-title">1. Schritt: Adresse wählen</div>
    <div class="side-padding" *ngIf="(recentAddresses$ | async).length > 0">
        <mat-form-field appearance="outline" class="width-100">
            <mat-select
                (selectionChange)="updateAddressList($event.value)"
                placeholder="Zuletzt verwendete Adressen..."
                data-cy="recent-address-select"
            >
                <mat-option
                    *ngFor="let address of recentAddresses$ | async"
                    [value]="address"
                >
                    {{ address.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <ige-tree
        (selected)="updateAddressTree($event[0])"
        data-cy="choose-address-tree"
        [setActiveNode]="selectedNode"
        [forAddresses]="true"
        [disabledCondition]="disabledCondition"
        [showHeaderOptions]="false"
        (error)="handleTreeError($event)"
    ></ige-tree>

    <div class="selection-divider"></div>
    <ng-container *ngIf="showTypeSelector">
        <div class="side-padding top-padding place-title">
            2. Schritt: Adresstyp zuordnen
        </div>
        <div class="side-padding">
            <div class="dlg-field-label required">Adresstyp*</div>
            <mat-form-field appearance="outline" class="width-100">
                <mat-select
                    [(value)]="selectedType"
                    [placeholder]="placeholder"
                    data-cy="address-type-select"
                >
                    <mat-option
                        *ngFor="let type of types | async"
                        [value]="type.value"
                    >
                        {{ type.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        mat-dialog-close
        cdkFocusInitial
        color="primary"
        data-cy="choose-address-cancel"
    >
        Abbrechen
    </button>
    <div fxFlex></div>
    <button
        mat-stroked-button
        color="primary"
        data-cy="choose-address-confirm"
        [disabled]="!selection || !selectedType || selection._type === 'FOLDER'"
        (click)="getResult()"
    >
        Übernehmen
    </button>
</mat-dialog-actions>
