@import "src/variables";

:host {

  .mat-dialog-content {
    padding: 24px 0 8px;
    display: flex;
    flex-direction: column;

    .side-padding {
      padding-left: 24px;
      padding-right: 24px;
    }

    .top-padding {
      padding-top: 24px;
    }
  }

}

ige-tree {
  overflow: auto;
  max-height: 550px;
}

.selection-divider{
  height: 1px;
  background: $ige-primary;
}

.place-title {
  padding-bottom: 12px!important;
}
