<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div cdkDragHandle class="dialog-title-wrapper mat-dialog-title">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">Neuen Katalog anlegen</span>
        </h2>
    </div>
    <mat-dialog-content>
        <form #catForm="ngForm" class="flex-col">
            <mat-form-field appearance="outline">
                <mat-label>Katalogname</mat-label>
                <input
                    matInput
                    autocomplete="off"
                    igeFocus
                    [(ngModel)]="model.name"
                    (keyup.enter)="catForm.form.valid && dialogRef.close(model)"
                    name="name"
                    required
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Typ</mat-label>
                <mat-select [(ngModel)]="model.type" name="type" required>
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{ type.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            type="submit"
            color="primary"
            mat-flat-button
            [mat-dialog-close]="model"
            [disabled]="catForm.form.invalid"
        >
            Anlegen
        </button>
    </mat-dialog-actions>
</div>
