<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Neuen Katalog anlegen</h1>
    </div>

    <mat-dialog-content>
        <form #catForm="ngForm" class="flex-col">
            <mat-form-field appearance="outline">
                <mat-label>Katalogname</mat-label>
                <input
                    matInput
                    autocomplete="off"
                    igeFocus
                    [(ngModel)]="model.name"
                    (keyup.enter)="catForm.form.valid && dialogRef.close(model)"
                    name="name"
                    required
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Typ</mat-label>
                <mat-select [(ngModel)]="model.type" name="type" required>
                    @for (type of types; track type) {
                        <mat-option [value]="type.id">
                            {{ type.title }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            type="submit"
            color="primary"
            mat-flat-button
            [mat-dialog-close]="model"
            [disabled]="catForm.form.invalid"
        >
            Anlegen
        </button>
    </mat-dialog-actions>
</div>
