@import "src/variables";

:host {
  z-index: 10000;
}

.mat-toolbar {
  min-height: 56px;
  background-color: $ige-background-bar;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
  padding-right: 16px;

  .drop-down {
    width: 56px;
    padding-left: 8px;

    &[disabled] {
      opacity: 0.26;
    }
  }
}

.separator {
  margin-right: 8px;
  padding-left: 8px;
  height: 36px;
}

.standard-toolbar-button {
  padding: 0;
  min-width: 40px;
  min-height: 40px;

  &[disabled] {
    opacity: 0.26;
  }
}

.save-buttons button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 15px;

  &.menu {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.save-buttons {
  .toolbar-save-button:not([disabled]) {
    color: $ige-secondary;
    background: white;
  }

  button.btnPublish,
  button.btnPublishMore {
    &:not([disabled]):hover {
      background-color: lighten($ige-secondary, 5%);
    }
  }

  button.btnPublish {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .mat-icon {
      margin-right: -10px;
    }
  }

  button.btnPublishMore {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 36px;
    margin-left: 1px;
    padding: 0;
  }
}

:host ::ng-deep .publish-menu {
  max-width: 500px;
}

.mat-mdc-icon-button:not([disabled]):hover {
  background-color: darken($ige-background-bar, 5%) !important;
  border-radius: 4px;
}
