@import "src/variables";

:host {
  z-index: 10000;
}

.mat-toolbar {
  min-height: 56px;
  background-color: $ige-background-bar;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 56px;
  padding-right: 16px;

  .drop-down {
    width: 50px;
    padding-left: 8px;
    margin-right: 8px;
  }
}

.separator {
  margin-right: 8px;
  padding-left: 8px;
  height: 36px
}

.save-buttons button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 15px;

  &.menu {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.save-buttons button.btnPublish {
  margin-right: 0;

  &:hover {
    background-color: lighten($ige-secondary, 5%);
    color: #fff;
  }

  .mat-icon {
    margin-right: -10px;
  }
}

.mat-icon-button:hover {
  background-color: darken($ige-background-bar, 5%) !important;
}
