<mat-toolbar>
    <mat-toolbar-row role="toolbar" aria-label="Formular Toolbar">
        <ng-container *ngFor="let button of buttons_left">
            @if (!button.isSeparator && !button.menu) {
                <button
                    mat-button
                    long-press
                    class="standard-toolbar-button"
                    [matMenuTriggerFor]="button.hiddenMenu ? hiddenMenu : null"
                    (menuClosed)="removeHiddenMenu(button)"
                    #hiddenMenuTrigger="matMenuTrigger"
                    [attr.data-cy]="'toolbar_' + button.eventId"
                    (longPress)="
                        sendEvent(
                            button.eventId + '_LONGPRESS',
                            hiddenMenuTrigger
                        )
                    "
                    (shortClick)="sendEvent(button.eventId)"
                    [disabled]="!button.active || isNotReady"
                    [matTooltip]="button.tooltip"
                    [attr.aria-label]="button.tooltip"
                >
                    <mat-icon
                        class="material-icons-outlined"
                        [svgIcon]="button.matSvgVariable"
                        >{{ button.matIconVariable }}
                    </mat-icon>
                </button>
            }
            <mat-menu #hiddenMenu="matMenu">
                @for (
                    menuItem of button.hiddenMenu;
                    track menuItem;
                    let idx = $index
                ) {
                    <button
                        mat-menu-item
                        [disabled]="false"
                        [attr.data-cy]="menuItem.eventId + '_' + idx"
                        (click)="
                            sendEvent(menuItem.eventId, {
                                index: idx,
                                data: menuItem.data
                            })
                        "
                    >
                        <span>{{ menuItem.label }}</span>
                    </button>
                }
            </mat-menu>
            @if (!button.isSeparator && button.menu) {
                <button
                    #actionsMenu
                    mat-button
                    class="drop-down"
                    [matMenuTriggerFor]="copyMenu"
                    [attr.data-cy]="'toolbar_' + button.eventId"
                    [disabled]="!button.active || isNotReady"
                    (menuOpened)="menu[button.id] = true"
                    (menuClosed)="menu[button.id] = false"
                    [matTooltip]="button.tooltip"
                    [attr.aria-label]="button.tooltip"
                >
                    <mat-icon
                        class="material-icons-outlined"
                        [svgIcon]="button.matSvgVariable"
                        >{{ button.matIconVariable }}
                    </mat-icon>
                    <mat-icon class="animated" [class.flipIt]="menu[button.id]"
                        >arrow_drop_down
                    </mat-icon>
                </button>
                <mat-menu #copyMenu="matMenu">
                    @for (menuItem of button.menu; track menuItem) {
                        <button
                            mat-menu-item
                            [disabled]="!menuItem.active"
                            [attr.data-cy]="'copyMenu_' + menuItem.eventId"
                            (click)="
                                actionsMenu.focus(); sendEvent(menuItem.eventId)
                            "
                        >
                            <span>{{ menuItem.label }}</span>
                        </button>
                    }
                </mat-menu>
            }
            @if (button.isSeparator) {
                <mat-divider
                    class="separator"
                    [vertical]="true"
                    aria-hidden="true"
                ></mat-divider>
            }
        </ng-container>

        <div class="flex-1"></div>

        <span class="save-buttons">
            <ng-container *ngFor="let button of buttons_right">
                @if (!button.isSeparator && !button.label) {
                    <button
                        mat-icon-button
                        [matTooltip]="button.tooltip"
                        [attr.data-cy]="'toolbar_' + button.eventId"
                        (click)="sendEvent(button.eventId)"
                        [disabled]="!button.active || isNotReady"
                    >
                        <!--aria-label="{{button.tooltip}}"-->
                        <mat-icon>{{ button.matIconVariable }}</mat-icon>
                    </button>
                }
                @if (button.label && !button.isPrimary) {
                    <button
                        mat-stroked-button
                        class="toolbar-save-button"
                        [attr.data-cy]="'toolbar_' + button.eventId"
                        [disabled]="!button.active || isNotReady"
                        [attr.aria-label]="button.label"
                        (click)="sendEvent(button.eventId)"
                    >
                        {{ button.label }}
                    </button>
                }
                @if (button.label && button.isPrimary) {
                    <button
                        class="btnPublish"
                        mat-flat-button
                        color="primary"
                        (click)="sendEvent(button.eventId)"
                        [attr.data-cy]="'toolbar_publish_now'"
                        [disabled]="!button.active || isNotReady"
                        [attr.aria-label]="button.label"
                    >
                        {{ button.label }}
                    </button>
                    <button
                        #actionsMenu
                        class="btnPublishMore"
                        mat-flat-button
                        color="primary"
                        [disabled]="!button.active || isNotReady"
                        [attr.data-cy]="'toolbar_' + button.eventId"
                        [matMenuTriggerFor]="publishMenu"
                        [matMenuTriggerRestoreFocus]="false"
                        (menuOpened)="menu[button.id] = true"
                        (menuClosed)="menu[button.id] = false"
                        aria-label="Mehr zum Veröffentlichen"
                        (click)="saveCurrentFocus()"
                    >
                        <mat-icon>{{
                            menu[button.id]
                                ? "arrow_drop_up"
                                : "arrow_drop_down"
                        }}</mat-icon>
                    </button>
                    <mat-menu
                        #publishMenu="matMenu"
                        class="publish-menu"
                        (closed)="restoreFocus()"
                    >
                        @for (menuItem of button.menu; track menuItem) {
                            <button
                                mat-menu-item
                                [disabled]="!menuItem.active"
                                [attr.data-cy]="'toolbar_' + menuItem.eventId"
                                (click)="sendEvent(menuItem.eventId)"
                            >
                                <span>{{ menuItem.label }}</span>
                            </button>
                        }
                    </mat-menu>
                }
            </ng-container>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
