<mat-toolbar>
    <mat-toolbar-row role="toolbar" aria-orientation="horizontal">
        <ng-container *ngFor="let button of buttons_left">
            <button
                *ngIf="!button.isSeparator && !button.menu"
                mat-button
                class="standard-toolbar-button"
                [attr.data-cy]="'toolbar_' + button.eventId"
                (click)="sendEvent(button.eventId)"
                [disabled]="!button.active || isNotReady"
                [matTooltip]="button.tooltip"
                [attr.aria-label]="button.tooltip"
            >
                <mat-icon
                    class="material-icons-outlined"
                    [svgIcon]="button.matSvgVariable"
                    >{{ button.matIconVariable }}</mat-icon
                >
            </button>

            <ng-container *ngIf="!button.isSeparator && button.menu">
                <button
                    #dropdownMenu
                    mat-button
                    class="drop-down"
                    [matMenuTriggerFor]="copyMenu"
                    [attr.data-cy]="'toolbar_' + button.eventId"
                    [disabled]="!button.active || isNotReady"
                    (menuOpened)="menu[button.id] = true"
                    (menuClosed)="menu[button.id] = false"
                    [matTooltip]="button.tooltip"
                    [attr.aria-label]="button.tooltip"
                >
                    <mat-icon
                        class="material-icons-outlined"
                        [svgIcon]="button.matSvgVariable"
                        >{{ button.matIconVariable }}</mat-icon
                    >
                    <mat-icon class="animated" [class.flipIt]="menu[button.id]"
                        >arrow_drop_down
                    </mat-icon>
                </button>
                <mat-menu #copyMenu="matMenu">
                    <button
                        *ngFor="let menuItem of button.menu"
                        mat-menu-item
                        [disabled]="!menuItem.active"
                        [attr.data-cy]="'copyMenu_' + menuItem.eventId"
                        (click)="
                            sendEvent(
                                menuItem.eventId,
                                dropdownMenu._elementRef.nativeElement
                            )
                        "
                    >
                        <span>{{ menuItem.label }}</span>
                    </button>
                </mat-menu>
            </ng-container>
            <mat-divider
                *ngIf="button.isSeparator"
                class="separator"
                [vertical]="true"
                aria-hidden="true"
            ></mat-divider>
        </ng-container>

        <div class="flex-1"></div>

        <span class="save-buttons">
            <ng-container *ngFor="let button of buttons_right">
                <button
                    *ngIf="!button.isSeparator && !button.label"
                    mat-icon-button
                    [matTooltip]="button.tooltip"
                    [matTooltipShowDelay]="1000"
                    [attr.data-cy]="'toolbar_' + button.eventId"
                    (click)="sendEvent(button.eventId)"
                    [disabled]="!button.active || isNotReady"
                >
                    <!--aria-label="{{button.tooltip}}"-->
                    <mat-icon>{{ button.matIconVariable }}</mat-icon>
                </button>
                <button
                    *ngIf="button.label && !button.isPrimary"
                    mat-stroked-button
                    class="toolbar-save-button"
                    [attr.data-cy]="'toolbar_' + button.eventId"
                    [matTooltip]="button.tooltip"
                    [matTooltipShowDelay]="1000"
                    [disabled]="!button.active || isNotReady"
                    (click)="sendEvent(button.eventId)"
                >
                    {{ button.label }}
                </button>
                <ng-container *ngIf="button.label && button.isPrimary">
                    <button
                        class="btnPublish"
                        mat-flat-button
                        color="primary"
                        (click)="sendEvent(button.eventId)"
                        [attr.data-cy]="'toolbar_publish_now'"
                        [matTooltip]="button.tooltip"
                        [matTooltipShowDelay]="1000"
                        [disabled]="!button.active || isNotReady"
                    >
                        {{ button.label }}
                    </button>
                    <button
                        #dropdownMenu
                        class="btnPublishMore"
                        mat-flat-button
                        color="primary"
                        [disabled]="!button.active || isNotReady"
                        [attr.data-cy]="'toolbar_' + button.eventId"
                        [matMenuTriggerFor]="publishMenu"
                        (menuOpened)="menu[button.id] = true"
                        (menuClosed)="menu[button.id] = false"
                    >
                        <mat-icon>{{
                            menu[button.id]
                                ? "arrow_drop_up"
                                : "arrow_drop_down"
                        }}</mat-icon>
                    </button>

                    <mat-menu #publishMenu="matMenu" class="publish-menu">
                        <button
                            *ngFor="let menuItem of button.menu"
                            mat-menu-item
                            [disabled]="!menuItem.active"
                            [attr.data-cy]="'toolbar_' + menuItem.eventId"
                            (click)="
                                sendEvent(
                                    menuItem.eventId,
                                    dropdownMenu._elementRef.nativeElement
                                )
                            "
                        >
                            <span>{{ menuItem.label }}</span>
                        </button>
                    </mat-menu>
                </ng-container>
            </ng-container>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
