@import "src/variables";

.mat-toolbar {
  min-height: 56px;
  background-color: $ige-background-bar;

  ::ng-deep .mat-icon svg path {
    fill: #000000;
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 56px;
  padding-right: 12px;

  .drop-down {
    width: 50px;
    padding-left: 10px;
  }
}

.btn {
  background-color: transparent;

  &.fa {
    font-size: 16px;
  }

  &:hover {
    border: #d8d8d8 1px solid;
    border-radius: 4px;
  }

  &:focus {
    outline-color: transparent;
  }

  &:disabled:hover {
    border: transparent 1px solid;
    color: #777;
  }
}


.btn-toolbar {
  margin-left: 0;
}

.separator {
  border-left: 1px solid #bbbbbb;
  padding-right: 5px;
  margin-left: 3px;
  height: 14px;
  display: inline-block;
}

.save-buttons button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 15px;

  &.menu {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.save-buttons button.btnPublish {
  margin-right: 0;
}

.btnPublish {
  .mat-icon {
    margin-right: -10px;
  }
}
