<div fxLayout="column" fxFill>
    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <as-split [useTransition]="true" (dragEnd)="rememberSizebarWidth($event)" [gutterSize]="12">

        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-tree *ngIf="(numTreeNodes | async) > 0; else emptyNavigation" [showReloadButton]="true"
                      [forAddresses]="true"
                      [expandNodeIds]="initialExpandNodes"
                      [activeNodeId]="initialActiveNodeId"
                      [update]="updateTree"
                      (currentPath)="storePath($event)"
                      (activate)="handleLoad($event)"
                      (selected)="handleSelection($event)"></ige-tree>

            <ng-template #emptyNavigation>
                <ige-empty-navigation></ige-empty-navigation>
            </ng-template>
        </as-split-area>

        <!-- The form -->
        <as-split-area [size]="100-sidebarWidth" id="form" class="form-content">

            <ige-address-dashboard *ngIf="fields.length === 0"></ige-address-dashboard>

            <ng-container *ngIf="fields.length !== 0">
                <ige-form-info [form]="form" [model]="model"></ige-form-info>
                <!--<ige-form-info [form]="form" [model]="model" [sections]="sections" [class.scrolled]="isScrolled"
                               (jumpToSection)="jumpToSection($event)"></ige-form-info>-->

                <form [formGroup]="form">
                    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="formOptions"></formly-form>
                </form>

            </ng-container>

        </as-split-area>

    </as-split>
</div>
