<div fxLayout="column" fxFill>
    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <as-split [useTransition]="true" (dragEnd)="rememberSizebarWidth($event)" [gutterSize]="12">

        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-tree [showReloadButton]="true"
                      [forAddresses]="true"
                      [expandNodeIds]="initialExpandNodes"
                      [activeNodeId]="initialActiveNodeId"
                      [update]="updateTree"
                      (currentPath)="storePath($event)"
                      (activate)="handleLoad($event)"
                      (selected)="handleSelection($event)"></ige-tree>

        </as-split-area>

        <!-- The form -->
        <as-split-area [size]="100-sidebarWidth" id="form" class="form-content">

            ADDRESS!
            <!--<ng-container>
                <form [formGroup]="form">
                    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="formOptions"></formly-form>
                </form>

            </ng-container>-->

        </as-split-area>

    </as-split>
</div>
