<div
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    *transloco="let t; read: 'replace-address'"
>
    <div cdkDragHandle class="dialog-title-wrapper mat-dialog-title">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">Adresse ersetzen</span>
        </h2>
    </div>
    <mat-dialog-content class="hide-tab-header">
        <mat-tab-group [(selectedIndex)]="page" animationDuration="0ms">
            <mat-tab *ngIf="showInfo">
                <p>{{ t("reference-error") }}</p>
            </mat-tab>
            <mat-tab>
                <p>
                    Hier können Sie eine neue Adresse auswählen, die in allen
                    Datensätzen verwendet werden soll, die aktuell auf die
                    gerade geöffnete Adresse verweisen. Es ist nur möglich
                    bereits veröffentlichte Adressen auszuwählen.
                </p>
                <ige-tree
                    [forAddresses]="true"
                    [disabledCondition]="disableTreeNode"
                    (activate)="selectedAddress = $event"
                ></ige-tree>
            </mat-tab>
            <mat-tab>
                <div
                    class="padding flex-col justify-content-center align-items-center"
                >
                    <div class="section-title">
                        Die Adresse wurde erfolgreich ersetzt.
                    </div>
                    <mat-icon class="big-icon success-color"
                        >check_circle_outline
                    </mat-icon>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            *ngIf="page !== (showInfo ? 2 : 1)"
            mat-button
            mat-dialog-close
            data-cy="dialog-abort"
        >
            Abbrechen
        </button>
        <div class="flex-1"></div>
        <button
            *ngIf="showInfo && page === 0"
            mat-flat-button
            color="primary"
            data-cy="dialog-choose-address"
            (click)="page = page + 1"
        >
            Adresse auswählen
        </button>
        <button
            *ngIf="page === (showInfo ? 1 : 0)"
            mat-flat-button
            color="primary"
            data-cy="dialog-replace-address"
            [disabled]="!selectedAddress"
            (click)="replaceAddress()"
        >
            Adresse ersetzen
        </button>
        <button
            *ngIf="page === (showInfo ? 2 : 1)"
            mat-flat-button
            color="primary"
            [mat-dialog-close]="true"
        >
            Schließen
        </button>
    </mat-dialog-actions>
</div>
