<div [class.hide]="dataSource.data.length == 0">
    <mat-divider></mat-divider>
    <table mat-table matSort class="width-100" [dataSource]="dataSource">
        <ng-container class="thin-column" matColumnDef="_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ</th>
            <td mat-cell *matCellDef="let element">
                <ige-document-icon [doc]="element"></ige-document-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titel</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="_contentModified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Zuletzt bearbeitet
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                [matTooltip]="
                    element._contentModified | date : 'dd.LL.yyyy HH:mm'
                "
            >
                {{ element._contentModified | dateAgo : "DE" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="_responsibleUser">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Verantwortlicher
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element._responsibleUser | fullName | async }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [class.readonly]="isSearching"
            (click)="openDataset(row)"
            tabindex="0"
            role="button"
            (keyup.enter)="openDataset(row)"
        ></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
    ></mat-paginator>
</div>
