<div [attr.data-cy]="key">
    <ng-template #label>
        <div
            [class.hasContextHelp]="props.hasContextHelp"
            [class.required]="props.required"
        >
            <ige-form-label
                [hasContextHelp]="props?.hasContextHelp"
                (contextHelp)="showContextHelp($event)"
            >
                {{ props?.externalLabel }}
                @if (props?.required) {
                    <span>*</span>
                }
            </ige-form-label>
        </div>
    </ng-template>

    @if (dataSource?.data?.length > 0) {
        <div
            class="table-header flex-row justify-content-space-between"
            [attr.data-cy]="key + '-header'"
        >
            <ng-container *ngTemplateOutlet="label"></ng-container>
            @if (formControl.enabled) {
                @if (batchMode()) {
                    <button
                        type="button"
                        mat-button
                        (click)="toggleBatchMode()"
                    >
                        <mat-icon>done</mat-icon>
                        Fertig
                    </button>
                } @else {
                    <button
                        color="primary"
                        type="button"
                        data-cy="btn-edit"
                        mat-button
                        (click)="toggleBatchMode()"
                    >
                        Bearbeiten
                    </button>
                }
            }
        </div>
    }

    <div [class.padding-bottom]="dataSource?.data?.length > 0">
        @if (batchMode()) {
            <div class="table-batch-edit-row">
                <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
                <button
                    type="button"
                    mat-button
                    color="primary"
                    (click)="showDeleteEntriesDialog()"
                    [disabled]="selection.isEmpty()"
                >
                    <mat-icon svgIcon="outline-delete-24px"></mat-icon>
                    Löschen
                </button>
                @if (props.batchValidUntil) {
                    <button
                        type="button"
                        mat-button
                        color="primary"
                        (click)="setValidUntil()"
                        [disabled]="selection.isEmpty()"
                    >
                        <mat-icon>today</mat-icon>
                        Gültig bis ändern
                    </button>
                }
                @for (action of props.batchActions; track action) {
                    <button
                        type="button"
                        mat-button
                        color="primary"
                        (click)="action.click(selection.selected, formControl)"
                        [disabled]="selection.isEmpty()"
                    >
                        @if (action.icon) {
                            <mat-icon>{{ action.icon }}</mat-icon>
                        }
                        {{ action.label }}
                    </button>
                }
            </div>
        }

        @if (
            showError &&
            formControl.invalid &&
            !formControl.hasError("required")
        ) {
            <ige-form-error>
                <formly-validation-message
                    [field]="field"
                ></formly-validation-message>
            </ige-form-error>
        }

        @if (dataSource?.data?.length > 0) {
            <table
                mat-table
                [dataSource]="dataSource"
                [class.edit-mode]="batchMode()"
                [attr.data-cy]="key + '-table'"
                cdkDropList
                cdkDrag
                [cdkDragDisabled]="dragDisabled"
                (cdkDropListDropped)="dragDisabled = true; drop($event)"
            >
                @for (
                    column of initialColumnsWithManagement();
                    track column;
                    let i = $index
                ) {
                    <ng-container [matColumnDef]="column.key ?? column">
                        @switch (column) {
                            <!-- Select Column -->
                            @case ("_select_") {
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="select-controls compact-column"
                                >
                                    <div class="drag-select-wrapper">
                                        <mat-icon
                                            cdkDragHandle
                                            (touchstart)="dragDisabled = false"
                                            (touchend)="dragDisabled = true"
                                            (mousedown)="dragDisabled = false"
                                            (mouseup)="dragDisabled = true"
                                        >
                                            drag_indicator
                                        </mat-icon>
                                        <mat-checkbox
                                            (click)="$event.stopPropagation()"
                                            (change)="
                                                $event
                                                    ? selection.toggle(element)
                                                    : null
                                            "
                                            [checked]="
                                                selection.isSelected(element)
                                            "
                                        >
                                        </mat-checkbox>
                                    </div>
                                </td>
                            }
                            <!-- Action Column -->
                            @case ("_actions_") {
                                <th mat-header-cell *matHeaderCellDef>
                                    Aktion
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="
                                        let element;
                                        let rowIndex = index
                                    "
                                    class="compact-column"
                                >
                                    <button
                                        type="button"
                                        [attr.data-cy]="'btn-edit-' + rowIndex"
                                        mat-icon-button
                                        class="menu-button"
                                        matTooltip="Bearbeiten"
                                        [matMenuTriggerFor]="tableRowAction"
                                        (click)="
                                            $event.stopImmediatePropagation()
                                        "
                                    >
                                        <mat-icon svgIcon="Mehr"></mat-icon>
                                    </button>
                                    <mat-menu #tableRowAction="matMenu">
                                        @if (props.allowDuplicate) {
                                            <button
                                                type="button"
                                                mat-menu-item
                                                (click)="duplicateRow(rowIndex)"
                                            >
                                                Duplizieren
                                            </button>
                                        }
                                        <button
                                            type="button"
                                            mat-menu-item
                                            (click)="editRow(rowIndex)"
                                        >
                                            Bearbeiten
                                        </button>
                                        <button
                                            type="button"
                                            mat-menu-item
                                            (click)="removeRow(rowIndex)"
                                        >
                                            Löschen
                                        </button>
                                    </mat-menu>
                                </td>
                            }
                            <!-- Normal column-->
                            @default {
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    [class]="column.class"
                                >
                                    {{ column.label }}
                                    @if (column.props?.required) {
                                        <span>*</span>
                                    }
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="
                                        let element;
                                        let rowIndex = index
                                    "
                                    [class]="column.class ?? 'compact-column'"
                                    [style.flex-basis]="column.width"
                                    [style.max-width]="column.width"
                                >
                                    <span
                                        class="vertical_align_center"
                                        [innerHTML]="
                                            formattedCell[rowIndex]
                                                ? (formattedCell[rowIndex][
                                                      column.key
                                                  ] ?? element[column.key])
                                                : element[column.key]
                                        "
                                        (click)="
                                            handleCellClick(i, element, $event)
                                        "
                                    ></span>
                                </td>
                            }
                        }
                    </ng-container>
                }
                @let shownColumns =
                    formControl.enabled
                        ? displayedColumns()
                        : displayedColumnsReadOnly();
                <tr mat-header-row *matHeaderRowDef="shownColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: shownColumns"
                    (click)="batchMode() ? selection.toggle(row) : null"
                    [class.disabled]="formControl.disabled"
                    cdkDrag
                    [cdkDragData]="row"
                    [cdkDragDisabled]="dragDisabled"
                ></tr>
            </table>
        }
    </div>

    @if (formControl.enabled) {
        <div class="flex-row">
            @if (dataSource?.data?.length > 0) {
                <ige-form-label></ige-form-label>
            } @else {
                <div
                    [class.hasContextHelp]="props.hasContextHelp"
                    [class.required]="props.required"
                >
                    <ige-form-label
                        [hasContextHelp]="props?.hasContextHelp"
                        (contextHelp)="showContextHelp($event)"
                    >
                        {{ props?.externalLabel }}
                        @if (props?.required) {
                            <span>*</span>
                        }
                    </ige-form-label>
                </div>
            }
            <div class="container">
                @if (
                    showError &&
                    formControl.invalid &&
                    formControl.hasError("required")
                ) {
                    <ige-form-error
                        >Es wird mindestens ein Eintrag erwartet
                    </ige-form-error>
                }
                @if (props.supportUpload) {
                    <div class="button-wrapper">
                        <button
                            type="button"
                            mat-stroked-button
                            color="primary"
                            (click)="showUploadFilesDialog()"
                        >
                            Dateien hochladen
                        </button>
                        oder
                        <button
                            type="button"
                            mat-stroked-button
                            color="primary"
                            (click)="showAddLinkDialog()"
                        >
                            Link angeben
                        </button>
                    </div>
                } @else {
                    <ige-add-button (add)="editRow(null)"></ige-add-button>
                }
            </div>
        </div>
    }
</div>
