@import "src/variables";

mat-table {
  background-color: $ige-background;
}

.padding-bottom {
  padding-bottom: 12px;
}

.mat-column-_actions_ {
  width: 52px;
  min-width: 40px;
  flex: unset;
  display: flex;
  justify-content: center;
}

.mat-column-_select_ {
  width: 80px;
  flex: unset;
}

.container {
  padding-bottom: 8px;

  .button-wrapper {
    margin-top: 3px;
    padding-bottom: 22px;
  }
}

.table-header {
  white-space: nowrap;
}

.table-batch-edit-row {
  border-top: 1px solid $ige-background-bar;
  padding: 4px 0 4px 12px;
}

ige-form-label {
  margin-bottom: 10px;
}

:host {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  ::ng-deep .mat-mdc-checkbox .mat-checkbox-ripple {
    height: 32px;
    width: 32px;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
  }

  ::ng-deep a {
    font-weight: 400;
    line-height: 21px;
  }

  .edit-mode ::ng-deep mat-header-cell:first-of-type,
  .edit-mode ::ng-deep mat-cell:first-of-type {
    padding-left: 12px;
  }

  mat-cell {
    padding-top: 6px;
    padding-bottom: 6px;
    word-break: break-all;
    align-items: baseline;
  }

  ::ng-deep .disabled mat-cell {
    a,
    span {
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

mat-row,
mat-header-row {
  background-color: $ige-background;
  border-bottom-color: $ige-background-bar;
}

.select-controls {
  padding-right: 4px;

  mat-icon {
    color: $ige-placeholder-color;
  }
}

ige-add-button {
  display: block;
  margin: 3px 0 22px;
}

.cdk-drag-handle {
  cursor: move;
}
