@use "src/variables" as vars;

table {
  background-color: vars.$ige-background;
}

.padding-bottom {
  padding-bottom: 12px;
}

.container {
  padding-bottom: 8px;

  .button-wrapper {
    margin-top: 3px;
    padding-bottom: 22px;
  }
}

.table-header {
  white-space: nowrap;
}

.table-batch-edit-row {
  border-top: 1px solid vars.$ige-background-bar;
  padding: 4px 0 4px 12px;
}

ige-form-label {
  margin-bottom: 10px;
}

:host {
  ::ng-deep a {
    font-weight: 400;
  }

  .edit-mode th:first-of-type,
  .edit-mode td:first-of-type {
    padding-left: 12px;
  }
}
th {
  white-space: nowrap;
}

.disabled td {
  a,
  span {
    color: rgba(0, 0, 0, 0.38);
  }
}

tr {
  background-color: vars.$ige-background;
  border-bottom-color: vars.$ige-background-bar;
  height: unset;
}

mat-icon.cdk-drag-handle {
  vertical-align: middle;
}

.drag-select-wrapper {
  white-space: nowrap;
}

td {
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: top;
}

td.single-line-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

td.compact-column {
  width: 1%;
}

.select-controls {
  padding-right: 4px;

  mat-icon {
    color: vars.$ige-placeholder-color;
  }
}

ige-add-button {
  display: block;
  margin: 3px 0 22px;
}

.cdk-drag-handle {
  cursor: move;
}
