<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button
            mat-icon-button
            mat-dialog-close
            (click)="cancel.next()"
            aria-hidden="true"
            aria-label="Dialog schließen"
        >
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>
            {{ label }}
        </h1>
        <ng-content select="[header]"></ng-content>
    </div>

    <mat-dialog-content [style.background-color]="contentColor">
        <ng-content select="[content]"></ng-content>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button
            data-cy="cancel"
            mat-button
            color="primary"
            mat-dialog-close
            (click)="cancel.next()"
        >
            Abbrechen
        </button>
        <div class="flex-1"></div>
        <ng-content select="[actions]"></ng-content>
        <button
            data-cy="form-dialog-confirm"
            mat-flat-button
            color="primary"
            [disabled]="disabled"
            (click)="submit.next()"
        >
            {{ submitLabel }}
        </button>
    </mat-dialog-actions>
</div>
