<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div cdkDragHandle class="dialog-title-wrapper mat-dialog-title">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">{{ label }}</span>
        </h2>
    </div>
    <mat-dialog-content [style.background-color]="contentColor">
        <ng-content select="[content]"></ng-content>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button
            mat-button
            color="primary"
            mat-dialog-close
            (click)="cancel.next()"
        >
            Abbrechen
        </button>
        <div class="flex-1"></div>
        <ng-content select="[actions]"></ng-content>
        <button
            mat-flat-button
            color="primary"
            [disabled]="disabled"
            (click)="submit.next()"
        >
            {{ submitLabel }}
        </button>
    </mat-dialog-actions>
</div>
