@use "src/variables" as vars;

.ref-selector-container {
  min-height: 50px;
  margin-bottom: 12px;
  > :not(:first-child) {
    border-top: 1px solid var(--as-gutter-background-color);
  }
  > :nth-last-child(2) {
    margin-bottom: 10px;
  }
}

.item {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  ul {
    margin: 5px;
    color: vars.$ige-comment-color;
  }

  .title {
    display: flex;
    align-items: center;

    .title-content {
      display: grid;

      .subtitle {
        font-size: small;
        opacity: 0.8;
        margin-top: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    ige-document-icon {
      margin-right: 6px;
    }

    mat-icon {
      margin-right: 6px;
      min-width: 24px;
    }
  }

  .remove-icon {
    opacity: 0.4;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

ige-add-button {
  display: block;
  margin: 3px 0 22px;
}
