@use "src/variables" as vars;

.ref-selector-container {
  min-height: 50px;
  margin-bottom: 12px;
}

.ref-selector-container > :not(:first-child) {
  border-top: 1px solid var(--as-gutter-background-color);
}

.item {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    margin: 5px;
    color: vars.$ige-comment-color;
  }

  .title {
    display: flex;
    align-items: center;

    ige-document-icon {
      margin-right: 6px;
    }

    mat-icon {
      margin-right: 6px;
      min-width: 24px;
    }
  }

  .remove-icon {
    opacity: 0.4;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

ige-add-button {
  display: block;
  margin: 3px 0 22px;
}
