<page-template label="Katalogzuweisung">
    <div left-side>
        Auf dieser Seite können Sie existierenden Benutzern weitere Kataloge
        zuweisen.
    </div>

    <div
        main-content
        class="flex-col justify-content-start align-items-stretch"
    >
        <ige-filter-select
            [options]="userIds$()"
            class="white-bg limit-field-width"
            placeholder="Nutzer auswählen..."
            (reset)="selectedUserId = null"
            (optionSelect)="selectedUserId = $event.label"
        ></ige-filter-select>
        <ige-filter-select
            [options]="catalogs$()"
            class="white-bg limit-field-width"
            placeholder="Katalog auswählen..."
            (reset)="selectedCatalogId = null"
            (optionSelect)="selectedCatalogId = $event.value"
        ></ige-filter-select>
        <button
            class="limit-field-width"
            mat-flat-button
            color="primary"
            [disabled]="!(selectedCatalogId && selectedUserId)"
            (click)="assignCatalog()"
        >
            Katalog zuweisen
        </button>
    </div>
</page-template>
