<ige-dialog-template
    label="Externen Datensatz wählen"
    (submit)="submit()"
    [disabled]="phase !== 'valid' || form.invalid"
>
    <div content>
        @if (showLayernames) {
        <div class="section-title">Layernamen:</div>
        <div class="padding">
            <formly-form
                [fields]="field"
                [form]="form"
                [model]="model"
            ></formly-form>
        </div>
        }
        <mat-form-field appearance="outline" class="width-100 space-bottom">
            <mat-label>GetRecordById-URL</mat-label>
            <input
                matInput
                igeFocus
                [formControl]="urlControl"
                data-cy="get-record-url"
            />
            <mat-error>Die URL ist nicht gültig</mat-error>
        </mat-form-field>
        @if (analysisError) {
        <ige-form-error> {{ analysisError }}</ige-form-error>
        } @if (phase === 'analyzing') {
        <div>
            <span>Die URL wird analysiert</span>
            <div class="dot-pulse"></div>
        </div>
        } @if (analysis) {
        <div>
            <div class="section-title">Identifier</div>
            <div class="space-bottom">{{ analysis.identifier }}</div>
            <div class="section-title">Titel</div>
            <div class="space-bottom">{{ analysis.title }}</div>
            @if (analysis?.downloadData?.length > 0) {
            <div class="section-title">Downloads</div>
            }
            <ul>
                @for (download of analysis?.downloadData; track download) {
                <li>{{ download }}</li>
                }
            </ul>
        </div>
        }
    </div>
</ige-dialog-template>
