<div class="dialog-title-wrapper error">
    <h2 mat-dialog-title data-cy="error-dialog-title">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Fehler</span>
    </h2>
</div>
<mat-dialog-content data-cy="error-dialog-content">
    <ng-container *ngIf="errors.length === 1">
        <div *ngIf="errors[0].unhandledException == true">
            {{ generalErrorMessage }}
        </div>
        <pre>{{ errors[0].message }}</pre>
        <button
            *ngIf="errors[0].detail || errors[0].stacktrace"
            mat-button
            (click)="errors[0].showDetails = !errors[0].showDetails"
            data-cy="show-details-error-dialog-close"
        >
            Einzelheiten
        </button>
        <div *ngIf="errors[0].detail || errors[0].stacktrace">
            <mat-card *ngIf="errors[0].showDetails" class="hover-elevate">
                <mat-card-content>
                    <div class="clipboard-btn">
                        <button
                            [cdkCopyToClipboard]="
                                errors[0].detail + errors[0].stacktrace
                            "
                            mat-icon-button=""
                            title="Copy Error"
                        >
                            <mat-icon class="mat-icon">content_copy</mat-icon>
                        </button>
                    </div>
                    <pre *ngIf="errors[0].detail">
                        {{ errors[0].detail?.trim() }}
                        </pre
                    >

                    <pre *ngIf="errors[0].stacktrace">{{
                        errors[0].stacktrace
                    }}</pre>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
    <ng-container *ngIf="errors.length > 1">
        <ul>
            <li *ngFor="let error of errors">
                <div *ngIf="error.unhandledException == true">
                    {{ generalErrorMessage }}
                </div>
                <pre>{{ error.message }}</pre>

                <button
                    mat-button
                    (click)="error.showDetails = !error.showDetails"
                    data-cy="show-details-error-dialog-close"
                >
                    Einzelheiten
                </button>
                <div *ngIf="error.detail || error.stacktrace">
                    <mat-card *ngIf="error.showDetails" class="hover-elevate">
                        <mat-card-header>
                            <div fxFlex></div>
                            <div>
                                <button
                                    [cdkCopyToClipboard]="
                                        error.detail + error.stacktrace
                                    "
                                    mat-icon-button=""
                                    title="Copy Error"
                                >
                                    <mat-icon class="mat-icon"
                                        >content_copy</mat-icon
                                    >
                                </button>
                            </div>
                        </mat-card-header>

                        <mat-card-content>
                            <ng-container>
                                <pre *ngIf="error.detail">
                        {{ error.detail }}
                        </pre
                                >

                                <pre *ngIf="error.stacktrace">{{
                                    error.stacktrace
                                }}</pre>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
            </li>
        </ul>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()" data-cy="error-dialog-close">
        Schließen
    </button>
    <div fxFlex></div>
    <a mat-button color="primary" href="mailto:{{ supportEmail }}">Bericht</a>
</mat-dialog-actions>
