<div class="dialog-title-wrapper error flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title data-cy="error-dialog-title">Fehler</h1>
</div>

<mat-dialog-content data-cy="error-dialog-content">
    @if (errors.length === 1) {
        <ng-container
            [ngTemplateOutlet]="errorPart"
            [ngTemplateOutletContext]="{ error: errors[0] }"
        ></ng-container>
    }
    @if (errors.length > 1) {
        <ul>
            @for (error of errors; track error) {
                <li>
                    <ng-container
                        [ngTemplateOutlet]="errorPart"
                        [ngTemplateOutletContext]="{ error: error }"
                    ></ng-container>
                </li>
            }
        </ul>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        color="primary"
        (click)="close()"
        data-cy="error-dialog-close"
    >
        Schließen
    </button>
    <div class="flex-1"></div>
    @if (errors[0].unhandledException) {
        <a mat-stroked-button color="primary" href="mailto:{{ supportEmail }}"
            >Bericht senden</a
        >
    }
</mat-dialog-actions>

<ng-template #errorPart let-error="error">
    @if (error.unhandledException) {
        <div>
            {{ generalErrorMessage }}
        </div>
    }
    {{ error.message?.error ?? error.message }}
    @if (error.items) {
        <ul>
            @for (item of error.items; track item) {
                <li>
                    {{ item }}
                </li>
            }
        </ul>
    }

    @if (error.detail || error.stacktrace) {
        <button
            mat-button
            (click)="error.showDetails = !error.showDetails"
            data-cy="show-details-error-dialog-close"
        >
            Details
        </button>
        <div>
            @if (error.showDetails) {
                <mat-card appearance="outlined" class="hover-elevate">
                    <mat-card-content>
                        <div class="clipboard-btn">
                            <button
                                [cdkCopyToClipboard]="
                                    error.detail + error.stacktrace
                                "
                                mat-icon-button=""
                                title="Copy Error"
                            >
                                <mat-icon class="mat-icon"
                                    >content_copy</mat-icon
                                >
                            </button>
                        </div>
                        <ng-container>
                            @if (error.detail) {
                                <pre>
                    {{ error.detail?.trim() }}
                  </pre
                                >
                            }
                            @if (error.stacktrace) {
                                <pre>{{ error.stacktrace }}</pre>
                            }
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            }
        </div>
    }
</ng-template>
