<div class="dialog-title-wrapper error">
    <h2 mat-dialog-title data-cy="error-dialog-title">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Fehler</span>
    </h2>
</div>
<mat-dialog-content data-cy="error-dialog-content">
    <ng-container *ngIf="errors.length === 1">
        <ng-container
            [ngTemplateOutlet]="errorPart"
            [ngTemplateOutletContext]="{ error: errors[0] }"
        ></ng-container>
    </ng-container>
    <ng-container *ngIf="errors.length > 1">
        <ul>
            <li *ngFor="let error of errors">
                <ng-container
                    [ngTemplateOutlet]="errorPart"
                    [ngTemplateOutletContext]="{ error: error }"
                ></ng-container>
            </li>
        </ul>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        color="primary"
        (click)="close()"
        data-cy="error-dialog-close"
    >
        Schließen
    </button>
    <div class="flex-1"></div>
    <a
        *ngIf="errors[0].unhandledException"
        mat-stroked-button
        color="primary"
        href="mailto:{{ supportEmail }}"
        >Bericht senden</a
    >
</mat-dialog-actions>

<ng-template #errorPart let-error="error">
    <div *ngIf="error.unhandledException">
        {{ generalErrorMessage }}
    </div>
    {{ error.message }}

    <ng-container *ngIf="error.detail || error.stacktrace">
        <button
            mat-button
            (click)="error.showDetails = !error.showDetails"
            data-cy="show-details-error-dialog-close"
        >
            Details
        </button>
        <div>
            <mat-card
                appearance="outlined"
                *ngIf="error.showDetails"
                class="hover-elevate"
            >
                <mat-card-header>
                    <div class="flex-1"></div>
                    <div>
                        <button
                            [cdkCopyToClipboard]="
                                error.detail + error.stacktrace
                            "
                            mat-icon-button=""
                            title="Copy Error"
                        >
                            <mat-icon class="mat-icon">content_copy</mat-icon>
                        </button>
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <ng-container>
                        <pre *ngIf="error.detail">
                            {{ error.detail?.trim() }}
                        </pre>

                        <pre *ngIf="error.stacktrace">{{
                            error.stacktrace
                        }}</pre>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
</ng-template>
