@import "src/variables";

.section-title {
  margin: 10px 0;
  //font-weight: normal;
}

.close {
  margin-top: 3px;
}

.cdk-drag-handle {
  margin-top: 8px;
}

.extended-gap:not(:last-of-type) {
  margin-bottom: 10px;
}

.cdk-drag-preview {
  background-color: #ffffff;
}

:host ::ng-deep ige-repeat {
  .mat-mdc-icon-button[disabled][disabled] {
    opacity: 0;
  }
}

ige-add-button {
  display: inline-flex;
  margin-bottom: 22px;
}

ige-form-error {
  display: block;
  padding-bottom: 24px;
}

.show-border formly-field {
  border: 1px solid #00000012;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
