@import "src/variables";

.close {
  margin-top: 3px;
}

.cdk-drag-handle {
  cursor: move;
  margin-top: 8px;
  color: $ige-background-bar;

  &:hover {
    color: inherit;
  }
}

.cdk-drag-preview {
  background-color: #ffffff;
}

:host ::ng-deep ige-repeat {
  .mat-mdc-icon-button[disabled][disabled] {
    opacity: 0;
  }
}

ige-add-button {
  display: block;
  margin-bottom: 22px;
}

ige-form-error {
  display: block;
  padding-bottom: 24px;
}
