:host {
  padding-top: 11px;
}

.close {
  margin-top: 3px;
}

::ng-deep ige-repeat {
  .mat-icon-button[disabled][disabled] {
    opacity: 0;
  }
}

ige-add-button {
  margin-bottom: 11px;
  display: block;
}
