<ige-form-error
    *ngIf="
        showError &&
        formControl.invalid &&
        formControl.errors &&
        !formControl.hasError('required')
    "
>
    <div *ngFor="let error of formControl.errors | keyvalue">
        {{ error.value.message }}
    </div>
</ige-form-error>

<div>
    <div
        *ngFor="let key of groupedFieldsKeys"
        cdkDropList
        cdkDropListOrientation="vertical"
        (cdkDropListDropped)="drop($event)"
    >
        <div *ngIf="menuSections" class="section-title">
            {{ menuSections[key] }}
        </div>

        <div
            *ngFor="let fieldRef of groupedFields[key]; let i = index"
            class="flex-row"
            cdkDrag
            [class.extended-gap]="props.hasExtendedGap"
            [cdkDragDisabled]="!canBeDragged"
        >
            <mat-icon *ngIf="canBeDragged" cdkDragHandle>
                drag_indicator
            </mat-icon>
            <formly-field
                [field]="field.fieldGroup[fieldRef]"
                class="flex-1"
            ></formly-field>
            <button
                *ngIf="formControl.enabled"
                [disabled]="props.minLength && fieldRef < props.minLength"
                mat-icon-button
                class="close"
                type="button"
                (click)="remove(fieldRef)"
            >
                <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
            </button>
        </div>
    </div>
</div>

<ige-add-button
    *ngIf="!formState.disabled && formControl.enabled"
    (add)="addItem($event)"
    [options]="props.menuOptions"
    [buttonTitle]="props.addButtonTitle ? props.addButtonTitle : 'Hinzufügen'"
    [showRequiredError]="
        showError && formControl.invalid && formControl.errors?.required
    "
    [showLabel]="groupedFieldsKeys.length == 0"
></ige-add-button>
