<ige-form-error
    *ngIf="
        formControl.invalid &&
        formControl.errors &&
        !formControl.hasError('required')
    "
    >Dieser Fehler bezieht sich auf die gesamten Einträge
    {{ formControl.errors | json }}</ige-form-error
>

<div
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="drop($event)"
>
    <div
        *ngFor="let row of field.fieldGroup; let i = index"
        class="display-flex"
        cdkDrag
        [cdkDragDisabled]="!canBeDragged"
    >
        <!--        <h1>{{ model[i]._type }}</h1>-->
        <mat-icon *ngIf="canBeDragged" cdkDragHandle> drag_indicator </mat-icon>
        <formly-field [field]="row" class="flex-1"></formly-field>
        <button
            *ngIf="formControl.enabled"
            [disabled]="props.minLength && i < props.minLength"
            mat-icon-button
            class="close"
            (click)="remove(i)"
        >
            <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
        </button>
    </div>
</div>

<ige-add-button
    *ngIf="!formState.disabled && formControl.enabled"
    (add)="addItem($event)"
    [options]="props.menuOptions"
    [showRequiredError]="formControl.invalid && formControl.errors?.required"
></ige-add-button>
