@import "src/variables";

:host {
  display: block;
  padding: 0 24px 24px 36px;
  max-width: 1200px;
  margin: 0 auto;
}

.info-box {
  padding-bottom: 24px;
}

.banner {
  margin-top: 72px;

  h2 {
    font-weight: 400;
    margin-top: 24px;
  }

  p {
    margin: 5px 0;
  }

  .circle-wrapper {
    display: inline-block;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    background-color: #e9e9e9;
    transition: all 1s linear;
  }

  .mat-icon {
    width: 322px;
    height: 214px;
    margin-top: 33px;
    margin-left: -21px;

    ::ng-deep svg path {
      fill: #ffffff;
    }
  }
}

.shortcut {
  margin-top: -12px;
}
