<h1>Daten</h1>

<div class="button-bar">
    <button mat-button>
        <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
        Neuer Ordner
    </button>
    <button mat-button>
        <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
        Neuer Datensatz
    </button>
    <button mat-button>
        <mat-icon>import_export</mat-icon>
        Datensatz Import
    </button>
</div>

<div class="info-box" fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex>Meine Daten</mat-card>
    <mat-card fxFlex>Neue Datensätze</mat-card>
</div>

<div class="info-box" fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex>Zuletzt bearbeitet</mat-card>
    <mat-card fxFlex>Favoriten</mat-card>
</div>

