<h1 class="text-center">Daten</h1>

<div class="text-center shortcut">
    <button mat-button>
        <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
        Neuer Ordner
    </button>
    <button mat-button>
        <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
        Neuer Datensatz
    </button>
    <button mat-button>
        <mat-icon>import_export</mat-icon>
        Datensatz Import
    </button>
</div>

<div class="info-box" fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex>
        <mat-card-title class="text-card-title">Meine Daten</mat-card-title>
        <mat-card-content><mat-divider></mat-divider>...</mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <mat-card-title class="text-card-title">Neue Datensätze</mat-card-title>
        <mat-card-content><mat-divider></mat-divider>...</mat-card-content>
    </mat-card>
</div>

<div class="info-box" fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex>
        <mat-card-title class="text-card-title">Zuletzt bearbeitet</mat-card-title>
        <mat-card-content><mat-divider></mat-divider>...</mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <mat-card-title class="text-card-title">Favoriten</mat-card-title>
        <mat-card-content><mat-divider></mat-divider>...</mat-card-content>
    </mat-card>
</div>

