<div class="text-center shortcut" *transloco="let t; read: 'dashboard'">
    <ige-action-button
        label="Neuer Ordner"
        svgIcon="outline-create_new_folder-24px"
        [disabled]="isAddress ? !canCreateAddress : !canCreateDataset"
        (submit)="createNewFolder()"
    ></ige-action-button>
    <ige-action-button
        [label]="t('newDocument')"
        svgIcon="Neuer-Datensatz"
        [disabled]="isAddress ? !canCreateAddress : !canCreateDataset"
        (submit)="createNewDataset()"
    ></ige-action-button>
</div>

<div class="flex-row" *ngIf="numChildren">
    <ige-card-box
        class="flex-1"
        label="Zuletzt bearbeitet im Ordner"
        data-cy="card-latest-docs"
    >
        <ige-document-list-item
            [docs]="childDocs$"
            [hideDate]="false"
            (select)="openDocument($event._uuid)"
        ></ige-document-list-item>
    </ige-card-box>
</div>

<div *ngIf="numChildren === 0" class="banner text-center">
    <div class="circle-wrapper">
        <mat-icon
            [svgIcon]="
                isAddress ? 'image-banner-address' : 'image-banner-dataset'
            "
        ></mat-icon>
    </div>
    <!--    <h2>Kein Ordner oder {{isAddress ? "Adresse" : "Datensatz"}} vorhanden</h2>-->
    <h2>Dieser Ordner ist noch leer</h2>
    <p *transloco="let t; read: 'dashboard'">
        Legen Sie einen neuen Unterordner oder
        {{ isAddress ? "Adresse" : t("formSingular") }} an.
    </p>
    <p>
        Nutzen Sie dafür die oben stehenden Funktionen. Sie finden diese auch in
        der Werkzeugleiste.
    </p>
</div>
