<form novalidate [formGroup]="emailForm" id="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="width-100">
        <input
            igeFocus
            matInput
            formControlName="email"
            type="email"
            email
            required
            [autocomplete]="canAutocomplete ? 'email' : undefined"
        />
        @if (formErrors.email) {
            <mat-error>{{ formErrors.email }}</mat-error>
        }
    </mat-form-field>

    <div class="comment">
        Ihre E-Mail Adresse wird für Zusendung von Benachrichtigungen oder zur
        Passwortänderung verwendet
    </div>

    <div class="flex-row justify-content-end align-items-stretch gap-12">
        <button
            type="button"
            mat-button
            color="primary"
            (click)="abortChange()"
        >
            Abbrechen
        </button>

        <button
            [disabled]="emailForm.invalid"
            type="submit"
            mat-flat-button
            color="primary"
            class="mat-primary"
        >
            Übernehmen
        </button>
    </div>
</form>
