<form
    style="align-items: center"
    novalidate
    [formGroup]="emailForm"
    id="editForm"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <input matInput formControlName="email" type="email" email required />
        <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
    </mat-form-field>

    <p>
        Ihre E-Mail Adresse wird für Zusendung von Benachrichtigungen oder zur
        Passwortänderung verwendet
    </p>

    <button type="button" mat-button color="primary" (click)="abortChange()">
        {{ "abrechen" | uppercase }}
    </button>

    <button
        [disabled]="emailForm.invalid"
        type="submit"
        mat-flat-button
        color="primary"
        class="mat-primary"
    >
        {{ "übernehmen" | uppercase }}
    </button>
</form>
