<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Berechtigungen</h1>
</div>

<mat-dialog-content [formGroup]="form">
    <ige-permissions formControlName="permissions"></ige-permissions>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div class="flex-1"></div>
    <button
        mat-button
        color="primary"
        [mat-dialog-close]="form.value.permissions"
    >
        Übernehmen
    </button>
</mat-dialog-actions>
