<div [formGroup]="formGroup" style="max-height: unset">
    <mat-slide-toggle
        (click)="toggleRootPermission()"
        [formControl]="rootPermissionRead"
        >Read</mat-slide-toggle
    >
    <mat-slide-toggle
        (click)="toggleRootPermission()"
        [formControl]="rootPermissionWrite"
        >Write</mat-slide-toggle
    >
    <permission-table
        formControlName="documents"
        label="Berechtigungen Daten"
    ></permission-table>
    <permission-table
        formControlName="addresses"
        label="Berechtigungen Adressen"
        [forAddress]="true"
    ></permission-table>
</div>
