<div [formGroup]="formGroup" style="max-height: unset">
    <!--    <div fxLayout="row" fxLayoutGap="20px">
        <mat-selection-list #option [multiple]="false">
            <mat-list-option value="pages" selected>
                Seitenzugriff
            </mat-list-option>
            <mat-list-option value="actions"> Aktionen </mat-list-option>
            <mat-list-option value="documents"> Dokumente </mat-list-option>
            <mat-list-option value="addresses"> Adressen </mat-list-option>
        </mat-selection-list>

        <div
            *ngIf="option.selectedOptions.selected[0].value === 'pages'"
            fxLayout="column"
            fxLayoutGap="12px"
            formGroupName="pages"
        >
            <mat-slide-toggle
                *ngFor="let page of pagePermissions"
                [formControlName]="page.id"
            >
                {{ page.label }}
            </mat-slide-toggle>
        </div>

        <div
            *ngIf="option.selectedOptions.selected[0].value === 'actions'"
            fxLayout="column"
            fxLayoutGap="12px"
            formGroupName="actions"
        >
            Hier können Rechte zu einzelnen Aktionen vergeben werden.
            <mat-slide-toggle formControlName="demo"> Demo </mat-slide-toggle>
            <mat-slide-toggle formControlName="test"> Test </mat-slide-toggle>
        </div>

        <div *ngIf="option.selectedOptions.selected[0].value === 'documents'">
            <ige-tree-permission
                formControlName="documents"
                fxLayout="row"
                fxLayoutGap="20px"
            ></ige-tree-permission>
        </div>

        <div *ngIf="option.selectedOptions.selected[0].value === 'addresses'">
            <ige-tree-permission
                [address]="true"
                formControlName="addresses"
                fxLayout="row"
                fxLayoutGap="20px"
            ></ige-tree-permission>
        </div>
    </div>-->
    <permission-table
        formControlName="documents"
        title="Datensätze"
    ></permission-table>
    <permission-table
        formControlName="addresses"
        title="Adressen"
        [forAddress]="true"
    ></permission-table>

    <div class="legend">
        <mat-icon svgIcon="edit-folder"></mat-icon>
        <span> Ordnerschreibrecht,</span>
        <mat-icon>edit</mat-icon>
        <span> Schreibrecht,</span>
        <mat-icon>visibility</mat-icon>
        <span> Leserecht</span>
    </div>
    <mat-divider style="margin: 5px 0 20px"></mat-divider>
</div>
