<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Berechtigungen</span>
    </h2>
</div>
<mat-dialog-content style="max-height: unset">

    <ige-permissions [data]="permissions" (permissions)="newPermissions = $event"></ige-permissions>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div fxFlex></div>
    <button mat-button color="primary"
            [mat-dialog-close]="newPermissions">Übernehmen
    </button>
</mat-dialog-actions>
