<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Berechtigungen</span>
    </h2>
</div>
<mat-dialog-content [formGroup]="form">
    <ige-permissions formControlName="permissions"></ige-permissions>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div class="flex-1"></div>
    <button
        mat-button
        color="primary"
        [mat-dialog-close]="form.value.permissions"
    >
        Übernehmen
    </button>
</mat-dialog-actions>
