<page-template label="Allgemein">
    <section main-header>
        <div class="flex-row gap-24">
            <mat-checkbox checked="checked" disabled
                >Session Timeout</mat-checkbox
            >

            <mat-form-field class="width-100">
                <mat-label>Dauer in Minuten</mat-label>
                <input matInput value="30" disabled />
                <mat-hint
                    >Die Dauer wird derzeit in Keycloak bestimmt und kann nur
                    dort geändert werden</mat-hint
                >
            </mat-form-field>
        </div>
    </section>
</page-template>
