<as-split>

    <!-- TODO: restrict role permission to groups! A simple user must not change his own role to admin!!! -->

    <!-- GROUP LIST -->
    <as-split-area [size]="25" id="sidebarRoles" class="container">
        <mat-selection-list multiple="false">
            <mat-list-option *ngFor="let role of roles" [class.disabled]="role === selectedRole"
                             (click)="loadRole(role)">
                <h4 mat-line>{{role.name}}</h4>
            </mat-list-option>
        </mat-selection-list>
        <div class="text-center">
            <button mat-icon-button (click)="addRole()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </as-split-area>

    <!-- GROUP DETAIL -->
    <as-split-area [size]="75" id="formRoles" class="container-fluid">
        <div *ngIf="selectedRole; else noGroup" style="padding: 20px">
            <!-- TITLE -->
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedRole.name" name="name">
            </mat-form-field>

            <ige-permissions [data]="selectedRole.permissions" (permissions)="permissions = $event"></ige-permissions>

            <!-- NO GROUP SELECTED -->
        </div>

        <ng-template #noGroup>
            Keine Gruppe ausgewählt. Bitte eine auswählen oder neue erstellen.
        </ng-template>
    </as-split-area>
</as-split>


