@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.modal-body input {
  width: 100%;
}

.button-add {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.catalog-wrapper {
  min-width: 320px;
}

.selected {
  background-color: $ige-mark-color;
}

.header {
  padding-bottom: 24px;
}
