<mat-drawer-container autosize fxLayout="column" fxFill>
    <mat-drawer #drawer mode="side" [opened]="true">
        <mat-nav-list>
            <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path">{{route.name}}</a>
        </mat-nav-list>
    </mat-drawer>

    <div>
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
            Menü
        </button>
        <button type="button" mat-button class="pull-right" (click)="logout()">
            <mat-icon title="Logout">exit_to_app</mat-icon>
        </button>

<!--        <ige-search-bar></ige-search-bar>-->
    </div>

    <!--<div fxLayout="column" fxFill>-->
    <!-- MENU -->
    <!--<main-menu></main-menu>-->

    <!--<help-panel></help-panel>-->

    <!-- PAGES -->
    <router-outlet></router-outlet>

    <!-- TEST -->
    <!--<button (click)="addMenuItem('dynamic Item')">Add menu item</button>-->
    <!--</div>-->
</mat-drawer-container>
