<mat-drawer-container autosize fxLayout="column" fxFill>
    <mat-drawer #drawer mode="side" [opened]="false">
        <mat-nav-list>
            <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path">{{route.name}}</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="header-row">
        <button type="button" mat-button (click)="drawer.toggle()" *ngIf="showDrawer | async">
            <mat-icon>menu</mat-icon>
        </button>

        <strong>INGRID</strong> EDITOR Daten

        <button type="button" mat-button class="pull-right" (click)="logout()">
            {{username | async}}
            <mat-icon title="Logout">exit_to_app</mat-icon>
        </button>

        <!--        <ige-search-bar></ige-search-bar>-->
    </div>

    <!--<div fxLayout="column" fxFill>-->
    <!-- MENU -->
    <!--<main-menu></main-menu>-->

    <!--<help-panel></help-panel>-->

    <!-- PAGES -->
    <router-outlet></router-outlet>

</mat-drawer-container>
