:host {
  display: block;
  width: 100%;
  height: 100%;
}

.user-popup {
  padding-right: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

:host ::ng-deep mat-drawer-content.mat-drawer-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mat-drawer {
  border: 0;
}

.hideMainContainer {
  display: none;
}

/*.wrapper .mat-drawer {
  width: 300px;
}*/
