<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Verantwortlichen zuweisen</span>
    </h2>
</div>
<mat-dialog-content [formGroup]="form">
    <div class="no-selection-text">
        Wählen Sie einen Admin als Verantwortlichen aus.
    </div>
    <ng-container>
        <formly-form
            id="managerForm"
            [form]="form"
            [fields]="formlyFieldConfig"
            [model]="user"
        >
        </formly-form>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div fxFlex></div>
    <button mat-button color="primary" (click)="this.updateManager()">
        Zuweisen
    </button>
</mat-dialog-actions>
