body {
  padding-top: 50px;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.padding {
  padding: 10px;
}
.field-padding {
  padding: 0 10px 0 0;
}

dyn-field {
  padding-bottom: 10px;
  display: block;
}

.hasChildren dyn-field {
  display: inline-block;
}

dynamic-form input[type=text], dynamic-form textarea {
  width: 100%;
}

.fieldContainer {
  display: inline-block;
  vertical-align: top;
}

p-dataTable {
  width: 100%;
  height: 100px;
}