.full {
  width: 100%;
}

.half {
  width: 50%;
}

.padding {
  padding: 10px;
}
.field-padding {
  padding: 0 10px 0 0;
}

df-question {
  padding-bottom: 10px;
  display: block;
}

.hasChildren df-question {
  display: inline-block;
}

dynamic-form input, dynamic-form textarea {
  width: 100%;
}

.fieldContainer {
  display: inline-block;
  vertical-align: top;
}