@import "src/variables";

:host {
  display: block;
}

.more-info {
  padding: 10px 0 20px;
  //overflow: hidden; // need to show help icon
  line-height: 22px;

  > div > div:nth-child(1) {
    width: 296px;
    color: $ige-text-color;
  }

  .padding-below {
    padding-bottom: 10px;
  }

  .section {
    padding-top: 10px;
  }

  .state {
    font-weight: 500;
  }

  ::ng-deep .contextHelpIcon {
    background-color: #ffffff !important;
    margin-top: 0 !important;
  }

  ::ng-deep .label-wrapper {
    padding-top: 0 !important;
  }
}
