<div *ngIf="showMore" [@slideDown] class="more-info">
    <div fxLayout="row">
        <div>Status</div>
        <div>{{getState(model._state)}}</div>
    </div>

    <div fxLayout="row">
        <div>Verantwortlich</div>
        <div></div>
    </div>
    <div fxLayout="row">
        <div>Typ</div>
        <div>{{model._profile}}</div>
    </div>
    <div fxLayout="row" class="padding-below">
        <div>ID</div>
        <div>{{model._id}}</div>
    </div>

    <div fxLayout="row">
        <div>Erstellt am</div>
        <div>{{model._created | date:'short'}}</div>
    </div>
    <div fxLayout="row">
        <div>Geändert am</div>
        <div>{{model._modified | date:'short'}}</div>
    </div>
</div>
