@import "../../../../variables";

:host {
  display: block;
}

.more-info {

  //padding-bottom: 20px;
  overflow: hidden;

  > div > div:nth-child(1) {
    width: 230px;
    color: $ige-comment-color;
  }

  .padding-below {
    //padding-bottom: 10px;
  }
}
