<div *ngIf="showMore" [@slideDown] class="more-info">
    <div class="flex-row" *ngIf="model._type !== 'FOLDER' && !hideFields.state">
        <div>Status</div>
        <div class="state" [class.working]="model._state === 'W'">
            {{ getState(model._state) }}
        </div>
    </div>

    <div *ngIf="!hideFields.type" class="flex-row">
        <div>Typ</div>
        <div>{{ mapDocumentType(model._type) }}</div>
    </div>
    <div class="flex-row padding-below">
        <div>ID</div>
        <div>{{ model._uuid }}</div>
    </div>

    <div *ngIf="!hideFields.created" class="flex-row">
        <div>Erstellt am</div>
        <div>
            <span [title]="model._created | date : 'long'">{{
                model._created | date : "dd.MM.yyyy"
            }}</span>
            <span *ngIf="model._createdBy" [title]="model._createdBy">
                von
                {{
                    model._createdBy +
                        (!model._creatorExists && !this.migrated
                            ? " (ausgeschieden)"
                            : "")
                }}</span
            >
        </div>
    </div>
    <div *ngIf="!hideFields.modified" class="flex-row">
        <div>Geändert am</div>
        <div>
            <span [title]="model._modified | date : 'long'">{{
                model._modified | date : "dd.MM.yyyy"
            }}</span>
            <span *ngIf="model._modifiedBy" [title]="model._modifiedBy">
                von
                {{
                    model._modifiedBy +
                        (!model._modifierExists && !this.migrated
                            ? " (ausgeschieden)"
                            : "")
                }}
            </span>
        </div>
    </div>
</div>
