<as-split>
    <as-split-area [visible]="show" [size]="25" id="sidebarUser" class="split-pane-content-primary container">
        <mat-selection-list #usersList multiple="false">
            <mat-list-option *ngFor="let user of users" [class.disabled]="user === selectedUser"
                           (click)="loadUser(user)">
                <h4 mat-line>{{user.login}}</h4>
            </mat-list-option>
        </mat-selection-list>
        <div class="text-center">
            <button mat-icon-button (click)="addUser()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </as-split-area>
    <as-split-area [visible]="show" [size]="75" id="formUser" class="split-pane-content-secondary container-fluid">
        <form *ngIf="selectedUser" (ngSubmit)="onSubmit()" #userForm="ngForm" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Login" #loginRef type="text" [disabled]="!isNewUser" required autocomplete="off"
                       name="login"
                       [(ngModel)]="selectedUser.login">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Vorname" autocomplete="off" [(ngModel)]="selectedUser.firstName"
                       name="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nachname" autocomplete="off" [(ngModel)]="selectedUser.lastName"
                       name="lastName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Passwort" type="password" autocomplete="new-password"
                       [required]="isNewUser"
                       name="password"
                       [(ngModel)]="selectedUser.password">
            </mat-form-field>

            <ige-permissions-show [data]="selectedUser.permissions" (update)="updatePermissions($event)"></ige-permissions-show>
        </form>
    </as-split-area>
</as-split>
