<div fxLayout="column" fxFill>
    <div class="user-management-header">
        <h1>Nutzer {{ users ? "(" + users.length + ")" : "" }}</h1>
        <mat-toolbar>
            <mat-toolbar-row>
                <!--            Searchfield-->
                <ige-search-field
                    (queryUpdate)="this.searchQuery = $event"
                ></ige-search-field>
                <div fxFlex></div>

                <span class="save-buttons">
                    <button
                        mat-stroked-button
                        *ngIf="selectedUser || isNewUser"
                        data-cy="toolbar_save_user"
                        matTooltip="Speichern"
                        [matTooltipShowDelay]="1000"
                        (click)="saveUser()"
                        [disabled]="form?.invalid"
                    >
                        Speichern
                    </button>
                    <button
                        class="btnAddNew"
                        mat-flat-button
                        color="primary"
                        [mat-menu-trigger-for]="userAddMenu"
                        data-cy="toolbar_add_user"
                        matTooltip="Nutzer hinzufügen"
                        [matTooltipShowDelay]="1000"
                    >
                        <mat-icon>person_add</mat-icon> Hinzufügen
                    </button>
                    <mat-menu #userAddMenu="matMenu">
                        <button
                            type="button"
                            mat-menu-item
                            (click)="showExternalUsersDialog()"
                        >
                            Benutzer importieren
                        </button>
                        <button
                            type="button"
                            mat-menu-item
                            (click)="initNewKeycloakUser()"
                        >
                            Neuen Benutzer anlegen
                        </button>
                    </mat-menu>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <as-split>
        <as-split-area
            [size]="50"
            id="sidebarUser"
            class="split-pane-content-primary container"
        >
            <user-table
                [query]="searchQuery"
                [users]="users"
                (onUserSelect)="selectedUser = $event; loadUser($event.login)"
            ></user-table>
        </as-split-area>
        <as-split-area
            [size]="50"
            id="formUser"
            class="split-pane-content-secondary container-fluid"
            style="display: block"
        >
            <!--        <form
            *ngIf="
                (selectedUser || isNewUser) && !isLoading;
                else noUserOrLoading
            "
            fxLayout="column"
            fxFill
            [formGroup]="form"
            style="padding: 20px"
        >
            <div class="user-title">
                <div class="document-type">
                    &lt;!&ndash;                    <mat-icon>{{getRoleIcon(this.form.get('role').value)}}</mat-icon>&ndash;&gt;
                    <mat-icon
                        [svgIcon]="getRoleIcon(this.form.get('role').value)"
                    ></mat-icon>
                </div>

                <span fxFlex class="label" [class.editable]="false">
                    <span>{{ form.get("login")?.value || "Kein Titel" }}</span>
                </span>

                <button
                    mat-icon-button
                    class="dark menu-button"
                    [class.expanded]="showMore"
                    (click)="toggleMoreInfo()"
                >
                    <mat-icon class="rotating animated"
                        >keyboard_arrow_down</mat-icon
                    >
                </button>
                <button
                    mat-icon-button
                    class="menu dark menu-button"
                    [matMenuTriggerFor]="userMoreMenu"
                >
                    <mat-icon svgIcon="Mehr"></mat-icon>
                </button>
                <mat-menu #userMoreMenu="matMenu">
                    <button
                        mat-menu-item
                        (click)="deleteUser(selectedUser.login)"
                    >
                        Löschen
                    </button>
                </mat-menu>
            </div>
            <user-header-more
                [showMore]="showMore"
                [user]="selectedUser"
                [admins]="admins"
                [allUsers]="users"
                [form]="form"
            ></user-header-more>

            <mat-form-field appearance="outline">
                <mat-label>Login</mat-label>
                <input
                    matInput
                    #loginRef
                    formControlName="login"
                    autocomplete="off"
                    required
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rolle</mat-label>
                <mat-select formControlName="role" required>
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{ role.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Vorname</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="firstName"
                        required
                    />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Nachname</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="lastName"
                        required
                    />
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    autocomplete="off"
                    formControlName="email"
                    type="email"
                    required
                />
                <mat-error *ngIf="form?.get('email')?.invalid">{{
                    getEmailErrorMessage()
                }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Organisation</mat-label>
                <input matInput formControlName="organisation" type="text" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Gruppen</mat-label>
                <mat-select multiple formControlName="groups">
                    <mat-option
                        *ngFor="let group of groups | async"
                        [value]="group.id"
                    >
                        {{ group.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>-->
            <formly-form
                id="form"
                [form]="form"
                [fields]="formlyFieldConfig"
                [model]="model"
            ></formly-form>
            <ng-template #noUserOrLoading>
                <div
                    *ngIf="!isLoading; else loading"
                    fxFlex
                    fxLayout="column"
                    fxLayoutAlign="center center"
                >
                    <div>
                        <img
                            src="assets/icons/user-management.png"
                            alt="user-management"
                        />
                    </div>
                    <div class="no-selection-text">
                        Wählen Sie einen Eintrag aus, um Nutzerdaten anzuzeigen
                        oder Änderungen durchzuführen.
                    </div>
                </div>
            </ng-template>
            <ng-template #loading>
                <mat-spinner style="margin: 100px auto"></mat-spinner>
            </ng-template>
        </as-split-area>
    </as-split>
</div>
