<div class="page-wrapper flex-col">
    <div class="header-wrapper">
        <div class="user-management-header">
            <div class="page-title">
                Benutzer (<span data-cy="users-count">{{
                    users()?.length
                }}</span
                >)
            </div>
            <mat-toolbar>
                <mat-toolbar-row>
                    <ige-search-input
                        [query]="query"
                        [showSearchIcon]="true"
                        placeholder="Suchen"
                        [withWhiteBorder]="false"
                    ></ige-search-input>

                    <div class="flex-1"></div>

                    <span class="save-buttons">
                        <button
                            color="primary"
                            mat-stroked-button
                            data-cy="toolbar_add_user"
                            matTooltip="Benutzer hinzufügen"
                            (click)="showAddUsersDialog()"
                        >
                            <mat-icon>person_add</mat-icon> Hinzufügen
                        </button>
                        <button
                            class="btnSave"
                            mat-flat-button
                            color="primary"
                            data-cy="toolbar_save_user"
                            matTooltip="Speichern"
                            (click)="saveUser()"
                            [disabled]="form?.invalid || !form?.dirty"
                        >
                            Speichern
                        </button>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
    <as-split (dragEnd)="this.userManagementService.rememberTableWidth($event)">
        <as-split-area
            [size]="tableWidth"
            id="sidebarUser"
            class="split-pane-content-primary container"
        >
            <user-table
                [query]="query.value"
                [users]="users()"
                [selectedUser]="explicitUser()"
                (onUserSelect)="selectedUser.set($event)"
            ></user-table>
        </as-split-area>
        <as-split-area
            [size]="100 - tableWidth"
            id="formUser"
            class="split-pane-content-secondary container-fluid flex-row"
        >
            <div class="detail-user" [class.hide]="selectedUser() === null">
                <div class="user-title">
                    <div class="document-type">
                        <mat-icon
                            [svgIcon]="
                                userService.roleIcon[form.get('role')?.value]
                            "
                        ></mat-icon>
                    </div>
                    <span class="label flex-1">
                        <span>{{
                            form.get("firstName")?.value +
                                " " +
                                form.get("lastName")?.value || "Kein Titel"
                        }}</span>
                    </span>
                    <button
                        data-cy="showMoreData"
                        mat-icon-button
                        class="menu-button"
                        [class.expanded]="showMore()"
                        [matTooltip]="showMore() ? 'Schließen' : 'Öffnen'"
                        (click)="showMore.set(!showMore())"
                    >
                        <mat-icon class="rotating animated"
                            >keyboard_arrow_down
                        </mat-icon>
                    </button>
                    @if (menuItems.length > 0) {
                        <button
                            data-cy="more-actions"
                            mat-icon-button
                            class="menu-button"
                            matTooltip="Bearbeiten"
                            [matMenuTriggerFor]="userMoreMenu"
                        >
                            <mat-icon svgIcon="Mehr"></mat-icon>
                        </button>
                    }
                    <mat-menu #userMoreMenu="matMenu">
                        @for (menuItem of menuItems; track menuItem) {
                            <button
                                mat-menu-item
                                (click)="menuItem.action()"
                                [name]="menuItem.name"
                            >
                                {{ menuItem.title }}
                            </button>
                        }
                    </mat-menu>
                </div>
                <user-header-more
                    [showMore]="showMore()"
                    [user]="loadedUser()"
                    [form]="form"
                ></user-header-more>
                <formly-form
                    id="form"
                    [form]="form"
                    [fields]="formlyFieldConfig"
                >
                    <!--                    [model]="model()"-->
                </formly-form>
            </div>
            @if (!selectedUser()) {
                @if (users()?.length > 0) {
                    <div
                        class="detail-user no-selection-placeholder flex-1 flex-col justify-content-center align-items-center"
                    >
                        <div>
                            <img
                                src="assets/icons/user-management.png"
                                alt="user-management"
                            />
                        </div>
                        <div class="no-selection-text">
                            Wählen Sie einen Eintrag aus, um Nutzerdaten
                            anzuzeigen oder Änderungen durchzuführen.
                        </div>
                    </div>
                }
                @if (users()?.length === 0) {
                    <div
                        class="detail-role no-selection-placeholder flex-1 flex-col justify-content-center align-items-center"
                    >
                        <div>
                            <img
                                src="assets/icons/user-management.png"
                                alt="user-management"
                            />
                        </div>
                        <div class="no-selection-text">
                            Noch keine Benutzer erstellt!
                        </div>
                        <div class="no-selection-text">
                            Mit der oben stehenden Funktion „Hinzufügen“ können
                            Sie Benutzer anlegen.
                        </div>
                    </div>
                }
            }
        </as-split-area>
    </as-split>
</div>
