@if (showError && !formControl.hasError("required")) {
    <ige-form-error>
        <formly-validation-message [field]="field"></formly-validation-message>
    </ige-form-error>
}
@if (props.view === "chip" && model[field.key + ""]?.length > 0) {
    <mat-chip-listbox
        [disabled]="formControl.disabled"
        cdkDropListGroup
        mixedCdkDragDrop
        (dropped)="drop($event)"
        [attr.aria-labelledby]="field | fieldToAriaLabelledBy"
    >
        <span
            *ngFor="let item of model[$any(field.key)]; let i = index"
            cdkDropList
            mixedCdkDropList
        >
            <mat-chip-option
                disableRipple
                cdkDrag
                data-cy="list-item"
                [cdkDragDisabled]="formControl.disabled"
                [removable]="true"
                [selectable]="false"
                (removed)="removeItem(i)"
            >
                @if (props.showLanguage) {
                    <mat-icon
                        class="avatar gray"
                        svgIcon="language-24px"
                    ></mat-icon>
                }
                @if (!props.labelField) {
                    <div class="label">
                        {{ getParameter(item) }}
                    </div>
                }
                @if (props.labelField) {
                    <div class="label">
                        {{ item[props.labelField] }}
                    </div>
                }
                @if (formControl.enabled) {
                    <button
                        matChipRemove
                        [attr.aria-description]="
                            props.labelField
                                ? item[props.labelField]
                                : getParameter(item) + 'entfernen'
                        "
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                }
            </mat-chip-option>
        </span>
    </mat-chip-listbox>
}

@if (props.view !== "chip" && model[field.key + ""]?.length > 0) {
    <div
        class="component-list"
        cdkDropList
        cdkDropListOrientation="vertical"
        (cdkDropListDropped)="drop($event)"
        role="list"
    >
        <div
            *ngFor="let item of model[$any(field.key)]; let i = index"
            cdkDrag
            [cdkDragDisabled]="
                props.noDrag ||
                formControl.disabled ||
                model[field.key]?.length < 2
            "
            class="clickable list-item"
            data-cy="list-item"
            tabindex="0"
            (click)="this.onItemClick(item?.key)"
            (keyup.enter)="removeItem(i, $event)"
            role="listitem"
            [attr.aria-labelledby]="field | fieldToAriaLabelledBy"
            aria-description="Klick auf die Eingabetaste, um den Eintrag zu entfernen"
        >
            <div class="text-wrapper">
                <span class="list-display-element">
                    @if (this.props.elementIcon) {
                        <mat-icon [svgIcon]="this.props.elementIcon"></mat-icon>
                    }
                    @if (type !== "search") {
                        {{ getParameter(item) }}
                    }
                    @if (type === "search") {
                        <div class="label">
                            {{ item[props.labelField] }}
                        </div>
                    }
                </span>
            </div>
            @if (formControl.enabled) {
                <button
                    type="button"
                    mat-icon-button
                    class="close gray"
                    (click)="removeItem(i)"
                    tabindex="-1"
                >
                    <!--            <mat-icon svgIcon="Entfernen"></mat-icon>-->
                    <mat-icon>close</mat-icon>
                </button>
            }
        </div>
    </div>
} @else {
    @if (this.props.selectionEmptyNotice) {
        <div class="no-fields-selected-notice">
            <div class="infoIcon">
                <mat-icon
                    class="material-icons-outlined"
                    svgIcon="info-24px"
                ></mat-icon>
            </div>
            <span>{{ this.props.selectionEmptyNotice }}</span>
        </div>
    }
}

@if (type === "select") {
    <mat-form-field appearance="outline" class="width-100">
        <mat-select
            [placeholder]="props.placeholder"
            (valueChange)="addToList($event)"
            [formControl]="inputControl"
            (keydown)="handleKeydown($event)"
            (blur)="inputControl.setValue('')"
            [aria-labelledby]="field | fieldToAriaLabelledBy"
        >
            @if (props.showSearch) {
                <mat-option>
                    <ngx-mat-select-search
                        [formControl]="filterCtrl"
                    ></ngx-mat-select-search>
                </mat-option>
            }
            @for (option of filteredOptions | async; track option) {
                @if (option.value === "_SEPARATOR_") {
                    <mat-divider class="space-bottom"></mat-divider>
                } @else {
                    <mat-option [value]="option" [disabled]="option.disabled">
                        <div (click)="onOptionClick($event, option)">
                            {{ option.label }}
                        </div>
                    </mat-option>
                }
            }
        </mat-select>
        <!-- help info button -->
        @if (props.suffix) {
            <ng-container
                matSuffix
                [ngTemplateOutlet]="props.suffix"
            ></ng-container>
        }
        <mat-error *transloco="let t">{{
            t("form.validationMessages.createOneEntry")
        }}</mat-error>
    </mat-form-field>
}

@if (type === "autocomplete") {
    <mat-form-field appearance="outline" class="width-100">
        @if (props.fieldLabel) {
            <mat-label>{{ props.fieldLabel }}</mat-label>
        }
        <input
            type="text"
            [placeholder]="props.placeholder"
            matInput
            [formControl]="inputControl"
            (keydown.enter)="addFreeEntry(inputControl.value)"
            [matAutocomplete]="auto"
            [errorStateMatcher]="matcher"
            (focusin)="hasFocus = true"
            (focusout)="hasFocus = false"
        />
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="addToList($event.option.value)"
        >
            @for (option of filteredOptions | async; track option) {
                @if (option.value === "_SEPARATOR_") {
                    <mat-divider class="space-bottom"></mat-divider>
                } @else {
                    <mat-option [value]="option" [disabled]="option.disabled">
                        {{ option.label }}
                    </mat-option>
                }
            }
        </mat-autocomplete>
        <!-- clean button -->
        @if (inputControl.value?.length > 0) {
            <button
                mat-icon-button
                matSuffix
                type="button"
                class="field-close"
                (click)="inputControl.setValue('')"
            >
                <mat-icon>close</mat-icon>
            </button>
        }
        <!-- help info button -->
        @if (props.suffix) {
            <ng-container
                matSuffix
                [ngTemplateOutlet]="props.suffix"
            ></ng-container>
        }
        @if (!parameterOptions) {
            <mat-hint>{{ props.hint }} </mat-hint>
        }
        <mat-error *transloco="let t">{{
            inputControl.errors?.mustBeEmpty
                ? t("form.validationMessages.commitWithEnter")
                : "Bitte erstellen Sie mindestens einen Eintrag"
        }}</mat-error>
    </mat-form-field>
}

@if (type === "search") {
    <ige-search-input
        [autocompleteRef]="searchAuto"
        [withWhiteBorder]="false"
        [searchSub]="searchSub"
        [query]="inputControl"
        [flexWidth]="true"
        [placeholder]="props.placeholder"
        [focus]="false"
        [errorText]="
            inputControl.errors?.mustBeEmpty
                ? 'Der Inhalt muss noch mit \'Return\' bestätigt werden'
                : null
        "
        showSearchIcon="true"
    ></ige-search-input>
    <mat-autocomplete
        #searchAuto="matAutocomplete"
        [autoActiveFirstOption]="true"
        (optionSelected)="addValueObject($event.option.value)"
    >
        @for (doc of searchResult | async; track doc) {
            <mat-option [value]="doc">
                {{ getLabel(doc) }}
            </mat-option>
        }
    </mat-autocomplete>
}

@if (type === "simple" && formControl.enabled) {
    <mat-form-field class="width-100" appearance="outline">
        <input
            matInput
            [placeholder]="props.placeholder"
            autocomplete="off"
            [formControl]="inputControl"
            [required]="showError && props.required && formControl.invalid"
            (keydown.enter)="addSimpleValues(inputControl.value)"
            [errorStateMatcher]="matcher"
            (focusin)="hasFocus = true"
            (focusout)="hasFocus = false"
            [attr.aria-labelledby]="field | fieldToAriaLabelledBy"
            aria-description="Die Eingabe muss noch mit der Eingabetaste bestätigt werden"
        />
        <div matSuffix>
            @if (searchSub && !searchSub.closed) {
                <mat-spinner [diameter]="24"></mat-spinner>
            }
            @if (inputControl.value?.length > 0) {
                <button
                    mat-icon-button
                    type="button"
                    class="field-close"
                    (click)="inputControl.setValue('')"
                >
                    <mat-icon>close</mat-icon>
                </button>
            }
        </div>
        <mat-hint>{{ props.hint }} </mat-hint>
        <mat-error *transloco="let t">{{
            inputControl.errors?.mustBeEmpty
                ? t("form.validationMessages.commitWithEnter")
                : "Bitte erstellen Sie mindestens einen Eintrag"
        }}</mat-error>
    </mat-form-field>
}
