@import "src/variables";

.component-list {
  max-width: 100%;
  //border: solid 1px #ccc;
  display: block;
  background: white;
  //border-radius: 4px;
  overflow: hidden;

  //border-left: 1px solid #ccc;
  //border-right: 1px solid #ccc;
  //border-top: 1px solid #ccc;
}

.list-item {
  min-height: 36px;
  padding: 0 10px 0 15px;
  //color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 16px;
  line-height: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  &.cdk-drag-disabled {
    cursor: default;

    &.clickable {
      cursor: pointer;
    }
  }

  .close {
    opacity: 0;
  }

  &:hover,
  &:focus {
    .close {
      opacity: 1;
    }
  }

  .close:focus {
    opacity: 1;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 1px 0 #000;
  }
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-form-field-flex {
  align-items: center;
  /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: 0.125em;
  }
}

// Enable line break when the content of option is too long.
// Issue ref: https://github.com/angular/components/issues/26584
:host ::ng-deep {
  .mdc-evolution-chip__cell--primary,
  .mdc-evolution-chip__action--primary,
  .mat-mdc-chip-action-label {
    overflow: hidden !important;
  }
}

// Help to determine when to line break.
.cdk-drop-list {
  max-width: 100%;
}

.list-display-element {
  display: flex;
  align-items: center;

  mat-icon {
    padding-right: 12px;
    line-height: 16px;
  }
}

mat-icon.search-icon {
  padding: 8px;
}

.text-wrapper {
  padding: 6px 0 6px 0;
}

mat-chip-listbox {
  padding-bottom: 10px;

  ige-add-button {
    margin-left: 8px;
    line-height: 42px;
  }

  .mat-mdc-standard-chip {
    background: #f3f3f3;
  }
}

.mat-mdc-chip {
  border-radius: 4px;
  cursor: move;
  min-height: 36px;

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

mat-spinner {
  display: inline-block;
  margin-right: 8px;
}
