<mat-list *ngIf="field.fieldGroup.length > 0" dense>
    <mat-list-item *ngFor="let field of field.fieldGroup; let i = index;" class="clickable">

        <h3 *ngIf="to.withCodelist" matLine>{{model[i] | codelist:'100' | async}}</h3>
        <h3 *ngIf="!to.withCodelist" matLine>{{model[i] | selectOption:to.options | async}}</h3>

        <button mat-icon-button class="close gray" (click)="remove(i)">
            <mat-icon svgIcon="Entfernen"></mat-icon>
        </button>

    </mat-list-item>
</mat-list>

<mat-form-field *ngIf="to.asSelect; else templateAutocomplete" appearance="outline" class="width-100">
    <mat-select [placeholder]="to.placeholder" (valueChange)="addToList($event)" [(ngModel)]="selectionModel">
        <mat-option *ngFor="let option of to.options | async" [value]="option.value">
            {{option.label}}
        </mat-option>
    </mat-select>
</mat-form-field>

<ng-template #templateAutocomplete>
    <mat-form-field appearance="outline" class="width-100">
        <input type="text" #repeatListInput
               [placeholder]="to.placeholder"
               matInput
               [(ngModel)]="selectionModel"
               [formControl]="inputControl"
               (keydown.enter)="addToList(repeatListInput.value)"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addToList($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
                {{option.label}}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="!parameterOptions">Mit Return hinzufügen</mat-hint>
    </mat-form-field>
</ng-template>
