@import "../../../../variables";

mat-list {
  padding-bottom: 6px;

  .mat-list-item {
    font-size: 16px;
    height: 36px;

    .mat-icon-button {
      display: none;
      width: 24px;
      height: 24px;
      margin-right: -8px;
      line-height: 24px;
    }

    &:hover {
      .mat-icon-button {
        display: block;
      }
    }
  }
}

::ng-deep .mat-form-field-flex {
  align-items: center;

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: 0.125em;
  }
}
