<form class="example-form" >
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon><input matInput type="search">
    </mat-form-field>
    <!--<mat-form-field class="example-full-width" style="width: 100%">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Suche nach Dokumenten" aria-label="Number" matInput [formControl]="myControl">

        &lt;!&ndash;<mat-chip-list #chipList>
            <mat-chip style="margin-top:0.4em;" *ngFor="let option of this.searchOption" (removed)="removeOption(option)">

                <span>{{option.title}}</span>

                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-icon>search</mat-icon>
            <input #autocompleteInput type="text" placeholder="Suche nach Dokumenten" aria-label="Number" matInput [formControl]="myControl"
                   [matAutocomplete]="auto" [matChipInputFor]="chipList">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
                    {{option.title}}
                </mat-option>
            </mat-autocomplete>
        </mat-chip-list>&ndash;&gt;

    </mat-form-field>-->

</form>
