<page-template label="Gespeicherte Suchen">
    <div left-side>
        Hier können sie Ihre zuvor gespeicherten Suchanfragen wieder laden.
    </div>
    <div main-content>
        <ige-card-box
            *ngFor="let type of queryTypes"
            [label]="type.label"
            data-cy="card-saved-queries"
            role="list"
        >
            <div
                *ngFor="
                    let query of type.queries | async;
                    trackBy: getIdentifier
                "
                tabindex="0"
                role="listitem"
                class="item clickable flex-row"
                (click)="load(query.id)"
                (keydown.enter)="load(query.id)"
            >
                <mat-icon>star_outline</mat-icon>
                <div>
                    <div class="title">{{ query.name }}</div>
                    <div *ngIf="query.description">
                        {{ query.description }}
                    </div>
                </div>

                <div class="flex-1"></div>

                <span [matTooltip]="query.modified | date: 'long'">{{
                    query.modified | dateAgo: "DE"
                }}</span>
                <ng-container *ngIf="query.canDelete; else placeholder">
                    <button
                        #editButton
                        mat-icon-button
                        class="menu-button"
                        matTooltip="Bearbeiten"
                        [matMenuTriggerFor]="spatialRef"
                        (click)="$event.stopImmediatePropagation()"
                    >
                        <mat-icon svgIcon="Mehr"></mat-icon>
                    </button>
                    <mat-menu #spatialRef="matMenu">
                        <button
                            mat-menu-item
                            (click)="editButton.focus(); removeQuery(query.id)"
                        >
                            Löschen
                        </button>
                    </mat-menu>
                </ng-container>
                <ng-template #placeholder
                    ><span style="width: 66px"></span
                ></ng-template>
            </div>
        </ige-card-box>
    </div>
</page-template>
