<mat-card class="no-box-shadow">
    <mat-card-header>
        <div mat-card-avatar><mat-icon [svgIcon]="'Institution'"></mat-icon></div>
        <mat-card-title fxFlex>{{address.type | codelist:"505" | async}}</mat-card-title>
        <!--<div>
            <button mat-icon-button mat-flat-button class="menu clickable">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>-->
    </mat-card-header>

    <mat-card-content>
        <mat-card-subtitle>{{address.ref.title}}</mat-card-subtitle>
    </mat-card-content>
</mat-card>
