<mat-card class="no-box-shadow">
    <mat-card-header>
        <div mat-card-avatar><mat-icon [svgIcon]="'Institution'"></mat-icon></div>
        <mat-card-title fxFlex>{{address.type | codelist:"505" | async}}</mat-card-title>
        <div fxFlex></div>
        <div>
            <button mat-icon-button class="menu dark context-button" [matMenuTriggerFor]="linkedAddressMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #linkedAddressMenu="matMenu">
                <button mat-menu-item disabled>Bearbeiten</button>
                <button mat-menu-item (click)="remove.next()">Löschen</button>
            </mat-menu>
        </div>
    </mat-card-header>

    <mat-card-content>
        <mat-card-subtitle>{{address.ref?.title}}</mat-card-subtitle>
    </mat-card-content>
</mat-card>
