@import "src/variables";

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  padding: 12px 12px 12px 16px;
  background-color: $ige-background;

  &.warning {
    background-color: $error-color;
  }

  &.disabled {
    color: $ige-comment-color;
  }

  .mat-mdc-card-header {
    align-content: center;
    margin-bottom: 8px;

    .mat-mdc-card-avatar {
      width: 28px;
      height: 28px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    ::ng-deep .mat-card-header-text {
      margin-left: 8px;
      overflow: hidden;

      .mat-mdc-card-title {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        align-self: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.error {
          color: $error-color;
        }
      }
    }
  }

  .mat-mdc-card-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: $ige-text-color;
  }

  .mat-mdc-card-content > div {
    overflow: hidden;
    text-overflow: ellipsis;

    &.title {
      font-weight: 500;
    }

    &.title,
    &.organization-person {
      font-size: 16px;
    }

    &.email {
      padding-top: 8px;
    }
  }
}
