<mat-card
    appearance="outlined"
    class="hover-elevate"
    [class.disabled]="disabled"
    [class.warning]="content.iconState === ''"
    [matTooltip]="stateInfo"
    tabindex="0"
    role="listitem"
>
    <mat-card-content>
        <div class="header flex-row">
            <ige-document-icon [doc]="address.ref"></ige-document-icon>
            <div class="title">
                {{ address.type | codelist : "505" | async }}
            </div>
            <div class="flex-1"></div>
            <button
                mat-icon-button
                type="button"
                class="menu-button"
                [matMenuTriggerFor]="linkedAddressMenu"
                matTooltip="Bearbeiten"
                aria-label="Adresse bearbeiten"
            >
                <mat-icon class="dark-blue" svgIcon="Mehr"></mat-icon>
            </button>
            <mat-menu #linkedAddressMenu="matMenu">
                <button
                    mat-menu-item
                    (click)="edit.next()"
                    [disabled]="disabled"
                >
                    Bearbeiten
                </button>
                <button
                    mat-menu-item
                    (click)="gotoAddress.next()"
                    [disabled]="address.ref._id === undefined"
                >
                    Hinspringen
                </button>
                <button
                    mat-menu-item
                    (click)="remove.next()"
                    [disabled]="disabled"
                >
                    Entfernen
                </button>
            </mat-menu>
        </div>

        <ng-container *ngIf="address.ref?.organization; else person">
            <div
                class="title address-title"
                [class.error]="invalidAddressReference"
            >
                {{ content.title }}
            </div>
            <div class="organization-person">{{ content.secondTitle }}</div>
        </ng-container>

        <ng-template #person>
            <div class="title address-title">
                <span
                    >{{
                        address.ref["academic-title"]
                            | codelist : "4305"
                            | async
                    }} </span
                >{{ content.title }}
            </div>
        </ng-template>

        <div *ngIf="content.emailOrPhone" class="email">
            {{ content.emailOrPhone }}
        </div>
    </mat-card-content>
</mat-card>
