@import "src/variables";

mat-card {
  background-color: $ige-background;

  &.mat-card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  &:hover {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }

  ::ng-deep .mat-card-header-text {
    margin-left: 8px;
  }

  .mat-card-title {
    font-size: 16px;
    font-weight: 400;
  }

  .mat-card-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #181818;
  }

  .title {
    font-weight: 500;
  }

  .title, .organization-person {
    font-size: 16px;
  }

  .email {
    padding-top: 8px;
  }
}

.mat-card-avatar {
  width: 24px;
}
