<page-template label="Konfiguration" class="white">
    <ng-container left-side> ... </ng-container>

    <div main-header>
        <button
            mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            (click)="save()"
        >
            Speichern
        </button>
    </div>

    <div main-content class="main">
        <div class="scrollable">
            <formly-form
                [form]="form"
                [model]="model"
                [fields]="fields"
            ></formly-form>
        </div>
    </div>
</page-template>
