<page-template label="Konfiguration" class="white">
    <ng-container left-side>
        Tragen Sie hier allgemeine Informationen zu diesem Katalog ein.
        Manche Einstellungen werden als Defaultwerte für neue Datensätze
        verwendet, wie bspw. der Raumbezug und der Namespace.
        <pre>Ansprechpartner und Anbieter werden aktuell bei der Indizierung verwendet.</pre>
    </ng-container>

    <div main-header>
        <button
            mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            (click)="save()"
        >
            Speichern
        </button>
    </div>

    <div main-content class="main">
        <div class="scrollable">
            <formly-form
                [form]="form"
                [model]="model"
                [fields]="fields"
            ></formly-form>
        </div>
    </div>
</page-template>
