@import "src/variables";

:host {
  overflow: auto;
}

mat-progress-spinner {
  display: inline-block;
}

.report-btn {
  padding-left: 24px;
}

.replace-btn {
  margin-top: 2px;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  padding: 0 10px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-_select_ {
  width: 48px;
}

.mat-column-status {
  width: 190px;

  .mat-icon {
    padding-right: 8px;
  }
}

.mat-column-count {
  width: 45px;
  text-align: right;
}
td.mat-column-count {
  padding-right: 20px;
}

.mat-column-datasets {
  .clickable-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }
  .mat-icon {
    color: $ige-secondary;
  }
}

.status {
  font-family: monospace;
}
