.full-width-wrapper {
  display: flex;
  flex-direction: column;

  ::ng-deep ige-form-label {
    .label-wrapper {
      width: auto !important;
      padding-right: 0 !important;
      margin-bottom: 4px;
    }
  }
}

:host-context(.bold-label) {
  .full-width-wrapper {
    ::ng-deep ige-form-label label {
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}
