@import "src/variables";

/* validation error hide conditionally */

::ng-deep .hide-validation {

  .mat-error {
    opacity: 0;
  }

  .mat-form-field-invalid .mat-input-element {
    caret-color: initial;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline {
    opacity: 1;
  }

  .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
    opacity: 1;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: initial;
    opacity: 0;
  }
}

/*-------------------*/

.section {
  color: #196ea2;
}

.section mat-icon {
  vertical-align: bottom;
}

.separator {
  padding: 15px 0;
}

.header {
  background-color: #f3f3f3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header h1 {
  margin-bottom: 15px;
  padding-left: 20px;
  color: #196ea2;
}

.header div, .form-content {
  padding-left: 20px;
  padding-right: 20px;
}

/*.form-content {
  min-width: 400px;
  max-width: 1200px;
  width: 100%;
  padding-top: 15px;
  padding-left: 40px;
}*/

.example-margin {
  margin: 0 40px 0 0;
}

.anchor-navigation {
  text-align: center;
}

.label-wrapper {
  min-width: 272px;
  padding-right: 24px;
  padding-top: 17px;
}

.hasContexthelp {

  &:hover {
    .contexthelpIcon {
      display: inline-block;
    }

    label {
      color: $ige-primary;
      cursor: pointer;
    }
  }

  .contexthelpIcon {
    display: none;
    background-color: $ige-background;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-left: -28px;
    margin-right: 4px;
    margin-top: 14px;

    ::ng-deep .mat-icon svg rect {
      fill: $ige-secondary;
    }
  }
}

.checkbox-row {
  padding-bottom: 25px;
}

.checkbox-row-label {
  padding-top: 2px !important;
}
