

.label-wrapper + ::ng-deep * {
  flex: 1;
}

.label-wrapper + ::ng-deep formly-wrapper-mat-form-field {
  display: contents;
}

::ng-deep .form-content .mat-form-field-infix {
  /*border-top: 0.2em solid transparent;*/
  border-top: 0;
}

::ng-deep .form-content .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 0.7em 0;
}

::ng-deep .form-content .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0.2em 1em;
}

::ng-deep .form-content .mat-form-field-wrapper {
  padding-bottom: 0.3em;
}

::ng-deep .form-content .mat-form-field-invalid .mat-form-field-wrapper {
  padding-bottom: 0;
  margin: 0.25em 0 0 0;
}

::ng-deep .form-content .mat-form-field-subscript-wrapper {
  padding-top: 3px;
}

::ng-deep .form-content .mat-form-field-label-wrapper {
  top: -0.64375em;
}

::ng-deep .form-content .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-1.09375em) scale(.75);
  transform: translateY(-1.09375em) scale(.75);
}

::ng-deep .form-content .mat-select-arrow-wrapper {
  padding-top: 10px;
}

::ng-deep .mat-button-wrapper {
  vertical-align: middle;
}

/* Multi-line error: https://github.com/angular/material2/issues/4580#issuecomment-340692923 */
::ng-deep mat-form-field .mat-form-field-underline {
  position: static;
}

::ng-deep mat-form-field .mat-form-field-subscript-wrapper {
  position: static;
  margin-top: 0.4em;
}

::ng-deep mat-form-field.mat-form-field-invalid .mat-form-field-subscript-wrapper {
  margin-top: 0;
}

/* validation error hide conditionally */

::ng-deep .hide-validation {

  .mat-error {
    opacity: 0;
  }

  .mat-form-field-invalid .mat-input-element {
    caret-color: initial;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline {
    opacity: 1;
  }

  .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
    opacity: 1;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: initial;
    opacity: 0;
  }
}

/*-------------------*/

.section {
  color: #196ea2;
}

.section mat-icon {
  vertical-align: bottom;
}

.separator {
  padding: 15px 0;
}

.header {
  background-color: #f3f3f3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header h1 {
  margin-bottom: 15px;
  padding-left: 20px;
  color: #196ea2;
}

.header div, .form-content {
  padding-left: 20px;
  padding-right: 20px;
}

.form-content {
  min-width: 400px;
  max-width: 1200px;
  width: 100%;
  padding-top: 15px;
  padding-left: 40px;
}

.example-margin {
  margin: 0 40px 0 0;
}

.anchor-navigation {
  text-align: center;
}

.label-wrapper {
  min-width: 272px;
  padding-right: 24px;
  padding-top: 17px;
}

.checkbox-row {
  padding-bottom: 25px;
}

.checkbox-row-label {
  padding-top: 2px !important;
}

