<div
    class="flex-row"
    [class.hasContextHelp]="props.hasContextHelp"
    [class.required]="props.required"
    [attr.data-cy]="props.contextHelpId ?? key ?? props.externalLabel"
>
    <ige-form-label
        [fieldId]="field.id"
        [hasContextHelp]="props.hasContextHelp"
        [ariaLabel]="props.ariaLabel"
        (contextHelp)="showContextHelp($event)"
    >
        @if (props.required) {
            {{ props.externalLabel }}<span>*</span>
        } @else {
            {{ props.externalLabel }}
        }
    </ige-form-label>

    <ng-container #fieldComponent></ng-container>
</div>
