<div
    class="flex-row"
    [class.hasContextHelp]="props.hasContextHelp"
    [class.required]="props.required"
    [attr.data-cy]="key ?? props.externalLabel"
>
    <ige-form-label
        [fieldId]="field.id"
        [hasContextHelp]="props.hasContextHelp"
        [ariaLabel]="props.ariaLabel"
        (contextHelp)="showContextHelp($event)"
    >
        {{ props.externalLabel }}<span *ngIf="props.required">*</span>
    </ige-form-label>

    <ng-container #fieldComponent></ng-container>
</div>
