@import "src/variables";
.mat-icon {
  vertical-align: bottom;

  ::ng-deep path {
    fill: $ige-secondary;
  }
}

.mat-divider {
  border: 0;
  height: 4px;
  background: linear-gradient(90deg, $ige-background-bar, $ige-background);
  margin: 12px -24px 20px -36px;
}
