@import "src/variables";
.mat-icon {
  vertical-align: bottom;

  ::ng-deep path {
    fill: $ige-secondary;
  }
}

.mat-divider {
  height: 30px;
  margin: 30px -24px 0 -36px;
}

h3 {
  color: $ige-primary;
  margin-top: 0;
  font-weight: normal;
  font-size: 24px;
}
