@use "src/variables" as vars;

h4 {
  margin: 12px 0 24px;
  font-weight: 500;
}

ige-form-error {
  display: block;
  padding-bottom: 12px;
}

:host(.indent) {
  display: block;
  padding-left: 24px;
}

:host(.bordered) {
  display: block;
  margin-bottom: 24px;
  border: 1px solid vars.$ige-background-bar;
  border-radius: 4px;

  // leave space for context help icon
  padding: 4px 16px 4px 46px;
  .mat-divider {
    margin: 20px 20px 20px -46px;
  }
}

.no-margin {
  margin-bottom: 0;
}

.comment {
  font-size: 12px;
  padding-bottom: 12px;
}
