<div class="flex-row gap-12">
    <mat-chip-listbox [hideSingleSelectionIndicator]="true">
        @for (option of options(); track option) {
            @for (typeOption of option.typeOptions; track typeOption) {
                @for (item of typeOption.items; track item) {
                    @if (
                        value()[typeOption.key] === item.value ||
                        value()[item.key] === item.value ||
                        value()[typeOption.key]?.key === item.value?.key ||
                        value()[item.key]?.key === item.value?.key
                    ) {
                        <mat-chip-option
                            [selected]="true"
                            [selectable]="false"
                            >{{ item.label }}</mat-chip-option
                        >
                    }
                }
            }
        }
    </mat-chip-listbox>
</div>
