<mat-nav-list fxFlex fxLayout="column">
    <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path"
       [title]="route.name"
       [class.active]="route.path === currentRoute">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <p mat-line *ngIf="menuIsExpanded">{{route.name}}</p>
    </a>

    <div class="fillVertical"></div>

    <a mat-list-item (click)="menuIsExpanded = !menuIsExpanded" *ngIf="showDrawer | async">
        <mat-icon *ngIf="!menuIsExpanded" mat-list-icon>keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="menuIsExpanded" mat-list-icon>keyboard_arrow_left</mat-icon>
        <p mat-line *ngIf="menuIsExpanded">Verkleinern</p>
    </a>
</mat-nav-list>
