@import "src/variables";

.mat-mdc-list-base {
  padding-top: 0;
}

:host {
  display: flex;
  background-color: $ige-secondary-dark;
  height: 100%;
  letter-spacing: 0.67px;
}

.active {
  background: $ige-primary !important;
  box-shadow: 0 2px 2px -2px #808080;
}

mat-nav-list {
  overflow: auto;
  width: 320px;
  display: flex;
  flex-direction: column;

  &.collapsed {
    width: 56px;
    overflow: hidden;
  }

  mat-icon {
    color: #ffffff;
  }

  a:hover {
    mat-icon {
      color: #ffffff;
    }
  }

  .menu-toggle {
    margin-top: 56px;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
  /*::ng-deep .mat-list-item-content {
    padding: 0 12px !important;
  }

  ::ng-deep .mat-mdc-list-item {
    color: #ffffff;
    height: 56px;
    font-size: 18px;

    &.menu-toggle {
      text-transform: none;
      font-size: 16px;
      height: 46px;
    }

    &.light {
      background-color: $ige-secondary;
    }

    &.dark:hover {
      background-color: lighten($ige-secondary, 8%);
    }

    &:hover {
      background: lighten($ige-secondary, 8%) !important;
    }

    &.active:hover {
      background: lighten($ige-primary, 8%) !important;
    }
  }*/
}

.fillVertical {
  flex: 1;
}
