@import "../../variables";

.mat-list-base {
  padding-top: 0;
}

:host {
  display: block;
  background-color: #28225b;
  height: 100%;
  //width: 100%;
}

.active {
  background: $ige-primary !important;
}

.mat-nav-list {
  overflow: auto;

  .mat-list-item:hover {
    background: #00000018 !important;
  }

  .mat-list-item.active:hover {
    background: #ffffff18 !important;
  }
}

.mat-list-base .mat-list-item {
  color: #ffffff;
  height: 55px;
  font-size: 18px;
}

.fillVertical {
  flex: 1;
}

::ng-deep .tooltip-big {
  font-size: 20px;
  margin-left: 10px;
  padding-left: 20px;
  //background: #b71c1c;
}
