@import "../../variables";

.welcome {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px #808080;
  margin-bottom: 32px;
  color: $ige-primary;
  letter-spacing: 0.74px;

  div {
    font-size: 24px;
    padding: 14px 0;
  }
}

.search-content, .welcome, .shortcut {
  text-align: center;
}

.search-content {

  padding-bottom: 24px;

  .search {
    min-width: 500px;
  }

  input {
    text-align: left;
  }

  ::ng-deep .mat-form-field-outline {
    background-color: #ffffff;

    div {
      border: 0;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    margin-right: -5px;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 0 0 0.8em;
    margin: 0.1em 0 0.1em;
  }

  button {
    height: 44px;

    ::ng-deep .mat-button-wrapper {
      letter-spacing: 1.25px;
    }
  }
}

.shortcut {
  padding-bottom: 24px;
  color: $ige-secondary;

  ::ng-deep .mat-button-wrapper {
    letter-spacing: 1.25px;
    text-transform: uppercase;

    .mat-icon {
      vertical-align: text-bottom;
    }
  }
}

.info-cards {
  padding: 0 36px;
  max-width: 1024px;
  margin: 0 auto;
}

.chart {
  width: 500px;
}

.content {
  display: inline-block;
}
