<div
    fxFlex
    fxLayout="column"
    *transloco="let t; read: 'dashboard'"
    class="allPageScroll"
>
    <div class="welcome" data-cy="welcome-message">
        <div>{{ t("welcome") }}</div>
        <div *ngFor="let message of messages$ | async" class="message">
            <span>{{ message.text }}</span>
        </div>
    </div>

    <div class="dashboard-content">
        <ige-quick-search
            (selectDoc)="openDocument($event)"
            (selectAddress)="openAddress($event)"
        ></ige-quick-search>

        <div class="shortcut">
            <button
                mat-button
                (click)="createNewDocument()"
                [disabled]="!canCreateDataset"
            >
                <mat-icon
                    class="material-icons-outlined"
                    svgIcon="Neuer-Datensatz"
                ></mat-icon>
                <span>{{ t("newDocument") }}</span>
            </button>
            <button
                mat-button
                (click)="createNewFolder()"
                [disabled]="!canCreateDataset"
            >
                <mat-icon
                    class="material-icons-outlined"
                    svgIcon="outline-create_new_folder-24px"
                ></mat-icon>
                <span>Neuer Ordner</span>
            </button>
            <button
                mat-button
                *ngIf="canImport"
                (click)="gotoImportPage()"
                [disabled]="!canImport"
            >
                <mat-icon class="material-icons-outlined"
                    >import_export
                </mat-icon>
                <span>{{ t("importDocument") }}</span>
            </button>
            <button
                mat-button
                (click)="createNewAddress()"
                [disabled]="!canCreateAddress"
            >
                <mat-icon
                    class="material-icons-outlined"
                    svgIcon="outline-person_add-24px"
                ></mat-icon>
                <span>Neue Adresse</span>
            </button>
        </div>

        <div class="info-cards" fxLayout="column" fxLayoutGap="24px">
            <div class="info-box" fxLayout="row" fxLayoutGap="36px">
                <ige-card-box fxFlex label="{{ t('application') }} Datensätze">
                    <ige-chart
                        [data]="chartDataPublished.asObservable()"
                    ></ige-chart>
                </ige-card-box>
            </div>

            <ige-card-box
                fxFlex
                data-cy="recent-docs"
                label="{{ t('mostRecent') }}"
                data-cy="card-latest-docs"
            >
                <ige-document-list-item
                    [docs]="recentDocs$"
                    [hideDate]="false"
                    (select)="openDocument($event._uuid)"
                ></ige-document-list-item>
            </ige-card-box>
        </div>
    </div>
</div>
