<div fxFlex fxLayout="column">

    <div class="welcome">
        <div>Guten Morgen! Willkommen zurück.</div>
    </div>

    <div class="dashboard-content">
        <ige-quick-search (select)="openDocument($event)"></ige-quick-search>

        <div class="shortcut">
            <button mat-button (click)="createNewDocument()">
                <mat-icon class="material-icons-outlined" svgIcon="outline-create_new_folder-24px"></mat-icon>
                Neuer Order
            </button>
            <button mat-button (click)="createNewDocument()">
                <mat-icon class="material-icons-outlined" svgIcon="Neuer-Datensatz"></mat-icon>
                Neuer Datensatz
            </button>
            <button *featureFlag="'AP3'" mat-button (click)="createNewUser()">
                <mat-icon class="material-icons-outlined">import_export</mat-icon>
                Datensatz importieren
            </button>
            <button mat-button (click)="createNewAddress()">
                <mat-icon class="material-icons-outlined" svgIcon="Freie-Adresse"></mat-icon>
                Neue Adresse
            </button>
        </div>


        <div class="info-cards" fxLayout="column" fxLayoutGap="24px">
            <div class="info-box" fxLayout="row" fxLayoutGap="36px">
                <ige-card-box fxFlex title="INGRID Datensätze">
                    <ige-chart [data]="[5, 32]" [colors]="['#F27100', '#333333']"></ige-chart>
                </ige-card-box>
                <ige-card-box fxFlex title="Neue Datensätze">
                    ...
                </ige-card-box>
            </div>

            <ige-card-box fxFlex title="Zuletzt bearbeitet im Katalog">
                <ige-document-list-item [docs]="recentDocs$" [hideDate]="false" (select)="openDocument($event.id)"></ige-document-list-item>
            </ige-card-box>
        </div>
    </div>

</div>
