<div class="toggle-groups-wrapper" [formGroup]="tempForm">
    @for (toggle of toggles; track toggle) {
        <div
            class="toggle-group"
            [class.has-label]="!toggle.hideLabel"
        >
            @if (toggle.label && !toggle.hideLabel) {
                <div class="toggle-group-label">
                    {{ toggle.label }}
                </div>
            }
            <mat-button-toggle-group
                [name]="toggle.key"
                [attr.aria-label]="toggle.label"
                [formControlName]="toggle.key"
                hideSingleSelectionIndicator
            >
                @for (item of toggle.items; track item) {
                    <mat-button-toggle [value]="item.value">
                        {{ item.label }}
                    </mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
    }
</div>
