<mat-form-field>
    <mat-select #select
                (openedChange)="updateValue({isOpen: $event, newValue: select.value})"
                (keyup.enter)="updateValue({isOpen: false, newValue: select.value})"
                (blur)="updateValue({isOpen: select.panelOpen, newValue: select.value})"
                (keydown.tab)="sendTab($event, select.value)"
                [value]="value.value">

        <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.label}}
        </mat-option>

    </mat-select>
<!--    <mat-error *ngIf="description.invalid">Das Feld muss einen Eintrag haben</mat-error>-->
</mat-form-field>
