<mat-form-field>
    <mat-select #select
                (openedChange)="updateValue(select.value)"
                (blur)="updateValue(select.value)"
                (keyup.enter)="updateValue(select.value)"
                (keydown.tab)="sendTab($event, select.value)"
                [value]="value.value">

        <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.label}}
        </mat-option>

    </mat-select>
<!--    <mat-error *ngIf="description.invalid">Das Feld muss einen Eintrag haben</mat-error>-->
</mat-form-field>
