
System-Anfragen:
<mat-selection-list class="doc-item" [multiple]="false" [class.dense]="true">
    <mat-list-option *ngFor="let query of systemQueries | async" (click)="load(query.id)">

        <div matLine>
            <span class="card-title">{{query.name}}: </span>
            <span>{{query.description}}</span>
        </div>
        <mat-divider></mat-divider>
    </mat-list-option>
</mat-selection-list>

Nutzer-Anfragen:
<mat-selection-list class="doc-item" [multiple]="false" [class.dense]="true">
    <mat-list-option *ngFor="let query of userQueries" (click)="load(query.id)">

        <div matLine>
            <span class="card-title">{{query.title}}</span>
            <span>{{query.description}}</span>

            <div fxFlex></div>

            <button mat-icon-button (click)="removeQuery(query.id, $event)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </mat-list-option>
</mat-selection-list>
