<mat-list>

    <ng-container *ngFor="let type of types">

        <mat-list-item *ngFor="let location of typedLocations[type]" class="clickable small-padding-right"
                       (click)="selectLocation.next(location.indexNumber)">

            <mat-icon *ngIf="type !== 'geo-name'" matListIcon
                      [style.background-color]="location.color + '33'"
                      [style.color]="location.color">crop_din
            </mat-icon>
            <mat-icon *ngIf="type === 'geo-name'" matListIcon svgIcon="tag"></mat-icon>

            <div fxLayout="row" class="list-item-wrapper">
                <div class="list-item-content">
                    <div matLine class="spatial-type">
                        <span>{{getTypeName(type)}}</span>
                    </div>
                    <div matLine class="spatial-title">
                        <span>{{location.title}}</span>
                    </div>

                    <div *ngIf="location.type === 'free' && location.value" matLine class="coordinates">
                        <span>L1: {{location.value.lat1 | number:'.6'}}°</span>
                        <span>B1: {{location.value.lon1 | number:'.6'}}°</span>
                        <span>L2: {{location.value.lat2 | number:'.6'}}°</span>
                        <span>B2: {{location.value.lon2 | number:'.6'}}°</span>
                    </div>

                    <div *ngIf="location.type === 'wkt'" matLine>
                        {{location.value}}
                    </div>
                </div>
                <div>
                    <button mat-icon-button class="menu-button" [matMenuTriggerFor]="spatialRef">
                        <mat-icon svgIcon="Mehr"></mat-icon>
                    </button>
                    <mat-menu #spatialRef="matMenu">
                        <button mat-menu-item (click)="edit.next(location.indexNumber)">Bearbeiten</button>
                        <button mat-menu-item (click)="remove.next(location.indexNumber)">Löschen</button>
                    </mat-menu>
                </div>
            </div>

        </mat-list-item>

    </ng-container>

</mat-list>
