@import "src/variables";

:host {
  background-color: $ige-background;
  display: block;
}

.wrapper {
  display: flex;
  align-items: center;
  min-height: 88px;
  border-bottom: 2px solid #ffffff;

  & > mat-icon {
    margin: 0 24px;
    border: 3px solid currentColor;
    width: 18px;
    height: 18px;
  }

  .spatial-type {
    line-height: 22px;
    font-size: 14px;
  }

  .spatial-title {
    font-weight: 500;
  }

  .description {
    flex: 1;
  }

  .menu-button {
    margin-right: 12px;
  }

  .coordinates {
    display: flex;
    gap: 16px;
  }
}
