<div fxLayout="column" fxFill>
    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <as-split [useTransition]="true" (dragEnd)="rememberSizebarWidth($event)" [gutterSize]="12">

        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-sidebar></ige-sidebar>
        </as-split-area>

        <!-- The form -->
        <as-split-area #scrollForm [size]="100-sidebarWidth" id="form" class="form-content">
            <ige-form-dashboard *ngIf="fields.length === 0"></ige-form-dashboard>

            <ng-container *ngIf="fields.length !== 0">
                <ige-form-info [form]="form"
                               [model]="model"
                               [sections]="sections"
                               [class.scrolled]="minimizeFormHeader"
                               [trigger]="minimizeFormHeader"
                               (jumpToSection)="jumpToSection($event)"></ige-form-info>

                <form [formGroup]="form" [class.hide-validation]="!showValidationErrors" [class.hide]="model._profile === 'FOLDER'">
                    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="formOptions"></formly-form>

                    <!--<pre>
    JSON:
    {{model | json}}
                    </pre>-->
                </form>

                <div *ngIf="model._profile === 'FOLDER'" class="folder-content">
                    <ige-card-box title="Ordner-Informationen"></ige-card-box>
                </div>
            </ng-container>

        </as-split-area>

    </as-split>
</div>
