<div fxLayout="column" fxFill>

    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <!--<div class="notifyWrapper" [class.active]="error">
        <div class="tn-box tn-box-color-1">
            <p>An error occured: {{error | json}}</p>
            <div class="tn-progress"></div>
        </div>
    </div>-->

    <!--<div>-->
    <!--<div class="tabs-left menu">
        <ul class="nav-tabs flex-column">
            <li [class.active]="sideTab === 'tree'">
                <a mat-button (click)="sideTab = 'tree'" title="Baumstruktur" data-toggle="tab">
                    <span class="fa fa-tree"></span>
                </a>
            </li>
            <li [class.active]="sideTab === 'search'">
                <a mat-button (click)="sideTab = 'search'" title="Suche" data-toggle="tab">
                    <span class="fa fa-search"></span>
                </a>
            </li>
            <li [class.active]="sideTab === 'wizards'">
                <a mat-button (click)="sideTab = 'wizards'" title="Assistenten" data-toggle="tab">
                    <span class="fa fa-magic"></span>
                </a>
            </li>
            <li [class.active]="sideTab === 'favorites'">
                <a mat-button (click)="sideTab = 'favorites'" title="Favoriten" data-toggle="tab">
                    <span class="fa fa-star"></span>
                </a>
            </li>
            <li class="toggle">
                <a title="Ein-/Ausklappen" (click)="hideSidebar = !hideSidebar">
                <span class="fa"
                      [class.fa-chevron-left]="!hideSidebar"
                      [class.fa-chevron-right]="hideSidebar"></span>
                </a>
            </li>
        </ul>
    </div>-->

    <as-split [useTransition]="true">
        <!--<split-area [size]="5">
            <div class="tabs-left menu">
                <ul class="nav-tabs flex-column">
                    <li [class.active]="sideTab === 'tree'">
                        <a mat-button (click)="sideTab = 'tree'" title="Baumstruktur" data-toggle="tab">
                            <span class="fa fa-tree"></span>
                        </a>
                    </li>
                    <li [class.active]="sideTab === 'search'">
                        <a mat-button (click)="sideTab = 'search'" title="Suche" data-toggle="tab">
                            <span class="fa fa-search"></span>
                        </a>
                    </li>
                    <li [class.active]="sideTab === 'wizards'">
                        <a mat-button (click)="sideTab = 'wizards'" title="Assistenten" data-toggle="tab">
                            <span class="fa fa-magic"></span>
                        </a>
                    </li>
                    <li [class.active]="sideTab === 'favorites'">
                        <a mat-button (click)="sideTab = 'favorites'" title="Favoriten" data-toggle="tab">
                            <span class="fa fa-star"></span>
                        </a>
                    </li>
                    <li class="toggle">
                        <a title="Ein-/Ausklappen" (click)="hideSidebar = !hideSidebar">
                    <span class="fa"
                          [class.fa-chevron-left]="!hideSidebar"
                          [class.fa-chevron-right]="hideSidebar"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </split-area>-->

        <!-- exchangable sidebar -->
        <as-split-area [size]="15" id="sidebar">
            <ige-sidebar></ige-sidebar>
        </as-split-area>

        <!-- The form -->
        <as-split-area [size]="85" id="form" class="formWrapper form-content">
            <div *ngIf="!form" class="info-no-selection card-body text-center">
                Kein Dokument ausgewählt. Laden Sie ein vorhandenes oder erstellen Sie ein neues Dokument über die Toolbar.
            </div>


            <form [formGroup]="form">
                <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                {{model | json}}
            </form>

            <!--<form *ngIf="form" [formGroup]="form" style="height: 100%;flex-direction: column;display: flex;">

                &lt;!&ndash; TODO: put default form inputs into another component &ndash;&gt;
                <input id="_parent" formControlName="_parent" type="hidden">
                <input id="_id" formControlName="_id" type="hidden">
                <input id="_profile" formControlName="_profile" type="hidden">

                &lt;!&ndash; form info bar &ndash;&gt;
                <ige-form-info [doc]="currentDocument$ | async"></ige-form-info>

                &lt;!&ndash;<div class="main-form-flex">&ndash;&gt;
                &lt;!&ndash;<div class="main-form">&ndash;&gt;
                &lt;!&ndash;<ige-main-form [fields]="fields" [form]="form" (onAddSection)="addSection($event)"></ige-main-form>&ndash;&gt;
                <mat-tab-group *ngIf="fields[0].controlType === 'rubric'" [animationDuration]="'0ms'">
                    <ng-container *ngFor="let field of fields">
                        <mat-tab [label]="field.label" *ngIf="field.controlType === 'rubric'">
                            <ige-main-form-tabs [fields]="field.children" [form]="form"
                                                [isRootLevel]="false"
                                                [blurAllBut]="wizardFocusElement"
                                                (onAddSection)="addSection($event)"></ige-main-form-tabs>
                            <div style="clear: both;"></div>
                        </mat-tab>
                    </ng-container>

                </mat-tab-group>

                <ng-container *ngIf="fields[0].controlType !== 'rubric'">
                    <ige-main-form-tabs [fields]="fields" [form]="form"
                                        [isRootLevel]="true"
                                        [blurAllBut]="wizardFocusElement"
                                        (onAddSection)="addSection($event)"></ige-main-form-tabs>
                </ng-container>
                &lt;!&ndash;</div>&ndash;&gt;
                <div *ngIf="debugEnabled" class="card-body text-muted" [style.flex]="0">
                    <strong>Form contains the following values</strong><br>{{form.value | json}}
                    &lt;!&ndash;<p>Form is valid: {{form.valid}}</p>&ndash;&gt;
                </div>

            </form>-->
        </as-split-area>

    </as-split>
    <!--</div>-->
</div>
