<div fxLayout="column" fxFill>
    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <as-split [useTransition]="true" (dragEnd)="rememberSizebarWidth($event)">

        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-sidebar></ige-sidebar>
        </as-split-area>

        <!-- The form -->
        <as-split-area [size]="100-sidebarWidth" id="form" class="form-content" (scroll)="onScroll($event)">
            <ige-form-dashboard *ngIf="fields.length === 0"></ige-form-dashboard>

            <ng-container *ngIf="fields.length !== 0">
                <ige-form-info [form]="form" [model]="model" [sections]="sections" [class.scrolled]="isScrolled"></ige-form-info>

                <form [formGroup]="form" [class.hide-validation]="!(this.documentService.publishState$ | async)">
                    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="formOptions"></formly-form>

                    <!--<pre>
    JSON:
    {{model | json}}
                    </pre>-->
                </form>

                <div *ngIf="model._profile === 'FOLDER'">
                    Dies ist ein Ordner
                </div>
            </ng-container>

        </as-split-area>

    </as-split>
</div>
