:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.form-content {
  //height: auto !important;
  min-width: 400px;
  max-width: 1200px;
}
.form-content > form, ige-form-info {
  padding: 0 40px;
}
.form-content ige-form-info {
  display: block;
  background-color: #F3F3F3;
  margin-bottom: 20px;
}

pre {
  //position: absolute;
  top: 70px;
  right: 20px;
  background-color: #ffffffa0;
}
