@import "../../variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

::ng-deep .as-split-gutter {
  background-color: $ige-background-bar !important;
}

.form-content > form {
  padding: 20px 24px 0 36px;
  background-color: #ffffff;
  min-width: 400px;
  max-width: 1200px;
  margin: 0 auto;
}
.form-content ige-form-info {
  display: block;
  margin-bottom: 0;
}

pre {
  //position: absolute;
  top: 70px;
  right: 20px;
  background-color: #ffffffa0;
}

.folder-content {
  padding: 20px;
}

#sidebar::-webkit-scrollbar {
  width: 12px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 20px;
}
