<page-template label="Verbindungen">
    <div left-side>
        <p>
            Auf dieser Seite können Sie verschiedene Verbindungen hinzufügen, in
            denen indiziert werden kann. Jeder Katalog kann eine oder meherer
            dieser Verbindungen verwenden. Definiert ein Katalog keine
            Verbindung, so werden alle Verbindungen verwendet.
        </p>
        <p>
            Der Status zeigt an, ob die Verbindungen erfolgreich funktionieren
            und in welchen Katalogen sie explizit bei der Indizierung verwendet
            werden.
        </p>

        <h4>Verbindungsstatus:</h4>
        <ige-connection-state
            [connectionStates]="$connectionStates()"
            [usage]="$connectionUsage()"
        ></ige-connection-state>
    </div>

    <div main-header class="flex-col justify-content-start align-items-stretch">
        <div>
            <button
                mat-flat-button
                color="primary"
                data-cy="btn-save-connections"
                (click)="save()"
                [disabled]="!$valid()"
            >
                Speichern
            </button>
        </div>
    </div>

    <div main-content>
        @if (model) {
            <div class="scrollable">
                <formly-form
                    [form]="form"
                    [model]="model"
                    [fields]="fields"
                ></formly-form>
            </div>
        }
    </div>
</page-template>
