<mat-form-field
    class="white-bg"
    [class.flex-1]="flexWidth"
    [class.white-border]="withWhiteBorder"
    [class.no-input-border]="withWhiteBorder"
    [class.right-sharp-corner]="rectangular || withButton"
    [class.left-sharp-corner]="rectangular"
    [style.min-width]="minWidth"
    appearance="outline"
>
    <input
        *ngIf="autocompleteRef; else noAutocomplete"
        matInput
        igeFocus
        [placeholder]="placeholder"
        data-cy="search"
        aria-label="Search"
        [formControl]="query"
        [matAutocomplete]="autocompleteRef"
    />
    <ng-template #noAutocomplete>
        <input
            matInput
            igeFocus
            [placeholder]="placeholder"
            data-cy="search"
            aria-label="Search"
            [formControl]="query"
        />
    </ng-template>
    <div matSuffix>
        <mat-spinner
            *ngIf="searchSub && !searchSub.closed"
            [diameter]="24"
        ></mat-spinner>
        <button
            *ngIf="query.value?.length > 0"
            mat-icon-button
            class="field-close"
            (click)="resetSearch()"
        >
            <mat-icon class="gray">close</mat-icon>
        </button>
        <mat-icon
            *ngIf="showSearchIcon && query.value?.length === 0"
            class="search-icon passive"
        >
            search
        </mat-icon>
    </div>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>

<button
    *ngIf="withButton"
    mat-flat-button
    color="primary"
    class="search-btn button-next-to-input"
    [class.small]="!withWhiteBorder"
    (click)="buttonClick.next(query.value)"
>
    <mat-icon>search</mat-icon>
    Suchen
</button>
