:host {
  display: flex;
}

mat-spinner {
  display: inline-block;
  margin-right: 8px;
}

.search-icon {
  margin-right: 10px;
}

.search-btn mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
