<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Gruppe hinzufügen</span>
    </h2>
</div>
<mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 100%">
        <mat-label>Gruppen Name</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div fxFlex></div>
    <button
        mat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="createGroup()"
    >
        Anlegen
    </button>
</mat-dialog-actions>
