<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div cdkDragHandle class="dialog-title-wrapper mat-dialog-title">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <span class="text" style="padding-right: 20px"
                >Gruppe hinzufügen</span
            >
        </h2>
    </div>
    <mat-dialog-content [formGroup]="form">
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Gruppenname</mat-label>
            <input
                matInput
                igeFocus
                placeholder="Eingeben..."
                (keyup.enter)="createGroup()"
                formControlName="name"
            />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="primary">Abbrechen</button>
        <div class="flex-1"></div>
        <button
            mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            (click)="createGroup()"
        >
            Anlegen
        </button>
    </mat-dialog-actions>
</div>
