<page-template label="SQL Suche">
    <div left-side>
        <p>
            Hier können Sie komplexe SQL Anfragen abschicken, wenn die
            erweiterte Suche nicht ausreicht.
        </p>
        <p>Hier sind ein paar Beispiele:</p>

        <div *ngIf="sqlExamples.length" class="flex-col gap-6">
            <button
                mat-flat-button
                class="chip-button"
                *ngFor="let example of sqlExamples"
                (click)="updateSqlControl(example.value)"
            >
                {{ example.label }}
            </button>
        </div>
    </div>

    <div main-header>
        <div *ngIf="aiSearchEnabled" class="flex-row gap-12 padding-vertical">
            <input
                class="flex-1"
                matInput
                [formControl]="request"
                placeholder="Gib mir alle Datensätze die ..."
            />
            <button
                mat-flat-button
                color="primary"
                [disabled]="isSearching || request.value === ''"
                (click)="askForSQL(request.value)"
            >
                Fragen
            </button>
        </div>

        <mat-form-field appearance="outline" class="width-100">
            <textarea
                matInput
                rows="4"
                placeholder="SELECT * FROM ..."
                data-cy="sql-query-field"
                [formControl]="sql"
                aria-label="Suche nach SQL Anfragen"
            ></textarea>
        </mat-form-field>

        <div class="flex-row gap-12 justify-content-end">
            <button
                mat-stroked-button
                color="primary"
                [disabled]="sql.value === ''"
                (click)="updateSqlControl('')"
            >
                Entfernen
            </button>
            <button
                mat-flat-button
                color="primary"
                [disabled]="isSearching || sql.value === ''"
                (click)="updateSqlControl(sql.value)"
            >
                Suchen
            </button>
        </div>

        <div class="save-search-button">
            <button mat-button color="primary" (click)="saveQuery()">
                Suche Speichern
            </button>
        </div>

        <div>
            <ng-content></ng-content>
        </div>
    </div>

    <div main-content>
        <ige-result-table
            [result]="result"
            [isLoading]="isSearching"
            (updated)="search(sql.value)"
        ></ige-result-table>
    </div>
</page-template>
