<div class="padding" fxLayout="column" fxFlex>
    <mat-form-field appearance="outline" class="width-100">
        <textarea matInput rows="5" placeholder="SELECT * FROM ..." [(ngModel)]="sqlValue"></textarea>
    </mat-form-field>

    <div>
        <div fxFlex></div>
        <button mat-flat-button color="primary"
                [disabled]="!sqlValue"
                (click)="query.emit(sqlValue)">Suchen</button>
    </div>

    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
