@use "src/variables" as vars;

:host {
  overflow: auto;
}

.action-btn {
  padding: 0;
  min-width: 40px;

  mat-icon {
    margin: 0;
  }
}

.active-query-btn {
  background: vars.$ige-mark-color !important;
  border: 1px solid #7ea9ca;
  border-radius: var(--mat-form-field-outlined-container-shape,);
}

.chip-button {
  letter-spacing: 0;
  font-weight: unset;
  align-self: start;
  border-radius: 20px;
  text-transform: none;
  background-color: #e0e0e0;
}
