@import "src/variables";

.result-table-header {
  height: 49px;
  background-color: #ffffff;
  position: relative;
  text-align: center;

  mat-divider {
    height: 36px;
  }

  .result {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 49px;
    color: $ige-primary;

    margin: auto;
    width: 50%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep.mat-mdc-progress-spinner {
    margin-left: 8px;
    circle {
      stroke: $ige-primary;
    }
  }

  .result-buttons {
    display: flex;
    position: absolute;
    top: 6px;
    right: 0;
    text-align: left;
  }
}

/*.settings button {
  visibility: hidden;
}
.mat-row:hover .settings button {
  visibility: visible;
}*/

.thin-column {
  width: 1px;
}

.mat-mdc-row {
  .settings button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.04) !important;
    cursor: pointer;
  }

  &.readonly .mat-mdc-cell {
    color: $ige-comment-color;
  }
}
