@import "src/variables";

/*.settings button {
  visibility: hidden;
}
.mat-row:hover .settings button {
  visibility: visible;
}*/

.thin-column {
  width: 1px;
}

.mat-mdc-row {
  .settings button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.04) !important;
    cursor: pointer;
  }

  &.readonly .mat-mdc-cell {
    color: $ige-comment-color;
  }
}
