<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%5level [%d{yyyy-MM-dd HH:mm:ss}] (%40.40F:%3L) - %m%n" />
    </Console>
    <RollingFile name="LogFile" fileName="logs/log.log" filePattern="logs/log.log.%i">
      <PatternLayout pattern="%5level [%d{yyyy-MM-dd HH:mm:ss}] (%F:%L) - %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="9" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="de.ingrid" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="org.springframework" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="net.meta" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="warn">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
