@import "src/variables";

.entry-list {
  .mat-expansion-panel-header-description {
    flex: unset;
    justify-content: flex-end;
    align-items: center;
  }

  .mat-expansion-panel-header-title {
    align-items: center;

    mat-icon {
      margin-right: 24px;
    }
  }

  .mat-expansion-panel {
    border-radius: 0;
  }

  mat-expansion-panel-header {
    height: unset;
    min-height: 60px;
    padding-right: 0;
  }
  .mat-expansion-panel:first-of-type,
  .mat-expansion-panel:last-of-type {
    border-radius: 0 !important;
  }

  .content {
    padding-left: 48px;
  }
}

mat-panel-description {
  margin-right: 8px;
  button {
    display: inline-block;
  }
}

.default {
  background-color: $ige-mark-color;

  &:hover {
    background-color: darken($ige-mark-color, 5%) !important;
  }
}

.default-item {
  font-size: 14px;
  color: $ige-primary;
  padding-right: 16px;
}

.identifier {
  color: $ige-hint-color;
  font-size: 16px;
  font-weight: 400;
}
.name {
  font-size: 16px;
  font-weight: 500;
}

.expander {
  transition: all 0.2s linear;

  &.expanded {
    transform: scale(1, -1);
  }
}

.virtual-viewport {
  //height: 100%;
}
