<ige-dialog-template
    [label]="data.titleText"
    submitLabel="Einfügen"
    [disabled]="!hasWriteRootPermission && selection === null"
    (submit)="submit()"
    class="mdc-dialog--no-content-padding"
>
    <div content class="hide-tab-header create-dlg-content">
        <ige-destination-selection
            [disableRoot]="!hasWriteRootPermission"
            [forAddress]="data.forAddress"
            [typeToInsert]="data.typeToInsert"
            (choice)="handleSelected($event)"
        ></ige-destination-selection>
    </div>
</ige-dialog-template>
