::ng-deep mat-tree .mat-tree-node {
  min-height: 20px;
}

mat-tree-node {
  cursor: pointer;
}
mat-tree-node .label {
  padding-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mat-icon-button {
  height: 30px;
  line-height: 30px;
}

mat-tree-node:hover {
  background-color: #ededed;
}

mat-tree-node.selected {
  background-color: #e5e5e5;
}
mat-tree-node.selected:hover {
  background-color: #e5e5e5;
}

.docType {
  padding-right: 10px;
  padding-left: 15px;
  line-height: 40px;
}
.docType.expandable {
  padding-right: 10px;
  padding-left: 0px;
}


.clickable {
  cursor: pointer;
  text-decoration: none;
}

.folder {
  position: absolute;
  right: 5px;
  margin-top: -15px;
  display: none;
}

.refresh {
  position: absolute;
  right: 0;
  z-index: 1000
}
