@import "../../../../variables";

::ng-deep .mat-drawer-container {
  background-color: $ige-background;
}

::ng-deep .mat-tree {
  background-color: #ffffff;
}

mat-tree-node {
  cursor: pointer;
  min-height: 20px;
  padding: 0.2em 0;


  &:first-child {
    border-top: 1px solid $ige-background-bar;
  }

  &.rootNode {
    background-color: $ige-background;
    padding: 6px 0 7px;
    font-size: 16px;
    border-bottom: 1px solid $ige-background-bar;

    &.expanded {
      border-bottom: 0;
    }

  }

  &:hover {
    background-color: #ededed;
  }

  .label {
    padding-left: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    user-select: none;

    .mat-icon {
      height: 0;
      line-height: 0;
      vertical-align: sub;
      margin-right: 3px;
      font-size: 20px;
    }
  }

  &.selected {
    background-color: #00000033;
  }

  &.selected:hover {
    background-color: #00000022;
  }

  &.active {
    // box-shadow: inset 3px 0 0 0 rgb(40, 34, 91);
    background-color: $ige-mark-color;
    color: $ige-active-color;
  }

  &.disabled {
    color: #999;
    font-style: italic;
  }

  .toggle {
    float: right;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-right: 5px;
  }

  .mat-icon {
    &.working {
      color: $state-working-color;
    }

    &.workingWithPublished {
      background: -moz-linear-gradient(45deg, $state-working-color 50%, #333333 50%);
      background: -webkit-linear-gradient(45deg, $state-working-color 50%, #333333 50%);
      background: linear-gradient(45deg, $state-working-color 50%, #333333 50%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline;
    }

    /*.published {
    }*/
  }
}


.docType {
  padding-right: 10px;
  padding-left: 15px;
  line-height: 40px;
}

.docType.expandable {
  padding-right: 10px;
  padding-left: 0;
}

.clickable {
  cursor: pointer;
  text-decoration: none;
}

.folder {
  position: absolute;
  right: 5px;
  margin-top: -15px;
  display: none;
}

.refresh {
  position: absolute;
  right: 0;
  z-index: 1000
}

::ng-deep .mat-icon {
  transition: all .2s linear;
}

::ng-deep .expanded .expander {
  transform: rotate(90deg);
}
