<ige-tree-header *ngIf="showReloadButton" (reload)="reloadTree()"></ige-tree-header>

<span *ngIf="dataSource.data.length === 0">Leerer Baum</span>

<!-- TODO: trackBy does not update isExpanded Flag: see https://github.com/angular/components/issues/15872 [trackBy]="trackByNodeId"-->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodePadding matTreeNodePaddingIndent="20"
                   (click)="!disabledCondition(node) && selectNode(node, $event)"
                   [class.selected]="node.isSelected"
                   [class.active]="node._id === initialActiveNodeId"
                   [class.disabled]="disabledCondition(node)">
        <div class="label">
            <mat-icon>insert_drive_file</mat-icon>
            {{node.title}} ({{node.state}})
        </div>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                   matTreeNodePadding matTreeNodePaddingIndent="20"
                   (click)="!disabledCondition(node) && selectNode(node, $event)"
                   [class.selected]="node.isSelected"
                   [class.active]="node._id === initialActiveNodeId"
                   [class.disabled]="disabledCondition(node)"
                   [class.rootNode]="node.level === 0 && node.profile === 'FOLDER'">
        <div style="width: 100%;">
            <button mat-icon-button matTreeNodeToggle
                    class="toggle"
                    [disabled]="!node.hasChildren"
                    [attr.aria-label]="'toggle ' + node.title">
                <mat-icon *ngIf="node.hasChildren" class="mat-icon-rtl-mirror" [class.expanded]="treeControl.isExpanded(node)">
                    {{isLoading === node ? 'autorenew' : 'chevron_right'}}
                </mat-icon>
            </button>

            <div class="label">
                <mat-icon>folder</mat-icon>
                <span>{{node.title}}</span>
            </div>
        </div>
    </mat-tree-node>
</mat-tree>
