@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

::ng-deep .mat-tree {
  background-color: #ffffff;
  overflow: auto;
}

// higher priority for drop class!
.drop.drop.drop, .drop-root.drop-root.hover {
  background-color: $ige-info-background !important;

  .zone {
    border: 2px dashed $ige-check-color !important;
  }
}

.header-wrapper {
  position: relative;


  .drop-root {
    padding: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .zone {
      height: 100%;
      width: 100%;
      border: 2px dashed rgba(24, 24, 24, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(24, 24, 24, 0.6);
      border-radius: 4px;

      .mat-icon {
        vertical-align: middle;
        padding-bottom: 3px;

        ::ng-deep .coloring {
          fill: rgba(24, 24, 24, 0.6);
        }
      }
    }
  }
}

mat-tree-node {
  cursor: pointer;
  min-height: 20px;

  ::ng-deep svg path {
    fill: #000000;
  }

  &.folder {
    border-color: transparent;

    &.expanded {

      .toggle {
        color: #000000de;
      }

      .expander {
        transform: rotate(90deg);
      }
    }

    &.expanded.rootNode {
       border-bottom: 1px solid $ige-background-bar;
    }

    > div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  &.rootNode {
    padding: 9px 0;
    background-color: $ige-background;

    &:hover {
      background-color: darken($ige-background, 5%) !important;
    }

    &.selected {
      background-color: darken($ige-background, 5%);
    }

    &.selected:hover {
      background-color: darken($ige-background, 10%);
    }

    &.folder {
      font-size: 16px;
    }
  }

  &.rootNode.folder,
  &.rootNode.folder + &.rootNode:not(.folder), /* Line above records in root */
  &:not(.rootNode).expanded + &:not(.rootNode) > div, /* Within folder: folder or record below expanded folder */
  &:not(.rootNode):not(.folder) + &:not(.rootNode).folder > div, /* Within folder: folder below record */
  &:not(.rootNode):not(.folder).afterExpanded > div { /* Within folder: record (of upper folder) below expanded folder's record */
    border-top: 1px solid $ige-background-bar;
  }

  &:not(.rootNode) + &.rootNode {
    /* Cover bottom border of submenu item above */
    margin-top: -1px;
    padding-top: 10px;
  }

  &:not(.rootNode).expanded + &:not(.rootNode) {
    /* Cover bottom border of parent item above */
    position: relative;
    z-index: 1;
    margin-top: -1px;
    background-color: lighten($ige-background, 10%); /* Other states' background colors have to be set important */
  }

  .label {
    display: flex;
    padding: 5px 0 5px 24px;
    line-height: 20px;
    user-select: none;

    .mat-icon {
      flex-shrink: 0;
      margin: -2px 6px -2px 0;
      font-size: 20px;
      line-height: 0;
    }

    .mat-spinner {
      margin-left: 12px;
      margin-top: 3px;
    }
  }

  &.selected {
    background-color: darken($ige-background, 5%);
  }

  &:hover {
    background-color: darken(#FFFFFF, 2.5%) !important;
  }

  &.active, &.rootNode.active, &:not(.rootNode).expanded + &.active:not(.rootNode) {
    background-color: $ige-mark-color;

    &:hover {
      background-color: darken($ige-mark-color, 5%) !important;
    }
  }

  &.disabled {
    color: #999;
    font-style: italic;
  }

  &:not(.rootNode) {
    .label {
      display: flex;
      align-items: center;
      padding: 14px 0;
      word-wrap: anywhere;
    }
  }

  &:not(.rootNode):not(.folder) {
    .label {
      padding: 8px 0;
    }
  }

  &:not(.rootNode) {
    > div {
      width: calc(100% - 24px);
      margin-left: 24px;
    }
  }

  &:not(.rootNode).folder {
    > div {
      width: calc(100% - 24px);
      margin-left: 24px;
      border-bottom: 1px solid $ige-background-bar;
    }
  }

  .toggle {
    color: $ige-comment-color;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    line-height: 27px;
  }
}

.docType {
  padding-right: 10px;
  padding-left: 15px;
  line-height: 40px;
}

.docType.expandable {
  padding-right: 10px;
  padding-left: 0;
}

.refresh {
  position: absolute;
  right: 0;
  z-index: 1000
}
