@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

:host ::ng-deep .mat-tree {
  background-color: #ffffff;
  overflow: auto;
}

// higher priority for drop class!
.drop.drop.drop,
.drop-root.drop-root.hover {
  background-color: $ige-info-background !important;

  .zone {
    border: 2px dashed $ige-check-color !important;
  }
}

.header-wrapper {
  position: relative;

  .drop-root {
    padding: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .zone {
      height: 100%;
      width: 100%;
      border: 2px dashed $ige-hint-color;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $ige-hint-color;
      border-radius: 4px;

      .mat-icon {
        vertical-align: middle;
        padding-bottom: 3px;

        ::ng-deep .coloring {
          fill: $ige-hint-color;
        }
      }
    }
  }
}

mat-tree-node {
  cursor: pointer;
  min-height: 20px;

  //&.folder {
  border-color: transparent;

  &.expanded {
    .toggle {
      color: $ige-text-color;
    }

    .expander {
      transform: rotate(90deg);
    }
  }

  &.expanded.rootNode {
    border-bottom: 1px solid $ige-background-bar;
  }

  > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .quick-child-selection button {
    height: 18px;
    width: 18px;
    line-height: 0;
    vertical-align: middle;
  }
  //}

  &.rootNode {
    padding: 3px 0;
    background-color: $ige-background;

    &:hover {
      background-color: darken($ige-background, 5%);
    }

    &.folder {
      font-size: 16px;
      padding: 8px 0;
    }
  }

  &.rootNode.folder,
  &.rootNode.folder + &.rootNode:not(.folder), /* Line above records in root */
  &:not(.rootNode).expanded + &:not(.rootNode) > div, /* Within folder: folder or record below expanded folder */
  &:not(.rootNode):not(.folder) + &:not(.rootNode).folder > div, /* Within folder: folder below record */
  &:not(.rootNode):not(.folder).afterExpanded > div {
    /* Within folder: record (of upper folder) below expanded folder's record */
    border-top: 1px solid $ige-background-bar;
  }

  &:not(.rootNode) + &.rootNode {
    /* Cover bottom border of submenu item above */
    margin-top: -1px;
    padding-top: 10px;
  }
  &:not(.rootNode) + &.active.rootNode {
    /* Do not cover for active nodes*/
    margin-top: 0;
  }

  &:not(.rootNode).expanded + &:not(.rootNode) {
    /* Cover bottom border of parent item above */
    position: relative;
    z-index: 1;
    margin-top: -1px;
    background-color: lighten(
      $ige-background,
      10%
    ); /* Other states' background colors have to be set important */

    &:hover {
      background-color: darken(#ffffff, 2.5%);
    }
  }

  .label {
    display: flex;
    padding: 0 0 0 24px;
    line-height: 20px;
    user-select: none;
    align-items: flex-start;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    mat-checkbox {
      padding-right: 10px;
      height: 0;
      margin-top: -10px;
      padding-top: 2px;
    }

    .mat-icon {
      flex-shrink: 0;
      margin: -2px 6px -2px 0;
      font-size: 20px;
      line-height: 0;
    }

    .mat-mdc-progress-spinner {
      margin-left: 12px;
      margin-top: 3px;
    }

    ige-document-icon + span {
      padding-top: 2px;
    }
  }

  &.folder mat-checkbox {
    padding-top: 0 !important;
  }

  .quick-child-selection {
    display: none;
    button {
      margin-right: 10px;
    }
  }

  &:hover {
    background-color: darken(#ffffff, 2.5%);

    .quick-child-selection {
      display: block;
    }
  }

  &.active,
  &.rootNode.active,
  &:not(.rootNode).expanded + &.active:not(.rootNode) {
    background-color: $ige-mark-color;
    box-shadow: inset 0 0 0 1px $ige-primary;

    &:hover {
      background-color: darken($ige-mark-color, 5%) !important;
    }
  }

  &.active + .mat-tree-node {
    margin-top: 0 !important;
  }
  &.active > div {
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
  }

  &.disabled {
    color: $ige-hint-color;
  }

  &:not(.rootNode) {
    .label {
      display: flex;
      align-items: flex-start;
      padding: 14px 0;
      word-wrap: anywhere;
    }
  }

  &:not(.rootNode):not(.folder) {
    .label {
      padding: 6px 0;
    }
  }

  &:not(.rootNode) {
    > div {
      width: calc(100% - 24px);
      margin-left: 24px;
    }
  }

  &:not(.rootNode).folder {
    > div {
      width: calc(100% - 24px);
      margin-left: 24px;
      border-bottom: 1px solid $ige-background-bar;
    }
  }

  .toggle {
    color: $ige-comment-color;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    line-height: 30px;
  }
}

.docType {
  padding-right: 10px;
  padding-left: 15px;
  line-height: 40px;
}

.docType.expandable {
  padding-right: 10px;
  padding-left: 0;
}

.refresh {
  position: absolute;
  right: 0;
  z-index: 1000;
}

// TODO: use class disabled instead?
.readonly {
  color: $ige-comment-color;
}
ige-document-icon {
  margin-right: 6px;
}

.folder.intranet .label {
  color: $ige-primary;
}

.folder.amtsintern .label {
  color: $error-color;
}
