<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30"
               packages="de.ingrid.igeserver.persistence.orientdb"
>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%5level [%d{yyyy-MM-dd HH:mm:ss}] .(%40.40F:%L) - %m%n" />
    </Console>
    <RollingFile name="LogFile" fileName="logs/app.log" filePattern="logs/app.log.%i">
      <PatternLayout pattern="%5level [%d{yyyy-MM-dd HH:mm:ss}] (%F:%L) - %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="9" />
    </RollingFile>
    <OrientDBAppender name="DataHistoryDB" database="DataHistory" table="log" />
  </Appenders>
  <Loggers>
    <Logger name="de.ingrid.igeserver.persistence.filter.DataHistoryLogger" level="info" additivity="false">
      <AppenderRef ref="DataHistoryDB" />
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="de.ingrid" level="info" additivity="false">
      <AppenderRef ref="LogFile" />
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="org.keycloak" level="info" additivity="false">
      <AppenderRef ref="LogFile" />
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="springfox" level="info" additivity="false">
      <AppenderRef ref="LogFile" />
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="info">
      <AppenderRef ref="LogFile" />
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
