<div #leaflet [class.passive]="!hasAnyLocations"></div>

<div class="button-wrapper text-center" [class.has-spatial]="hasAnyLocations">
    <div *ngIf="!hasAnyLocations" class="spatialBtnText">Erstellen Sie einen Raumbezug<span
        *ngIf="to.required">*</span></div>
    <button mat-fab class="spatialBtn" color="primary" (click)="openSpatialDialog()">
        <mat-icon svgIcon="spatial-rect"></mat-icon>
    </button>
</div>

<div *ngIf="isHighlighted" class="resetBtn">
    <button mat-flat-button (click)="highlightLocation(null)">Zurücksetzen</button>
</div>

<ige-spatial-list [locations]="locationsWithColor$"
                  (selectLocation)="highlightLocation($event)"
                  (edit)="openSpatialDialog($event)"
                  (remove)="removeLocation($event)"></ige-spatial-list>
