<div #leaflet [class.passive]="!hasAnyLocations"></div>

<div class="button-wrapper text-center" [class.has-spatial]="hasAnyLocations">
    <div *ngIf="!hasAnyLocations" class="spatialBtnText">
        Erstellen Sie einen Raumbezug<span *ngIf="to.required">*</span>
    </div>
    <button type="button" mat-fab class="spatialBtn" color="primary" (click)="openSpatialDialog()"
            [ngClass]="{ 'has-error': formFieldControl.errorState && formControl.errors?.required }">
        <mat-icon svgIcon="spatial-rect"></mat-icon>
    </button>
</div>

<div *ngIf="mapHasMoved" class="resetBtn">
    <button type="button" mat-flat-button (click)="highlightLocation(null)">Zurücksetzen</button>
</div>

<ige-form-error *ngIf="formFieldControl.errorState && formControl.errors?.required">Bitte erstellen Sie einen Raumbezug</ige-form-error>

<ige-spatial-list *ngIf="hasAnyLocations"
                  [locations]="locationsWithColor$"
                  (selectLocation)="highlightLocation($event)"
                  (edit)="openSpatialDialog($event)"
                  (remove)="removeLocation($event)"></ige-spatial-list>
