@import "../../../variables";

.hide-divider .mat-divider-horizontal {
  visibility: hidden;
}

.doc-item {

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0;

  &.single {
    margin: 0;
  }

  ::ng-deep .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .mat-icon {
    margin-right: 12px;
    padding: 0;

    &.marker {
      padding-left: 12px;

      ::ng-deep polygon {
        fill: limegreen;
      }
    }
  }


  h3.mat-line {
    display: flex;
    align-items: center;
  }

  .card-title {
    flex: 1 1 auto;
    white-space: normal;
  }

  .date {
    padding: 0 12px;
  }

  ::ng-deep .mat-list-text {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  ::ng-deep &.mat-list-base {
    mat-list-option {
      height: 48px !important;
      font-size: 16px;
    }
  }

}

.marker-space {
  margin-left: 36px;
}

.hide-bg-selection.mat-list-single-selected-option {
  background: #00000000;
}

::ng-deep .tooltip-medium {
  font-size: 16px;
}
