.hide-divider .mat-divider-horizontal {
  visibility: hidden;
}

.doc-item {

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 8px;

  &.single {
    margin: 0;
  }

  ::ng-deep .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .mat-icon {
    margin-right: 12px;
  }
}

.marker-space {
  margin-left: 38px;
}

.hide-bg-selection.mat-list-single-selected-option {
  background: #00000000;
}

::ng-deep .marker polygon {
  fill: limegreen;
}
