@import "src/variables";

:host {
  ::ng-deep .mdc-list-item__end {
    display: none;
  }
}

.hide-divider .mat-divider-horizontal {
  visibility: hidden;
}

mat-divider {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.disabled .card-title {
  color: $ige-comment-color;
}

.doc-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 0;

  &.single {
    margin: 0;
    align-items: center;

    .mat-mdc-list-item-icon {
      align-self: unset;
    }
  }

  mat-list-option {
    height: auto !important;
    min-height: 48px;

    h3 {
      margin: 8px 0;
    }
  }

  &.dense {
    mat-list-option {
      height: 40px !important;
    }
  }

  .mat-icon {
    &.marker {
      margin: 0 0 0 16px;
    }
    &.extra-padding {
      margin-right: 16px;
    }
  }

  .doc-item-content {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: normal;
  }

  .card-title {
    flex: 1 1 auto;
    white-space: normal;
    line-height: 24px;
  }

  .date {
    padding: 0 12px;
  }
}

.hide-bg-selection.mat-list-single-selected-option {
  background: #00000000;
}

ige-document-icon {
  margin-right: 16px !important;
}
