<mat-selection-list *ngIf="docs" style="padding-top: 0" class="doc-item" [multiple]="false" [class.dense]="denseMode" [class.hide-divider]="hideDivider">
    <mat-list-option *ngFor="let doc of docs | async" (click)="makeSelection(doc)" [class.hide-bg-selection]="showSelection">

        <mat-icon [class.marker-space]="showSelection && currentSelection !== doc" matListIcon [svgIcon]="doc.icon"></mat-icon>
        <mat-icon *ngIf="showSelection && currentSelection === doc" class="marker" matListIcon svgIcon="baseline-check-24px"></mat-icon>

        <h3 matLine>
            {{doc.title}}
            <span *ngIf="!hideDate" class="pull-right">{{doc._modified | dateAgo}}</span>
        </h3>
        <mat-divider></mat-divider>
    </mat-list-option>
</mat-selection-list>

<div *ngIf="doc" (keyup.enter)="select.next(doc)" class="doc-item" fxLayout="row" (click)="makeSelection(doc)">
    <mat-icon *ngIf="showSelection && currentSelection === doc" class="marker" matListIcon svgIcon="baseline-check-24px"></mat-icon>
    <mat-icon [class.marker-space]="showSelection && currentSelection !== doc" matListIcon [svgIcon]="doc.icon"></mat-icon>

    <span matLine>
        {{doc.title}}
        <span  *ngIf="!hideDate" class="pull-right">{{doc._modified | dateAgo}}</span>
    </span>
</div>
