<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Benachrichtigung hinzufügen</h1>
    </div>

    <mat-dialog-content [formGroup]="form">
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Benachrichtigungstext</mat-label>
            <textarea matInput formControlName="text"> </textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Benachrichtigung anzeigen bis (optional)</mat-label>
            <input
                data-cy="expire-date-input"
                formControlName="date"
                igeFocus
                matInput
                [matDatepicker]="picker"
                placeholder="Datum auswählen"
            />
            <mat-datepicker-toggle
                matSuffix
                data-cy="expire-date"
                [for]="picker"
            ></mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div [hidden]="userInfo.role != 'ige-super-admin'">
            <div class="toggle-wrapper">
                <mat-slide-toggle
                    data-cy="toggle-for-all-catalogs"
                    labelPosition="before"
                    color="accent"
                    class="stretch"
                    [checked]="currentCatalog"
                    (change)="slideToggleChange($event)"
                >
                    Für alle Kataloge
                </mat-slide-toggle>
            </div>
            <div>
                <mat-hint matCardSubtitle
                    >Bei aktivierter Option wird die Nachricht in allen
                    Katalogen angezeigt, ansonsten nur in diesem Katalog.
                </mat-hint>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="primary">Abbrechen</button>
        <div class="flex-1"></div>
        <button
            mat-flat-button
            color="primary"
            data-cy="create-notification"
            disabled="{{ !form.valid }}"
            (click)="this.createMessage()"
        >
            Hinzufügen
        </button>
    </mat-dialog-actions>
</div>
