/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
  width: 450px;

  .no-selection-text {
    padding-bottom: 6px;
  }
}

.toggle-wrapper {
  padding-bottom: 10px;
  text-align: end;
}

.mat-mdc-dialog-title {
  cursor: move;
}

:host {
  ::ng-deep .label-wrapper {
    padding-top: 0.8em !important;
  }
}
