.mat-selection-list {
  padding-top: 0;
}

::ng-deep ige-chip-dialog {

  .mat-list-base .mat-list-item {

    .mat-list-item-content-reverse {
      flex-direction: row;

      .mat-list-text {
        padding-left: 16px !important;
        padding-right: 0 !important;
      }

    }

  }
}
