<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Auswahl treffen</h1>
    </div>

    <mat-dialog-content>
        <mat-selection-list
            #choice
            [(ngModel)]="data.model"
            data-cy="chip-dialog-option-list"
        >
            @for (option of data.options | async; track option) {
                @if (option.value === "_SEPARATOR_") {
                    <mat-divider class="space-bottom"></mat-divider>
                } @else {
                    <mat-list-option [value]="option.value">
                        {{ option.label }}
                    </mat-list-option>
                }
            }
        </mat-selection-list>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close data-cy="chip-dialog-abort">
            Abbrechen
        </button>
        <div class="flex-1"></div>
        <button
            mat-flat-button
            color="primary"
            data-cy="chip-dialog-confirm"
            [mat-dialog-close]="getSelection(choice.selectedOptions.selected)"
        >
            Übernehmen
        </button>
    </mat-dialog-actions>
</div>
