/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
  height: 420px;
  max-width: 490px;

  display: flex;
  flex-direction: column;

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .no-selection-text {
    padding-bottom: 6px;
  }
}

.mat-mdc-dialog-title {
  cursor: move;
}
