ige-dialog-template {
  max-height: 530px;

  display: flex;
  flex-direction: column;

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .no-selection-text {
    padding-bottom: 6px;
  }
}

.mat-mdc-dialog-title {
  cursor: move;
}
