<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div cdkDragHandle class="dialog-title-wrapper">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">Benutzer hinzufügen</span>
        </h2>
    </div>
    <mat-dialog-content [formGroup]="form">
        <div class="no-selection-text">
            Wählen Sie einen bestehenden Benutzernamen aus oder legen Sie ein
            neues Login an.
        </div>
        <div *ngIf="userSub && !userSub.closed" class="spinner">
            <mat-spinner></mat-spinner>
        </div>
        <formly-form
            *ngIf="userSub?.closed"
            [form]="form"
            [fields]="formlyFieldConfig"
            [model]="model"
            [options]="options"
        >
        </formly-form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="primary">Abbrechen</button>
        <div class="flex-1"></div>
        <button
            mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            (click)="this.createUser()"
        >
            Anlegen
        </button>
    </mat-dialog-actions>
</div>
