<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Benutzer importieren</span>
    </h2>
</div>
<mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 100%">
        <mat-label>Rolle wählen</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%" [class.hide]="noAvailableUsers">
        <mat-label>Benutzer auswählen</mat-label>
        <mat-select formControlName="user">
            <mat-option *ngFor="let user of users | async" [value]="user">
                {{user.firstName}} {{user.lastName}} ({{user.login}})
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="noAvailableUsers">Es gibt keine verfügbaren Nutzer in Keycloak</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div fxFlex></div>
    <button mat-button color="primary"
            [disabled]="form.invalid"
            [mat-dialog-close]="form.value">Ok
    </button>
</mat-dialog-actions>
