<page-template label="Benachrichtigungen">
    <div left-side>
        Auf dieser Seite können die Benachrichtigungen an alle Benutzer
        verwaltet werden
    </div>

    <div main-header class="flex-col justify-content-start align-items-stretch">
        <ige-add-button
            buttonType="flat"
            data-cy="open-add-notification"
            (add)="showAddMessageDialog()"
        ></ige-add-button>
    </div>

    <div main-content>
        <ige-card-box label="Für alle Kataloge">
            <ng-container
                [ngTemplateOutlet]="messageContent"
                [ngTemplateOutletContext]="{
                    messages: dataSourceAllCatalog,
                }"
            >
            </ng-container>
        </ige-card-box>

        <ige-card-box label="Für diesen Katalog">
            <ng-container
                [ngTemplateOutlet]="messageContent"
                [ngTemplateOutletContext]="{
                    messages: dataSourceCurrentCatalog,
                }"
            >
            </ng-container>
        </ige-card-box>
    </div>

    <ng-template #messageContent let-messages="messages">
        <table mat-table [dataSource]="messages" class="width-100">
            <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef>Text</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.message.text }}
                </td>
            </ng-container>
            <ng-container matColumnDef="_expires">
                <th mat-header-cell *matHeaderCellDef>Gültig bis</th>
                <td mat-cell *matCellDef="let element">
                    {{ element._expires | date: "dd.MM.yyyy" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="_actions_">
                <th mat-header-cell *matHeaderCellDef>Aktion</th>
                <td mat-cell *matCellDef="let element">
                    <button
                        mat-icon-button
                        [disabled]="
                            element.catalog == null &&
                            userInfo.role != 'ige-super-admin'
                        "
                        (click)="removeMessage(element._id)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </ng-template>
</page-template>
