@import "src/variables";

:host {
  overflow: auto;
}

.mat-column-_expires {
  width: 120px;
}

.mat-column-_actions_ {
  width: 52px;
  /*min-width: 40px;
  flex: unset;
  display: flex;
  justify-content: center;*/
}

ige-card-box {
  display: block;
  padding-bottom: 24px;
}
