<ige-dialog-template label="GetCapabilities-Assistent" (submit)="submit()">
    <ng-container content>
        <div class="display-flex flex-column centered">
            <div class="display-flex baselined gap">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>URL</mat-label>
                    <input
                        #url
                        matInput
                        placeholder="https://"
                        value="https://geoservices.krzn.de/security-proxy/services/wfs_moer_stolpersteine?REQUEST=GetCapabilities&SERVICE=WFS"
                    />
                </mat-form-field>
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="analyze(url.value)"
                    [disabled]="url.value.length === 0 || isAnalyzing"
                >
                    Analyse
                </button>
            </div>

            <mat-spinner
                *ngIf="isAnalyzing"
                mode="indeterminate"
                diameter="48"
            ></mat-spinner>
        </div>

        <div *ngIf="error">{{ error }}</div>

        <mat-selection-list *ngIf="report">
            <mat-list-option *ngIf="report.title" value="title">
                <div matListItemTitle>Titel</div>
                <div matListItemLine>{{ report.title }}</div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.description"
                value="description"
                lines="3"
            >
                <div matListItemTitle>Beschreibung</div>
                <span>{{ report.description }}</span>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.versions.length > 0"
                value="versions"
            >
                <div matListItemTitle>Versionen</div>
                <div matListItemLine *ngFor="let version of report.versions">
                    {{ version.value }}
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option *ngIf="report.fees" value="fees">
                <div matListItemTitle>Nutzungsbedingungen</div>
                <div matListItemLine>
                    {{ report.fees?.value }}
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.accessConstraints.length > 0"
                value="accessConstraints"
            >
                <div matListItemTitle>Zugangsbeschränkungen</div>
                <div
                    matListItemLine
                    *ngFor="let constraint of report.accessConstraints"
                >
                    {{ constraint.value }}
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.onlineResources.length > 0"
                value="onlineResources"
            >
                <div matListItemTitle>Verweise</div>
                <div
                    matListItemLine
                    *ngFor="let link of report.onlineResources"
                >
                    {{ link.url }} ({{ link.type?.value }})
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.keywords.length > 0"
                value="keywords"
            >
                <div matListItemTitle>Schlagworte</div>
                <div matListItemLine *ngFor="let keyword of report.keywords">
                    {{ keyword }}
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.boundingBoxes.length > 0"
                value="boundingBoxes"
            >
                <span matListItemTitle
                    >Raumbezüge {{ report.boundingBoxes.length }}</span
                >
                <span>
                    <ng-container *ngFor="let bbox of report.boundingBoxes">
                        <span *ngIf="bbox.name">{{ bbox.name }} => </span>
                        <span
                            >Lat1: {{ bbox.latitude1 }} Lon1:
                            {{ bbox.longitude1 }} Lat2:
                            {{ bbox.latitude2 }} Lon2:
                            {{ bbox.longitude2 }}
                        </span>
                    </ng-container>
                </span>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.spatialReferenceSystems.length > 0"
                value="spatialReferenceSystems"
            >
                <div matListItemTitle>Raumbezugssysteme</div>
                <span
                    matListItemLine
                    *ngFor="let srs of report.spatialReferenceSystems"
                >
                    {{ srs.value }}
                </span>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option *ngIf="report.address" value="address">
                <div matListItemTitle>Adresse</div>
                <div matListItemLine>
                    {{ report.address.firstName }} {{ report.address.lastName }}
                    {{ report.address.organization }}
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.operations.length > 0"
                value="operations"
            >
                <span matListItemTitle>Operationen</span>
                <ng-container *ngFor="let operation of report.operations">
                    <span matListItemLine>{{ operation.name }}</span>
                    <span
                        *ngFor="let uri of operation.addressList"
                        matListItemLine
                        class="intend"
                        >{{ uri }}
                    </span>
                </ng-container>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.timeReference.length > 0"
                value="timeReference"
            >
                <div matListItemTitle>Zeitbezug der Resource</div>
                <div
                    matListItemLine
                    *ngFor="let timeReference of report.timeReference"
                >
                    <span
                        >{{
                            timeReference.type.toString()
                                | codelist : "502"
                                | async
                        }}: {{ timeReference.date | date }}</span
                    >
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.timeSpans.length > 0"
                value="timeSpans"
            >
                <div matListItemTitle>Zeitspannen</div>
                <div matListItemLine *ngFor="let timeSpan of report.timeSpans">
                    {{ timeSpan | json }}
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.conformities.length > 0"
                value="conformities"
            >
                <div matListItemTitle>Konformitäten</div>
                <div
                    matListItemLine
                    *ngFor="let conformity of report.conformities"
                >
                    <span
                        >{{
                            conformity.level.toString()
                                | codelist : "6000"
                                | async
                        }}: {{ conformity.specification }}</span
                    >
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option
                *ngIf="report.coupledResources.length > 0"
                value="coupledResources"
            >
                <div matListItemTitle>Gekoppelte Daten</div>
                <div
                    matListItemLine
                    *ngFor="let coupledResource of report.coupledResources"
                >
                    {{ coupledResource.title }}
                </div>
            </mat-list-option>
        </mat-selection-list>
    </ng-container>

    <ng-container actions *ngIf="report">
        <mat-checkbox
            class="toggle-checkbox"
            [checked]="allChecked"
            (change)="toggleAll($event.checked)"
        >
            Alles auswählen
        </mat-checkbox>
    </ng-container>
</ige-dialog-template>
