@use "@angular/material" as mat;

@include mat.list-density(0);

::ng-deep {
  .mat-mdc-list-item {
    height: auto !important;
  }

  .mdc-list-item__primary-text::before,
  .mdc-list-item__content::after {
    content: "";
    height: 10px !important;
    display: block !important;
  }
}

mat-spinner {
  display: inline-block;
  vertical-align: middle;
}

.baselined {
  align-items: baseline;
  width: 100%;
}

.intend {
  padding-left: 12px;
}

.toggle-checkbox {
  margin-right: 12px;
}

mat-selection-list {
  overflow: auto;
}

mat-list-option {
  border-bottom: 1px solid #dddddd;
}

ige-breadcrumb {
  display: inline;
}
