<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Information</span>
    </h2>
</div>

<mat-dialog-content>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <div mat-line>Version</div>
            <div mat-line>{{version.version}}</div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div mat-line>Datum</div>
            <div mat-line>{{version.date | date:'dd.LL.yyyy HH:mm'}}</div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div mat-line>GIT Commit ID</div>
            <div mat-line>{{version.commitId}}</div>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
