<mat-tab-group
    animationDuration="0"
    [dynamicHeight]="true"
    class="page-tabs"
    [selectedIndex]="selectedIndex | async"
    (focusChange)="startSearchByTab($event.index)"
    (selectedIndexChange)="handleTabChange($event)"
>
    <mat-tab label="Erweiterte Suche">
        <page-template label="Erweiterte Suche">
            <ige-facets
                left-side
                [model]="facetModel"
                [parameter]="facetParameters"
                [forAddresses]="searchClass === 'selectAddresses'"
                [refreshView]="facetViewRefresher"
                (isInitialized)="facetInitialized.next($event)"
                (update)="updateFilter($event)"
            ></ige-facets>

            <div main-header fxFlex fxLayout="column">
                <div fxLayout="row" class="white-bg">
                    <mat-form-field
                        appearance="outline"
                        style="min-width: 220px"
                        class="straight-border-right prefix-text"
                    >
                        <span matPrefix class="prefix">Suche nach:</span>
                        <mat-select
                            (selectionChange)="changeSearchClass($event.value)"
                            [(ngModel)]="searchClass"
                            [disabled]="!(facetInitialized | async)"
                        >
                            <mat-option value="selectDocuments"
                                >Dokumente
                            </mat-option>
                            <mat-option value="selectAddresses"
                                >Adressen
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="width-100 straight-border-left straight-border-right"
                    >
                        <!--                        <mat-label>Suche</mat-label>-->
                        <input
                            matInput
                            placeholder="Begriff, ID oder feldbezogene Suche eingeben ..."
                            [formControl]="query"
                        />
                        <!-- TODO add when implemented
                        <mat-hint
                            >Für feldbezogene Suche den Feldtitel im Format
                            "title: suchbegriff" eingeben
                        </mat-hint>
                    -->
                    </mat-form-field>
                    <div class="do-search-button">
                        <button mat-flat-button mat-button color="primary">
                            Suchen
                        </button>
                    </div>
                </div>
                <div class="save-search-button">
                    <button mat-button color="primary" (click)="saveQuery()">
                        Suche Speichern
                    </button>
                </div>
            </div>

            <div main-content fxFlex>
                <ige-result-table
                    [result]="result"
                    [isLoading]="isSearching"
                    (open)="loadDataset($event)"
                    (remove)="removeDataset($event)"
                ></ige-result-table>
            </div>
        </page-template>
    </mat-tab>

    <mat-tab label="SQL Suche">
        <ige-tab-sql
            (query)="updateSqlQueryState($event)"
            (save)="saveQuery(true)"
            fxFlex
        >
            <ige-result-table
                *ngIf="!error"
                [result]="result"
                [isLoading]="isSearching"
                (open)="loadDataset($event)"
            ></ige-result-table>

            <div *ngIf="error" class="error-container">
                <div class="error-box">
                    Die SQL-Anfrage enthält einen Fehler
                </div>
                <div class="icon">
                    <mat-icon>error_outline</mat-icon>
                </div>
                <p class="message">Bitte korrigieren Sie Ihre Anfrage</p>
                <div>{{ error }}</div>
            </div>
        </ige-tab-sql>
    </mat-tab>

    <mat-tab label="Gespeicherte Suchen">
        <!-- Lazy Load Tab -->
        <!--        <ng-template matTabContent>-->
        <page-template label="Gespeicherte Suchen">
            <div left-side>
                Hier können sie Ihre zuvor gespeicherten Suchanfragen wieder
                laden.
            </div>

            <ige-query-manager
                main-content
                (selection)="loadQuery($event)"
            ></ige-query-manager>
        </page-template>
        <!--        </ng-template>-->
    </mat-tab>
</mat-tab-group>
