<mat-tab-group animationDuration="0" [dynamicHeight]="true" class="page-tabs" [selectedIndex]="selectedIndex | async" (selectedIndexChange)="handleTabChange($event)">

    <mat-tab label="Erweiterte Suche">
        <page-template title="Erweiterte Suche">
            <ige-facets help [model]="filter.model"
                        [parameter]="filter.fieldsWithParameters"
                        [forAddresses]="searchClass === 'selectAddresses'"
                        (update)="updateFilter($event)"></ige-facets>

            <div main fxFlex fxLayout="column">

                <div fxLayout="row" class="white-bg">
                    <mat-form-field appearance="outline" style="min-width: 220px"
                                    class="straight-border-right prefix-text">
                        <span matPrefix class="prefix">Suche nach:</span>
                        <mat-select (selectionChange)="changeSearchClass($event.value)" [(ngModel)]="searchClass">
                            <mat-option value="selectDocuments">Dokumente</mat-option>
                            <mat-option value="selectAddresses">Adressen</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="width-100 straight-border-left">
                        <!--                        <mat-label>Suche</mat-label>-->
                        <input matInput placeholder="Begriff, ID oder feldbezogene Suche eingeben ..."
                               [formControl]="query">
                        <mat-hint>Für feldbezogene Suche den Feldtitel im Format "title: suchbegriff" eingeben
                        </mat-hint>
                    </mat-form-field>
                </div>

                <ige-result-table [result]="result"
                                  (open)="loadDataset($event)"
                                  (remove)="removeDataset($event)"
                                  (save)="saveQuery()"></ige-result-table>

            </div>
        </page-template>
    </mat-tab>

    <mat-tab label="SQL Suche">
        <page-template title="SQL Suche">
            <div help>
                <p>Hier können Sie komplexe SQL Anfragen abschicken, wenn die erweiterte Suche nicht ausreicht.</p>
                <p>Hier sind ein paar Beispiele:</p>
                <mat-chip-list>
                    <mat-chip *ngFor="let example of sqlExamples"
                              (click)="updateSqlQueryState(example.value)">{{example.label}}</mat-chip>
                </mat-chip-list>
            </div>

            <ige-tab-sql main (query)="updateSqlQueryState($event)" fxFlex>
                <ige-result-table *ngIf="!error" [result]="result"
                                  (open)="loadDataset($event)"
                                  (save)="saveQuery(true)"></ige-result-table>

                <div *ngIf="error" class="error-container">
                    <div class="error-box">
                        Die SQL-Anfrage enthält einen Fehler
                    </div>
                    <div class="icon">
                        <mat-icon>error_outline</mat-icon>
                    </div>
                    <p class="message">Bitte korrigieren Sie Ihre Anfrage</p>
                    <div>{{error}}</div>
                </div>
            </ige-tab-sql>
        </page-template>
    </mat-tab>

    <mat-tab label="Gespeicherte Suchen">
        <!-- Lazy Load Tab -->
<!--        <ng-template matTabContent>-->
            <page-template title="Gespeicherte Suchen">
                <div help>
                    <p>Hilfetext, in dem die Favoriten-Funktion der Suche erläutert wird.</p>
                    <p>Ihre Suchanfragen können Sie einfach durch Klick auf das Stern-Icon abspeichern. Sie finden die Funktion rechts über der Ergebnisliste.</p>
                </div>

                <ige-query-manager main (selection)="loadQuery($event)"></ige-query-manager>
            </page-template>
<!--        </ng-template>-->
    </mat-tab>
</mat-tab-group>


