<mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
    <mat-step [completed]="datasetSelected">
        <ng-template matStepLabel>Datensatz auswählen</ng-template>
        <ige-tree (selected)="selectDatasets($event)"></ige-tree>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Optionen</ng-template>
            <mat-radio-group formControlName="option" fxLayout="column" fxLayoutGap="10px">
                <mat-radio-button name="exportOption" value="dataset">nur diesen Datensatz</mat-radio-button>
                <mat-radio-button name="exportOption" value="sub">alle untergeordneten</mat-radio-button>
                <mat-radio-button name="exportOption" value="thisAndSub">dieser und alle untergeordneten</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Exportieren</ng-template>

        Format: ???

        <button mat-button (click)="runExport()">Export starten</button>
    </mat-step>
</mat-horizontal-stepper>
