<page-template label="Export" *transloco="let t; read: 'export'">
    <div left-side>
        Hier können Sie ein oder mehrere Dateien exportieren.
        <p>
            Es stehen Ihnen verschiedene Formate für den Export zur Verfügung.
            In der Regel kann nur die veröffentlichte Version eines Datensatzes
            exportiert werden, nur beim internen Datenformat (IGE) kann auch die
            Bearbeitungsversion exportiert werden.
        </p>
    </div>
    <section
        main-header
        class="flex-row justify-content-center align-items-center"
    >
        <div *featureFlag="'AP4'">
            Letzter Export erfolgt am xx.xx.xxxx, xx:xx:xx (xx Datensätze)

            <button
                mat-icon-button
                class="dark menu-button"
                [class.expanded]="showMore"
                [matTooltip]="showMore ? 'Schließen' : 'Öffnen'"
                (click)="showMore = !showMore"
            >
                <mat-icon class="animated">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </section>

    <section main-content>
        <mat-horizontal-stepper #stepper [linear]="true" labelPosition="bottom">
            <mat-step [completed]="datasetSelected">
                <ng-template matStepLabel>{{ t("formSingular") }}</ng-template>
                <ige-tree
                    #treeComponent
                    (selected)="selectDatasets($event)"
                ></ige-tree>

                <mat-divider></mat-divider>

                <div
                    class="action-bar flex-row justify-content-end align-items-stretch"
                >
                    <button
                        mat-flat-button
                        color="primary"
                        matStepperNext
                        [disabled]="!datasetSelected"
                    >
                        Weiter
                    </button>
                </div>
            </mat-step>
            <mat-step [stepControl]="optionsFormGroup">
                <form [formGroup]="optionsFormGroup">
                    <ng-template matStepLabel>Optionen wählen</ng-template>

                    <div class="section-title">Ort</div>
                    <ige-breadcrumb [path]="path"></ige-breadcrumb>

                    <div class="section-title padding-vertical">Format</div>
                    <div class="flex-row gap-12">
                        <mat-form-field
                            appearance="outline"
                            class="white-bg"
                            style="width: 300px"
                        >
                            <mat-select
                                formControlName="format"
                                (selectionChange)="updateDraftsCheckbox($event)"
                            >
                                <mat-option
                                    *ngFor="let format of exportFormats | async"
                                    [value]="format"
                                >
                                    {{ format.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-checkbox
                            *ngIf="showDraftsCheckbox"
                            formControlName="drafts"
                        >
                            Auch Entwürfe exportieren
                        </mat-checkbox>
                    </div>
                </form>
                <div class="action-bar flex-row gap-12">
                    <button mat-button color="primary" (click)="cancel()">
                        Abbrechen
                    </button>
                    <div class="flex-1"></div>
                    <button mat-button color="primary" matStepperPrevious>
                        Zurück
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        matStepperNext
                        (click)="runExport()"
                        [disabled]="optionsFormGroup.invalid"
                    >
                        Weiter
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Vorschau</ng-template>

                <div
                    class="flex-col justify-content-center align-items-center"
                    *ngIf="exportResult"
                >
                    <div class="section-title">Exportdatei erstellt:</div>
                    <mat-icon
                        class="big-icon gray"
                        svgIcon="Fachaufgabe"
                    ></mat-icon>
                    <ng-container
                        *ngIf="
                            exportResult?.body?.type === 'application/zip';
                            else showPreviewButton
                        "
                    >
                        Für ZIP-Dateien gibt es keine Vorschau.
                    </ng-container>
                    <ng-template #showPreviewButton>
                        <button mat-stroked-button (click)="showPreview()">
                            Vorschau
                        </button>
                    </ng-template>
                </div>

                <div
                    *ngIf="!exportFinished"
                    class="flex-row justify-content-center align-items-center"
                >
                    <mat-spinner></mat-spinner>
                </div>

                <div class="action-bar flex-row gap-12">
                    <button mat-button color="primary" (click)="cancel()">
                        Abbrechen
                    </button>
                    <div class="flex-1"></div>
                    <button mat-button color="primary" matStepperPrevious>
                        Zurück
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        matStepperNext
                        [disabled]="!exportResult"
                        (click)="downloadExport()"
                    >
                        Herunterladen
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Fertig</ng-template>

                <div class="flex-col justify-content-center align-items-center">
                    <div class="section-title">Datei exportiert</div>
                    <mat-icon class="big-icon success-color"
                        >check_circle_outline
                    </mat-icon>
                    <div>
                        Die Datei wurde in Ihrem Download-Ordner abgelegt.
                    </div>
                </div>
                <div class="action-bar flex-row">
                    <div class="flex-1"></div>
                    <button mat-flat-button color="primary" (click)="cancel()">
                        Neuer Export
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </section>
</page-template>

<pre *ngIf="exportResult">{{ exportResult }}</pre>
