<mat-horizontal-stepper [linear]="true" labelPosition="bottom">
    <mat-step [completed]="datasetSelected">
        <ng-template matStepLabel>Datensatz auswählen</ng-template>
        <ige-tree (selected)="selectDatasets($event)"></ige-tree>
        <div class="wizard-footer">
            <button mat-button matStepperNext [disabled]="!datasetSelected">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Optionen</ng-template>
            <mat-radio-group formControlName="option" fxLayout="column" fxLayoutGap="10px">
                <mat-radio-button name="exportOption" value="dataset">nur diesen Datensatz</mat-radio-button>
                <mat-radio-button name="exportOption" value="sub">alle untergeordneten</mat-radio-button>
                <mat-radio-button name="exportOption" value="thisAndSub">dieser und alle untergeordneten</mat-radio-button>
            </mat-radio-group>
            <div class="wizard-footer">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Exportieren</ng-template>

        <mat-form-field>
            <mat-label>Format</mat-label>
            <mat-select [(ngModel)]="formatSelection">
                <mat-option *ngFor="let format of exportFormats | async" [value]="format.type">
                    {{format.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="wizard-footer">
            <button mat-button (click)="runExport()">Export starten</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<pre *ngIf="exportResult">{{exportResult | json}}</pre>
