<div class="llm-prompt-container">
    <h1 class="page-title left-side" style="font-size:34px">🤖 Assistent</h1>

    <div class="messages-container">
        @for (message of messages(); track message.id) {
            <div class="message" [ngClass]="{
        'user-message': message.fromUser,
        'ai-message': !message.fromUser,
        'generating': message.generating
      }">
                <span class="message-prefix">{{ message.fromUser ? '👤' : '🤖' }}</span>
                @if (message.fromUser) {
                    <pre>{{ message.text }}</pre>
                } @else {
                    <markdown [data]="message.text"></markdown>
                }
            </div>
        }
    </div>

    <form #form="ngForm" (ngSubmit)="sendMessage(form, form.value.message)" class="message-form">
        <input
            name="message"
            placeholder="Type your message here..."
            ngModel
            required
            autofocus
            [disabled]="generatingInProgress()"
            class="message-input"
        />
        <button
            type="submit"
            [disabled]="generatingInProgress() || form.invalid"
            class="send-button"
        >
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>
