<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" #contextCodeListContainer>
    <div cdkDragHandle class="dialog-title-wrapper">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close data-cy="dlg-close">
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">Eintrag bearbeiten</span>
        </h2>
    </div>
    <mat-dialog-content class="flex-col" [formGroup]="formGroup">
        <div class="flex-col">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Id</mat-label>
                    <input
                        matInput
                        igeFocus
                        formControlName="id"
                        data-cy="codelist-entry-id"
                    />
                    <mat-error>Die ID ist bereits vergeben</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Beschreibung</mat-label>
                <textarea
                    matInput
                    formControlName="description"
                    data-cy="codelist-entry-description"
                ></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Data</mat-label>
                <input
                    matInput
                    placeholder='{"url":"https://xxx"}'
                    formControlName="data"
                    data-cy="codelist-entry-data"
                />
            </mat-form-field>
        </div>

        <mat-divider *ngIf="fields.length"></mat-divider>

        <div formArrayName="fields">
            <div
                *ngFor="let field of fields; let i = index"
                [formGroupName]="i"
                class="flex-row gap-24"
            >
                <mat-form-field appearance="outline">
                    <mat-label>Schlüssel</mat-label>
                    <input
                        matInput
                        formControlName="key"
                        [attr.data-cy]="'codelist-entry-key-' + i"
                    />
                </mat-form-field>
                <mat-form-field class="flex-1" appearance="outline">
                    <mat-label>Titel</mat-label>
                    <input
                        matInput
                        formControlName="value"
                        [attr.data-cy]="'codelist-entry-title-' + i"
                    />
                </mat-form-field>
                <button mat-icon-button (click)="removeEntry(i)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <ige-add-button (add)="addEntry()"></ige-add-button>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close>Abbrechen</button>
        <div class="flex-1"></div>
        <button
            mat-flat-button
            color="primary"
            [disabled]="formGroup.invalid"
            (click)="closeWithResult()"
        >
            {{ isNew ? "Hinzufügen" : "Ändern" }}
        </button>
    </mat-dialog-actions>
</div>
