<mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput igeFocus [(ngModel)]="model.id">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input matInput placeholder='{\"url\":\"https://xxx\"}' [(ngModel)]="model.data">
    </mat-form-field>
    <div *ngFor="let field of fields; let i = index" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
            <mat-label>Schlüssel</mat-label>
            <input matInput [(ngModel)]="field.key">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Titel</mat-label>
            <input matInput [(ngModel)]="field.value">
        </mat-form-field>
        <button mat-icon-button (click)="removeEntry(i)"><mat-icon>clear</mat-icon></button>
    </div>
    <ige-add-button (add)="addEntry()"></ige-add-button>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
    <div fxFlex></div>
    <button mat-flat-button color="primary" (click)="closeWithResult()">Ändern</button>
</mat-dialog-actions>
