@import "../../variables";

// accessibility css
:host {
  overflow: auto;
  position: relative;

  mat-toolbar {
    min-width: 1024px;
  }
}

.header-row {
  color: $ige-secondary;
}

.center-header {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-info {
  color: $ige-secondary;
  line-height: 32px;
  font-size: 12px;
  padding-right: 12px;
  margin-left: 80px;
  text-align-last: end;
  overflow: hidden;
  text-overflow: fade;

  &.single {
    color: $ige-text-color;

    button {
      color: $ige-text-color;
    }
  }
}

.menu-item {
  color: $ige-secondary;
}

.catalog-button {
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.4px;
  font-size: 12px !important;

  mat-icon {
    margin-left: 0;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.link-button ::ng-deep .mat-button-wrapper {
  text-transform: none;
}

.mat-toolbar-row {
  padding-left: 0;
  padding-right: 12px;

  ige-session-timeout-info {
    height: 32px;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row,
.mat-toolbar-multiple-rows {
  height: 48px;
  min-height: 48px;
  background-color: #ffffff;
  z-index: 1000;
}

.showShadow {
  box-shadow: 0 0 2px 0 #666666;
}

.page-title-general {
  font-weight: normal;
  padding-left: 10px;
  font-size: 1.25rem;
}

.header-logo {
  display: flex;
  flex: 0 0 auto;
  width: 56px !important;
  height: 56px;

  img {
    margin: auto;
    max-width: 44px;
    max-height: 38px;
  }
}

.main-page-title {
  font-weight: normal;
  color: $ige-primary !important;
  padding-left: 20px;
  font-size: 1.25rem;
}

::ng-deep .user-popup-menu > div {
  padding: 0 !important;
  overflow: hidden;
}

.user-popup {
  height: 32px;
  width: 32px;
  font-size: 14px;
  line-height: 24px;
  background-color: $ige-background;
  color: $ige-primary;
  margin-left: 12px;
  font-weight: 500;
  font-family: "Roboto";

  &[aria-expanded="true"] {
    background-color: $ige-primary;
    color: #ffffff;

    &:hover {
      background-color: lighten($ige-primary, 8%);
    }

    ::ng-deep path {
      fill: #ffffff;
    }
  }
}

.user-popup-header {
  color: #ffffff;
  background-color: $ige-primary;
  //margin-top: -8px;
  padding: 20px;
}

.user-popup-footer {
  min-height: 40px;
  justify-content: center;
  border-top: 1px solid $ige-background-bar;

  .label {
    font-size: 14px;
    font-weight: 500;
    color: $ige-secondary;
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
}

.label {
  font-weight: 500 !important;
  padding-bottom: 4px !important;
  font-size: 14px !important;
}

.mat-mdc-menu-item .mat-icon {
  padding-bottom: 4px !important;
  margin-right: 0;
}

mat-card-title {
  font-weight: 400;
  font-size: 24px;
}

.last-login {
  margin-bottom: 0;
}

.mat-mdc-menu-item[disabled] {
  opacity: unset;
  color: rgba(0, 0, 0, 0.6);
}

.popup-leading {
  color: $ige-hint-color;
  font-size: 14px;
  min-height: 48px;
  padding: 16px 16px 0;
}
