@import '../../variables';

.header-row {
  color: $ige-secondary;
}

.header-info {
  font-size: 14px;
}

.mat-toolbar-row, .mat-toolbar-single-row, .mat-toolbar-multiple-rows {
  height: 48px;
  min-height: 48px;
  background-color: #ffffff;
  z-index: 1000;
}

.showShadow {
  box-shadow: 0 0 2px 0 #666666;
}

.page-title-general {
  padding-left: 10px;
  letter-spacing: 0.25px;
}

.page-title {
  font-size: 24px;
  color: $ige-primary;
  padding-left: 20px;
  letter-spacing: 0.25px;
}

.catalog-title {
  padding-left: 20px;
  font-size: 14px;
}

.user-popup {
  margin-right: -16px;
  background-color: $ige-primary;
  color: #ffffff;
}

.user-popup-header {
  color: #ffffff;
  background-color: $ige-primary;
  margin-top: -8px;
  padding: 20px;
}

.user-popup-footer {
  border-top: 1px solid $ige-background-bar;
  margin-bottom: -8px;
  text-align: center;

  button {
    width: 100%;
  }
}

::ng-deep .user-popup-menu {
  margin: 12px 0 0;
}
