:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

// TODO: use page template which includes max-width?
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.import_export_tabs ::ng-deep .mat-tab-body-content {
  max-width: 1260px;
  margin: 0 auto;

  > * {
    display: block;
    margin: 20px 0;
  }
}
