:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.import_export_tabs ::ng-deep .mat-tab-body-content {
  max-width: 1200px;
  margin: 0 auto;

  > * {
    display: block;
    margin: 20px 0;
  }
}
