<nav
    #navigation
    mat-tab-nav-bar
    mat-stretch-tabs="false"
    class="page-tabs-routing"
    [tabPanel]="tabPanel"
>
    <a
        *ngFor="let tab of tabs; let i = index"
        [attr.data-cy]="tab.path"
        mat-tab-link
        #rla="routerLinkActive"
        routerLinkActive="active-link"
        [routerLink]="tab.path"
        (click)="updateTab(i)"
        [active]="rla.isActive"
    >
        {{ tab.label }}
    </a>
</nav>

<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>
