<div class="side-padding dlg-field-hero-label">Zielordner wählen</div>
<!-- FIXME: [hideReadOnly]="true" after completion of #4261 -->
<ige-tree
    [disabledCondition]="disabledCondition()"
    (selected)="updateParent($event, 'Tree')"
    [setActiveNode]="activeTreeNode"
    [forAddresses]="forAddress"
    [showOnlyFolders]="showOnlyFolders"
    [showHeaderOptions]="false"
    [hideReadOnly]="false"
    [ignoreTreeUpdates]="true"
></ige-tree>

@if (!disableRoot) {
    <div class="selection-divider"></div>
    <div class="side-padding dlg-field-hero-label">Oder anlegen unter</div>
    <ige-document-list-item
        [docs]="getRootNode()"
        [hideDivider]="true"
        [setActiveItem]="activeListItem"
        (select)="updateParent([null], 'List')"
    ></ige-document-list-item>
}
