@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep .mat-list-option.selected {
    background-color: $ige-mark-color !important;
  }
}

ige-tree {
  overflow: auto;
}

.side-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-top {
  padding-top: 24px;
}

.place-title, .place-title-other {
  color: $ige-primary;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 24px;
}

.place-title-other {
  padding-top: 24px;
}

