<h2 mat-dialog-title>Ordner erstellen</h2>
<mat-dialog-content>

    <mat-form-field>
        <input matInput #name
               placeholder="Ordnername"
               (keyup.enter)="handleCreate(name.value)"
               required>
    </mat-form-field>

    <ige-choose-folder (update)="setDestination($event)"></ige-choose-folder>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>

    <div fxFlex></div>

    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button color="primary" [disabled]="!name" (click)="handleCreate(name.value)">Erstellen</button>
</mat-dialog-actions>
