@import "src/variables";

.selected {
  background: $ige-mark-color;
}

.thin-column {
  width: 1px;
}

td {
  font-weight: 500;
}

table {
  cursor: pointer;
}

.td-subtitle {
  font-weight: normal;
  color: $ige-hint-color;
}

tr button {
  visibility: hidden;
}

tr:hover button {
  visibility: visible;
}
