:host {
  height: 100%;
}

.result {
  font-size: 16px;
  font-weight: 500;
}

.settings button {
  visibility: hidden;
}
.mat-row:hover .settings button {
  visibility: visible;
}

.thin-column {
  width: 1px;
}
