<div
    class="dialog-title-wrapper flex-row align-items-center gap-12"
    data-cy="form-dialog-title"
>
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Suche speichern</h1>
</div>

<mat-dialog-content class="flex-col">
    <div class="description">
        Sie können hier Ihre Suche mit den angegebenen Parametern speichern. Sie
        finden sie unter dem Tab "Gespeicherte Suchen" wieder.
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
            required
            matInput
            igeFocus
            [(ngModel)]="model.name"
            data-cy="search-name"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <input
            matInput
            [(ngModel)]="model.description"
            data-cy="search-description"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-checkbox [(ngModel)]="model.forCatalog"
        >Für alle sichtbar
    </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
    <div class="flex-1"></div>
    <button
        mat-flat-button
        color="primary"
        [matDialogClose]="model"
        [disabled]="!model.name"
    >
        Speichern
    </button>
</mat-dialog-actions>
