<div class="dialog-title-wrapper" data-cy="form-dialog-title">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Suche speichern</span>
    </h2>
</div>
<mat-dialog-content class="flex-col">
    <div class="description">
        Sie können hier Ihre Suche mit den angegebenen Parametern speichern. Sie
        finden sie unter dem Tab "Gespeicherte Suchen" wieder.
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
            matInput
            igeFocus
            [(ngModel)]="model.name"
            data-cy="search-name"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <input
            matInput
            [(ngModel)]="model.description"
            data-cy="search-description"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-checkbox [(ngModel)]="model.forCatalog"
        >Für alle sichtbar
    </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
    <div class="flex-1"></div>
    <button mat-flat-button color="primary" [matDialogClose]="model">
        Speichern
    </button>
</mat-dialog-actions>
