<ige-dialog-template
    label="Suche speichern"
    [disabled]="!model.name"
    submitLabel="Speichern"
    (submit)="dlgRef.close(model)"
>
    <ng-container content>
        <div class="description">
            Sie können hier Ihre Suche mit den angegebenen Parametern speichern.
            Sie finden sie unter dem Tab "Gespeicherte Suchen" wieder.
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
                required
                matInput
                [igeFocus]="true"
                [(ngModel)]="model.name"
                data-cy="search-name"
                autocomplete="off"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Beschreibung</mat-label>
            <input
                matInput
                [(ngModel)]="model.description"
                data-cy="search-description"
                autocomplete="off"
            />
        </mat-form-field>
        <mat-checkbox [(ngModel)]="model.forCatalog">
            Für alle sichtbar
        </mat-checkbox>
    </ng-container>
</ige-dialog-template>
