@use "src/variables" as vars;

:host {
  overflow: auto;
}

.prefix {
  color: vars.$ige-placeholder-color;
  white-space: nowrap;
  padding-right: 8px;
}

.save-search-button {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.limit-field-width {
  max-width: 240px;
}
