<page-template
    label="Erweiterte Suche"
    [formGroup]="form"
    *transloco="let t; read: 'menu'"
>
    <ige-facets
        left-side
        formControlName="facets"
        [facets]="facets"
        [forAddresses]="form.get('type').value === 'selectAddresses'"
        [refreshView]="facetViewRefresher"
        (resetQuery)="resetSearchField()"
    ></ige-facets>

    <div main-header class="flex-col">
        <div class="white-bg flex-row">
            <mat-form-field
                appearance="outline"
                style="max-width: 240px"
                class="right-sharp-corner prefix-text"
            >
                <span matTextPrefix class="prefix">Suche nach:</span>
                <mat-select formControlName="type" aria-label="Suche nach">
                    <mat-option value="selectDocuments">{{
                        t("form")
                    }}</mat-option>
                    <mat-option value="selectAddresses">Adressen</mat-option>
                </mat-select>
            </mat-form-field>

            <ige-search-input
                placeholder="Begriff oder ID eingeben ..."
                [query]="form.get('query')"
                [withWhiteBorder]="false"
                [flexWidth]="true"
                [rectangular]="true"
                [withButton]="true"
                (buttonClick)="startSearch()"
            ></ige-search-input>
        </div>
        <div class="save-search-button">
            <button mat-button color="primary" (click)="saveQuery()">
                Suche Speichern
            </button>
        </div>
    </div>

    <div main-content>
        <ige-result-table
            [result]="result"
            [isLoading]="isSearching"
            (updated)="startSearch()"
        ></ige-result-table>
    </div>
</page-template>
