<page-template
    label="Erweiterte Suche"
    [formGroup]="form"
    *transloco="let t; read: 'menu'"
>
    <ige-facets
        left-side
        formControlName="facets"
        [facets]="facets"
        [forAddresses]="form.get('type').value === 'selectAddresses'"
        [refreshView]="facetViewRefresher"
        (resetQuery)="resetSearchField()"
    ></ige-facets>

    <div main-header fxFlex fxLayout="column">
        <div fxLayout="row" class="white-bg">
            <mat-form-field
                appearance="outline"
                style="min-width: 220px"
                class="straight-border-right prefix-text"
            >
                <span matPrefix class="prefix">Suche nach:</span>
                <mat-select formControlName="type">
                    <mat-option value="selectDocuments">{{
                        t("form")
                    }}</mat-option>
                    <mat-option value="selectAddresses">Adressen</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field
                appearance="outline"
                class="width-100 straight-border-left straight-border-right"
            >
                <!--                        <mat-label>Suche</mat-label>-->
                <input
                    matInput
                    placeholder="Begriff, ID oder feldbezogene Suche eingeben ..."
                    formControlName="query"
                />
                <button
                    *ngIf="form.value.query !== ''"
                    mat-icon-button
                    matSuffix
                    class="close"
                    data-cy="clear-tabsearch-field"
                    (click)="resetSearchField()"
                >
                    <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
                </button>
                <!-- TODO add when implemented
                <mat-hint
                    >Für feldbezogene Suche den Feldtitel im Format
                    "title: suchbegriff" eingeben
                </mat-hint>
            -->
            </mat-form-field>
            <div class="do-search-button">
                <button
                    mat-flat-button
                    mat-button
                    color="primary"
                    (click)="startSearch()"
                >
                    Suchen
                </button>
            </div>
        </div>
        <div class="save-search-button">
            <button mat-button color="primary" (click)="saveQuery()">
                Suche Speichern
            </button>
        </div>
    </div>

    <div main-content fxFlex>
        <ige-result-table
            [result]="result"
            [isLoading]="isSearching"
            (updated)="startSearch()"
        ></ige-result-table>
    </div>
</page-template>
