@import "src/variables";

:host {
  overflow: auto;
}

.prefix {
  color: $ige-comment-color;
  white-space: nowrap;
  padding-right: 8px;
}

.save-search-button {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*.do-search-button {
  .mat-mdc-button {
    line-height: 41.3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}*/
