:host {
  overflow: auto;
}

.save-search-button {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.do-search-button {
  .mat-mdc-button {
    line-height: 41.3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
