@import "src/variables";

/*TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
mat-chip-listbox {
  padding-bottom: 10px;
  ige-add-button {
    margin-left: 8px;
    line-height: 42px;
  }
}

.mat-mdc-chip {
  border-radius: 4px;
  cursor: move;
  min-height: 36px;

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.add-button-initial {
  display: block;
  margin-top: 3px;
  margin-bottom: 19px;

  &.error-btn {
    margin-bottom: 0;
  }
}

.avatar {
  padding-right: 10px;
}

.simpleInput {
  padding-top: 5px;
}
