@if (formControl.invalid && !formControl.hasError("required")) {
    <ige-form-error
        >Dieser Fehler bezieht sich auf die gesamten Einträge
    </ige-form-error>
}

@if (field.fieldGroup.length > 0) {
    <mat-chip-listbox [disabled]="formControl.disabled" cdkDropListGroup>
        <span
            cdkDropList
            cdkDropListOrientation="mixed"
            (cdkDropListDropped)="drop($event)"
        >
            @for (field of field.fieldGroup; track field; let i = $index) {
                <mat-chip-option
                    cdkDrag
                    [cdkDragDisabled]="formControl.disabled"
                    [removable]="true"
                    [selectable]="false"
                    (removed)="remove(i)"
                >
                    @if (props.showLanguage) {
                        <mat-icon
                            class="avatar gray"
                            svgIcon="language-24px"
                        ></mat-icon>
                    }
                    @if (type === "codelist") {
                        <div class="label">
                            {{ model[i] | codelist: props.codelistId | async }}
                        </div>
                    }
                    @if (type === "simple") {
                        <div class="label">{{ model[i] }}</div>
                    }
                    @if (type === "object") {
                        <div class="label">
                            {{ model[i][props.labelField] }}
                        </div>
                    }
                    @if (formControl.enabled) {
                        <button matChipRemove aria-label="Remove chip">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    }
                </mat-chip-option>
            }
        </span>
        @if (props.useDialog && formControl.enabled) {
            <ige-add-button
                [showTitle]="false"
                (add)="openDialog()"
                [showRequiredError]="
                    showError &&
                    formControl.invalid &&
                    formControl.errors?.required
                "
            ></ige-add-button>
        }
    </mat-chip-listbox>
}

@if (props.useDialog && formControl.enabled && field.fieldGroup.length === 0) {
    <ige-add-button
        class="add-button-initial"
        [class.error-btn]="
            showError && formControl.invalid && formControl.errors?.required
        "
        [showTitle]="field.fieldGroup.length === 0"
        (add)="openDialog()"
        [showRequiredError]="
            showError && formControl.invalid && formControl.errors?.required
        "
    ></ige-add-button>
}

@if (type === "object") {
    <ige-search-input
        [autocompleteRef]="searchAuto"
        [withWhiteBorder]="false"
        [searchSub]="searchSub"
        [query]="inputControl"
        [flexWidth]="true"
        placeholder="Im Umweltthesaurus suchen"
        showSearchIcon="true"
    ></ige-search-input>
    <mat-autocomplete
        #searchAuto="matAutocomplete"
        class="denseX"
        (optionSelected)="addValueObject($event.option.value)"
    >
        @for (doc of searchResult | async; track doc) {
            <mat-option [value]="doc">
                {{ doc[props.labelField] }}
            </mat-option>
        }
    </mat-autocomplete>
}

@if (
    type !== "object" &&
    type !== "codelist" &&
    !props.useDialog &&
    formControl.enabled
) {
    <mat-form-field class="width-100" appearance="outline">
        <ng-container *transloco="let t">
            <input
                matInput
                [placeholder]="t('form.placeholder.enter')"
                autocomplete="off"
                [formControl]="inputControl"
                [required]="showError && props.required && formControl.invalid"
                (keydown.enter)="addValues(inputControl.value)"
            />
        </ng-container>
        @if (inputControl.value.length > 0) {
            <button
                mat-icon-button
                matSuffix
                type="button"
                class="field-close"
                (click)="inputControl.setValue('')"
            >
                <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
            </button>
        }
        <mat-hint
            >Eingabe mit RETURN bestätigen, mehrere Schlagworte durch Komma
            trennen
        </mat-hint>
        <mat-error *transloco="let t">{{
            t("form.validationMessages.createOneEntry")
        }}</mat-error>
    </mat-form-field>
}

@if (type === "codelist" && !props.useDialog && formControl.enabled) {
    <mat-form-field class="width-100" appearance="outline">
        <ng-container *transloco="let t">
            <mat-select
                [placeholder]="t('form.placeholder.choose')"
                [formControl]="inputControl"
                [required]="showError && props.required && formControl.invalid"
                (valueChange)="addValueObject($event)"
            >
                @for (codelist of codelistOptions | async; track codelist) {
                    <mat-option [value]="codelist">
                        {{ codelist.label }} ({{ codelist.value }})
                    </mat-option>
                }
            </mat-select>
        </ng-container>
        <mat-error *transloco="let t">{{
            t("form.validationMessages.createOneEntry")
        }}</mat-error>
    </mat-form-field>
}
