<ige-form-error *ngIf="formControl.invalid && !formControl.hasError('required')"
    >Dieser Fehler bezieht sich auf die gesamten Einträge</ige-form-error
>

<mat-chip-listbox
    *ngIf="field.fieldGroup.length > 0"
    [disabled]="formControl.disabled"
    cdkDropListGroup
    mixedCdkDragDrop
    orientation="horizontal"
    (dropped)="drop($event)"
>
    <span
        *ngFor="let field of field.fieldGroup; let i = index"
        cdkDropList
        mixedCdkDropList
    >
        <mat-chip-option
            disableRipple
            cdkDrag
            [cdkDragDisabled]="formControl.disabled"
            [removable]="true"
            [selectable]="false"
            (removed)="remove(i)"
        >
            <mat-icon
                *ngIf="props.showLanguage"
                class="avatar gray"
                svgIcon="language-24px"
            ></mat-icon>

            <ng-container *ngIf="type === 'codelist'">
                <div class="label">
                    {{ model[i] | codelist : props.codelistId | async }}
                </div>
            </ng-container>

            <ng-container *ngIf="type === 'simple'">
                <div class="label">{{ model[i] }}</div>
            </ng-container>

            <ng-container *ngIf="type === 'object'">
                <div class="label">{{ model[i][props.labelField] }}</div>
            </ng-container>

            <button
                *ngIf="formControl.enabled"
                matChipRemove
                aria-label="Remove chip"
            >
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-option>
    </span>
    <ige-add-button
        *ngIf="props.useDialog && formControl.enabled"
        [showLabel]="false"
        (add)="openDialog()"
        [showRequiredError]="
            showError && formControl.invalid && formControl.errors?.required
        "
    ></ige-add-button>
</mat-chip-listbox>

<ige-add-button
    *ngIf="
        props.useDialog && formControl.enabled && field.fieldGroup.length === 0
    "
    class="add-button-initial"
    [class.error-btn]="
        showError && formControl.invalid && formControl.errors?.required
    "
    [showLabel]="field.fieldGroup.length === 0"
    (add)="openDialog()"
    [showRequiredError]="
        showError && formControl.invalid && formControl.errors?.required
    "
></ige-add-button>

<ng-container *ngIf="type === 'object'">
    <ige-search-input
        [autocompleteRef]="searchAuto"
        [searchSub]="searchSub"
        [query]="inputControl"
        [flexWidth]="true"
        placeholder="Suchen"
        showSearchIcon="true"
    ></ige-search-input>

    <mat-autocomplete
        #searchAuto="matAutocomplete"
        class="quicksearch-auto-tree dense"
    >
        <mat-option *ngFor="let doc of searchResult | async">
            {{ doc[props.labelField] }}
        </mat-option>
    </mat-autocomplete>
</ng-container>

<ng-container *ngIf="!props.useDialog && formControl.enabled">
    <mat-form-field class="width-100" appearance="outline">
        <input
            matInput
            placeholder="Bitte eingeben"
            autocomplete="off"
            [formControl]="inputControl"
            [required]="showError && props.required && formControl.invalid"
            (keydown.enter)="addValues(inputControl.value)"
        />
        <button
            *ngIf="type !== 'object' && inputControl.value.length > 0"
            mat-icon-button
            matSuffix
            type="button"
            class="field-close"
            (click)="inputControl.setValue('')"
        >
            <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
        </button>
        <mat-hint
            >Eingabe mit RETURN bestätigen, mehrere Schlagworte durch Komma
            trennen</mat-hint
        >
        <mat-error>Bitte erstellen Sie mindestens einen Eintrag</mat-error>
    </mat-form-field>
</ng-container>
