@import "../../../../variables";

.anchor-navigation {
  text-align: center;
  padding: 10px 0 0;
  margin-left: -24px;
  line-height: 36px;

  .mat-button {
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}

a {
  color: #28225B;
  //font-size: 13px;
  padding: 0 10px;
  text-transform: none;
}
