@import "../../../../variables";

:host {
  padding-bottom: 5px;
}

.anchor-navigation {
  text-align: center;
  padding: 5px 0 2px;
}

a {
  color: #28225B;
  //font-size: 13px;
  padding: 0 10px;
}
