@import "src/variables";

:host {
  display: block;
}

.anchor-navigation {
  text-align: center;
  padding: 10px 0 0;
  line-height: 36px;
  transition: all 0.1s linear;

  a {
    font-weight: 400;
    letter-spacing: 0.4px;
    color: $ige-secondary;
    padding: 0 10px;
    text-transform: none;
  }
}
