@import "src/variables.scss";

a {
  text-transform: none;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    color: $ige-secondary;
    margin-left: 5px;
  }
}
