<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">{{data.title}}</span>
    </h2>
</div>
<mat-dialog-content>
    <p>{{data.message}}</p>
    <ul *ngIf="data.list">
        <li *ngFor="let item of data.list">{{item}}</li>
    </ul>
    <div *ngIf="data.confirmText">
        <mat-form-field class="width-100">
            <input matInput igeFocus
                   [placeholder]="'Geben Sie das Wort \'' + data.confirmText + '\' ein'"
                   [(ngModel)]="textConfirmed">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" mat-dialog-close cdkFocusInitial>Abbrechen</button>
    <div fxFlex></div>
    <button mat-stroked-button color="primary"
            [mat-dialog-close]="true"
            [disabled]="data.confirmText && textConfirmed !== data.confirmText">
        Ok
    </button>
</mat-dialog-actions>
