<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>
        {{ data.title }}
    </h1>
</div>

<mat-dialog-content>
    @if (!data.preformatted) {
        <p [innerHTML]="data.message?.replace('\n', '<br />')"></p>
    }
    @if (data.preformatted) {
        <pre>{{ data.message }}</pre>
    }
    @if (data.list) {
        <ul>
            @for (item of data.list; track item) {
                <li>{{ item }}</li>
            }
        </ul>
    }
    @if (data.confirmText) {
        <div>
            <mat-form-field class="width-100">
                <input
                    matInput
                    igeFocus
                    [placeholder]="
                        'Geben Sie das Wort \'' + data.confirmText + '\' ein'
                    "
                    [(ngModel)]="textConfirmed"
                />
            </mat-form-field>
        </div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <div
        class="flex-row flex-1"
        [class.justify-content-space-between]="data.cookieId"
    >
        @if (data.cookieId) {
            <mat-checkbox (change)="updateCookie($event)"
                >Hinweis nicht erneut anzeigen
            </mat-checkbox>
        }

        <div class="flex-row flex-1">
            @if (!data.hideCancelButton) {
                @for (button of leftAlignedButtons; track button) {
                    <button
                        mat-button
                        color="primary"
                        [class.mat-stroked-button]="button.emphasize"
                        [disabled]="
                            button.disabledWhenNotConfirmed &&
                            data.confirmText &&
                            textConfirmed !== data.confirmText
                        "
                        [mat-dialog-close]="button.id || false"
                        [attr.data-cy]="
                            'confirm-dialog-' + (button.id || 'cancel')
                        "
                    >
                        {{ button.text }}
                    </button>
                }
            }

            <div class="flex-1"></div>

            @for (button of rightAlignedButtons; track button) {
                @if (!button.emphasize) {
                    <button
                        mat-button
                        color="primary"
                        [disabled]="
                            button.disabledWhenNotConfirmed &&
                            data.confirmText &&
                            textConfirmed !== data.confirmText
                        "
                        igeFocus
                        [mat-dialog-close]="button.id || false"
                        [attr.data-cy]="
                            'confirm-dialog-' + (button.id || 'cancel')
                        "
                    >
                        {{ button.text }}
                    </button>
                }
                @if (button.emphasize) {
                    <button
                        mat-flat-button
                        color="primary"
                        [disabled]="
                            button.disabledWhenNotConfirmed &&
                            data.confirmText &&
                            textConfirmed !== data.confirmText
                        "
                        igeFocus
                        [mat-dialog-close]="button.id || false"
                        [attr.data-cy]="
                            'confirm-dialog-' + (button.id || 'cancel')
                        "
                    >
                        {{ button.text }}
                    </button>
                }
            }
        </div>
    </div>
</mat-dialog-actions>
