<mat-form-field [appearance]="props.appearance">
    @if (field.props?.label) {
        <mat-label>{{ field.props.label }}</mat-label>
    }
    <mat-date-range-input
        [rangePicker]="picker"
        [formGroup]="rangeFormGroup"
        [disabled]="formControl.disabled"
    >
        <input
            matStartDate
            placeholder="TT.MM.JJJJ"
            formControlName="start"
            aria-label="von"
            (change)="updateFormControl()"
        />
        <input
            matEndDate
            placeholder="TT.MM.JJJJ"
            formControlName="end"
            aria-label="bis"
            [errorStateMatcher]="errorStateMatcher"
            (change)="updateFormControl()"
        />
    </mat-date-range-input>
    @if (!disabled) {
        <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
        ></mat-datepicker-toggle>
    }
    <mat-date-range-picker
        #picker
        (closed)="updateFormControl()"
    ></mat-date-range-picker>

    @if (showError) {
        <mat-error>
            <formly-validation-message
                [field]="field"
            ></formly-validation-message>
        </mat-error>
    }
</mat-form-field>
