<mat-date-range-input
    [rangePicker]="picker"
    [formGroup]="rangeFormGroup"
    [disabled]="formControl.disabled"
    [separator]="hideSecondInput ? '' : '-'"
>
    <input
        matStartDate
        placeholder="TT.MM.JJJJ"
        formControlName="start"
        (change)="updateFormControl()"
    />
    <input
        [class.invisible]="hideSecondInput"
        matEndDate
        placeholder="TT.MM.JJJJ"
        formControlName="end"
        (change)="updateFormControl()"
    />
</mat-date-range-input>
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-date-range-picker
    #picker
    (closed)="updateFormControl()"
></mat-date-range-picker>
