:host {
  display: flex;
}

::ng-deep formly-field.smallField {
  padding-right: 20px;
}

::ng-deep .date-field:last-child {
  width: 250px;
}

::ng-deep ige-date-range-type {
  display: flex;
  align-items: center;
  height: 18px;
}

::ng-deep mat-datepicker-toggle .mat-icon-button {
  margin-right: -10px;
}

::ng-deep .mat-form-field-suffix mat-datepicker-toggle .mat-icon-button {
  margin-top: -0.15em;
}

::ng-deep .mat-form-field-infix input.mat-input-element {
  margin-top: 0;
  height: 18px;
}
