<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let field of fields" class="fieldContainer {{field.domClass}}" [ngClass]="{hasChildren: field.children, padding: !field.children}">
      <df-question *ngFor="let child of field.children" [field]="child" [form]="form" [value]="data[child.key]" class="padding {{child.domClass}}"></df-question>
      <df-question *ngIf="!field.children" [field]="field" [form]="form" [value]="data[field.key]"></df-question>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>

<button (click)="load()">Load</button>
