<div [formGroup]="form">
    <label [attr.for]="field.key">{{field.label}}</label>

    <div *ngIf="parentKey">
        <div [ngSwitch]="field.controlType" [formGroupName]="parentKey">

            <input *ngSwitchCase="'textbox'" [formControlName]="field.key"
                   [id]="field.key" [type]="field.type" [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">

            <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key"
                    [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">
                <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
            </select>

            <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                      [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">
            </textarea>

            <data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                        [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">
            </data-table>

        </div>
    </div>
    <div *ngIf="!parentKey">
        <div [ngSwitch]="field.controlType">

            <input *ngSwitchCase="'textbox'" [formControlName]="field.key"
                   [id]="field.key" [type]="field.type" [ngModel]="value[field.key]">

            <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key"
                    [ngModel]="value[field.key]">
                <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
            </select>

            <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                      [ngModel]="value[field.key]">
            </textarea>

            <data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                          [ngModel]="value[field.key]">
            </data-table>

        </div>
    </div>

    <!--<div class="errorMessage" *ngIf="!isValid">Message: {{form.controls[field.key].errors.message}}</div>-->

</div>
