<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text" style="padding-right: 20px">Namen ändern</span>
    </h2>
</div>
<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastName" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Abbrechen</button>
    <div class="flex-1"></div>
    <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="changeName()"
    >
        Ändern
    </button>
</mat-dialog-actions>
