<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Namen ändern</h1>
</div>

<mat-dialog-content [formGroup]="form">
    <div class="flex-col">
        <mat-form-field appearance="outline">
            <mat-label>Vorname</mat-label>
            <input
                matInput
                formControlName="firstName"
                autocomplete="given-name"
                data-cy="firstName"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nachname</mat-label>
            <input
                matInput
                formControlName="lastName"
                autocomplete="family-name"
                data-cy="lastName"
            />
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" data-cy="cancel">
        Abbrechen
    </button>
    <div class="flex-1"></div>
    <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="changeName()"
        data-cy="submit"
    >
        Ändern
    </button>
</mat-dialog-actions>
