.material.ngx-datatable {
  box-shadow: initial;
  border: 1px solid #dfdede;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*.material .datatable-body-cell {
    padding: 0.5rem 1rem !important;
}*/
