<button mat-flat-button type="button" (click)="addRow(table)" title="Neue Zeile hinzufügen">
    <mat-icon>add</mat-icon>
</button>
<button mat-button type="button" color="warn"
        title="Löschen"
        [disabled]="selected.length === 0"
        (click)="removeRow()">
    <mat-icon>delete</mat-icon>
</button>

<div class="grid-container">
    <ngx-datatable
        #table
        class="material"
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="50"
        [rowHeight]="35"
        [scrollbarV]="false"
        [selected]="selected"
        [selectionType]="SelectionType.checkbox"
        [selectAllRowsOnPage]="false">

        <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
        >
        </ngx-datatable-column>
        <ngx-datatable-column *ngFor="let col of columns; let colIndex=index" [prop]="col.key" [name]="col.label">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <div
                    title="Click to edit"
                    (click)="editing[rowIndex + '-' + col.key] = true"
                    *ngIf="!editing[rowIndex + '-' + col.key]"
                >
                    {{ col.type === 'select' ? value.label : value }} &nbsp;
                </div>

                <ige-grid-text *ngIf="editing[rowIndex + '-' + col.key] && col.type !== 'select'"
                               [value]="value"
                               (tabkey)="focusNextCell(rowIndex, col.key, colIndex)"
                               (update)="updateValue($event, rowIndex, col.key)"></ige-grid-text>

                <ige-grid-select *ngIf="editing[rowIndex + '-' + col.key] && col.type === 'select'"
                                 [value]="value"
                                 [options]="col.options"
                                 (tabkey)="focusNextCell(rowIndex, col.key, colIndex)"
                                 (update)="updateValue($event, rowIndex, col.key)"></ige-grid-select>

            </ng-template>
        </ngx-datatable-column>

        <!--<ngx-datatable-column name="Name">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-name'] = true"
                  *ngIf="!editing[rowIndex + '-name']"
              >
                {{ value }}
              </span>
            <input
                autofocus
                (blur)="updateValue($event, 'name', rowIndex)"
                *ngIf="editing[rowIndex + '-name']"
                type="text"
                [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>-->

        <!--<ng-template #defaultColumn ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                     let-column="column">
          <formly-field [field]="getField(field, column, rowIndex)"></formly-field>
        </ng-template>-->
    </ngx-datatable>
</div>
