.grid-container {
  position: relative;
  //max-height: 200px;

  ::ng-deep .ngx-datatable.material {
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
  }
}

.material.ngx-datatable {
  box-shadow: 0 0 1px #000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ngx-datatable.material {
  ::ng-deep .datatable-footer .page-count {
    height: 35px;
    line-height: 35px;
  }

  ::ng-deep .empty-row {
    padding: 1rem 1.2rem;
  }
}

.ngx-datatable.material ::ng-deep {

  .mat-form-field-infix {
    padding: 0;
  }

  .mat-form-field-subscript-wrapper {
    padding: 0;
    margin-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-select-arrow-wrapper {
    padding-top: 0;
  }
}

[class*="flex-"] {
  padding-left: 0;
  padding-right: 0;
}
