<button mat-icon-button type="button" (click)="addRow(table)" title="Neue Zeile hinzufügen" [disabled]="disabled">
    <mat-icon>add</mat-icon>
</button>
<button mat-icon-button type="button" color="warn"
        title="Löschen"
        [disabled]="selected.length === 0"
        (click)="removeRow()">
    <mat-icon>delete</mat-icon>
</button>

{{selected}}

<div class="grid-container">
    <ngx-datatable
        #table
        class="material"
        [rows]="rows"
        [columnMode]="ColumnMode.flex"
        [columns]="columns"
        [draggable]="false"
        [footerHeight]="rows.length > 0 ? 35 : 0"
        [limit]="5"
        [headerHeight]="rows.length > 0 ? 50 : 0"
        rowHeight="auto"
        [reorderable]="false"
        [scrollbarV]="false"
        [scrollbarH]="false"
        [selected]="selected"
        [selectionType]="SelectionType.checkbox"
        [selectAllRowsOnPage]="false">

        <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
        >
        </ngx-datatable-column>
        <ngx-datatable-column *ngFor="let col of columns; let colIndex=index"
                              [prop]="col.key"
                              [resizeable]="true"
                              [flexGrow]="1"
                              [canAutoResize]="colIndex === columns.length-1"
                              [name]="col.label">

            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                <div *ngIf="!editing[rowIndex + '-' + col.key]" [ngSwitch]="col.type"
                     title="Click to edit"
                     (click)="editing[rowIndex + '-' + col.key] = true">

                    <span *ngSwitchCase="'date'">{{value | date}}</span>
                    <span *ngSwitchCase="'select'">{{mapSelectValue(value.value, col.options)}}</span>
                    <span *ngSwitchDefault>{{value}}</span>
                    &nbsp;
                </div>

                <ng-container *ngIf="editing[rowIndex + '-' + col.key]" [ngSwitch]="col.type">

                    <ige-grid-select *ngSwitchCase="'select'"
                                     [value]="value"
                                     [options]="col.options"
                                     (tabkey)="focusNextCell(rowIndex, col.key, colIndex)"
                                     (update)="updateValue($event, rowIndex, col.key)"></ige-grid-select>

                    <ige-grid-date *ngSwitchCase="'date'"
                                   [value]="value"
                                   (tabkey)="focusNextCell(rowIndex, col.key, colIndex)"
                                   (update)="updateValue($event, rowIndex, col.key)"></ige-grid-date>

                    <ige-grid-text *ngSwitchDefault
                                   [value]="value"
                                   (tabkey)="focusNextCell(rowIndex, col.key, colIndex)"
                                   (update)="updateValue($event, rowIndex, col.key)"></ige-grid-text>

                </ng-container>

            </ng-template>
        </ngx-datatable-column>

        <!--<ngx-datatable-column name="Name">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-name'] = true"
                  *ngIf="!editing[rowIndex + '-name']"
              >
                {{ value }}
              </span>
            <input
                autofocus
                (blur)="updateValue($event, 'name', rowIndex)"
                *ngIf="editing[rowIndex + '-name']"
                type="text"
                [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>-->

        <!--<ng-template #defaultColumn ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                     let-column="column">
          <formly-field [field]="getField(field, column, rowIndex)"></formly-field>
        </ng-template>-->
    </ngx-datatable>
</div>
