.material.ngx-datatable {
  box-shadow: initial;
  border: 1px solid #dfdede;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*.material .datatable-body-cell {
    padding: 0.5rem 1rem !important;
}*/

.grid-container {
  position: relative;
  height: 200px;

  .ngx-datatable {
    position: absolute !important;
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 200px;

    ::ng-deep .datatable-body {
      overflow-y: auto;
      //height: 50vh !important;
      max-height: 50vh !important;
    }
  }
}
