:host {
  margin-top: 0.3em;
}

.address-cards {
  padding-bottom: 14px;

  &.draggable {
    cursor: move;
  }

  .address-card-wrapper {
    min-width: 240px;
  }
}

.cdk-drag-preview {
  box-shadow: none;
}

// TODO: refactor to global style?
ige-add-button {
  display: block;
  margin: 11px 0;
}
