@if (showError && formControl.invalid && !formControl.hasError("required")) {
    <ige-form-error>{{ getFirstError() }}</ige-form-error>
}

@if (resolvedAddresses().length > 0) {
    <div
        class="address-cards flex-row flex-wrap gap-24 row-gap-12"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        [attr.aria-label]="props?.ariaLabel"
        aria-description="Liste der gewählten Adressen"
        role="list"
    >
        @for (
            address of resolvedAddresses();
            track address.address?.metadata?.uuid;
            let i = $index
        ) {
            <div
                class="address-card-wrapper"
                style="max-width: 50%"
                [class.draggable]="formControl.enabled"
                cdkDrag
                [cdkDragDisabled]="formControl.disabled"
            >
                <ige-address-card
                    (edit)="editAddress(address, i)"
                    (copy)="copyAddress(address)"
                    (remove)="removeAddress(address, i)"
                    (gotoAddress)="gotoAddress(address)"
                    [disabled]="formControl.disabled"
                    [address]="address"
                ></ige-address-card>
            </div>
        }
    </div>
}

@if (
    formControl.enabled &&
    (!props.max || props.max > resolvedAddresses().length)
) {
    <ige-add-button
        (add)="addAddress()"
        [showRequiredError]="
            showError && formControl.invalid && formControl.errors?.required
        "
        [ariaLabelledBy]="field | fieldToAriaLabelledBy"
    ></ige-add-button>
}
