<ige-form-error
    *ngIf="
        showError && formControl.invalid && !formControl.hasError('required')
    "
    >{{ getFirstError() }}</ige-form-error
>

<div
    *ngIf="addresses.length > 0"
    class="address-cards flex-row flex-wrap gap-24 row-gap-12"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    [attr.aria-label]="props?.ariaLabel"
    aria-description="Liste der gewählten Adressen"
    role="list"
>
    <div
        *ngFor="let address of addresses; let i = index"
        class="address-card-wrapper"
        style="max-width: 50%"
        [class.draggable]="formControl.enabled"
        cdkDrag
        [cdkDragDisabled]="formControl.disabled"
    >
        <ige-address-card
            (edit)="editAddress(address, i)"
            (remove)="removeAddress(address)"
            (gotoAddress)="gotoAddress(address)"
            [disabled]="formControl.disabled"
            [address]="address"
        ></ige-address-card>
    </div>
</div>

<ige-add-button
    *ngIf="formControl.enabled && (!props.max || props.max > addresses.length)"
    (add)="addAddress()"
    [showRequiredError]="
        showError && formControl.invalid && formControl.errors?.required
    "
    [ariaLabel]="props?.ariaLabel"
></ige-add-button>
