<ige-form-error
    *ngIf="formControl.invalid && !formControl.hasError('required')"
    >{{ getFirstError() }}</ige-form-error
>

<div
    *ngIf="addresses.length > 0"
    fxLayout="row wrap"
    fxLayoutGap="24px grid"
    class="address-cards"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
>
    <div
        *ngFor="let address of addresses; let i = index"
        fxFlex="50"
        class="address-card-wrapper"
        [class.draggable]="formControl.enabled"
        cdkDrag
        [cdkDragDisabled]="formControl.disabled"
    >
        <ige-address-card
            (edit)="editAddress(address, i)"
            (remove)="removeAddress(address)"
            (gotoAddress)="gotoAddress(address)"
            [disabled]="formControl.disabled"
            [address]="address"
        ></ige-address-card>
    </div>
</div>

<ige-add-button
    *ngIf="formControl.enabled && (!props.max || props.max > addresses.length)"
    (add)="addAddress()"
    [showRequiredError]="
        showError && formControl.invalid && formControl.errors?.required
    "
></ige-add-button>
