.address-cards {
  padding: 12px 0;

  &.draggable {
    cursor: move;
  }

  .address-card-wrapper {
    min-width: 240px;
  }
}

.cdk-drag-preview {
  box-shadow: none;
}

ige-add-button {
  display: block;
  margin-top: 3px;
  padding-bottom: 22px;
}
