<div class="container has-navbar">

    <div class="chart pull-left">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>

    <div class="content">
        <ul class="nav nav-tabs">
            <li role="presentation" [class.active]="sideTab === 'myData'"><a (click)="sideTab = 'myData'">Mein Daten</a></li>
            <li role="presentation" [class.active]="sideTab === 'allData'"><a (click)="sideTab = 'allData'">Alle Daten</a>
            </li>
        </ul>
        <div *ngIf="sideTab === 'myData'">
            <ul>
                <li *ngFor="let item of datasets">
                    <a routerLink="/form/{{item.id}}">{{item.title}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="sideTab === 'allData'">
            <p class="text-primary">Noch nicht umgesetzt.</p>
        </div>
    </div>
</div>
