<div class="container-fluid has-navbar">

    <div class="chart pull-left">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>

    <div class="content">
        <ul class="nav nav-tabs">
            <li role="presentation" class="nav-item" [class.active]="sideTab === 'myData'"><a class="nav-link" (click)="sideTab = 'myData'">Mein Daten</a></li>
            <li role="presentation" class="nav-item" [class.active]="sideTab === 'allData'"><a class="nav-link" (click)="sideTab = 'allData'">Alle Daten</a>
            </li>
        </ul>
        <div class="tab-content">
            <ul class="tab-pane" [class.active]="sideTab === 'myData'">
                <li *ngFor="let item of datasets">
                    <a routerLink="/form/{{item.id}}">{{item.title}}</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" [class.active]="sideTab === 'allData'">
            <p class="tab-pane text-primary" [class.active]="sideTab === 'allData'">Noch nicht umgesetzt.</p>
        </div>
    </div>
</div>
