<div class="toggle-groups-wrapper">
    @for (toggle of props.options; track toggle) {
        <div class="toggle-group" [class.has-label]="!props.hideLabel">
            @if (toggle.label && !props.hideLabel) {
                <div class="toggle-group-label">
                    {{ toggle.label }}
                </div>
            }
            <mat-button-toggle-group
                [name]="toggle.key"
                [value]="value ? value[toggle.key] : toggle.options[0].value"
                [attr.aria-label]="toggle.label"
                hideSingleSelectionIndicator
                (change)="onToggled(toggle.key, $event.value)"
            >
                @for (option of toggle.options; track option) {
                    <mat-button-toggle [value]="option.value">
                        {{ option.label }}
                    </mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
    }
</div>
