<table
    mat-table
    [dataSource]="dataSource"
    class="width-100"
    matSort
    [matSortActive]="defaultSort"
    matSortDirection="asc"
>
    <!-- role icon -->
    <ng-container matColumnDef="role-icon" class="thin-column">
        <th
            class="thin-column"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="role"
        >
            Rolle
        </th>
        <td class="thin-column" mat-cell *matCellDef="let element">
            <mat-icon [svgIcon]="userService.roleIcon[element.role]"></mat-icon>
        </td>
    </ng-container>

    <!-- role text -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rolle</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *transloco="let t">
                {{ t("roles." + element.role) }}
            </ng-container>
        </td>
    </ng-container>

    <!-- Login -->
    <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Benutzername</th>
        <td mat-cell *matCellDef="let element">
            {{ element.login }}
        </td>
    </ng-container>

    <!-- Name/email Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name / E-Mail</th>
        <td mat-cell *matCellDef="let element">
            <div>{{ element.firstName + " " + element.lastName }}</div>
            <div class="td-subtitle">{{ element.email }}</div>
        </td>
    </ng-container>

    <!-- Permission -->
    <ng-container matColumnDef="permission">
        <th
            class="thin-column"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
        >
            Berechtigung
        </th>
        <td
            mat-cell
            *matCellDef="let element"
            [ngSwitch]="element.permission"
            style="text-align: center"
        >
            <mat-icon *ngSwitchCase="PERMISSION_LEVEL.READ"
                >visibility
            </mat-icon>
            <mat-icon *ngSwitchCase="PERMISSION_LEVEL.WRITE">edit</mat-icon>
            <mat-icon
                *ngSwitchCase="PERMISSION_LEVEL.WRITE_EXCEPT_PARENT"
                class="wide-icon-26px"
                svgIcon="edit-lock-folder"
            ></mat-icon>
        </td>
    </ng-container>

    <!-- Organisation -->
    <ng-container matColumnDef="organisation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organisation</th>
        <td mat-cell *matCellDef="let element">
            {{ element.organisation }}
        </td>
    </ng-container>

    <!-- Settings -->
    <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef class="thin-column">
            <button mat-icon-button disabled>
                <mat-icon>settings</mat-icon>
            </button>
        </th>
        <td mat-cell class="thin-column" *matCellDef="let element">
            <button
                mat-icon-button
                class="menu dark menu-button"
                [matMenuTriggerFor]="userEditMenu"
                (click)="$event.stopPropagation()"
            >
                <mat-icon svgIcon="Mehr"></mat-icon>
            </button>
            <mat-menu #userEditMenu="matMenu">
                <button mat-menu-item>Option 1</button>
                <button mat-menu-item>Option 2</button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="row.readOnly || select(row)"
        [class.selected]="selection.isSelected(row)"
        [class.disabled]="row.readOnly"
        [class.readonly]="row.readOnly"
    ></tr>
</table>

<div *ngIf="isLoading" class="table-spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="table-footer">
    <button
        *ngIf="canExport && dataSource.data?.length"
        mat-flat-button
        (click)="exportTable()"
    >
        CSV
    </button>
    <div class="flex-1"></div>
    <mat-paginator
        *ngIf="tableType != 'simple' || dataSource.data?.length > 10"
        [pageSize]="10"
        [hidePageSize]="true"
        showFirstLastButtons
    ></mat-paginator>
</div>

<!-- role legends -->
<div *ngIf="tableType == 'default'" class="legend">
    <mat-icon svgIcon="author"></mat-icon>
    <span> Autor,</span>
    <mat-icon svgIcon="meta-admin"></mat-icon>
    <span> Metadaten-Admin,</span>
    <mat-icon svgIcon="catalog-admin"></mat-icon>
    <span> Katalog-Admin</span>
</div>

<!-- permission legends-->
<permission-legends
    *ngIf="tableType == 'permission'"
    [showSubdirectoryLegend]="false"
></permission-legends>
