ng2-smart-table {
  font-size: 1em;
}

/deep/ td.ng2-smart-actions, /deep/ th.ng2-smart-actions {
  width: 55px;
}

/deep/ table th, /deep/ table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
/deep/ .ng2-smart-pagination {
  margin: 5px 0;
}

.addButton {
  position: absolute;
  right: 0;
  top: -25px;
  color: #777777;
  /*padding-bottom: 10px;*/
}
.addButton:hover {
  color: #000;
}

:host {
  position: relative;
  display: block;
}
