@import "src/variables";

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content button {
  color: $ige-secondary !important;
}

.mat-mdc-dialog-content {
  padding-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mat-action-list {
  overflow: auto;
  margin-top: 24px;

  .mat-mdc-list-item {
    height: auto;
    padding: 14px 0;
  }
}

.intro {
  padding: 0 16px;
  a {
    font-size: 16px;
    word-break: break-word;
  }
}
