<!-- TODO: show input error for non-combo boxes; when no filter then jump at least to the language -->

<!-- TODO: check out Combo replacement: https://stackblitz.com/edit/angular-material2-issue-v5gpri -->

<!--
<nz-select nzMode="default" style="width: 100%;" nzPlaceHolder="Tag Mode" [(ngModel)]="selected">
    <nz-option *ngFor="let option of options" [nzLabel]="option.value" [nzValue]="option.id">
    </nz-option>
</nz-select>
-->

<!--<input placeholder="Auswählen" nz-input [(ngModel)]="selected" (input)="onInput($event.target?.value)" [nzAutocomplete]="auto">
<nz-autocomplete [nzDataSource]="filteredOptions" #auto>
    &lt;!&ndash;<nz-auto-option *ngFor="let option of simpleOptions" [nzValue]="option.value">{{option.value}}</nz-auto-option>&ndash;&gt;
</nz-autocomplete>-->
Drop Down hier!
