<!-- TODO: show input error for non-combo boxes; when no filter then jump at least to the language -->

<!-- TODO: check out Combo replacement: https://stackblitz.com/edit/angular-material2-issue-v5gpri -->

<!-- TODO: check out: https://stackblitz.com/angular/gjjmadpndjoa?file=app%2Fchips-autocomplete-example.html
                 and: https://material.angular.io/components/select/examples
-->
<mat-form-field>
    <mat-select placeholder="Auswählen">
        <mat-option *ngFor="let option of simpleOptions" [value]="option.value">
            {{option.value}}
        </mat-option>
    </mat-select>
</mat-form-field>
