<page-template label="Katalogverwaltung">
    <div left-side>Auf dieser Seite können die Kataloge verwaltet werden.</div>

    <div main-header class="flex-col justify-content-start align-items-stretch">
        @if (profiles) {
            <div>
                <ige-add-button
                    buttonType="flat"
                    (add)="showCreateCatalogDialog()"
                ></ige-add-button>
            </div>
        }
        @if (noAssignedCatalogs) {
            <p>
                Sie sind noch keinem Katalog zugewiesen. Erst wenn Sie einem
                Katalog angehören, können Sie zusätzliche Operationen ausführen.
            </p>
        }
    </div>

    <div main-content>
        <div class="section-title">Aktiver Katalog</div>
        <div class="flex-row" style="padding-bottom: 48px">
            @if (activeCatalog | async; as catalog) {
                <div class="catalog-wrapper">
                    <ng-container
                        [ngTemplateOutlet]="catContent"
                        [ngTemplateOutletContext]="{ cat: catalog }"
                    ></ng-container>
                </div>
            }
        </div>

        <div class="section-title">Weitere Kataloge</div>
        <div class="flex-row flex-wrap gap-36">
            @for (
                cat of nonActiveCatalogs | async;
                track trackByCatalogId($index, cat)
            ) {
                <div class="catalog-wrapper">
                    <ng-container
                        [ngTemplateOutlet]="catContent"
                        [ngTemplateOutletContext]="{ cat: cat }"
                    ></ng-container>
                </div>
            }

            @if (showSpinner) {
                <mat-spinner diameter="50"></mat-spinner>
            }
        </div>
    </div>

    <ng-template #catContent let-cat="cat">
        <mat-card
            appearance="outlined"
            class="hover-elevate"
            [attr.data-cy]="cat.label"
            [class.selected]="cat.id === currentCatalog"
        >
            <mat-card-content>
                <div class="header">
                    <mat-icon>article</mat-icon>
                    <div class="profile">{{ cat.type }}</div>
                    <div class="flex-1"></div>
                    <button
                        mat-icon-button
                        class="menu dark menu-button"
                        matTooltip="Bearbeiten"
                        [matMenuTriggerFor]="catMenu"
                    >
                        <mat-icon svgIcon="Mehr"></mat-icon>
                    </button>
                    <mat-menu #catMenu>
                        <button mat-menu-item (click)="showCatalogDetail(cat)">
                            Bearbeiten
                        </button>
                        <button mat-menu-item (click)="chooseCatalog(cat.id)">
                            Aktivieren
                        </button>
                    </mat-menu>
                </div>

                <div class="title">{{ cat.label }}</div>
                @if (cat.lastDocModification) {
                    <div class="subtitle">
                        Letzte Änderung am
                        {{ cat.lastDocModification | date: "dd.LL.yyyy HH:mm" }}
                    </div>
                }
                @if (!cat.lastDocModification) {
                    <div class="subtitle">
                        Erstellt am
                        {{ cat.created | date: "dd.LL.yyyy HH:mm" }}
                    </div>
                }

                @if (cat.countDocuments !== undefined) {
                    <div class="content">
                        {{ cat.countDocuments | number }} Datensätze
                    </div>
                } @else {
                    <mat-spinner diameter="18"></mat-spinner>
                    Hole Statistik
                }
            </mat-card-content>
        </mat-card>
    </ng-template>
</page-template>
