@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 0 0 24px;
  flex: 1;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 12px;
}

.profile {
  line-height: 26px;
}

.modal-body input {
  width: 100%;
}

.title {
  color: $ige-primary;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  padding-bottom: 16px;
}

.menu {
  visibility: hidden;
}

.mat-mdc-card {
  &.selected {
    border: 1px solid $ige-primary;
  }

  &:hover {
    .menu {
      visibility: visible;
    }
  }
}

.button-add {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.catalog-wrapper {
  min-width: 340px;
}

.section-title {
  padding-bottom: 12px;
}

.selected {
  background-color: $ige-mark-color;
}

.content {
  font-size: 16px;
}

.mat-mdc-progress-spinner {
  display: inline-block;
}
