<div class="btn-toolbar" role="toolbar" aria-label="Form-Toolbar">
    <div class="text-muted w-100" role="group" aria-label="...">
        <span *ngFor="let button of buttons">
            <button *ngIf="!button.isSeparator"
                    class="btn {{button.cssClasses}}"
                    [disabled]="!button.active"
                    [title]="button.tooltip"
                    (click)="sendEvent(button.eventId)"></button>

            <span *ngIf="button.isSeparator"
                 class="separator"></span>
        </span>
    </div>
</div>
