<div fxLayout="column" class="tab-padding-no-header">
    <ng-content select="[status]"></ng-content>

    <div fxLayout="row" class="content" fxFlex>
        <div class="left-side">
            <div *ngIf="label" class="page-title">
                {{ label }}<br />{{ subLabel }}
            </div>
            <ng-content select="[left-side]"></ng-content>
        </div>
        <div class="main-content">
            <ng-content select="[main-content]"></ng-content>
        </div>
    </div>
</div>
