@import "src/variables";

:host {
  //display: flex;
  height: 100%;
}

.page-title {
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 44px;
  color: $ige-primary;

  padding-bottom: 64px;
}

.tab-padding {
  padding: 40px 56px 26px;
  height: 100%;
  flex: 1;
}
.left-side {
  max-width: 350px;
}
