@import "src/variables";

:host {
  //display: flex;
  height: 100%;
}

.tab-padding {
  padding: 40px 56px 26px;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.header {
  padding-bottom: 24px;
}

.content {
  padding-top: 24px;
}

.left-side {
  //max-width: 350px;
  min-width: 350px;
  width: 350px;
  line-height: 22px;
  margin-right: 56px;

  &.page-title {
    margin-top: 0;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 44px;
    color: $ige-primary;
  }
}
