<div fxLayout="column" class="tab-padding">
    <div fxLayout="row" class="header">
        <div class="page-title left-side">{{ label }}<br />{{ subLabel }}</div>
        <div class="main-header">
            <ng-content select="[main-header]"></ng-content>
        </div>
    </div>

    <ng-content select="[status]"></ng-content>

    <div fxLayout="row" class="content" fxFlex>
        <div class="left-side">
            <ng-content select="[left-side]"></ng-content>
        </div>
        <div class="main-content">
            <ng-content select="[main-content]"></ng-content>
        </div>
    </div>
</div>
