<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <!-- dialog header -->
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Verantwortung übertragen</h1>
    </div>

    @if (users) {
        <mat-dialog-content>
            <!-- keyword search -->
            <ige-search-input
                [query]="query"
                [showSearchIcon]="true"
                [flexWidth]="true"
                placeholder="Suchen"
                [withWhiteBorder]="false"
            ></ige-search-input>
            <!-- permission table -->
            <user-table
                [users]="users"
                [query]="query.value"
                [canExport]="false"
                (onUserSelect)="selectedUser = $event"
                tableType="simple"
            ></user-table>
            <div class="help flex-row align-items-center">
                <mat-icon svgIcon="info-24px"></mat-icon>
                <div class="legend">
                    Bitte übertragen Sie die Verantwortung auf einen anderen
                    Benutzer mit denselben Gruppen (Berechtigungen).
                </div>
            </div>
        </mat-dialog-content>
    } @else {
        <mat-spinner class="content-spinner" diameter="40"></mat-spinner>
    }

    <!-- dialog action buttons -->
    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close>Schließen</button>
        <div class="flex-1"></div>
        <button
            [disabled]="!selectedUser"
            mat-flat-button
            color="primary"
            (click)="transferResponsibility()"
        >
            An ausgewählten Nutzer Übertragen
        </button>
    </mat-dialog-actions>
</div>
