:host {
  overflow: auto;
}

.main-section-title {
  font-weight: 500;
  padding-bottom: 12px;
}

.filter-title {
  padding-top: 48px;
}

.section-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.invisible {
  position: absolute;
}
