<div class="main-section-title">Suchen nach</div>
<mat-button-toggle-group  (change)="sendUpdate()" fxFlexAlign="start" [(ngModel)]="model.type">
    <mat-button-toggle value="selectDocuments">Dokument</mat-button-toggle>
    <mat-button-toggle value="selectAddresses">Addresse</mat-button-toggle>
</mat-button-toggle-group>

<div class="main-section-title filter-title">Filter</div>

<mat-divider></mat-divider>

<div *ngFor="let group of filterGroup | async" fxLayout="column" fxLayoutGap="10px">
    <h3 class="section-title">{{group.label}}</h3>
    <ng-container *ngIf="group.selection === 'RADIO'">
        <mat-radio-group [name]="group.label" fxLayout="column" fxLayoutGap="10px"
                         (ngModelChange)="sendUpdate()"
                         [(ngModel)]="model[group.id]">
            <mat-radio-button *ngFor="let filter of group.filter; let i = index"
                              [value]="filter.id">
                {{filter.label}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

    <ng-container *ngIf="group.selection === 'CHECKBOX'">
        <mat-checkbox *ngFor="let filter of group.filter"
                      [name]="filter.id"
                      (ngModelChange)="sendUpdate()"
                      [(ngModel)]="model[group.id][filter.id]">{{filter.label}}</mat-checkbox>
    </ng-container>

    <ng-container *ngIf="group.selection === 'SPATIAL'">
        <mat-checkbox (change)="toggleSpatialFilter(group.filter[0].id, $event.checked)"
                      [(ngModel)]="model[group.id][group.filter[0].id]"> Filter anwenden</mat-checkbox>
        <div [class.invisible]="!showSpatialFilter">
            <div #leafletDlg fxFlex style="height: 200px;"></div>
        </div>
    </ng-container>

    <mat-divider></mat-divider>
</div>
