<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Katalog bearbeiten</span>
    </h2>
</div>
<mat-dialog-content>
    <mat-form-field appearance="outline" class="width-100">
        <mat-label>Titel</mat-label>
        <input matInput [(ngModel)]="catalog.label" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="width-100">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput [(ngModel)]="catalog.description"></textarea>
    </mat-form-field>

    <mat-list dense>
        <h3 mat-subheader class="inline">Administratoren</h3>
        <mat-list-item *ngIf="catAdmins?.length === 0; else admins"
            >keine zugewiesen</mat-list-item
        >
        <ng-template #admins>
            <mat-list-item *ngFor="let admin of catAdmins">
                <h4 mat-line>
                    {{ admin.firstName }} {{ admin.lastName }} ({{
                        admin.login
                    }})
                </h4>
            </mat-list-item></ng-template
        >
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" matDialogClose>Abbrechen</button>
    <button mat-button color="warn" (click)="deleteCatalog()">Löschen</button>
    <div class="flex-1"></div>
    <button mat-flat-button color="primary" (click)="submit()">
        Aktualisieren
    </button>
</mat-dialog-actions>
