<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Katalog bearbeiten</h1>
</div>

<mat-dialog-content>
    <mat-form-field appearance="outline" class="width-100">
        <mat-label>Titel</mat-label>
        <input matInput [(ngModel)]="catalog.label" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="width-100">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput [(ngModel)]="catalog.description"></textarea>
    </mat-form-field>

    <mat-list dense>
        <h3 mat-subheader class="inline">Administratoren</h3>
        @if (catAdmins?.length === 0) {
            <mat-list-item>keine zugewiesen </mat-list-item>
        } @else {
            @for (admin of catAdmins; track admin) {
                <mat-list-item>
                    <h4 mat-line>
                        {{ admin.firstName }} {{ admin.lastName }} ({{
                            admin.login
                        }})
                    </h4>
                </mat-list-item>
            }
        }
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" matDialogClose>Abbrechen</button>
    <button mat-button color="warn" (click)="deleteCatalog()">Löschen</button>
    <div class="flex-1"></div>
    <button mat-flat-button color="primary" (click)="submit()">
        Aktualisieren
    </button>
</mat-dialog-actions>
