.mat-dialog-content .inline {
  height: 16px;
  padding: 0 0 8px;
  font-weight: 400;
}

.mat-dialog-content ::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

.mat-dialog-content .mat-list-item {
  height: 24px;
}
