<ige-dialog-template
    label="Export DataCite"
    submitLabel="Export"
    (submit)="submit()"
>
    <ng-container content>
        @if (documentResource.error()) {
            <div class="error-box">
                {{
                    $any(documentResource.error())?.message ||
                        documentResource.error()
                }}
            </div>
        } @else {
            <pre
                >{{ document() | json }}
                </pre
            >
        }
    </ng-container>
</ige-dialog-template>
