<div
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    class="wrapper"
    #contextNodeContainer
>
    <div cdkDragHandle class="dialog-title-wrapper mat-dialog-title">
        <h2 mat-dialog-title [attr.aria-label]="title">
            <button
                mat-icon-button
                mat-dialog-close
                data-cy="dlg-close"
                aria-hidden="true"
                aria-label="Dialog schließen"
            >
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">{{ title }}</span>
        </h2>
    </div>
    <mat-dialog-content class="hide-tab-header create-dlg-content">
        <mat-tab-group [selectedIndex]="selectedPage" dynamicHeight>
            <mat-tab label="Titel">
                <div class="first-tab-wrapper flex-col" [formGroup]="formGroup">
                    <ige-document-template
                        *ngIf="isFolder || !forAddress; else addressForm"
                        [isFolder]="isFolder"
                        [form]="formGroup"
                        (create)="handleCreate()"
                    >
                        <ng-container
                            [ngTemplateOutlet]="destinationTemplate"
                        ></ng-container>
                    </ige-document-template>

                    <ng-template #addressForm>
                        <ige-address-template
                            [form]="formGroup"
                            [isPerson]="isPerson"
                            [parent]="parent"
                            (create)="handleCreate()"
                        >
                            <ng-container
                                [ngTemplateOutlet]="destinationTemplate"
                            ></ng-container>
                        </ige-address-template>
                    </ng-template>
                </div>
            </mat-tab>

            <mat-tab label="Zielordner auswählen">
                <ige-destination-selection
                    [disableRoot]="!isAdmin"
                    [forAddress]="forAddress"
                    [initialSelectedId]="jumpedTreeNodeId"
                    [typeToInsert]="docTypeChoice"
                    (choice)="updateParent($event)"
                ></ige-destination-selection>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button
            mat-button
            mat-dialog-close
            data-cy="create-cancel"
            color="primary"
        >
            Abbrechen
        </button>

        <button
            *ngIf="selectedPage === 1"
            color="primary"
            mat-button
            data-cy="create-back"
            (click)="selectedPage = 0"
            class="back-button"
        >
            <mat-icon>chevron_left</mat-icon>
            <span>Zurück</span>
        </button>

        <div class="flex-1"></div>

        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button
            *ngIf="selectedPage === 0"
            mat-button
            color="primary"
            data-cy="create-changeLocation"
            [disabled]="alreadySubmitted"
            (click)="jumpToTree(this.parent)"
        >
            Zielordner ändern
        </button>

        <button
            *ngIf="selectedPage === 0"
            mat-flat-button
            color="primary"
            class="btn-create"
            data-cy="create-action"
            [disabled]="
                formGroup.invalid ||
                (!isAdmin && !pathWithWritePermission) ||
                alreadySubmitted
            "
            (click)="handleCreate()"
        >
            Anlegen
        </button>

        <button
            *ngIf="selectedPage === 1"
            mat-flat-button
            color="primary"
            data-cy="create-applyLocation"
            [disabled]="!isAdmin && !selectedLocation"
            (click)="applyLocation()"
        >
            Übernehmen
        </button>
    </mat-dialog-actions>
</div>

<ng-template #destinationTemplate>
    <div class="space-bottom">
        <div class="required dlg-field-label dlg-create-place no-top-padding">
            Zielordner
        </div>
        <ige-breadcrumb
            [path]="path"
            [rootName]="rootTreeName"
            [selectable]="true"
            [disableRoot]="!isAdmin"
            (select)="quickBreadcrumbChange($event)"
        ></ige-breadcrumb>
        <div *ngIf="!pathWithWritePermission" class="error-box">
            Sie haben keine Schreibrechte auf den Zielordner. Bitte ändern Sie
            den Zielordner über "Zielordner ändern"
        </div>
    </div>
</ng-template>
