@import "src/variables";

.mat-mdc-dialog-title {
  cursor: move;
}

:host {
  display: flex;
  flex: 1;
  /*position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;*/

  .mat-mdc-dialog-content {
    padding: 24px 0;
    display: flex;
    // max-height unset leads to large dialog where action bar leaves browser window
    // max-height: unset;

    .mat-mdc-tab-group {
      flex: 1;
      /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
      ::ng-deep .mat-tab-body-content {
        display: flex;
        overflow-y: auto;
      }
    }
  }

  ::ng-deep ige-tree {
    max-height: 550px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.mat-mdc-form-field {
  width: 100%;
}

#doc-type {
  padding-bottom: 12px;
  display: block;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
mat-radio-button {
  display: block;
  padding-bottom: 16px;
}

.first-tab-wrapper {
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 1px;
}

.dlg-create-place {
  padding-top: 16px;
  padding-bottom: 0;
  margin-bottom: -4px;

  &.no-top-padding {
    padding-top: 0;
  }
}

.mat-mdc-dialog-actions button.btn-create {
  margin-left: 40px;
}

.back-button {
  padding: 0 10px 0 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
.create-dlg-content ige-destination-selection ::ng-deep .mat-list-option {
  background-color: $ige-background;

  &:hover {
    background-color: darken($ige-background, 5%);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
  .mat-list-item-content {
    padding-left: 24px;
    padding-right: 24px;
  }
}
