@import "src/variables";

:host {
  overflow: hidden;
}

.upload {
  height: 192px;
  width: 192px;
  margin-top: 24px;
  margin-bottom: 60px;
}

.strong {
  font-weight: 500;
}

.alternative-text {
  padding-bottom: 6px;
}

.upload-content {
  padding: 30px 0;
}

.action-bar {
  padding-top: 20px;
  gap: 12px;
}

.fileover {
  background-color: $ige-mark-color;

  .alternative-text,
  ige-file-upload {
    visibility: hidden;
  }
}

.content {
  background-color: $ige-background;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.options {
  margin: 0 auto;
  width: 600px;
}

.space-top {
  padding-top: 24px;
}

.link-text {
  margin-left: 12px;
}

ige-breadcrumb {
  display: inline-block;
}
