@import "src/variables";

:host {
  flex: 1;
}

.upload {
  height: 192px;
  width: 192px;
  margin-top: 24px;
  margin-bottom: 60px;
}

.strong {
  font-weight: 500;
}

.alternative-text {
  padding-bottom: 6px;
}

.upload-content {
  padding: 30px 0;
}

.action-bar {
  padding-top: 24px;
}

.fileover {
  background-color: $ige-mark-color;

  .alternative-text,
  ige-file-upload {
    visibility: hidden;
  }
}

.success-icon {
  height: 128px;
  width: 128px;
  font-size: 128px;
  color: $ige-check-color;
}
