<page-template label="Import">
    <div left-side>
        Hier können Sie verschiedene Dateien importieren und in Datensätze
        umwandeln.
    </div>

    <section main-content fxFlex>
        <mat-horizontal-stepper #stepper [linear]="true" labelPosition="bottom">
            <mat-step [completed]="step1Complete">
                <ng-template matStepLabel>Hochladen</ng-template>

                <div *ngIf="!step1Complete; else analyzeFinished">
                    <ige-file-upload
                        target="/api/import/analyze"
                        (complete)="onAnalyzeComplete($event)"
                        (chosenFiles)="chosenFiles = $event"
                    ></ige-file-upload>
                </div>

                <ng-template #analyzeFinished>
                    <div class="content">
                        <div class="section-title">Datei hochgeladen:</div>
                        <div *ngFor="let file of droppedFiles">
                            {{ file.data.name }}
                        </div>
                        <mat-icon class="success-icon"
                            >check_circle_outline
                        </mat-icon>
                    </div>
                </ng-template>

                <span *ngIf="importFileErrorMessage">{{
                    importFileErrorMessage
                }}</span>

                <div class="action-bar">
                    <button
                        *ngIf="step1Complete"
                        color="primary"
                        mat-button
                        (click)="cancel()"
                    >
                        Abbrechen
                    </button>
                    <div fxFlex></div>
                    <button
                        mat-button
                        mat-flat-button
                        color="primary"
                        matStepperNext
                        [disabled]="!step1Complete"
                    >
                        Weiter
                    </button>
                </div>
            </mat-step>
            <mat-step [stepControl]="optionsFormGroup">
                <form class="content" [formGroup]="optionsFormGroup">
                    <ng-template matStepLabel>Optionen wählen</ng-template>
                    <div class="options">
                        <div class="section-title">Import</div>
                        <mat-radio-group
                            class="radio-vertical"
                            formControlName="option"
                        >
                            <mat-radio-button value="overwrite_identical">
                                Identische Metadaten überschreiben
                            </mat-radio-button>
                            <mat-radio-button value="create_under_target">
                                Anlage nur unter gewähltem Importknoten
                            </mat-radio-button>
                        </mat-radio-group>

                        <div class="section-title space-top">Typ</div>
                        <mat-form-field
                            appearance="outline"
                            style="width: 372px"
                        >
                            <mat-select
                                formControlName="importer"
                                placeholder="Importer auswählen"
                            >
                                <mat-option
                                    *ngFor="let importer of importers"
                                    [value]="importer.id"
                                    >{{ importer.name }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>

                <div class="action-bar">
                    <button mat-button color="primary" (click)="cancel()">
                        Abbrechen
                    </button>
                    <div fxFlex></div>
                    <button mat-button color="primary" matStepperPrevious>
                        Zurück
                    </button>
                    <button
                        mat-button
                        mat-flat-button
                        matStepperNext
                        color="primary"
                        [disabled]="optionsFormGroup.invalid"
                    >
                        Weiter
                    </button>
                </div>
            </mat-step>
            <mat-step [completed]="readyForImport">
                <ng-template matStepLabel>Ort wählen</ng-template>
                <div class="content">
                    <div class="section-title">Dokument:</div>
                    <ige-tree
                        [hideReadOnly]="true"
                        [showOnlyFolders]="true"
                        [showHeaderOptions]="false"
                        (activate)="setLocation($event, false)"
                    ></ige-tree>

                    <div class="section-title space-top">Adresse:</div>
                    <ige-tree
                        [forAddresses]="true"
                        [hideReadOnly]="true"
                        [showOnlyFolders]="true"
                        [showHeaderOptions]="false"
                        (activate)="setLocation($event, true)"
                    ></ige-tree>
                </div>

                <div class="action-bar">
                    <button mat-button color="primary" (click)="cancel()">
                        Abbrechen
                    </button>
                    <div fxFlex></div>
                    <button mat-button color="primary" matStepperPrevious>
                        Zurück
                    </button>
                    <button
                        mat-button
                        mat-flat-button
                        color="primary"
                        [disabled]="!readyForImport"
                        matStepperNext
                        (click)="startImport()"
                    >
                        Importieren
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Fertig</ng-template>
                <div class="content text-center">
                    <ige-file-upload
                        #uploadComponent
                        autoupload="false"
                        target="/api/import"
                        (complete)="onFileComplete($event)"
                    ></ige-file-upload>

                    <div class="section-title">Datei importiert:</div>
                    <mat-icon
                        *ngIf="hasImportError; else success"
                        class="error-icon"
                        >error_outline
                    </mat-icon>
                    <ng-template #success>
                        <mat-icon class="success-icon"
                            >check_circle_outline
                        </mat-icon>

                        <div class="section-title">Ort:</div>
                        <ige-breadcrumb
                            [path]="pathToDocument"
                        ></ige-breadcrumb>
                        <button
                            mat-button
                            mat-stroked-button
                            color="primary"
                            (click)="openImportedDocument()"
                        >
                            Öffnen
                        </button>
                    </ng-template>
                </div>

                <div class="action-bar" fxLayoutAlign="end">
                    <button
                        mat-button
                        mat-flat-button
                        color="primary"
                        (click)="cancel()"
                    >
                        Neuer Import
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </section>
</page-template>

<ng-template #uploader>
    <ige-file-upload
        #uploadComponent
        target="/api/import/analyze"
        (complete)="onAnalyzeComplete($event)"
        (chosenFiles)="chosenFiles = $event"
    ></ige-file-upload>
</ng-template>
