<h1>Dashboard</h1>

<div class="chart pull-left">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="content">
    <ul class="nav nav-tabs">
        <li role="presentation" [class.active]="sideTab === 'tree'"><a (click)="sideTab = 'tree'">Mein Daten</a></li>
        <li role="presentation" [class.active]="sideTab === 'search'"><a (click)="sideTab = 'search'">Alle Daten</a>
        </li>
    </ul>
    <ul>
        <li *ngFor="let item of datasets">
            <a routerLink="/form/{{item.id}}">{{item.title}}</a>
        </li>
    </ul>
</div>
