.data-origin-identifier {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.unpublished {
  background-color: #e96d00;
  border-radius: 20px;
  width: 12px;
  height: 12px;
  display: inline-block;
}
