<input
    matInput
    [matAutocomplete]="auto"
    [formControl]="input"
    [formlyAttributes]="field"
    [placeholder]="to.placeholder"
    (keyup)="_filter(input.value || '')"
    (click)="openAutocompletePanel()"
    [errorStateMatcher]="errorStateMatcher"
/>
<ng-template #matSuffix>
    <button
        *ngIf="input.value?.length > 0 && !this.to.hideDeleteButton"
        mat-icon-button
        type="button"
        class="field-close"
        (click)="input.setValue('')"
    >
        <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
    </button>
</ng-template>
<mat-autocomplete #auto="matAutocomplete">
    <mat-option
        *ngFor="let option of filteredOptions"
        [value]="option.label"
        [class.matching]="
            this.to.highlightMatches && !option.disabled && input.value
        "
    >
        {{ option.label }}
    </mat-option>
</mat-autocomplete>
