@use "src/variables" as vars;
@use "sass:color";

:host {
  display: flex;
}

.matching {
  background-color: vars.$ige-mark-color !important;

  &:hover,
  &.mat-active {
    background-color: color.adjust(
      vars.$ige-mark-color,
      $lightness: -5%
    ) !important;
  }
}

.field-close {
  padding: 0;
  height: 24px;
  width: 24px;
}
