<mat-form-field class="width-100" appearance="outline">
    <mat-label>{{to.label}}</mat-label>
    <input matInput
           [matAutocomplete]="auto"
           [formControl]="formControl"
           [formlyAttributes]="field"
           [placeholder]="to.placeholder"
           (keyup)="_filter(formControl.value || '')"
           [errorStateMatcher]="errorStateMatcher">
    <button *ngIf="formControl.value?.length > 0 && !this.to.hideDeleteButton" mat-icon-button type="button" matSuffix class="field-close"
            (click)="formControl.setValue('')">
        <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.label">
            {{ option.label }}
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="formControl.errors?.required">Bitte erstellen Sie mindestens einen Eintrag</mat-error>
</mat-form-field>
