<input
    matInput
    [matAutocomplete]="auto"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [placeholder]="props.placeholder"
    [errorStateMatcher]="errorStateMatcher"
/>
@if (
    formControl.value != null && !props.hideDeleteButton && formControl.enabled
) {
    <button
        matSuffix
        mat-icon-button
        type="button"
        class="field-close"
        (click)="formControl.setValue(null)"
    >
        <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
    </button>
}
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
    @for (option of filteredOptions; track option) {
        @if (option.key === "_SEPARATOR_") {
            <mat-divider class="space-bottom"></mat-divider>
        } @else {
            <mat-option
                [value]="props.simple ? option.key : option"
                [disabled]="$any(option).disabled"
                [class.matching]="props.highlightMatches && formControl.value"
            >
                {{ option.value }}
            </mat-option>
        }
    }
</mat-autocomplete>
