@import "src/variables";

:host {
  display: flex;
}

.matching {
  background-color: $ige-mark-color !important;

  &:hover,
  &.mat-active {
    background-color: darken($ige-mark-color, 5%) !important;
  }
}

.field-close {
  padding: 0;
  height: 24px;
  width: 24px;
}
