.progress-hint {
  text-align: end;
}

.date-area {
  padding-bottom: 24px;
}

.log {
  font-family: monospace;
}

.target-title {
  font-weight: bold;
  text-decoration: underline;
}

mat-progress-bar {
  height: 3px;
}
