@if (showError) {
    <ige-form-error>
        <formly-validation-message [field]="field"></formly-validation-message>
    </ige-form-error>
}

@for (item of myModel; track item; let i = $index) {
    <div
        class="item clickable"
        (click)="openReference(item)"
        (keyup.enter)="openReference(item)"
        tabindex="0"
        role="listitem"
        [attr.aria-label]="item.title"
    >
        <div class="title">
            @if (item.isExternalRef) {
                <mat-icon svgIcon="download-link"></mat-icon>
            } @else {
                <ige-document-icon [doc]="item"></ige-document-icon>
            }
            <span>{{ item.title ?? "???" }}</span>
        </div>
        <ul>
            @for (name of item.layerNames; track name) {
                <li>{{ name }}</li>
            }
        </ul>
        @if (formControl.enabled) {
            <button
                mat-icon-button
                type="button"
                class="remove-icon"
                (click)="removeItem(i, $event)"
                [attr.aria-description]="item.title + ' entfernen'"
            >
                <mat-icon>clear</mat-icon>
            </button>
        }
    </div>
}
<!--{{ formControl.value | json }}-->

@if (refreshing) {
    <mat-spinner diameter="30"></mat-spinner>
}

@if (!formControl.disabled) {
    <ige-add-button
        [matMenuTriggerFor]="menu"
        [showRequiredError]="
            showError && formControl.invalid && formControl.errors?.required
        "
    ></ige-add-button>
}
<mat-menu #menu>
    <button mat-menu-item (click)="showInternalRefDialog()">
        Geodatensatz auswählen
    </button>
    <button mat-menu-item (click)="showExternalRefDialog()">
        Externen Datensatz angeben
    </button>
</mat-menu>
