<div
    *ngFor="let item of myModel; let i = index"
    class="item clickable"
    (click)="openReference(item)"
>
    <div class="title">
        <mat-icon
            [svgIcon]="item.isExternalRef ? 'download-link' : 'Geodatensatz'"
        ></mat-icon>
        <span>{{ item.isExternalRef ? item.url : item.title }}</span>
    </div>
    <button mat-icon-button (click)="removeItem(i)">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<!--{{ formControl.value | json }}-->

<mat-spinner *ngIf="refreshing" diameter="30"></mat-spinner>

<ige-add-button [mat-menu-trigger-for]="menu"></ige-add-button>
<mat-menu #menu>
    <button mat-menu-item (click)="showInternalRefDialog()">
        Geodatensatz auswählen
    </button>
    <button mat-menu-item (click)="showExternalRefDialog()">
        Externen Datensatz angeben
    </button>
</mat-menu>
