<div
    *ngFor="let item of myModel; let i = index"
    class="item clickable"
    (click)="openReference(item)"
    (keyup.enter)="openReference(item)"
    tabindex="0"
    role="listitem"
    [attr.aria-label]="item.title"
>
    <div class="title">
        <mat-icon
            *ngIf="item.isExternalRef; else showDocumentIcon"
            svgIcon="download-link"
        ></mat-icon>
        <ng-template #showDocumentIcon>
            <ige-document-icon [doc]="item"></ige-document-icon>
        </ng-template>
        <span>{{ item.title ?? "???" }}</span>
    </div>
    <button
        *ngIf="formControl.enabled"
        mat-icon-button
        type="button"
        class="remove-icon"
        (click)="removeItem(i, $event)"
        [attr.aria-description]="item.title + ' entfernen'"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>
<!--{{ formControl.value | json }}-->

<mat-spinner *ngIf="refreshing" diameter="30"></mat-spinner>

<ige-add-button
    *ngIf="!formControl.disabled"
    [matMenuTriggerFor]="menu"
    [showRequiredError]="
        showError && formControl.invalid && formControl.errors?.required
    "
></ige-add-button>
<mat-menu #menu>
    <button mat-menu-item (click)="showInternalRefDialog()">
        Geodatensatz auswählen
    </button>
    <button mat-menu-item (click)="showExternalRefDialog()">
        Externen Datensatz angeben
    </button>
</mat-menu>
