.item {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;

    mat-icon {
      padding-right: 10px;
    }
  }
}
