.item {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;

    mat-icon,
    ige-document-icon {
      //padding-right: 10px;
      //margin-right: 16px;
    }
  }

  .remove-icon {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}

ige-add-button {
  display: block;
  margin: 3px 0 22px;
}
