<div>
    @switch (field.type) {
        @case ("datepickerPrint") {
            {{ formControl.value | date: "dd.MM.yyyy" }}
        }
        @case ("repeatListPrint") {
            @for (item of formControl.value; track item) {
                <div>
                    {{
                        props.codelistId
                            ? (item | codelist: props.codelistId | async)
                            : getFromOption(item)
                    }}
                </div>
            }
        }
        @case ("address-cardPrint") {
            @for (address of addresses(); track address) {
                <div>{{ address.type | codelist: "505" | async }}</div>
                @if (address.data.organization) {
                    <div>
                        {{ address.data.organization }}
                    </div>
                } @else {
                    <div>
                        <!--                    {{ address.ref.salutation | codelist: "4300" | async }}-->
                        {{
                            address.data["academic-title"]
                                | codelist: "4305"
                                | async
                        }}
                        {{ address.data.firstName }} {{ address.data.lastName }}
                    </div>
                }
            }
        }
        <!--<ng-container *ngSwitchCase="'tablePrint'">
    <table>
      <tr *ngFor="let row of formControl.value">
        <td *ngFor="let column of row | keyvalue">
          {{ column.value | json }}
        </td>
      </tr>
    </table>
  </ng-container>-->
        @case ("ige-selectPrint") {
            {{
                props.codelistId
                    ? (formControl.value | codelist: props.codelistId | async)
                    : getFromOption(formControl.value)
            }}
        }
        @case ("autocompletePrint") {
            {{
                props.codelistId
                    ? (formControl.value
                          | codelist: props.codelistId
                          | async) ?? formControl.value?.value
                    : getFromOption(formControl.value)
            }}
        }
        @case ("unit-inputPrint") {
            {{ formControl.value?.value }} {{ formControl.value?.unit?.key }}
        }
        @default {
            <div [innerHTML]="getValueByDefault(formControl.value)"></div>
        }
    }
</div>
