<div>
    <div class="header">
        <div>
            <div class="mat-small">Daten > Dienste</div>
            <h1 class="mat-display-1">Kartendienst Hydrologie</h1>
            <div class="anchor-navigation mat-body">
                <a mat-button>Allgemeines</a> | <a mat-button>Verschlagwortung</a> | <a mat-button>Fachbezug</a> | <a mat-button>Raumbezugssystem</a> | <a mat-button>Zeitbezug</a> | <a mat-button>Zusatzinformation</a> | <a mat-button>Verweise</a>
            </div>
        </div>
    </div>

    <form class="form-content">
        <div fxLayout="column">

            <h1 class="section mat-h2"><mat-icon>playlist_add</mat-icon> Allgemeines</h1>

            <div fxLayout="row" class="checkbox-row">
                <label class="checkbox-row-label">Dokumenteigenschaften</label>
                <div fxLayout="row" style="width: 100%">
                    <mat-checkbox class="example-margin">INSPIRE-relevant</mat-checkbox>
                    <mat-checkbox class="example-margin">AdV kompatibel</mat-checkbox>
                    <mat-checkbox class="example-margin">Open Data</mat-checkbox>
                </div>
            </div>

            <div fxLayout="row">
                <label (click)="showContextHelp($event)">Beschreibung*</label>
                <mat-form-field fxFlex="grow" appearance="outline">
                    <!--        <mat-label>Beschreibung</mat-label>-->
                    <input matInput placeholder="Beschreiben Sie hier den Datensatz" value="" [formControl]="description" required>
                    <mat-error *ngIf="description.invalid">Das Feld muss einen Eintrag haben gfdg fdg fdhg dfhg fgh fg h fg hfg hfgjhkjfgjhfg h h hh g h ghfgkhj</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <label>Vorschaugrafik</label>
                <mat-form-field fxFlex="50" appearance="outline">
                    <!--        <mat-label>Beschreibung</mat-label>-->
                    <input matInput placeholder="URL eingeben ..." value="">
                </mat-form-field>
                <div style="padding: 6px 0 0 20px">
                    oder <button mat-button><mat-icon >insert_photo outline</mat-icon> HOCHLADEN</button>
                </div>
            </div>

            <div fxLayout="row">
                <label class="checkbox-row-label">Adressen*</label>
                <div style="margin-left: -15px;">
                    <button mat-button><mat-icon>person_add_outline</mat-icon> HINZUFÜGEN</button>
                </div>
            </div>

            <div class="separator">
                <mat-divider></mat-divider>
            </div>

            <h1 class="section mat-h2"><mat-icon>playlist_add</mat-icon> Verschlagwortung</h1>

            <div fxLayout="row" fxLayoutAlign="start start">
                <label>Optionale Schlagworte</label>
                <mat-form-field fxFlex="50" appearance="outline">
                    <!--        <mat-label>Beschreibung</mat-label>-->
                    <input matInput placeholder="Freies Schlagwort eintragen ..." value="">
                </mat-form-field>
                <div style="padding: 6px 0 0 20px">
                    <button mat-button>HINZUFÜGEN</button>
                </div>
            </div>

            <div class="separator">
                <mat-divider></mat-divider>
            </div>

            <h1 class="section mat-h2"><mat-icon>playlist_add</mat-icon> Fachbezug</h1>

            <div fxLayout="row">
                <label>Klassifikation des Dienstes*</label>
                <mat-form-field fxFlex="grow" appearance="outline">
                    <!--        <mat-label>Beschreibung</mat-label>-->
                    <mat-select placeholder="Bitte wählen ...">
                        <mat-option value="1">Abonnementdienst</mat-option>
                        <mat-option value="2">Analysedienst für räumliche Nachbarschaftsbeziehungen</mat-option>
                        <mat-option value="3">Dauerauftragsdienst</mat-option>
                    </mat-select>
                    <mat-error *ngIf="description.invalid">Das Feld muss einen Eintrag haben</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <label>Art des Dienstes*</label>
                <mat-form-field fxFlex="grow" appearance="outline">
<!--                    <mat-label>Bitte wählen ...</mat-label>-->
                    <mat-select placeholder="Bitte wählen ...">
                        <mat-option value="1">Darstellungsdienste</mat-option>
                        <mat-option value="2">Dienste zum Abrufen von Geodatendiensten</mat-option>
                        <mat-option value="3">Download-Dienste</mat-option>
                        <mat-option value="4">Sonstige Dienste</mat-option>
                        <mat-option value="5">Suchdienste</mat-option>
                        <mat-option value="6">Transformationsdienste</mat-option>
                    </mat-select>
                    <mat-error *ngIf="description.invalid">Das Feld muss einen Eintrag haben</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <label class="checkbox-row-label">Operationen</label>
                <button mat-button>HINZUFÜGEN</button>
            </div>
        </div>


    </form>

</div>
