<div>
    <div class="input-group col-md-12">
        <input type="text" class="search-query form-control" placeholder="Search" (keyup.enter)="query()" [(ngModel)]="searchString"/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="query()">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <ul class="list-group">
        <li *ngFor="let entry of entries" class="list-group-item" (click)="open(entry._id, entry.title)" [class.active]="selectedId === entry._id">
            <span class="label"
                  [class.label-primary]="entry._state === 'P'"
                  [class.label-warning]="entry._state === 'W'"
                  [class.pubished-working-label]="entry._state === 'PW'"
            >{{entry._profile}}</span>
            {{entry.title}}
        </li>
    </ul>
</div>