<div *ngFor="let group of filterGroup" fxLayout="column" fxLayoutGap="10px">
    <div class="section">
        <div class="section-title">{{ group.label }}</div>
        <div fxFlex></div>
        <button
            mat-icon-button
            class="toggle"
            (click)="toggleSection(group.id)"
        >
            <mat-icon
                class="mat-icon-rtl-mirror expander animated"
                [class.expanded]="!notExpanded[group.id]"
            >
                expand_more
            </mat-icon>
        </button>
    </div>
    <ng-container *ngIf="group.selection === 'RADIO'">
        <mat-radio-group
            [name]="group.label"
            fxLayout="column"
            fxLayoutGap="10px"
            [class.invisible]="notExpanded[group.id]"
            (ngModelChange)="sendUpdate()"
            [(ngModel)]="model[group.id]"
        >
            <mat-radio-button
                *ngFor="let filter of group.filter; let i = index"
                [value]="filter.id"
            >
                {{ filter.label }}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

    <div
        *ngIf="group.selection === 'CHECKBOX'"
        [class.invisible]="notExpanded[group.id]"
        fxLayout="column"
        fxLayoutGap="10px"
    >
        <mat-checkbox
            *ngFor="let filter of group.filter"
            [name]="filter.id"
            (ngModelChange)="sendUpdate()"
            [(ngModel)]="model[group.id][filter.id]"
            >{{ filter.label }}</mat-checkbox
        >
    </div>

    <div
        *ngIf="group.selection === 'SPATIAL'"
        [class.invisible]="notExpanded[group.id]"
        style="flex-direction: column"
    >
        <div #leafletDlg fxFlex></div>
        <div *ngIf="location" class="location">
            <div>
                <span>{{ location.title }}</span>
                <p>
                    L1: {{ location.value.lat1 | number: ".6" }}° B1:
                    {{ location.value.lon1 | number: ".6" }}°
                </p>
                <p>
                    L2: {{ location.value.lat2 | number: ".6" }}° B2:
                    {{ location.value.lon2 | number: ".6" }}°
                </p>
            </div>
            <div fxFlex></div>
            <div>
                <button
                    mat-icon-button
                    class="menu-button"
                    [matMenuTriggerFor]="spatialRef"
                >
                    <mat-icon svgIcon="Mehr"></mat-icon>
                </button>
                <mat-menu #spatialRef="matMenu">
                    <button mat-menu-item (click)="showSpatialDialog(location)">
                        Bearbeiten
                    </button>
                    <button mat-menu-item (click)="removeLocation()">
                        Löschen
                    </button>
                </mat-menu>
            </div>
        </div>
        <ige-add-button
            *ngIf="!location"
            (add)="showSpatialDialog()"
        ></ige-add-button>
    </div>

    <div
        *ngIf="group.selection === 'TIMESPAN'"
        [class.invisible]="notExpanded[group.id]"
        fxLayout="column"
        fxLayoutGap="10px"
    >
        <div
            [formGroup]="timeSpanForm"
            *ngFor="let filter of group.filter"
            style="display: flex"
            class="timespan"
        >
            <mat-form-field>
                <input
                    formControlName="startDate"
                    (dateInput)="updateStartTimeSpan($event.value)"
                    matInput
                    placeholder="Von"
                    [matDatepicker]="startDate"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="startDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input
                    formControlName="endDate"
                    (dateInput)="updateEndTimeSpan($event.value)"
                    matInput
                    placeholder="Bis"
                    [matDatepicker]="endDate"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="endDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>
