@import "src/variables";

:host {
  // overflow leads to scrollbars in firefox when switching to tab search with a remembered location
  //overflow: auto;
}

.main-section-title {
  font-weight: 500;
  padding-bottom: 12px;
}

.filter-title {
  padding-top: 48px;
}

.section {
  margin: 0 !important;
}

.section-title {
  line-height: 60px;
}

.invisible {
  position: absolute;
}

ige-add-button {
  display: block;
  padding-top: 10px;
}

.location {
  padding-top: 10px;

  span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }

  p {
    margin: 0;
    color: rgb(0, 0, 0, 0.6);
  }
}

.timespan {
  display: flex;
  gap: 20px;

  .mat-mdc-form-field {
    flex: 1;
  }
}

.expanded {
  transform: scale(1, -1);
}

.toggle {
  margin-top: 10px;
  color: $ige-placeholder-color;
}
