<div class="title flex-row" *transloco="let t">
    <ige-document-icon [doc]="_model"></ige-document-icon>

    <span
        *ngIf="!showTitleInput"
        class="label flex-1 flex-row justify-content-space-between"
        [matTooltip]="
            !address || !disableEdit
                ? undefined
                : t(
                      'form.titleTooltip.' +
                          (_model.firstName ? 'Person' : 'Organisation')
                  )
        "
        [matTooltipDisabled]="!address || !disableEdit"
        [class.editable]="!disableEdit"
        (click)="!disableEdit && editTitle()"
        tabindex="0"
        role="heading"
        aria-description="Klick auf die Eingabetaste, um den Namen zu bearbeiten"
        (keyup.enter)="!disableEdit && editTitle()"
    >
        <span class="flex-1">{{
            _form.get("title")?.value || "Kein Titel"
        }}</span>
        <mat-icon svgIcon="cursor-edit" matTooltip="Bearbeiten"></mat-icon>
    </span>

    <form
        class="flex-1 flex-row"
        [formGroup]="_form"
        [class.hide]="!showTitleInput"
    >
        <mat-form-field class="flex-1" appearance="outline">
            <textarea
                #cfcAutosize="cdkTextareaAutosize"
                #titleInput
                matInput
                formControlName="title"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                (blur)="showTitleInput = false"
                (keyup.enter)="showTitleInput = false"
                (keydown.enter)="$event.preventDefault()"
            >
            </textarea>
        </mat-form-field>
    </form>

    <button
        mat-icon-button
        data-cy="btn-more-header"
        class="dark menu-button btn-toggle-form-header"
        [class.expanded]="showMore"
        (click)="toggleMoreInfo()"
        [matTooltip]="showMore ? 'Schließen' : 'Öffnen'"
        [attr.aria-label]="
            (showMore ? 'Schließen' : 'Öffnen') + ' Details des Datensatzes'
        "
    >
        <mat-icon class="rotating animated">keyboard_arrow_down</mat-icon>
    </button>
    <div></div>
    <button
        #moreButton
        *ngIf="showMoreActions && moreActions.length"
        data-cy="more-actions"
        mat-icon-button
        class="menu dark menu-button"
        [matMenuTriggerFor]="moreActionsMenu"
        matTooltip="Bearbeiten"
        aria-label="Datensatz bearbeiten"
    >
        <mat-icon svgIcon="Mehr"></mat-icon>
        <mat-menu #moreActionsMenu="matMenu">
            <button
                [attr.data-cy]="'action-' + action.name"
                mat-menu-item
                *ngFor="let action of moreActions"
                (click)="moreButton.focus(); action.action()"
                [disabled]="action.disabled"
            >
                {{ action.title }}
            </button>
        </mat-menu>
    </button>
</div>

<ige-header-more [showMore]="showMore" [model]="_model"></ige-header-more>
