@import "../../../../variables";

.title {

  padding-bottom: 10px;
  align-items: center;

  .document-type {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 10px;

    mat-icon {
      line-height: 32px;
      color: #f27100;
      font-size: 16px;
    }
  }

  .label {
    color: $ige-primary;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .more, .menu {
    width: 26px;
    height: 26px;
    line-height: 24px;
    background-color: $ige-background-bar;
  }

  .menu {
    margin-left: 5px;
  }

  mat-form-field, form {
    width: 100%;
  }

  form {
    margin-top: -10px;
    margin-right: 10px;
  }

  ::ng-deep .mat-form-field-outline > div {
    background-color: #ffffff;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-subscript-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  span {
    font-size: 34px;
  }

  ::ng-deep .expanded .mat-icon {
    transform: rotate(180deg);
  }

}
