<div class="title">
    <div class="document-type">
        <mat-icon [svgIcon]="getIcon()"
                  [title]="form.get('title')?.value"
                  [ngClass]="['document-icon',getStateClass()]"></mat-icon>
    </div>

    <span *ngIf="!showTitleInput" fxFlex class="label" (click)="editTitle()">
        <span>{{form.get('title')?.value || 'Kein Titel'}}</span>
        <mat-icon svgIcon="cursor-edit"></mat-icon>
    </span>

    <form [formGroup]="form" [class.hide]="!showTitleInput">
        <mat-form-field appearance="outline">
            <textarea #cfcAutosize="cdkTextareaAutosize" #titleInput matInput formControlName="title"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      (blur)="showTitleInput = false"
                      (keyup.enter)="showTitleInput = false"
                      (keydown.enter)="$event.preventDefault()">
            </textarea>
        </mat-form-field>
    </form>

    <button mat-icon-button mat-flat-button class="more clickable dark" [class.expanded]="showMore" (click)="toggleMoreInfo()">
        <mat-icon class="animated">keyboard_arrow_down</mat-icon>
    </button>
    <button mat-icon-button mat-flat-button class="menu clickable dark">
        <mat-icon>more_vert</mat-icon>
    </button>

</div>

<ige-header-more [showMore]="showMore" [model]="model"></ige-header-more>
