<div class="title">
    <div class="document-type">
        <mat-icon
            [svgIcon]="getIcon()"
            [title]="form.get('title')?.value"
            [ngClass]="['document-icon', getStateClass()]"
        ></mat-icon>
    </div>

    <span
        *ngIf="!showTitleInput"
        fxFlex
        class="label"
        matTooltip="Der Titel der Adresse ergibt sich aus den Feldern Organisation und Name/Vorname."
        [matTooltipDisabled]="!disableEdit"
        [matTooltipShowDelay]="1000"
        [class.editable]="!disableEdit && form.enabled"
        (click)="!disableEdit && form.enabled && editTitle()"
    >
        <span>{{ form.get("title")?.value || "Kein Titel" }}</span>
        <mat-icon svgIcon="cursor-edit"></mat-icon>
    </span>

    <form [formGroup]="form" [class.hide]="!showTitleInput">
        <mat-form-field appearance="outline">
            <textarea
                #cfcAutosize="cdkTextareaAutosize"
                #titleInput
                matInput
                formControlName="title"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                (blur)="showTitleInput = false"
                (keyup.enter)="showTitleInput = false"
                (keydown.enter)="$event.preventDefault()"
            >
            </textarea>
        </mat-form-field>
    </form>

    <button
        mat-icon-button
        class="dark menu-button"
        [class.expanded]="showMore"
        (click)="toggleMoreInfo()"
    >
        <mat-icon class="rotating animated">keyboard_arrow_down</mat-icon>
    </button>
    <!--    <button mat-icon-button class="menu dark menu-button">
        <mat-icon svgIcon="Mehr"></mat-icon>
    </button>-->
</div>

<ige-header-more [showMore]="showMore" [model]="model"></ige-header-more>
