<ige-dialog-template
    title="Datei(en) hochladen"
    contentColor="#f3f3f3"
    (submit)="submit()"
    (cancel)="cancel()"
>
    <ng-container content>
        <ige-file-upload
            [target]="targetUrl"
            (complete)="onFileComplete()"
            (chosenFiles)="chosenFiles = $event"
            (removeFile)="removeUploadedFile($event)"
        ></ige-file-upload>

        <mat-slide-toggle labelPosition="before" color="primary" class="stretch"
            >ZIP-Archive nach dem Übernehmen entpacken
        </mat-slide-toggle>
    </ng-container>
</ige-dialog-template>
