@import "src/variables";

.upload-content {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 18px;
  padding: 24px 0;
  overflow: auto;

  .alternative-text {
    padding-bottom: 8px;
  }

  &.fileover {
    background-color: $ige-mark-color;

    /*.alternative-text,
    ige-file-upload {
      visibility: hidden;
    }*/
  }

  .mat-icon.upload {
    width: 80px;
    height: 80px;
  }
}
