<ige-dialog-template
    [label]="dialogTitle()"
    contentColor="#f3f3f3"
    (submit)="submit()"
    (cancel)="cancel()"
    [disabled]="!uploadComplete || extractInProgress"
>
    <ng-container content>
        <ige-file-upload
            [target]="targetUrl()"
            [additionalParameters]="optionsSelection"
            [infoText]="infoText"
            [allowedUploadTypes]="allowedUploadTypes"
            (chosenFiles)="updateChosenFiles($event)"
            (removeFile)="removeUploadedFile($event)"
            (complete)="handleUploadComplete()"
            [multiple]="multiple()"
            [enableFileUploadOverride]="enableFileUploadOverride()"
            [enableFileUploadReuse]="enableFileUploadReuse()"
            [enableFileUploadRename]="enableFileUploadRename()"
        ></ige-file-upload>

        @if (hasExtractZipOption) {
            <mat-slide-toggle
                labelPosition="before"
                color="accent"
                class="stretch"
                (change)="extractZipFiles = $event.checked"
                >ZIP-Archive nach dem Übernehmen entpacken
            </mat-slide-toggle>
            @if (extractInProgress) {
                <div class="no-fields-selected-notice">
                    Die ZIP-Datei wird gerade auf dem Server entpackt. Dies kann
                    einen Moment dauern.
                </div>
            }
        }
        @for (option of options(); track option) {
            <mat-slide-toggle
                labelPosition="before"
                color="accent"
                class="stretch"
                (change)="optionsSelection[option.id] = $event.checked"
            >
                {{ option.label }}
            </mat-slide-toggle>
        }
    </ng-container>
</ige-dialog-template>
