@import "src/variables";

.selected {
  background: $ige-mark-color;
}

.thin-column {
  width: 1px;
}

td {
  font-size: 16px;
  font-weight: 400;
  //padding: 10px 12px !important;

  div {
    font-weight: 500;
  }

  .td-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: $ige-hint-color;
  }
}

table {
  cursor: pointer;
}

.mat-mdc-row .menu-button {
  visibility: hidden;
  margin-right: 7px;
}

.mat-mdc-row:hover .menu-button {
  visibility: visible;
}

.legend {
  padding: 0 0 20px 14px;
}

.no-selection-placeholder {
  .no-selection-text {
    line-height: 22px;
    padding-top: 30px;
    text-align: center;
  }
}

.table-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-weight: 500;
  padding: 10px 5px 10px 24px;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    color: $ige-secondary;
    margin-left: 5px;
  }
}
