<mat-tab-group [animationDuration]="'0ms'">

    <mat-tab label="Benutzer">
        <as-split>
            <as-split-area [visible]="show" [size]="25" id="sidebarUser" class="split-pane-content-primary container">
                <mat-list>
                    <mat-list-item *ngFor="let user of users" [class.disabled]="user === selectedUser"
                                   (click)="loadUser(user)">
                        <h4 mat-line>{{user.login}}</h4>
                    </mat-list-item>
                </mat-list>
                <div class="text-center">
                    <button mat-icon-button (click)="addUser()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </as-split-area>
            <as-split-area [visible]="show" [size]="75" id="formUser" class="split-pane-content-secondary container-fluid">
                <form (ngSubmit)="onSubmit()" #userForm="ngForm" fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="Login" #loginRef type="text" [disabled]="!isNewUser" required autocomplete="off"
                               name="login"
                               [(ngModel)]="selectedUser.login">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Vorname" autocomplete="off" [(ngModel)]="selectedUser.firstName"
                               name="firstName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nachname" autocomplete="off" [(ngModel)]="selectedUser.lastName"
                               name="lastName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Passwort" type="password" autocomplete="new-password"
                               [required]="isNewUser"
                               name="password"
                               [(ngModel)]="selectedUser.password">
                    </mat-form-field>
                    <div>
                        <label i18n>Rollen</label>
                        <!--<select multiple [(ngModel)]="selectedUser.roles" name="roles">
                            <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                        </select>-->
                        <div class="clearfix"></div>
                        <!-- TODO: <ss-multiselect-dropdown [options]="roles" name="roles" [(ngModel)]="selectedUser.roles"></ss-multiselect-dropdown>-->
                    </div>

                    <button mat-button [disabled]="!userForm.form.valid"
                            (click)="saveUser(selectedUser)">Speichern
                    </button>
                    <button mat-button [disabled]="isNewUser"
                            (click)="deleteUser(selectedUser.login)">Löschen
                    </button>
                </form>
            </as-split-area>
        </as-split>
    </mat-tab>

    <mat-tab label="Rollen">
        <role-gui (onRoleChange)="updateRoles($event)"></role-gui>
    </mat-tab>

</mat-tab-group>
