@import "src/variables";

:host {
  display: flex;
  height: 100%;

  .page-wrapper {
    padding: 40px 24px 24px 56px;
    flex: 1;
  }

  ::ng-deep ige-repeat-list .list-item {
    background: $ige-background;
    margin-bottom: 2px;

    &:hover {
      background: darken($ige-background, 5%) !important;
    }
  }
}

as-split {
  max-width: 1900px;
  min-height: 600px;
  overflow: visible;
  background: white;
}

as-split-area {
  overflow-x: auto !important;
}
.header-wrapper {
  max-width: 1900px;
  margin: 0 auto 0 0;
  width: 100%;
}

.user-management-header {
  height: 110px;

  .page-title {
    margin-top: 0;
    padding-bottom: 12px;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 44px;
    color: $ige-primary;
  }
}

.detail-user,
.detail-role {
  padding: 10px 20px 20px 56px;
  flex: 1;
  div:nth-child(2) {
    margin-top: 24px;
  }
}

.save-buttons button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 15px;

  &.menu {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.save-buttons {
  margin-bottom: 24px;

  button.btnSave {
    &:not([disabled]):hover {
      background-color: lighten($ige-secondary, 5%);
    }
  }

  button.btnSave {
    margin-right: 0;
  }
}

.user-title {
  padding-bottom: 10px;
  padding-top: 7px;
  display: flex;
  align-items: center;

  .document-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    ::ng-deep svg path {
      fill: $ige-primary;
    }
  }

  .label {
    display: flex;
    justify-content: space-between;
    color: $ige-primary;
    padding: 7px 10px;
    line-height: 43px;
    font-size: 24px;
  }

  button {
    background: $ige-background;
  }

  > button:nth-of-type(1) {
    margin-right: 4px;
  }
}

mat-toolbar-row {
  background-color: $ige-background;
  padding: 0;
}

h1 {
  padding-left: 12px;
  font-size: 2em;
  line-height: 44px;
  font-weight: 400;
}

ngx-skeleton-loader {
  padding: 10px;
}

ige-search-field {
  ::ng-deep {
    .mat-mdc-form-field {
      width: 300px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
