@import "src/variables";

:host {
  display: block;
  height: 100%;

  .page-wrapper {
    padding: 40px 24px 24px 56px;
  }
}

as-split {
  max-width: 1400px;
  margin: 0 auto;
}

as-split-area {
  background: white;
}

.header-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.user-management-header {
  height: 110px;

  .page-title {
    margin-top: 0;
    padding-bottom: 6px;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 44px;
    color: $ige-primary;
  }
}

#formRoles form {
  padding: 20px;
}

.detail-user {
  padding: 20px 20px 20px 56px;
  flex: 1;
}

.save-buttons button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 15px;

  &.menu {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.save-buttons {
  button.btnAddNew {
    &:not([disabled]):hover {
      background-color: lighten($ige-secondary, 5%);
    }
  }

  button.btnAddNew {
    margin-right: 0;
  }
}

.user-title {
  padding-bottom: 10px;
  padding-top: 7px;

  .document-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin-right: 6px;
    margin-top: 10px;
  }

  .label {
    display: flex;
    justify-content: space-between;
    color: $ige-primary;
    padding: 7px 10px;
    margin: -5px 10px 4px 1px;
    line-height: 43px;

    &.editable {
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 0 2px $ige-comment-color;
        border-radius: 4px;

        ::ng-deep mat-icon {
          visibility: visible;
        }
      }
    }

    ::ng-deep mat-icon {
      visibility: hidden;
      padding-left: 10px;

      svg {
        width: 20px;

        .coloring {
          fill: $ige-comment-color;
        }
      }
    }
  }

  button {
    margin-top: 10px;
  }
}

mat-toolbar-row {
  background-color: $ige-background;
  padding: 0;
}

h1 {
  padding-left: 12px;
  font-size: 2em;
  line-height: 44px;
  font-weight: 400;
}

ngx-skeleton-loader {
  padding: 10px;
}

.no-selection-text {
  color: $ige-comment-color;
}

// Tables

.selected {
  background: $ige-mark-color;
}

.thin-column {
  width: 1px;
}

td {
  font-weight: 500;
}

table {
  cursor: pointer;

  td.mat-cell:last-of-type {
    text-align: left;
  }
}

.td-subtitle {
  font-weight: normal;
  color: $ige-hint-color;
}

.mat-row .menu-button {
  visibility: hidden;
  margin-right: 7px;
}

.mat-row:hover .menu-button {
  visibility: visible;
}

ige-search-field {
  ::ng-deep {
    .mat-form-field {
      width: 300px;
    }

    .mat-form-field-suffix {
      top: -0.15em !important;
    }
  }
}

.legend {
  padding-left: 14px;
}

mat-toolbar-row {
  padding: 0;
}
