<h1 class="address-header-title text-center">Adressen</h1>

<div class="text-center shortcut">
    @if (canCreateAddress) {
        <ige-action-button
            label="Neuer Ordner"
            svgIcon="outline-create_new_folder-24px"
            (submit)="createNewFolder()"
        ></ige-action-button>
        <ige-action-button
            label="Neue Adresse"
            svgIcon="outline-person_add-24px"
            (submit)="createNewAddress()"
        ></ige-action-button>
    }
    @if (canImport) {
        <ige-action-button
            label="Adressen Importieren"
            icon="import_export"
            (submit)="importDataset()"
        ></ige-action-button>
    }
</div>
