<h1 class="text-center">Adressen</h1>

<div class="text-center shortcut">
    <ige-action-button
        label="Neuer Ordner"
        svgIcon="outline-create_new_folder-24px"
        [disabled]="!canCreateAddress"
        (submit)="createNewFolder()"
    ></ige-action-button>
    <ige-action-button
        label="Neue Adresse"
        svgIcon="outline-person_add-24px"
        [disabled]="!canCreateAddress"
        (submit)="createNewAddress()"
    ></ige-action-button>
    <ige-action-button
        *ngIf="canImport"
        label="Adressen Import"
        icon="import_export"
        [disabled]="!canImport"
        (submit)="importDataset()"
    ></ige-action-button>
</div>
