<div class="address-header-title text-center">Adressen</div>

<div class="text-center shortcut">
    <ige-action-button
        label="Neuer Ordner"
        svgIcon="outline-create_new_folder-24px"
        [disabled]="!canCreateAddress"
        (submit)="createNewFolder()"
    ></ige-action-button>
    <ige-action-button
        label="Neue Adresse"
        svgIcon="outline-person_add-24px"
        [disabled]="!canCreateAddress"
        (submit)="createNewAddress()"
    ></ige-action-button>
    @if (canImport) {
        <ige-action-button
            label="Adressen Import"
            icon="import_export"
            [disabled]="!canImport"
            (submit)="importDataset()"
        ></ige-action-button>
    }
</div>
