:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

::ng-deep .mat-tab-group, ::ng-deep .mat-tab-body-wrapper {
  flex: 1;
}

/deep/ .ui-fileupload-buttonbar {
  display: none;
}

.nv-file-over {
  border: dotted 3px green;
}

/* Default class applied to drop zones on over */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
