<!-- System behaviours -->
<mat-tab-group [animationDuration]="'0ms'">
    <mat-tab label="System">
        <mat-selection-list multiple [ngModel]="selectedPlugins"
                            (selectionChange)="togglePlugin($event.option.value, $event.option.selected)">
            <mat-list-option *ngFor="let plugin of plugins"
                             [value]="plugin.id">
                <h3 matLine>
                    {{plugin.title}}
                    <span *ngIf="modifiedPluginStates.indexOf(plugin.id) !== -1">(modified)</span>
                </h3>
                <p matLine>
                    <span>{{plugin.description}}</span>
                </p>
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>

    <!-- Behaviours for each profile -->
    <!--<mat-tab *ngFor="let key of behavioursLabel" label="Profil: {{key}}">
        <ng-container [formGroup]="behaviourForm">
            <mat-card *ngFor="let behaviour of behaviours[key]">
                <mat-card-header>
                    <label class="custom-control custom-checkbox">
                        <ige-checkbox #checkBehave
                                      [label]="behaviour.title"
                                      [formControlName]="behaviour.id"
                                      (click)="toggleBehaviour(checkBehave.value, checkBehave.checked)"
                        ></ige-checkbox>
                    </label>
                    &lt;!&ndash;<span class="fa pull-right clickable" (click)="toggleField(behaviour)"
                          [class.fa-chevron-up]="behaviour._state === 'expanded'"
                          [class.fa-chevron-down]="behaviour._state === 'collapsed'"
                    ></span>&ndash;&gt;
                </mat-card-header>
                <mat-card-content>&lt;!&ndash; [@openClose]="behaviour._state">&ndash;&gt;
                    <p>{{behaviour.description}}</p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </mat-tab>-->
</mat-tab-group>
