<!-- System behaviours -->
<mat-tab-group [animationDuration]="'0ms'">
    <mat-tab label="System">
        <mat-card *ngFor="let plugin of plugins">
            <form [formGroup]="behaviourFields[plugin.id].form">
                <mat-card-title>
                    <mat-checkbox [formControl]="behaviourFields[plugin.id].active"
                                  (change)="updateFieldState(plugin, $event.checked)"></mat-checkbox>
                    <span class="title">
                        {{plugin.name}}
                        <span *ngIf="behaviourFields[plugin.id].modified">(modified)</span>
                    </span>
                </mat-card-title>

                <mat-card-content>
                    <div>{{plugin.description}}</div>

                    <ng-container *ngIf="behaviourFields[plugin.id].fields.length > 0">
                        <formly-form [form]="behaviourFields[plugin.id].form"
                                     [fields]="behaviourFields[plugin.id].fields"
                                     [model]="behaviourFields[plugin.id].data"></formly-form>
                    </ng-container>
                </mat-card-content>
            </form>
        </mat-card>

        <!--<mat-selection-list multiple [(ngModel)]="selectedPlugins">

            <ng-container *ngFor="let plugin of plugins">

                <mat-list-option [value]="plugin.id" [disableRipple]="true">
                    <h3 matLine>
                        {{plugin.title}}
                        <span *ngIf="modifiedPluginStates.indexOf(plugin.id) !== -1">(modified)</span>
                    </h3>
                    <p matLine>
                        <span>{{plugin.description}}</span>
                    </p>
                </mat-list-option>

                <ng-container *ngIf="behaviourFields[plugin.id] as field">
                    <form [formGroup]="field.form" (keyup)="handleKeyUp($event)">
                        <formly-form [form]="field.form"
                                     [fields]="field.fields"
                                     [model]="field.data"></formly-form>
                    </form>
                </ng-container>

            </ng-container>

        </mat-selection-list>-->
        <button mat-stroked-button color="primary" (click)="save()"
                [disabled]="hasInvalidForm()">Speichern
        </button>
    </mat-tab>

    <!-- Behaviours for each profile -->
    <!--<mat-tab *ngFor="let key of behavioursLabel" label="Profil: {{key}}">
        <ng-container [formGroup]="behaviourForm">
            <mat-card *ngFor="let behaviour of behaviours[key]">
                <mat-card-header>
                    <label class="custom-control custom-checkbox">
                        <ige-checkbox #checkBehave
                                      [label]="behaviour.title"
                                      [formControlName]="behaviour.id"
                                      (click)="toggleBehaviour(checkBehave.value, checkBehave.checked)"
                        ></ige-checkbox>
                    </label>
                    &lt;!&ndash;<span class="fa pull-right clickable" (click)="toggleField(behaviour)"
                          [class.fa-chevron-up]="behaviour._state === 'expanded'"
                          [class.fa-chevron-down]="behaviour._state === 'collapsed'"
                    ></span>&ndash;&gt;
                </mat-card-header>
                <mat-card-content>&lt;!&ndash; [@openClose]="behaviour._state">&ndash;&gt;
                    <p>{{behaviour.description}}</p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </mat-tab>-->
</mat-tab-group>
