<div class="header" fxLayout="column">
    <div *ngIf="showOptions" class="options" fxLayout="row" fxLayoutAlign="space-between">
        <mat-slide-toggle class="show-all" checked disabled>Alle anzeigen</mat-slide-toggle>

        <button *ngIf="showReloadButton" mat-icon-button data-cy="reload-button"
                matTooltip="Aktualisieren"
                (click)="reloadTree()">
            <mat-icon>refresh</mat-icon>
        </button>

        <button *ngIf="showMultiSelectButton" mat-icon-button data-cy="edit-button"
                matTooltip="Mehrfachauswahl"
                (click)="edit.next()">
            <mat-icon svgIcon="edit_mode"></mat-icon>
        </button>
    </div>

    <mat-form-field class="search" appearance="outline" data-cy="tree-search-field">
        <mat-icon *ngIf="query.value?.length === 0" class="passive" matPrefix>search</mat-icon>
        <input matInput placeholder="Suchen" aria-label="Search"
               [formControl]="query"
               [matAutocomplete]="searchAuto">
        <button *ngIf="query.value?.length > 0" mat-icon-button matSuffix class="close" (click)="query.reset('')"  data-cy="clear-tree-search-field">
            <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
        </button>
        <mat-autocomplete #searchAuto="matAutocomplete" class="quicksearch-auto dense">
            <mat-option *ngFor="let doc of searchResult | async"
                        (onSelectionChange)="loadResultDocument(doc)">
                <ige-document-list-item [doc]="doc" [denseMode]="true"></ige-document-list-item>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
