@import "src/variables";

:host {
  background-color: $ige-background;
  display: block;
}

:host-context(.mat-mdc-dialog-container) :host {
  background-color: #ffffff;
}

mat-spinner {
  display: inline-block;
  margin-right: 8px;
}

.header {
  padding: 0 12px;

  .options {
    padding: 8px 0 14px;

    .multi-select {
      flex: 2;
      font-size: 14px;
      display: flex;
      align-items: center;
      mat-checkbox {
        padding-right: 12px;

        &:hover {
          background-color: $ige-background-bar;
        }
      }
    }

    .show-all {
      font-size: 14px;
      height: 40px;
    }

    .reload-button {
      margin-right: -10px;
    }
  }
}

.multi-select-area {
  display: flex;
  background-color: $ige-mark-color;
  padding: 8px 12px 8px 24px;
  font-size: 14px;
  margin-bottom: 6px;
}
