.header {
  padding: 10px 12px 10px 12px;

  .options {
    padding-bottom: 5px;

    .show-all {
      font-size: 14px;
    }
  }

  ::ng-deep .mat-icon-button {
    height: 35px;
    margin-top: -10px;
  }
}

.search {
  ::ng-deep .mat-form-field-outline {
    background-color: #ffffff;

    div {
      border: 0;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    margin-right: -5px;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 0.2em 0 0.6em;
  }
}
