<div
    *ngIf="multiSelectionModeEnabled"
    class="multi-select-area justify-content-space-between align-items-center"
>
    <mat-checkbox
        data-cy="toggle-all-selection"
        matTooltip="Alle Aus-/Abwählen"
        [checked]="checkToggleAll"
        [indeterminate]="indeterminateToggleAll"
        (change)="toggleAllSelection.next($event.checked)"
        >Alle
    </mat-checkbox>
    <button
        mat-icon-button
        matSuffix
        (click)="deactivateMultiSelection()"
        data-cy="exit-multi-select-mode"
    >
        <mat-icon>cancel</mat-icon>
    </button>
</div>

<div class="header flex-col">
    <div
        *ngIf="showOptions && !multiSelectionModeEnabled"
        class="options flex-row flex-wrap-reverse justify-content-space-between align-items-stretch"
    >
        <div class="multi-select" *ngIf="showMultiSelectButton">
            <mat-checkbox
                data-cy="edit-button"
                matTooltip="Mehrfachauswahl"
                (click)="activateMultiSelection()"
            >
                Auswahl
            </mat-checkbox>
        </div>

        <div class="flex-1 flex-row justify-content-end align-items-center">
            <!--            <mat-slide-toggle
                class="show-all"
                checked
                (change)="toggleView.emit($event.checked)"
                >Alle anzeigen
            </mat-slide-toggle>-->

            <button
                *ngIf="showReloadButton"
                mat-icon-button
                data-cy="reload-button"
                class="reload-button"
                matTooltip="Aktualisieren"
                (click)="reloadTree()"
            >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="showSearch" data-cy="tree-search-field">
        <ige-search-input
            [autocompleteRef]="searchAuto"
            [searchSub]="searchSub"
            [query]="query"
            [flexWidth]="true"
            placeholder="Suchen"
            showSearchIcon="true"
        ></ige-search-input>

        <mat-autocomplete
            #searchAuto="matAutocomplete"
            class="quicksearch-auto-tree dense"
        >
            <mat-option
                *ngFor="let doc of searchResult | async"
                (onSelectionChange)="loadResultDocument(doc)"
            >
                <ige-document-list-item [doc]="doc"></ige-document-list-item>
            </mat-option>
        </mat-autocomplete>
    </div>
</div>
