<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation" [class.active]="currentTab === 'import'"><a class="nav-link" (click)="currentTab = 'import'">Import</a></li>
    <li class="nav-item" role="presentation" [class.active]="currentTab === 'export'"><a class="nav-link" (click)="currentTab = 'export'">Export</a></li>
</ul>
<div class="padding tab-content">

    <div class="tab-pane" [class.active]="currentTab === 'import'">
        <h1>import</h1>
                <label class="custom-file">
                    <input #fileInput type="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
                <span class="text-muted">{{fileInput.value}}</span>
            <button type="button" class="btn btn-primary" (click)="import(fileInput.files)">Start Import</button>
    </div>

    <div class="tab-pane" [class.active]="currentTab === 'export'">
        <h1>export</h1>
    </div>

</div>
