:host {
  overflow: auto;
  flex: 1;
}

mat-progress-spinner {
  display: inline-block;
}

.section {
  background-color: #ffffff;
  padding: 24px;
}

.button-bar {
  padding-top: 12px;
}

section {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}

.cron-explain {
  padding: 0 40px;

  & > div {
    display: inline-block;
    width: 16.5%;
    //text-align: -webkit-center;
  }
}

.star {
  padding-left: 6px;
}

.explain {
  transform: rotate(180deg);
  white-space: nowrap;
  margin-bottom: 20px;
  writing-mode: vertical-rl;
}

.status {
  position: relative;

  .copy-button-area {
    position: absolute;
    right: 24px;
    display: none;
  }

  &:hover .copy-button-area {
    display: block;
  }
}

.index-btn {
  padding-left: 24px;
}
