.section {
  background-color: #FFFFFF;
  padding: 24px;
}

section {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}

.cron-explain {

  padding: 0 40px;

  & > div {
    display: inline-block;
    width: 16.5%;
    //text-align: -webkit-center;
  }
}

.star {
  padding-left: 6px;
}

.explain {
  transform: rotate(180deg);
  white-space: nowrap;
  margin-bottom: 20px;
  writing-mode: vertical-rl;
}

.status {
  padding: 30px;
  background-color: rgb(223, 223, 223);
}
