<page-template label="Indizierung">
    <ng-container left-side>
        <ige-indexing-explanation
            (cronChange)="cronField.setValue($event)"
        ></ige-indexing-explanation>
    </ng-container>

    @if (isActivated) {
        <ng-container main-header>
            <ige-job-handler-header
                [message]="liveImportMessage | async"
                [isRunning]="indexingIsRunning"
                (showMore)="showMore = $event"
            >
                <div class="index-btn">
                    @if (!indexingIsRunning) {
                        <button
                            mat-flat-button
                            color="primary"
                            class="start-index"
                            [disabled]="!initialized"
                            (click)="index()"
                        >
                            Indizieren
                        </button>
                    } @else {
                        <button
                            mat-flat-button
                            (click)="cancelIndexing()"
                            class="cancel-index"
                        >
                            Indizierung abbrechen
                        </button>
                    }
                </div>
            </ige-job-handler-header>
        </ng-container>
    } @else {
        Elasticsearch ist nicht im Backend aktiviert, welches für die
        Indizierung benötigt wird.
    }

    <div status class="status" [class.hide]="!showMore">
        <div class="copy-button-area">
            <div class="extra-large-spacing link-text">
                <a href="#" (click)="copyContent($event)">Kopieren</a>
            </div>
        </div>

        <div #indexContent>
            <ige-log-result [data]="liveImportMessage"></ige-log-result>
        </div>
    </div>

    <div main-content>
        <section>Ausführungsintervall</section>
        <div class="padding section">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Cron Ausdruck</mat-label>
                <input
                    [formControl]="cronField"
                    matInput
                    placeholder="*/1 * * * * *"
                />
                <mat-hint>{{ hint }}</mat-hint>
            </mat-form-field>
            <div class="button-bar flex-row justify-content-space-between">
                <button
                    mat-stroked-button
                    (click)="deactivateIndexing()"
                    [disabled]="!cronField.value"
                >
                    Keine zeitliche Indizierung
                </button>
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="updatePattern(cronField.value)"
                    [disabled]="!valid"
                >
                    Übernehmen
                </button>
            </div>
        </div>

        <section>Konfiguration</section>
        <div class="padding section">
            <formly-form
                [fields]="fields"
                [form]="exportForm"
                [model]="exportModel"
            ></formly-form>
        </div>
        <div class="flex-row justify-content-end">
            <button
                mat-flat-button
                color="primary"
                [disabled]="exportForm.invalid"
                (click)="updateExportConfig()"
            >
                Speichern
            </button>
        </div>
    </div>
</page-template>
