<page-template label="Indizierung">
    <ng-container left-side>
        <div>
            Hier wird festgelegt, in welchen Zeitabständen der Katalog indiziert
            werden soll. Für die Definition des Intervalls wird der Cron
            Ausdruck verwendet.
        </div>
        <p>Ein Cron Ausdruck ist folgendermaßen aufgebaut:</p>

        <div class="cron-explain">
            <div>
                <div class="explain">Sekunde</div>
                <div class="star">*</div>
            </div>
            <div>
                <div class="explain">Minute</div>
                <div class="star">*</div>
            </div>
            <div>
                <div class="explain">Stunde</div>
                <div class="star">*</div>
            </div>
            <div>
                <div class="explain">Tag des Monats</div>
                <div class="star">*</div>
            </div>
            <div>
                <div class="explain">Monat</div>
                <div class="star">*</div>
            </div>
            <div>
                <div class="explain">Tag der Woche</div>
                <div class="star">*</div>
            </div>
        </div>

        <div>
            Beispiele:
            <mat-chip-listbox>
                <mat-chip (click)="cronField.setValue('0 */30 * * * *')"
                    >Alle 30 Minuten
                </mat-chip>
                <mat-chip (click)="cronField.setValue('0 0 3 * * *')"
                    >Täglich um 3 Uhr
                </mat-chip>
                <mat-chip (click)="cronField.setValue('0 0 23 * * 6,7')"
                    >23 Uhr am Wochenende
                </mat-chip>
                <mat-chip (click)="cronField.setValue('0 0 8,11 * * 1-5')"
                    >Mo-Fr 8 und 11 Uhr
                </mat-chip>
            </mat-chip-listbox>
        </div>

        <p>
            Weitere Information über die Verwendung des Cron-Ausdrucks kann hier
            nachgelesen werden:
            <a target="_blank" href="https://de.wikipedia.org/wiki/Cron"
                >Link</a
            >
        </p>
        <p>
            Der Cron-Ausdruck beinhaltet zusätzlich die Einstellung von
            Sekunden, um eine genauere Ausführung zu definieren.
        </p>
    </ng-container>

    <ng-container main-header *ngIf="isActivated; else noElasticsearch">
        <ige-job-handler-header
            [message]="liveImportMessage | async"
            [isRunning]="indexingIsRunning"
            (showMore)="showMore = $event"
        >
            <div class="index-btn">
                <button
                    *ngIf="!indexingIsRunning; else indexing"
                    mat-flat-button
                    color="primary"
                    class="start-index"
                    [disabled]="!initialized"
                    (click)="index()"
                >
                    Indizieren
                </button>
                <ng-template #indexing>
                    <button
                        mat-flat-button
                        (click)="cancelIndexing()"
                        class="cancel-index"
                    >
                        Indizierung abbrechen
                    </button>
                </ng-template>
            </div>
        </ige-job-handler-header>
    </ng-container>

    <div status class="status" [class.hide]="!showMore">
        <div class="copy-button-area">
            <div class="extra-large-spacing link-text">
                <a href="#" (click)="copyContent($event)">Kopieren</a>
            </div>
        </div>

        <div #indexContent>
            <ige-log-result [data]="liveImportMessage"></ige-log-result>
        </div>
    </div>

    <div main-content>
        <section>Ausführungsintervall</section>
        <div class="padding section">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Cron Ausdruck</mat-label>
                <input
                    [formControl]="cronField"
                    matInput
                    placeholder="*/1 * * * * *"
                />
                <mat-hint>{{ hint }}</mat-hint>
            </mat-form-field>
            <div class="button-bar flex-row justify-content-space-between">
                <button
                    mat-stroked-button
                    (click)="deactivateIndexing()"
                    [disabled]="!cronField.value"
                >
                    Keine zeitliche Indizierung
                </button>
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="updatePattern(cronField.value)"
                    [disabled]="!valid"
                >
                    Übernehmen
                </button>
            </div>
        </div>
    </div>

    <ng-template #noElasticsearch>
        Elasticsearch ist nicht im Backend aktiviert, welches für die
        Indizierung benötigt wird.
    </ng-template>
</page-template>
