:host {
  overflow: auto;
  flex: 1;
}

mat-progress-spinner {
  display: inline-block;
}

.section {
  background-color: #ffffff;
  padding: 24px;
}

.button-bar {
  padding-top: 12px;
}

section {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}

.status {
  position: relative;

  .copy-button-area {
    position: absolute;
    right: 24px;
    display: none;
  }

  &:hover .copy-button-area {
    display: block;
  }
}

.index-btn {
  padding-left: 24px;
}
