@use "src/variables" as vars;

:host {
  display: block;
  padding: 12px 16px;
  border-top: 1px solid vars.$ige-background-bar;

  .main {
    display: grid;
    grid-template-columns: 24px 1fr auto;
    align-items: center;
    gap: 16px;
  }
}
