<div class="main">
    @if (file.transfer.progress < 1) {
        <mat-spinner diameter="24"></mat-spinner>
    }
    @if (file.error === null) {
        <mat-icon class="green" svgIcon="baseline-check-24px"></mat-icon>
    }
    @if (file.error) {
        <mat-icon class="error-color">error_outline</mat-icon>
    }
    <div>
        <div>{{ file.transfer.name }}</div>
        <div class="comment">
            {{ file.transfer.size | size }}
            @if (file.transfer.progress < 1) {
                <span
                    >({{
                        file.transfer.progress * 100 | number: ".1-1"
                    }}%)</span
                >
            }
        </div>
        @if (file.error) {
            <div class="error-color">
                {{ file.error.message }}
            </div>
        }
    </div>

    <div class="flex-1"></div>

    @if (!showOnlyProgress) {
        @if (file.transfer.complete) {
            <button
                data-cy="btn-remove"
                mat-icon-button
                (click)="cancelFile()"
                aria-label="entfernen"
            >
                <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
            </button>
        } @else {
            <button
                mat-icon-button
                (click)="file.transfer.paused ? resume() : pause()"
                [attr.aria-label]="
                    file.transfer.paused
                        ? 'Hochladen fortsetzen'
                        : 'Hochladen pausieren'
                "
            >
                <mat-icon class="gray">{{
                    file.transfer.paused ? "not_started" : "pause"
                }}</mat-icon>
            </button>
        }
    }
</div>

@if (file.transfer.progress < 1) {
    <mat-progress-bar [value]="file.transfer.progress * 100"></mat-progress-bar>
}

@if (file.error) {
    <div class="flex-col">
        <div class="flex-1 align-self-end">
            @if (file.error.status === 409) {
                <button mat-button color="primary" (click)="overwrite()">
                    Überschreiben
                </button>
                <button mat-button color="primary" (click)="rename()">
                    Umbenennen
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="useExisting.next(file.transfer)"
                >
                    Existierende verwenden
                </button>
            } @else {
                <button mat-button color="primary" (click)="retry()">
                    Erneut versuchen
                </button>
            }
        </div>
    </div>
}
