<mat-list-item>
    <mat-spinner
        diameter="24"
        matListIcon
        *ngIf="file.transfer.progress < 1"
    ></mat-spinner>
    <mat-icon
        class="green"
        *ngIf="file.transfer.success"
        matListIcon
        svgIcon="baseline-check-24px"
    ></mat-icon>
    <mat-icon *ngIf="file.error" matListIcon class="mat-error"
        >error_outline
    </mat-icon>
    <div mat-line>{{ file.transfer.name }}</div>
    <div mat-line class="comment">
        {{ file.transfer.size | size }}
        <span *ngIf="file.transfer.progress < 1"
            >({{ file.transfer.progress * 100 | number: ".1-1" }}%)</span
        >
    </div>
    <div *ngIf="file.error" mat-line class="mat-error">
        {{ file.error.message }}
    </div>
    <ng-container *ngIf="!showOnlyProgress">
        <button
            *ngIf="file.transfer.complete; else pauseButton"
            mat-icon-button
            (click)="cancelFile()"
        >
            <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
        </button>
        <ng-template #pauseButton>
            <button
                mat-icon-button
                (click)="file.transfer.paused ? resume() : pause()"
            >
                <mat-icon class="gray">{{
                    file.transfer.paused ? "not_started" : "pause"
                }}</mat-icon>
            </button>
        </ng-template>
    </ng-container>
</mat-list-item>
<mat-progress-bar
    *ngIf="file.transfer.progress < 1"
    [value]="file.transfer.progress * 100"
></mat-progress-bar>

<div *ngIf="file.error" fxLayout="column">
    <div fxFlex fxFlexAlign="end">
        <ng-container *ngIf="file.error.status === 409; else retryButton">
            <button mat-button color="primary" (click)="overwrite()">
                Überschreiben
            </button>
            <button mat-button color="primary" (click)="rename()">
                Umbenennen
            </button>
            <button
                mat-button
                color="primary"
                (click)="useExisting.next(file.transfer)"
            >
                Existierende verwenden
            </button>
        </ng-container>

        <ng-template #retryButton>
            <button mat-button color="primary" (click)="retry()">
                Erneut versuchen
            </button>
        </ng-template>
    </div>
</div>

<!--<div *ngIf="file.progress === 100">{{ file | json }}</div>-->
<!--<span id="file-label">
    {{ file.data.name }}
    <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
        <mat-icon>refresh</mat-icon></a
    >
    <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
        <mat-icon>cancel</mat-icon></a
    >
</span>-->
