<div class="spinner-wrapper">
    <button
        *ngIf="showToggleButton && docs.length > 0"
        mat-stroked-button
        type="button"
        class="toggle-ref-docs-btn"
        (click)="toggleList()"
        color="primary"
    >
        {{ totalHits }} {{ showReferences ? "Ausblenden" : "Anzeigen" }}
    </button>

    <ng-container *ngIf="isLoading">
        <mat-spinner diameter="24"></mat-spinner>
    </ng-container>
</div>

<ng-container *ngIf="showReferences && docs.length > 0">
    <mat-paginator
        *ngIf="totalHits > pageSize"
        [length]="totalHits"
        [pageSize]="pageSize"
        [hidePageSize]="true"
        (page)="switchPage($event)"
    ></mat-paginator>

    <ige-document-list-item
        #list
        [docs]="docs"
        [removeSelectionAfter]="true"
        (select)="openReference($event)"
    ></ige-document-list-item>

    <mat-hint *ngIf="referencesHint && docs.length > 0">
        {{ referencesHint }}
    </mat-hint>
</ng-container>

<div
    *ngIf="docs.length === 0 && !isLoading"
    data-cy="no-ref-docs-hint"
    class="no-references"
>
    {{ messageNoReferences }}
</div>
