<button
    *ngIf="showToggleButton"
    mat-stroked-button
    class="toggle-ref-docs-btn"
    (click)="toggleList()"
    color="primary"
>
    {{ showReferences ? "Ausblenden" : "Anzeigen" }}
</button>

<ng-container *ngIf="showReferences">
    <mat-paginator
        *ngIf="totalHits > pageSize"
        [length]="totalHits"
        [pageSize]="pageSize"
        [hidePageSize]="true"
        (page)="switchPage($event)"
    ></mat-paginator>

    <p *ngIf="totalHits === 0">
        Es existieren keine Referenzen auf diese Adresse
    </p>

    <ige-document-list-item
        #list
        [docs]="docs"
        [removeSelectionAfter]="true"
        (select)="openReference($event)"
    ></ige-document-list-item>
</ng-container>
