.toggle-ref-docs-btn {
  margin: 3px 0;
}

mat-hint {
  font-size: 12px;
}

mat-spinner {
  display: inline-block;
  margin-left: 12px;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
}

.no-references {
  padding: 10px 0 22px;
}
