<div class="spinner-wrapper">
    @if (showToggleButton && docs.length > 0) {
        <button
            mat-stroked-button
            type="button"
            class="toggle-ref-docs-btn"
            (click)="toggleList()"
            color="primary"
            aria-label="Zugeordnete Datensätze"
            aria-describedby="toggle-ref-desc"
            [attr.aria-expanded]="showReferences"
        >
            <span id="toggle-ref-desc"
                >{{ totalHits }}
                {{ showReferences ? "Ausblenden" : "Anzeigen" }}</span
            >
        </button>
    }

    @if (isLoading) {
        <mat-spinner diameter="24"></mat-spinner>
    }
</div>

@if (showReferences && docs.length > 0) {
    @if (totalHits > pageSize) {
        <mat-paginator
            [length]="totalHits"
            [pageSize]="pageSize"
            [hidePageSize]="true"
            (page)="switchPage($event)"
        ></mat-paginator>
    }
    <ige-document-list-item
        #list
        [docs]="docs"
        [removeSelectionAfter]="true"
        (select)="openReference($event)"
    ></ige-document-list-item>
    @if (referencesHint && docs.length > 0) {
        <mat-hint>
            {{ referencesHint }}
        </mat-hint>
    }
}

@if (docs.length === 0 && !isLoading) {
    <div data-cy="no-ref-docs-hint" class="no-references">
        {{ messageNoReferences }}
    </div>
}
