:host {
  padding-top: 10px;
}

.toggle-ref-docs-btn {
  margin: 7px 0;
}

mat-hint {
  font-size: 12px;
}

mat-spinner {
  display: inline-block;
  margin-left: 12px;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  min-height: 50.21px;
}
