<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>
        Freien Eintrag ersetzen
    </h1>
</div>

<mat-dialog-content>
    <div class="space-bottom-field">
        <div class="text-hint text-sm">
            Ausgewählter Eintrag
        </div>
        <div class="font-medium">
            {{ selectedEntry.value }}
        </div>
    </div>

    <formly-form
        [form]="toForm"
        [fields]="toFields"
    ></formly-form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">
        Abbrechen
    </button>

    <div class="flex-1"></div>

    <button
        mat-flat-button
        color="primary"
        (click)="replace()"
        [disabled]="isToFormInvalid()"
    >
        Ersetzen
    </button>
</mat-dialog-actions>
