<div class="container has-navbar">

    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation" [class.active]="behaviourTab === 'SYSTEM'">
            <a class="nav-link" (click)="behaviourTab = 'SYSTEM'">System</a>
        </li>
        <li class="nav-item" role="presentation" *ngFor="let key of behavioursLabel" [class.active]="behaviourTab === key">
            <a class="nav-link" (click)="behaviourTab = key">Profil: {{key}}</a>
        </li>
    </ul>

    <!-- System behaviours -->
    <div *ngIf="'SYSTEM' === behaviourTab">
        <div *ngFor="let plugin of plugins" class="checkbox panel panel-default">
            <div class="panel-heading">
                <label>
                    <input #plug type="checkbox" (change)="togglePlugin(plugin, plug.checked, $event)"
                           [checked]="plugin.isActive">
                    {{plugin.name}}
                </label>
                <span class="fa pull-right clickable" (click)="toggleField(plugin)"
                      [class.fa-chevron-up]="plugin._state === 'expanded'"
                      [class.fa-chevron-down]="plugin._state === 'collapsed'"
                ></span>
            </div>
            <div class="panel-body" [@openClose]="plugin._state">
                <p>{{plugin.description}}</p>
            </div>
        </div>
    </div>

    <!-- Behaviours for each profile -->
    <div role="presentation" *ngFor="let key of behavioursLabel" class="checkbox full">
        <div *ngIf="key === behaviourTab">
            <div *ngFor="let behaviour of behaviours[key]" class="checkbox panel panel-default">
                <div class="panel-heading">
                    <label>
                        <input #checkBehave type="checkbox"
                               (click)="toggleBehaviour(checkBehave.value, checkBehave.checked)"
                               [checked]="behaviour.isActive"
                               value="{{behaviour.id}}"> {{behaviour.title}}
                    </label>
                    <span class="fa pull-right clickable" (click)="toggleField(behaviour)"
                          [class.fa-chevron-up]="behaviour._state === 'expanded'"
                          [class.fa-chevron-down]="behaviour._state === 'collapsed'"
                    ></span>
                </div>
                <div class="panel-body" [@openClose]="behaviour._state">
                    <p>{{behaviour.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
