<div class="container has-navbar">

<!--    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation" [class.active]="behaviourTab === 'SYSTEM'">
            <a class="nav-link" (click)="behaviourTab = 'SYSTEM'">System</a>
        </li>
        <li class="nav-item" role="presentation" *ngFor="let key of behavioursLabel" [class.active]="behaviourTab === key">
            <a class="nav-link" (click)="behaviourTab = key">Profil: {{key}}</a>
        </li>
    </ul>-->

    <!-- System behaviours -->
    <mat-tab-group>
        <mat-tab label="System" [formGroup]="pluginForm">
            <mat-card *ngFor="let plugin of plugins">
                <mat-card-header (click)="toggleField(plugin)">
                    <ige-checkbox #plug
                                  [formControlName]="plugin.id"
                                  [label]="plugin.name"
                                  (change)="togglePlugin(plugin, $event)"
                    ></ige-checkbox>
                    <!--<label class="custom-control custom-checkbox">
                        <input #plug class="custom-control-input" type="checkbox" (change)="togglePlugin(plugin, plug.checked, $event)"
                               [checked]="plugin.isActive">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{plugin.name}}</span>
                    </label>-->
                    <span class="fa pull-right clickable"
                          [class.fa-chevron-up]="plugin._state === 'expanded'"
                          [class.fa-chevron-down]="plugin._state === 'collapsed'"
                    ></span>
                </mat-card-header>
                <mat-card-content [@openClose]="plugin._state">
                    <p>{{plugin.description}}</p>
                </mat-card-content>
            </mat-card>
        </mat-tab>

        <!-- Behaviours for each profile -->
        <mat-tab *ngFor="let key of behavioursLabel" label="Profil: {{key}}">
            <ng-container [formGroup]="behaviourForm">
                <mat-card *ngFor="let behaviour of behaviours[key]">
                    <mat-card-header>
                        <label class="custom-control custom-checkbox">
                            <ige-checkbox #checkBehave
                                [label]="behaviour.title"
                                [formControlName]="behaviour.id"
                                (click)="toggleBehaviour(checkBehave.value, checkBehave.checked)"
                                ></ige-checkbox>
                        </label>
                        <span class="fa pull-right clickable" (click)="toggleField(behaviour)"
                              [class.fa-chevron-up]="behaviour._state === 'expanded'"
                              [class.fa-chevron-down]="behaviour._state === 'collapsed'"
                        ></span>
                    </mat-card-header>
                    <mat-card-content [@openClose]="behaviour._state">
                        <p>{{behaviour.description}}</p>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>
