<h2 mat-dialog-title>Katalog bearbeiten</h2>
<mat-dialog-content>
    <h4>Allgemeine Angaben</h4>
    <!--    <mat-divider></mat-divider>-->

    <mat-form-field class="full-width">
        <input matInput placeholder="Titel" [(ngModel)]="catalog.label">
    </mat-form-field>

    <h4>Administratoren</h4>
    <mat-selection-list #adminList dense>
        <mat-list-option *ngFor="let admin of catAdmins | async" [value]="admin.login">
            {{admin.firstName}} {{admin.lastName}} ({{admin.login}})
        </mat-list-option>
        <mat-divider></mat-divider>
    </mat-selection-list>

    <h4>Benutzer</h4>
    <!--    <mat-divider></mat-divider>-->
    <mat-selection-list #userList [(ngModel)]="selectedUsers" dense>
        <mat-list-option *ngFor="let user of otherUsers | async" [value]="user.login">
            {{user.firstName}} {{user.lastName}} ({{user.login}})
        </mat-list-option>
        <mat-divider></mat-divider>
    </mat-selection-list>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="warn" (click)="deleteCatalog()">Löschen</button>
    <div fxFlex></div>
    <button mat-button color="primary" (click)="submit(userList.selectedOptions.selected[0])">Aktualisieren</button>
</mat-dialog-actions>
