::ng-deep mat-tree .mat-tree-node {
  min-height: 20px;
}




.clickable {
  cursor: pointer;
  text-decoration: none;
}

.folder {
  position: absolute;
  right: 5px;
  margin-top: -15px;
  display: none;
}

.refresh {
  position: absolute;
  right: 0;
  z-index: 1000
}
