<div style="position: relative;">
  <a class="refresh clickable text-muted padding pull-right fa fa-refresh"
     title="Aktualisieren"
     (click)="refresh()"></a>

    <p-tree [value]="nodes" selectionMode="multiple"
            [style.width]="'100%'"
            (onNodeSelect)="open($event)"
            [(selection)]="selectedNodes"
            (onNodeExpand)="loadNode($event)">
    </p-tree>

  <!--<tree-root #tree [nodes]="nodes" [options]="options" (activate)="open($event)" (deactivate)="deselected($event)">
    <ng-template #treeNodeTemplate let-node>
      <div class="myTreeNode">
        <div [class.active]="selectedId === node.data.id">
          <span *ngIf="!node.data._iconClass" class="badge"
                [class.badge-primary]="node.data._state === 'P'"
                [class.badge-warning]="node.data._state === 'W'"
                [class.pubished-working-label]="node.data._state === 'PW'"
          >{{node.data._profile}}</span>
          <span *ngIf="node.data._iconClass"
                [class]="'badge ' + node.data._iconClass ? node.data._iconClass : ''"
                [class.badge-primary]="node.data._profile !== 'FOLDER' && node.data._state === 'P'"
                [class.badge-warning]="node.data._profile !== 'FOLDER' && node.data._state === 'W'"
                [class.pubished-working-label]="node.data._profile !== 'FOLDER' && node.data._state === 'PW'"
                ></span>
          <span>{{ node.data.name }}</span>
        </div>
        &lt;!&ndash; TODO: refactor into css &ndash;&gt;
        <span *ngIf="showFolderEditButton && node.data._profile === 'FOLDER'" class="folder fa fa-edit"
              (click)="editFolder(node.data)"
        ></span>
      </div>
    </ng-template>
  </tree-root>-->
</div>
