@use "src/variables" as vars;

.doc-state-notification {
  background-color: vars.$ige-mark-color;
  color: vars.$ige-primary;
  text-align: center;
  padding: 16px;

  button {
    margin-top: 16px;
    background: white;
  }
}
