@import 'src/variables.scss';

:host {
  display: block;
  line-height: 48px;

  .wrapper {
    display: flex;
    padding: 4px 10px 4px 36px;
    overflow: hidden;
    align-items: center;

    span .mat-icon {
      padding-right: 10px;
      font-size: 28px;
      line-height: 24px;
      vertical-align: text-bottom;
    }

    &.info {
      background-color: $ige-info-background;

      .mat-icon {
        color: $ige-check-color;
      }
    }

    &.error {
      background-color: #F7E5E8;

      .mat-icon {
        color: $error-color;
      }
    }
  }

}
