:host {
  display: block;
  line-height: 48px;

  .wrapper {
    //height: 0;
    padding: 4px 10px 4px 36px;
    overflow: hidden;
    //transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

    &.info {
      //height: 56px;
      background-color: #ECF5EB;

      .mat-icon {
        color: #35922C;
      }
    }
  }

  ::ng-deep mat-icon {
    font-size: 28px;
    padding-right: 10px;
    vertical-align: text-bottom;
  }
}
