@import "src/variables.scss";

:host {
  display: block;
  line-height: 24px;

  .wrapper {
    display: flex;
    padding: 4px 10px 4px 36px;
    overflow: hidden;
    align-items: center;

    span .mat-icon {
      padding-right: 10px;
      font-size: 28px;
      line-height: 24px;
      vertical-align: text-bottom;
    }

    &.info {
      background-color: $ige-info-background;

      .mat-icon {
        color: $ige-check-color;
      }
    }

    &.error {
      background-color: $error-background;

      .mat-icon {
        color: $error-color;
      }
    }

    .message-wrapper {
      padding: 10px 0;
      display: flex;

      span {
        word-break: break-word;
      }
    }
  }
}
