@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/roboto-v20-latin-regular.eot);
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url(fonts/roboto-v20-latin-regular.eot?#iefix) format("embedded-opentype"),
    url(fonts/roboto-v20-latin-regular.woff2) format("woff2"),
    url(fonts/roboto-v20-latin-regular.woff) format("woff"),
    url(fonts/roboto-v20-latin-regular.ttf) format("truetype"),
    url(fonts/roboto-v20-latin-regular.svg#Roboto) format("svg");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/roboto-v20-latin-500.eot);
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url(fonts/roboto-v20-latin-500.eot?#iefix) format("embedded-opentype"),
    url(fonts/roboto-v20-latin-500.woff2) format("woff2"),
    url(fonts/roboto-v20-latin-500.woff) format("woff"),
    url(fonts/roboto-v20-latin-500.ttf) format("truetype"),
    url(fonts/roboto-v20-latin-500.svg#Roboto) format("svg");
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  --mat-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mat-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mat-checkbox-selected-checkmark-color: #fff;
  --mat-checkbox-selected-focus-icon-color: #398c32;
  --mat-checkbox-selected-hover-icon-color: #398c32;
  --mat-checkbox-selected-icon-color: #398c32;
  --mat-checkbox-selected-pressed-icon-color: #398c32;
  --mat-checkbox-unselected-focus-icon-color: #212121;
  --mat-checkbox-unselected-hover-icon-color: #212121;
  --mat-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mat-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mat-checkbox-selected-focus-state-layer-color: #398c32;
  --mat-checkbox-selected-hover-state-layer-color: #398c32;
  --mat-checkbox-selected-pressed-state-layer-color: #398c32;
  --mat-checkbox-unselected-focus-state-layer-color: black;
  --mat-checkbox-unselected-hover-state-layer-color: black;
  --mat-checkbox-unselected-pressed-state-layer-color: black;
}

html {
  --mat-checkbox-state-layer-size: 40px;
}
body {
  font-family:
    Roboto,
    Helvetica Neue Light,
    Helvetica Neue,
    Helvetica,
    Arial,
    Lucida Grande,
    sans-serif;
  letter-spacing: 0.4px;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: #28225b;
  text-decoration: none;
  text-transform: uppercase;
}

a.no-text-transform {
  text-transform: unset;
}

h1 {
  font-size: 48px;
  color: #196ea2;
  font-weight: 400;
  margin-top: 0px;
}
html {
  background-color: #f3f3f3;
}
body {
  margin: 0;
}
.header {
  background-color: #ffffff;
  display: flex;
  color: #28225b;
  height: 48px;
  align-items: center;
  white-space: nowrap;
}
.header-logo {
  display: flex;
  flex: 0 0 auto;
  width: 56px;
  height: 56px;
}

.header-logo img {
  margin: auto;
  max-width: 44px;
  max-height: 38px;
}
.page-title {
  font-weight: normal;
  padding-left: 10px;
  font-size: 1.25rem;
}
.content {
  padding: 20px;
}
