<button pButton (click)="showCatAdmins()" label="Katalog-Administrator zuweisen"></button>

<a routerLink="/catalogs">Zurück</a>

<p-dialog header="Katalog-Administrator hinzufügen" [(visible)]="display" [modal]="true" [dismissableMask]="true">
    <!--
        The first element of a dialog must be focusable and a listbox is not!?
        (see https://github.com/primefaces/primeng/issues/5004#issuecomment-363682256)
    -->
    <input type="text">

    <p-listbox [options]="users | async" optionLabel="firstName"></p-listbox>

    <button pButton label="Auswählen" (click)="addUserAsCatAdmin()"></button>
</p-dialog>

