<div class="dialog-title-wrapper error">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Versionskonflikt</span>
    </h2>
</div>
<mat-dialog-content>
    <p>
        Das Dokument wurde zwischenzeitlich aktualisiert. Sie haben jetzt die
        folgenden Optionen:
    </p>

    <ige-option-list
        [options]="options"
        (select)="choice = $event"
    ></ige-option-list>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex-1"></div>
    <button
        mat-button
        color="primary"
        [disabled]="!choice"
        [mat-dialog-close]="choice"
    >
        Fortsetzen
    </button>
</mat-dialog-actions>
