<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">{{ dialogTitle }}</span>
    </h2>
</div>
<mat-dialog-content>
    <div
        fxLayout="row"
        fxLayoutGap="24px"
        class="spatial-wrapper"
        [ngSwitch]="view"
    >
        <div fxLayout="column" style="width: 400px">
            <ng-container *ngIf="types.length > 1">
                <div class="dlg-field-label required">Typ*</div>
                <mat-form-field
                    appearance="outline"
                    data-cy="spatial-dialog-type"
                >
                    <mat-select
                        (selectionChange)="updateView($event.value)"
                        [value]="result.type"
                    >
                        <mat-option
                            *ngFor="let menuItem of types"
                            [value]="menuItem.id"
                        >
                            {{ menuItem.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ige-free-spatial
                *ngSwitchCase="'free'"
                [map]="leafletReference"
                [coordinates]="result.value"
                (updateTitle)="titleInput.setValue($event)"
                (result)="updateBoundingBox($event)"
            ></ige-free-spatial>
            <ige-wkt-spatial
                *ngSwitchCase="'wkt'"
                [map]="leafletReference"
                [wktString]="data?.wkt ?? ''"
                (result)="this.result.wkt = $event"
            ></ige-wkt-spatial>
        </div>

        <div fxLayout="column" fxFlex>
            <div class="dlg-field-label" [class.required]="view === 'geo-name'">
                Titel<span *ngIf="view === 'geo-name'">*</span>
            </div>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    data-cy="spatial-dialog-title"
                    [formControl]="titleInput"
                    placeholder="Eingeben..."
                />
                <mat-hint *ngIf="view === 'geo-name'"
                    >Geben Sie dem Raumbezug eine geographische Bezeichnung oder
                    auch Eigennamen.</mat-hint
                >
            </mat-form-field>

            <div
                class="map"
                [class.invisible]="view === 'geo-name'"
                #leafletDlg
                data-cy="spatial-dialog-map"
            ></div>
            <div class="coordinates" *ngIf="view === 'free'">
                <ige-coordinates-spatial
                    [map]="leafletReference"
                    [coordinates]="result.value"
                    (result)="updateBoundingBox($event)"
                ></ige-coordinates-spatial>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        color="primary"
        data-cy="confirm-dialog-cancel"
        mat-dialog-close
    >
        Abbrechen
    </button>
    <div fxFlex></div>
    <button
        mat-flat-button
        color="primary"
        data-cy="confirm-dialog-save"
        [disabled]="
            (view === 'free' && !result.value) ||
            (view === 'wkt' && !result.wkt) ||
            (view === 'geo-name' && !titleInput.value)
        "
        (click)="returnResult()"
    >
        Übernehmen
    </button>
</mat-dialog-actions>
