.mat-form-field {
  width: 100%;
}

:host {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
  }

  .spatial-wrapper {
    flex: 1;
    overflow: hidden;
  }
}

.map {
  min-height: 400px;
  height: 100%;
  width: 100%;
  min-width: 400px;
}
