<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>
        {{ dialogTitle }}
    </h1>
</div>

<mat-dialog-content>
    <div class="spatial-wrapper flex-row gap-24">
        <div class="flex-col" style="width: 400px">
            @if (types.length > 1) {
                <div class="dlg-field-label required">Typ*</div>
                <mat-form-field
                    appearance="outline"
                    data-cy="spatial-dialog-type"
                >
                    <mat-select
                        (selectionChange)="updateView($event.value)"
                        [value]="result.type"
                        required
                        aria-label="Typ des Raumbezuges *"
                    >
                        @for (menuItem of types; track menuItem) {
                            <mat-option
                                [value]="menuItem.id"
                                [attr.data-cy]="menuItem.id"
                            >
                                {{ menuItem.label }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }

            @switch (view) {
                @case ("free") {
                    <ige-free-spatial
                        [map]="leafletReference"
                        [value]="result"
                        (updateTitle)="titleInput.setValue($event)"
                        (result)="updateBoundingBox($event)"
                    ></ige-free-spatial>
                }
                @case ("wkt") {
                    <ige-wkt-spatial
                        [map]="leafletReference"
                        [wktString]="data?.wkt ?? ''"
                        (result)="this.result.wkt = $event"
                    ></ige-wkt-spatial>
                }
                @case ("wfsgnde") {
                    <ige-geothesaurus-wfsgnde
                        [map]="leafletReference"
                        [value]="result"
                        (updateTitle)="titleInput.setValue($event)"
                        (result)="updateBoundingBox($event)"
                    ></ige-geothesaurus-wfsgnde>
                }
            }
        </div>

        <div class="flex-1 flex-col">
            <div class="dlg-field-label">Titel</div>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    data-cy="spatial-dialog-title"
                    [formControl]="titleInput"
                    placeholder="Eingeben..."
                    tabindex="0"
                    aria-label="Titel des Raumbezuges"
                />
            </mat-form-field>

            <div
                class="map"
                #leafletDlg
                aria-label="Die Karte ist eingeschränkt bedienbar, bitte nutzen Sie die Eingabefelder unter der Karte."
                data-cy="spatial-dialog-map"
            ></div>
            @if (view === "free") {
                <div class="coordinates">
                    <ige-coordinates-spatial
                        [map]="leafletReference"
                        [coordinates]="result.value"
                        (result)="updateBoundingBox($event)"
                    ></ige-coordinates-spatial>
                </div>
            }
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        color="primary"
        data-cy="confirm-dialog-cancel"
        mat-dialog-close
    >
        Abbrechen
    </button>
    <div class="flex-1"></div>
    <button
        mat-flat-button
        color="primary"
        data-cy="confirm-dialog-save"
        [disabled]="
            (view === 'free' &&
                !result.value &&
                !result.ars &&
                !result.title) ||
            (view === 'wkt' && !result.wkt) ||
            (view === 'wfsgnde' && !result.value && !result.title)
        "
        (click)="returnResult()"
    >
        Übernehmen
    </button>
</mat-dialog-actions>
