<div class="dialog-title-wrapper">
    <h2 mat-dialog-title>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span class="text">Raumbezug hinzufügen</span>
    </h2>
</div>
<mat-dialog-content class="nominatimContainer">

    <div fxLayout="row" fxLayoutGap="24px" [ngSwitch]="view">

        <div fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Titel</mat-label>
                <input matInput [formControl]="titleInput">
            </mat-form-field>

            <ige-free-spatial *ngSwitchCase="'free'"
                              [map]="leafletReference"
                              [initial]="data?.value"
                              (updateTitle)="titleInput.setValue($event)"
                              (result)="updateBoundingBox($event);"></ige-free-spatial>
            <ige-wkt-spatial *ngSwitchCase="'wkt'"
                             [map]="leafletReference"
                             [wktString]="data?.value"
                             (result)="this.result.value = $event"></ige-wkt-spatial>
            <ige-draw-spatial *ngSwitchCase="'draw'"></ige-draw-spatial>
            <ige-name-spatial *ngSwitchCase="'geo-name'"></ige-name-spatial>
        </div>

        <div #leafletDlg></div>
    </div>


</mat-dialog-content>
<mat-dialog-actions>

    <button mat-button [matMenuTriggerFor]="chooseType">Typ ändern</button>
    <mat-menu #chooseType="matMenu">
        <button *ngFor="let menuItem of types" mat-menu-item (click)="updateView(menuItem.id)">
            <span>{{menuItem.label}}</span>
        </button>
    </mat-menu>
    <div fxFlex></div>
    <button mat-stroked-button color="primary"
            [disabled]="(view !== 'geo-name' && !result.value) || (view === 'geo-name' && !titleInput.value)"
            (click)="returnResult()">Übernehmen
    </button>

</mat-dialog-actions>
