.mat-form-field {
  width: 100%;
}

:host {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    max-height: none;
  }

  .spatial-wrapper {
    flex: 1;
    overflow: hidden;
  }
}
