// fix for bottom aligned actions buttons in dialog
// see: https://github.com/angular/components/issues/4609
.mat-dialog-override {
  mat-dialog-container {
    > :first-child,
    .cdk-drag {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    mat-dialog-content,
    div[mat-dialog-content] {
      flex-grow: 1;
      //max-height: unset;
      line-height: 1.35;
    }

    mat-dialog-content p,
    div[mat-dialog-content] p {
      white-space: pre;
    }

    ige-context-help mat-dialog-content p,
    ige-context-help div[mat-dialog-content] p,
    ige-context-help mat-dialog-content li,
    ige-context-help div[mat-dialog-content] li {
      white-space: normal;
      line-height: 22px;
    }
  }
}

.mat-dialog-actions {
  border-top: 1px solid $ige-background-bar;
  margin-left: -24px;
  margin-right: -24px;
  padding: 0 10px !important;
}

// all buttons shall be uppercase
// align text in buttons centered with icon
button:not(.default-button) .mat-button-wrapper {
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

button .mat-button-wrapper {
  letter-spacing: 0.4px;

  mat-icon + span {
    display: inline-block;
    margin-top: 2px;
  }
}

.mat-button-base.button-square-icon {
  padding: 0;
  min-width: 36px;
  background-color: $ige-background;
}

.shortcut .mat-button mat-icon + span {
  padding-left: 5px;
}

.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
  flex: 1;
  margin: -10px 0 0 -10px;

  ng-component,
  ige-new-document {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .dialog-title-wrapper {
    margin: -24px -24px 0;
    background-color: $ige-secondary;
    padding: 10px;

    &.error {
      background-color: #cd0909;
    }

    .mat-dialog-title {
      margin: 0;
      color: white;

      span.text {
        vertical-align: sub;
        padding-left: 20px;
        line-height: 40px;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.4px;
      }
    }
  }

  .mat-dialog-content {
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;

    .place-title,
    .place-title-other {
      color: $ige-primary;
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 24px;

      &.small-bottom {
        padding-bottom: 12px;
      }
    }

    .place-title-other {
      padding-top: 24px;
    }
  }
}

ige-root .mat-card {
  border-radius: 5px;
}

/* TOOLTIPS */
.mat-tooltip-panel {
  .mat-tooltip {
    background-color: #333333;
    font-size: 12px;
    border-radius: 24px;
  }
}

/* Checkboxes, radio btns */
.mat-checkbox-indeterminate:not(.mat-checkbox-disabled).mat-accent
  .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-slide-toggle:not(.mat-disabled).mat-accent .mat-ripple-element,
.mat-pseudo-checkbox-checked {
  background-color: $ige-check-color !important;
}

.mat-radio-button.mat-accent:not(.mat-radio-disabled) .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-slide-toggle.mat-accent .mat-ripple-element,
.mat-slide-toggle.mat-accent.mat-checked .mat-slide-toggle-thumb,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $ige-check-color !important;
}

.mat-slide-toggle.mat-accent.mat-checked .mat-slide-toggle-bar {
  background-color: #{$ige-check-color + "8a"} !important;
}

.mat-radio-button.mat-accent.mat-radio-checked:not(.mat-radio-disabled)
  .mat-radio-outer-circle {
  border-color: $ige-check-color !important;
}

.mat-checkbox .mat-checkbox-ripple {
  display: none;
}

/* Placeholder */
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  opacity: 1;
}

/* Table */
.mat-table {
  .mat-header-cell:last-of-type,
  .mat-cell:last-of-type {
    padding-right: 12px;
    text-align: end;
  }

  .disabled .mat-cell {
    &,
    a {
      color: $ige-comment-color;
    }
  }
}

/* Progress Bar */
.wrapper .mat-progress-bar-buffer {
  background-color: $ige-mark-color;
}

/* Stepper */
.wrapper {
  .mat-step-header .mat-step-icon {
    background-color: rgba(0, 0, 0, 0.38);
  }

  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $ige-primary;
  }
  .mat-step-header .mat-step-label.mat-step-label-active {
    color: $ige-primary;
  }
}
