@import "src/variables";

button.mdc-button {
  text-transform: uppercase;
}

mat-form-field:hover .mdc-notched-outline__leading,
mat-form-field:hover .mdc-notched-outline__trailing {
  //border-color: #979797;
  //border-width: 2px !important;
}

ige-side-menu .mat-mdc-list-item {
  &.light {
    background-color: $ige-secondary;
  }

  &.dark:hover {
    background-color: lighten($ige-secondary, 8%);
  }

  &:hover {
    background: lighten($ige-secondary, 8%) !important;
  }

  &.active:hover {
    background: lighten($ige-primary, 8%) !important;
  }
}

.mat-mdc-dialog-container {
  .dialog-title-wrapper {
    background-color: $ige-secondary;
    padding: 6px 0;

    &.error {
      background-color: #cd0909;
    }

    .mat-mdc-dialog-title {
      display: flex;
      align-items: end;
      margin: 0;
      color: #fff;
      font-size: 24px;
      font-weight: 400;

      .mat-mdc-icon-button {
        margin-left: -12px;
        margin-right: 24px;
      }
    }
  }

  mat-dialog-actions {
    border-top: 1px solid $ige-background-bar;
  }
}

mat-icon svg .coloring {
  fill: $ige-secondary;
}

form-toolbar mat-icon svg .coloring {
  fill: #000000;
}

mat-checkbox .mdc-form-field {
  font-size: 16px;
}

.mat-mdc-header-row {
  min-height: 40px;
}

.mat-mdc-row {
  min-height: 32px;
}

mat-table mat-header-cell.mat-mdc-header-cell {
  color: #616161;
  font-size: 14px;
}

mat-hint {
  color: #0009;
}

.mat-mdc-icon-button[disabled] .mat-icon {
  opacity: 0.26;
}

mat-dialog-container.mat-mdc-dialog-container {
  .mat-mdc-dialog-surface {
    display: flex;
  }

  .mat-mdc-tab-body-content {
    overflow: auto !important;
  }
}

.cdk-overlay-container .mat-mdc-dialog-container .mdc-dialog__content {
  color: $ige-text-color;
}

mat-tab-nav-panel {
  overflow: auto;
}

.mat-mdc-tab-links > a {
  min-width: 160px;
}

.mat-focused .mdc-floating-label--float-above {
  color: $ige-secondary-dark !important;
}

.timespan .mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: #f3f3f3;

  &.mdc-text-field--focused {
    background-color: white;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: unset;
  }
}
