// fix for bottom aligned actions buttons in dialog
// see: https://github.com/angular/components/issues/4609
.mat-dialog-override {
  mat-dialog-container {
    > :first-child {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    mat-dialog-content,
    div[mat-dialog-content] {
      flex-grow: 1;
      //max-height: unset;
    }
  }
}

.mat-dialog-actions {
  border-top: 1px solid $ige-background-bar;
  margin-left: -24px;
  margin-right: -24px;
  padding: 0 10px !important;

}

// all buttons shall be uppercase
// align text in buttons centered with icon
.mat-button-wrapper {
  text-transform: uppercase;

  mat-icon + span {
    display: inline-block;
    margin-top: 2px;
  }
}

.mat-button-base.button-square-icon {
  padding: 0;
  min-width: 36px;
  background-color: $ige-background;
}

.shortcut .mat-button mat-icon + span {
  padding-left: 5px;
}

.mat-dialog-container {

  display: flex !important;
  flex-direction: column;
  flex: 1;
  margin: -9px 0 0 -10px;

  ng-component, ige-new-document {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .dialog-title-wrapper {
    margin: -24px -24px 0;
    background-color: $ige-secondary;
    padding: 10px;

    &.error {
      background-color: #cd0909;
    }

    .mat-dialog-title {
      margin: 0;
      color: white;

      span.text {
        vertical-align: sub;
        padding-left: 20px;
        line-height: 40px;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.4px;
      }
    }
  }

  .mat-dialog-content {
    padding-top: 24px;
    padding-bottom: 24px;

    .place-title, .place-title-other {
      color: $ige-primary;
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 24px;

      &.small-bottom {
        padding-bottom: 12px;
      }
    }

    .place-title-other {
      padding-top: 24px;
    }
  }
}

ige-root .mat-card {
  border-radius: 5px;
}

/* TOOLTIPS */
.mat-tooltip-panel {

  .mat-tooltip {
    background-color: #333333;
    font-size: 12px;
    border-radius: 24px;
  }
}

/* Checkboxes, radio btns */
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-pseudo-checkbox-checked {
  background-color: #398C32 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #398C32 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #398C32 !important;
}

/* Placeholder */
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 1;
}