.wrapper, .cdk-overlay-container {
  .mat-form-field-infix {
    /*border-top: 0.2em solid transparent;*/
    border-top: 0;
    // this will be the minimum width for material form fields
    width: 75px;
  }

  .mat-form-field-suffix {
    align-self: center;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 0.7em 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0.2em 1em;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.3em;
  }

  .mat-form-field-invalid .mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0.25em 0 0 0;
  }

  .mat-form-field-subscript-wrapper {
    padding-top: 3px;
  }

  .mat-form-field-label-wrapper {
    top: -0.64375em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-1.09375em) scale(.75);
    transform: translateY(-1.09375em) scale(.75);
  }

  .mat-select-arrow-wrapper {
    padding-top: 10px;
  }

  /* Multi-line error: https://github.com/angular/material2/issues/4580#issuecomment-340692923 */
  mat-form-field .mat-form-field-underline {
    position: static;
  }

  mat-form-field .mat-form-field-subscript-wrapper {
    position: static;
    margin-top: 0.4em;
  }

  mat-form-field.mat-form-field-invalid .mat-form-field-subscript-wrapper {
    margin-top: 0;
  }
}

.mat-list-base .mat-list-item.small-padding-right .mat-list-item-content {
  padding-right: 12px;
}

.mat-form-field-required-marker {
  color: $ige-comment-color !important;
}

/* Error states */
.mat-form-field-appearance-outline {
  &.mat-form-field.mat-form-field-invalid {

    .mat-form-field-outline {
      color: $error-color !important;
      opacity: 1;

      &.mat-form-field-outline-thick {
        opacity: 0;
      }
    }

    .mat-form-field-label {
      color: $error-color !important;

      &.mat-accent,
      .mat-form-field-required-marker {
        color: $error-color !important;
      }
    }

    .mat-input-element {
      caret-color: $error-color ;
    }
  }
}

.mat-error {
  font-size: 12px;
  color: $error-color !important;
}

.mat-form-field .mat-select.mat-select-invalid {

  .mat-select-placeholder {
    color: $error-color;
  }

  .mat-select-arrow {
    color: inherit !important;
  }
}
