@import './variables.scss';
@import './material.override.scss';
@import './material-fields.override.scss';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  letter-spacing: 0.4px;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: $ige-secondary;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 48px;
  color: $ige-primary;
  font-weight: normal;
}

.invisible {
  visibility: hidden;
}

.highlight {
  background-color: $ige-mark-color;
}

.mat-card.no-box-shadow {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.medium-spacing {
  letter-spacing: 0.4px;
}

.extra-large-spacing {
  letter-spacing: 1.25px;
}

.text-card-title.mat-card-title {
  color: $ige-primary;
  text-align: center;
  letter-spacing: 0.74px;
  padding: 2px 0 6px;
  line-height: 30px;
  font-weight: 400;
}

.upper-case {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.clickable:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04) !important;

  &.dark {
    background-color: darken($ige-background-bar, 5%) !important;
  }
}

.link-text {
  a:hover {
    color: $ige-primary;
  }
}

.hide {
  display: none !important;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.mat-button.link-button {
  font-weight: normal;
  letter-spacing: 0.4px;

  color: #28225B;
  padding: 0 10px;
  text-transform: none;
}

.shortcut {
  padding-bottom: 24px;
  color: $ige-secondary;

  .mat-button-wrapper {
    letter-spacing: 1.25px;
    text-transform: uppercase;

    /*.mat-icon {
      vertical-align: text-bottom;
    }*/
  }
}

.mat-header-row {
  min-height: 40px;
}

.mat-row {
  //padding: 0 10px;
  min-height: 32px;
}

main-menu .mat-toolbar-row {
  height: 50px;
}

main-menu .mat-toolbar-multiple-rows {
  min-height: 44px;
}

.mat-expansion-panel {
  background-color: #c9e4ff;
}

.invalid-feedback {
  position: absolute;
  font-size: 75%;
  margin-top: 0;
  bottom: -20px;
  white-space: nowrap;
}

.ng-invalid .invalid-feedback {
  /*display: block;*/
}

div.has-error {
  position: relative;
}

.border-dashed {
  border: dotted 3px lightgray;
}

/*form-toolbar {
  position: fixed;
  top: 56px;
  width: 100%;
  background-color: #ececec;
  z-index: 10;
}*/

form-toolbar + div {
  /*padding-top: 30px;*/
}

.btnHelp {
  cursor: pointer;
}

.btn.btn-xs {
  /*// line-height: ensure proper height of button next to extra small input*/
  /*@include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius);*/
  font-size: 0.5rem;
  padding: 8px;
}

.help-block {
  /*position: absolute;*/
  /*font-size: 80%;*/
  /*margin-top: 1px !important;*/
  /*animation: slideIn 0.3s linear forwards;*/
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #c9eeff !important;
}

.navbar-default .navbar-nav > li > a:focus, nav a.active, nav a:focus.active {
  background-color: #ececec;
}

.has-navbar {
  padding-top: 10px;
}

.padding {
  padding: 10px;
}

.padding-sm {
  padding: 5px;
}

.padding-vertical {
  padding: 10px 0;
}

.field-padding {
  padding: 0 10px 0 0;
}

dyn-field {
  padding-bottom: 10px;
  display: block;
}

.hasChildren dyn-field {
  display: inline-block;
}

dynamic-form input[type=text],
dynamic-form input[type=date],
dynamic-form input[type=number],
dynamic-form select,
dynamic-form textarea {
  width: 100%;
}

.fieldContainer {
  display: inline-block;
  vertical-align: top;
}

sidebar .list-group-item {
  cursor: pointer;
}

sidebar .list-group-item:hover {
  background-color: #ececec;
}

.list-group-item.active {
  background-color: #5999d0;
  border-color: #5999d0;
}

.cell select {
  height: 25px;
}

.nav-tabs li {
  cursor: pointer;
}


/* ngx-formly layout classes */
.display-flex {
  display: flex;
  flex: 1;
}

//.ige-formly-wrapper {

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}


//}
formly-field {
  &[class*="flex-"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  &[class*="flex-"]:first-child {
    padding-left: 0;
  }

  &[class*="flex-"]:nth-last-child(1) {
    padding-right: 0;
  }
}

.smallField {
  width: 110px;
  max-width: 150px;
}

/* Split gutter style */
.as-split-gutter-icon {
  background-image: url("/assets/more_vert-24px.svg") !important;
  opacity: 0.5;
}

/* Disabled material icon SVG */
.mat-icon-button[disabled] .mat-icon {
  opacity: 0.2;
}

ige-root .mat-drawer-container {
  background-color: $ige-background;
}

.mat-icon.animated {
  transition: all .2s linear;
}

.mat-icon {

  &.passive {
    color: $ige-background-bar;
  }

  &.document-icon {

    svg {
      height: 24px;
      width: 24px;
    }

    svg .coloring {
      fill: #333333;
    }

    &.working svg .coloring {
      fill: $state-working-color;
    }

    &.workingWithPublished svg .coloring {
      fill: url("#myGradient");
    }
  }

}

svg {
  .coloring {
    fill: #333333;
  }

  .coloring-stroke {
    stroke: #333333;
  }
}

.gray {

  &:hover .coloring {
    fill: darken($ige-comment-color, 5%);
  }

  .coloring {
    fill: $ige-comment-color;
  }

}

ige-side-menu {

  .coloring {
    fill: #ffffff;
  }

  .coloring-stroke {
    stroke: #ffffff;
  }
}

#form {
  ige-form-label + * {
    flex: 1;
  }

  ige-form-label + formly-wrapper-mat-form-field {
    display: contents;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $ige-comment-color !important;
}

// Context Buttons
.mat-icon-button {

  &.menu-button {
    width: 26px;
    height: 26px;
    line-height: 24px;
  }

  &.menu-button:enabled {
    &:hover {
      background-color: $ige-background-bar;
    }

    &.dark {

      background-color: $ige-background-bar;

      &:hover {
        background-color: darken($ige-background-bar, 5%) !important;
      }
    }
  }
}

// Icons
.infoIcon {
  display: inline-block;
  background-color: $ige-background;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 4px;
  margin-top: 0;

  .mat-icon svg rect {
    fill: $ige-secondary;
  }
}

/* validation error hide conditionally */

.hide-validation {

  ige-form-error {
    display: none;
  }

  button.error-outline {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }

  .mat-error {
    opacity: 0;
  }

  .mat-form-field-invalid .mat-input-element {
    caret-color: initial;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline {
    opacity: 1;
  }

  .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
    opacity: 1;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: initial;
    opacity: 0;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);

    &.mat-accent, .mat-form-field-required-marker {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.date-field {
  width: 200px;
}

.dlg-field-label {
  padding-bottom: 4px;
  font-weight: 500;
}
