@media print {
  #print-content,
  .cdk-overlay-container,
  .mat-mdc-dialog-surface,
  .cdk-global-overlay-wrapper,
  .cdk-overlay-pane {
    position: absolute !important;
    top: 0 !important;
  }

  #print-content {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  #print-content,
  .mat-mdc-dialog-surface,
  .mat-mdc-dialog-content {
    overflow: visible !important;
  }

  .dialog-title-wrapper,
  mat-dialog-actions {
    display: none !important;
  }
  .mat-mdc-dialog-surface {
    box-shadow: none !important;
  }
}

#print-content {
  formly-field-mat-datepicker,
  ige-one-column-wrapper > div > formly-group,
  ige-one-column-wrapper > div > ige-repeat,
  ige-one-column-wrapper > div > formly-field-mat-input,
  ige-date-range-type {
    padding-top: 10px;
  }

  button.infoIcon {
    display: none;
  }
}
