@import "./variables.scss";
@import "./material.override.scss";
@import "./material-fields.override.scss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  letter-spacing: 0.4px;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: $ige-secondary;
  text-decoration: none;
  text-transform: uppercase;

  &.no-text-transform {
    text-transform: unset;
  }

  &:hover {
    text-decoration: none;
  }
}

.leaflet-control-attribution a {
  font-size: 11px;
}

h1 {
  font-size: 48px;
  color: $ige-primary;
  font-weight: normal;
}

.invisible {
  visibility: hidden;
}

.highlight {
  background-color: $ige-mark-color;
}

.mat-card {
  &.hover-elevate {
    &.mat-card {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }

    &:hover {
      box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    }
  }

  &.no-box-shadow {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}

.mat-list.hover-list {
  .mat-list-item:hover {
    background-color: darken(white, 4%);
  }
}

.medium-spacing {
  letter-spacing: 0.4px;
}

.extra-large-spacing {
  letter-spacing: 1.25px;
}

.text-card-title.mat-card-title {
  color: $ige-primary;
  text-align: center;
  letter-spacing: 0.74px;
  padding: 2px 0 6px;
  line-height: 30px;
  font-weight: 400;
}

.upper-case {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.clickable:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04) !important;

  &.dark {
    background-color: darken($ige-background-bar, 5%) !important;
  }
}

.link-text {
  a:hover {
    color: $ige-primary;
  }
}

.hide {
  display: none !important;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.section-title {
  font-weight: 500;
  font-size: 16px;

  &.space {
    padding-top: 24px;
  }
}

.mat-button.link-button {
  font-weight: normal;
  letter-spacing: 0.4px;

  color: $ige-secondary;
  padding: 0 10px;
  text-transform: none;
}

.shortcut {
  padding-bottom: 24px;
  color: $ige-secondary;

  .mat-button-wrapper {
    letter-spacing: 1.25px;
    text-transform: uppercase;

    /*.mat-icon {
      vertical-align: text-bottom;
    }*/
  }
}

.mat-header-row {
  min-height: 40px;
}

.mat-row {
  //padding: 0 10px;
  min-height: 32px;
}

main-menu .mat-toolbar-row {
  height: 50px;
}

main-menu .mat-toolbar-multiple-rows {
  min-height: 44px;
}

.mat-expansion-panel {
  background-color: #c9e4ff;
}

.invalid-feedback {
  position: absolute;
  font-size: 75%;
  margin-top: 0;
  bottom: -20px;
  white-space: nowrap;
}

.ng-invalid .invalid-feedback {
  /*display: block;*/
}

div.has-error {
  position: relative;
}

.border-dashed {
  border: dotted 3px lightgray;
}

/*form-toolbar {
  position: fixed;
  top: 56px;
  width: 100%;
  background-color: #ececec;
  z-index: 10;
}*/

form-toolbar + div {
  /*padding-top: 30px;*/
}

.btnHelp {
  cursor: pointer;
}

.btn.btn-xs {
  /*// line-height: ensure proper height of button next to extra small input*/
  /*@include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius);*/
  font-size: 0.5rem;
  padding: 8px;
}

.help-block {
  /*position: absolute;*/
  /*font-size: 80%;*/
  /*margin-top: 1px !important;*/
  /*animation: slideIn 0.3s linear forwards;*/
}

.error-box {
  font-size: 16px;
  color: $error-color;
  letter-spacing: 0.4px;
  font-weight: 400;
  line-height: 48px;
  background-color: $error-background;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #c9eeff !important;
}

.navbar-default .navbar-nav > li > a:focus,
nav a.active,
nav a:focus.active {
  background-color: #ececec;
}

.has-navbar {
  padding-top: 10px;
}

.padding {
  padding: 10px;
}

.padding-sm {
  padding: 5px;
}

.padding-vertical {
  padding: 10px 0;
}

.field-padding {
  padding: 0 10px 0 0;
}

dyn-field {
  padding-bottom: 10px;
  display: block;
}

.hasChildren dyn-field {
  display: inline-block;
}

dynamic-form input[type="text"],
dynamic-form input[type="date"],
dynamic-form input[type="number"],
dynamic-form select,
dynamic-form textarea {
  width: 100%;
}

::placeholder {
  color: $ige-placeholder-color !important;
}

.fieldContainer {
  display: inline-block;
  vertical-align: top;
}

sidebar .list-group-item {
  cursor: pointer;
}

sidebar .list-group-item:hover {
  background-color: #ececec;
}

.list-group-item.active {
  background-color: #5999d0;
  border-color: #5999d0;
}

.cell select {
  height: 25px;
}

.nav-tabs li {
  cursor: pointer;
}

/* ngx-formly layout classes */
.display-flex {
  display: flex;
  flex: 1;
}

//.ige-formly-wrapper {

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

//}
formly-field {
  &[class*="flex-"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  &[class*="flex-"]:first-child {
    padding-left: 0;
  }

  &[class*="flex-"]:not(:first-child) {
    padding-right: 0;

    &.pad-right {
      padding-right: 10px;
    }
  }

  &:last-of-type {
    .mat-divider {
      border-top-color: #fff !important;
      height: 0;
    }
  }

  &.contact ige-repeat {
    padding-bottom: 12px;
  }
}

/* Split gutter style */
.as-split-gutter-icon {
  background-image: url("/assets/more_vert-24px.svg") !important;
  opacity: 0.5;
}

/* Disabled material icon SVG */
.mat-icon-button[disabled] .mat-icon {
  opacity: 0.2;
}

ige-root .mat-drawer-container {
  background-color: $ige-background;
}

.mat-icon.animated {
  transition: all 0.2s linear;
}

.mat-icon {
  &.passive {
    color: #000;
    opacity: 0.6;
  }

  &.document-icon {
    svg {
      height: 24px;
      width: 24px;
    }

    svg .coloring {
      fill: $ige-icon-color;
    }

    &.working svg .coloring {
      fill: $state-working-color;
    }

    &.workingWithPublished svg .coloring {
      fill: url("#myGradient");
    }
  }
}

.mat-icon.light svg .coloring {
  fill: #eff8ff;
}

.fileover .mat-icon.light svg .coloring {
  fill: #ffffff;
}

svg {
  .coloring {
    fill: $ige-icon-color;
  }

  .coloring-stroke {
    stroke: $ige-icon-color;
  }
}

.gray {
  &:hover .coloring {
    fill: darken($ige-comment-color, 5%);
  }

  .coloring {
    fill: $ige-comment-color;
  }
}

.green {
  background: $ige-check-color !important;
}

.no-selection-text {
  color: $ige-hint-color;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

ige-side-menu {
  .coloring {
    fill: #ffffff;
  }

  .coloring-stroke {
    stroke: #ffffff;
  }
}

#form {
  ige-form-label + * {
    flex: 1;
    min-width: 0;
  }

  ige-form-label + formly-wrapper-mat-form-field {
    display: contents;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $ige-comment-color !important;
}

// Context Buttons
.mat-icon-button {
  &.table-options {
    background-color: #ffffff;
    line-height: 32px;
    height: 32px;
    width: 32px;
  }

  &.menu-button {
    width: 26px;
    height: 26px;
    line-height: 24px;
  }

  &.menu-button:enabled {
    &:hover {
      background-color: $ige-background-bar;
    }

    &.dark {
      background-color: $ige-background-bar;

      &:hover {
        background-color: darken($ige-background-bar, 5%) !important;
      }
    }
  }
}

// Icons
.infoIcon {
  display: inline-block;
  background-color: $ige-background;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 4px;
  margin-top: -1px;

  .mat-icon svg rect {
    fill: $ige-secondary;
  }
}

/* validation error hide conditionally */

.hide-validation {
  ige-form-error {
    display: none;
  }

  button.error-outline {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }

  .has-error {
    background-color: $ige-secondary !important;
  }

  .mat-error {
    opacity: 0;
    height: 0;
    display: none;
  }

  .mat-form-field-invalid .mat-input-element {
    caret-color: initial !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline {
    opacity: 1;
    color: $ige-comment-color !important;
  }

  .mat-form-field-appearance-outline:not(.mat-form-field-disabled)
    .mat-form-field-flex:hover
    .mat-form-field-outline-thick {
    opacity: 1;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: initial;
    opacity: 0;
  }

  .mat-select-invalid .mat-select-placeholder {
    color: $ige-comment-color !important;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $ige-placeholder-color !important;

    &.mat-accent,
    .mat-form-field-required-marker {
      color: $ige-placeholder-color !important;
    }
  }
}

.dlg-field-label {
  padding-bottom: 4px;

  &.required {
    font-weight: 500;
  }
}

/* Material Tabs */
.page-tabs-routing {
  &.mat-tab-nav-bar {
    border-bottom: none;
  }

  .mat-tab-links {
    background-color: $ige-secondary-dark;
  }

  .mat-tab-link {
    //background-color: #161234;
    border-bottom: none;
    height: 56px;

    color: #ffffff;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    opacity: 0.75;

    &.active-link {
      color: #4ba7d0;
    }
  }

  .mat-ink-bar {
    background-color: $ige-background !important;
    height: 6px;
  }
}

.page-tabs {
  height: 100%;

  & > .mat-tab-header {
    background-color: $ige-secondary-dark;
    border-bottom: none;
    height: 56px;

    .mat-tab-label {
      color: #ffffff;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      opacity: 0.75;
      height: 56px;

      &.mat-tab-label-active {
        opacity: 1;

        .mat-tab-label-content {
          color: #4ba7d0;
        }
      }
    }

    .mat-ink-bar {
      background-color: $ige-background !important;
      height: 6px;
    }
  }

  & > .mat-tab-body-wrapper {
    flex: 1;
  }
}

.page-tabs,
.page-tabs-routing ~ * {
  .status {
    padding: 30px;
    margin-bottom: 24px;
    background-color: rgb(223, 223, 223);

    .log {
      overflow: auto;
      max-height: 300px;
    }
  }
}

/* LEAFLET */

.leaflet-control-attribution a {
  font-size: 11px;
}

.leaflet-control a {
  text-transform: none;
}

.passive .leaflet-control-zoom {
  visibility: hidden;
}

.leaflet-areaselect-shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.leaflet-areaselect-handle {
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  width: 14px;
  height: 14px;
  cursor: move;
}

/* Form Fields */
.white-bg {
  margin-bottom: 12px;

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    background-color: #ffffff;
  }

  .prefix {
    color: $ige-comment-color;
    padding-right: 5px;
  }
}

/* Form Field enhancements */
.straight-border-right.mat-form-field-appearance-outline
  .mat-form-field-outline-end {
  border-radius: 0;
  border-right: none;
}

.straight-border-left.mat-form-field-appearance-outline
  .mat-form-field-outline-start {
  border-radius: 0;
}

mat-selection-list.with-menu .mat-list-text {
  align-items: center;
  flex-direction: row !important;

  .menu-button {
    margin-left: 40px;
  }
}

.ige-form-field {
  padding-top: 6px;

  .mat-form-field-wrapper {
    padding-bottom: 0;
    margin-bottom: 0;

    .mat-form-field-flex {
      align-items: center;
      height: 40px;
    }

    .mat-form-field-outline {
      top: 0;
      background-color: #ffffff;
      border-radius: 4px;

      &:not(.mat-form-field-outline-thick) > div {
        border: none;
      }
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      top: 0;
    }

    .mat-form-field-infix {
      padding: 0;

      input {
        height: 100%;
      }
    }
  }
}

/* DRAG N DROP ANIMIATION */
/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.legend {
  color: $ige-placeholder-color;
  font-size: 14px;

  mat-icon {
    padding-left: 10px;
  }

  span {
    vertical-align: super;
    padding-right: 4px;
  }

  svg path {
    fill: $ige-placeholder-color;
  }
}

mat-icon.wide-icon-26px {
  width: 26px;
}

.expanded .mat-icon.rotating {
  transform: rotate(180deg);
}

/* TABLE */
.mat-table .mat-row:hover {
  background-color: darken(#ffffff, 5%);

  .menu-button {
    background-color: #ffffff;
  }
}
.mat-table.dark .mat-row:hover {
  background-color: darken($ige-background, 5%);
}

/* RADIO */
.radio-vertical {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  mat-radio-button {
    margin: 5px 0;
  }
}

/* Stepper */
/*.full-height {
  mat-horizontal-stepper {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    flex: 1;

    .mat-horizontal-content-container {
      flex: 1;
    }
    .mat-horizontal-stepper-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      //height: 100%;

      & > div:first-child {
        flex: 1;
      }
    }
  }
}*/
