@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import './variables.scss';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

h1 {
  font-size: 48px;
  color: $ige-primary;
}

.hide {
  display: none !important;
}

.mat-header-row {
  min-height: 40px;
}

.mat-row {
  padding: 0 10px;
  min-height: 32px;
}

main-menu .mat-toolbar-row {
  height: 50px;
}
main-menu .mat-toolbar-multiple-rows {
  min-height: 44px;
}

.mat-expansion-panel {
  background-color: #c9e4ff;
}

.invalid-feedback {
  position: absolute;
  font-size: 75%;
  margin-top: 0;
  bottom: -20px;
  white-space: nowrap;
}

.ng-invalid .invalid-feedback {
  /*display: block;*/
}

div.has-error {
  position: relative;
}

.ui-growl {
  top: initial;
  bottom: 10px;
}

.ui-tree {
  width: auto;
}

.modal .modal-content {
  background-color: #03a9f4;
  color: #fff;
}

.modal-alert .modal-content {
  background-color: #f44336;
}

.modal .modal-header {
  padding: 23px 26px;
  border-bottom: 1px solid transparent;
}

.modal .modal-footer {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid transparent;
}

.modal .modal-footer .btn-link {
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
.modal .modal-footer .btn-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.modal .modal-footer .btn-link:focus {
  outline: 1px solid #03a9f4;
}

.border-dashed {
  border: dotted 3px lightgray;
}

/*form-toolbar {
  position: fixed;
  top: 56px;
  width: 100%;
  background-color: #ececec;
  z-index: 10;
}*/

form-toolbar + div {
  /*padding-top: 30px;*/
}

.btnHelp {
  cursor: pointer;
}

.btn.btn-xs {
  /*// line-height: ensure proper height of button next to extra small input*/
  /*@include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius);*/
  font-size: 0.5rem;
  padding: 8px;
}

.help-block {
  /*position: absolute;*/
  /*font-size: 80%;*/
  /*margin-top: 1px !important;*/
  /*animation: slideIn 0.3s linear forwards;*/
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #c9eeff !important;
}

.navbar-default .navbar-nav > li > a:focus, nav a.active, nav a:focus.active {
  background-color: #ececec;
}

.has-navbar {
  padding-top: 10px;
}

a:hover {
  text-decoration: none;
}

.half, .full, .quarter, .three-quarter, .third, .two-third {
  float: left;
}

.full {
  width: 100% !important;
}

.half {
  width: 50% !important;
}

.quarter {
  width: 25% !important;
}

.third {
  width: 33% !important;
}

.three-quarter {
  width: 75% !important;
}

.two-third {
  width: 67% !important;
}

.padding {
  padding: 10px;
}

.padding-sm {
  padding: 5px;
}

.padding-vertical {
  padding: 10px 0;
}

.field-padding {
  padding: 0 10px 0 0;
}

dyn-field {
  padding-bottom: 10px;
  display: block;
}

.hasChildren dyn-field {
  display: inline-block;
}

dynamic-form input[type=text],
dynamic-form input[type=date],
dynamic-form input[type=number],
dynamic-form select,
dynamic-form textarea {
  width: 100%;
}

.fieldContainer {
  display: inline-block;
  vertical-align: top;
}

p-dataTable {
  width: 100%;
  height: 100px;
}

.ag-body-viewport {
  -webkit-overflow-scrolling: touch;
}

sidebar .list-group-item {
  cursor: pointer;
}

sidebar .list-group-item:hover {
  background-color: #ececec;
}

.error .modal-header {
  background-color: #a94442;
  color: #ffffff;
}

.label-primary {
  background-color: #87c2da !important;
}

.working-label::before {
  background: #ffc107;
}

.published-label::before {
  background: #87c2da;
}

.published-working-label::before {
  background: linear-gradient(-90deg, #ffc107 50%, #87c2da 50%);
}

.list-group-item.active {
  background-color: #5999d0;
  border-color: #5999d0;
}

.cell select {
  height: 25px;
}

.nav-tabs li {
  cursor: pointer;
}

.tree {
  width: 100%;
}

tree-node:hover .folder {
  display: block;
}



/* ngx-formly layout classes */
.display-flex {
  display: flex;
  flex: 1;
}

//.ige-formly-wrapper {

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}


//}
[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(1) {
  padding-right: 0;
}

.smallField {
  width: 110px;
  max-width: 150px;
}

/* ngx-datatable */
.ngx-datatable.material {

  .datatable-body-cell {
    padding: 0.4rem 1rem !important;
  }
  .datatable-checkbox {
    margin-top: -3px !important;
  }
}

.datatable-row-detail { width: 100vw; }
