@use "@angular/material" as mat;
@include mat.core();

$mat-ige-purple: (
  100: #3a3184,
  500: #28225b,
  700: #1c1840,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87),
  ),
);

$my-primary: mat.define-palette($mat-ige-purple);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-typography: mat.define-typography-config();

// Create the theme object (a Sass map containing all of the palettes).
$ige-form-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      //warn: $candy-app-warn,
    ),
    density: -4,
  )
);
$ige-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      //warn: $candy-app-warn,
    ),
    //density: -2,
    typography: $my-typography,
  )
);

/*.input-field-button {
  $special-primary: mat.define-palette(mat.$orange-palette);
  $special-accent: mat.define-palette(mat.$brown-palette);
  $special-theme: mat.define-dark-theme(
    (
      color: (
        primary: $special-primary,
        accent: $special-accent,
      ),
      density: -2,
    )
  );

  @include mat.button-color($special-theme);
}*/
ige-side-menu {
  $special-primary: mat.define-palette(mat.$orange-palette);
  $special-accent: mat.define-palette(mat.$brown-palette);
  $special-theme: mat.define-dark-theme(
    (
      color: (
        primary: $special-primary,
        accent: $special-accent,
      ),
      density: 0,
    )
  );

  @include mat.list-theme($special-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($ige-theme);
//@include mat.input-theme($ige-theme);
@include mat.button-theme($ige-theme);
@include mat.icon-button-theme($ige-form-theme);
@include mat.autocomplete-theme($ige-form-theme);
@include mat.form-field-theme($ige-form-theme);
@include mat.progress-spinner-theme($ige-form-theme);
@include mat.sidenav-theme($ige-form-theme);
@include mat.list-theme($ige-form-theme);
@include mat.card-theme($ige-theme);
//@include mat.menu-theme($ige-theme);
@include mat.divider-theme($ige-theme);
@include mat.expansion-theme($ige-theme);
//@include mat.button-toggle-theme($ige-theme);
@include mat.tabs-theme($ige-theme);
