@use "@angular/material" as mat;
@include mat.core();

$mat-ige-purple: (
  100: #3a3184,
  500: #28225b,
  700: #1c1840,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(white, 0.87),
    700: rgba(white, 0.87),
  ),
);

$mat-ige-green: (
  50: #e7f1e6,
  100: #c4ddc2,
  200: #9cc699,
  300: #74af70,
  400: #579d51,
  500: #398c32,
  600: #33842d,
  700: #2c7926,
  800: #246f1f,
  900: #175c13,
  A100: #99ff95,
  A200: #69ff62,
  A400: #38ff2f,
  A700: #20ff15,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-ige-red: (
  50: #f6e0e4,
  100: #e7b3bc,
  200: #d88090,
  300: #c84d63,
  400: #bc2641,
  500: #b00020,
  600: #a9001c,
  700: #a00018,
  800: #970013,
  900: #87000b,
  A100: #ffb3b6,
  A200: #ff8085,
  A400: #ff4d53,
  A700: #ff343b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$my-primary: mat.m2-define-palette($mat-ige-purple);
$my-accent: mat.m2-define-palette($mat-ige-green);
$my-warn: mat.m2-define-palette($mat-ige-red);
$my-typography: mat.m2-define-typography-config();

// Create the theme object (a Sass map containing all of the palettes).
$ige-form-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    density: -4,
    typography: $my-typography,
  )
);
$ige-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    //density: -2,
    typography: $my-typography,
  )
);
$ige-table-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    density: -2,
    typography: $my-typography,
  )
);

/*.input-field-button {
  $special-primary: mat.define-palette(mat.$orange-palette);
  $special-accent: mat.define-palette(mat.$brown-palette);
  $special-theme: mat.define-dark-theme(
    (
      color: (
        primary: $special-primary,
        accent: $special-accent,
      ),
      density: -2,
    )
  );

  @include mat.button-color($special-theme);
}*/
ige-side-menu {
  $special-primary: mat.m2-define-palette(mat.$m2-orange-palette);
  $special-accent: mat.m2-define-palette(mat.$m2-brown-palette);
  $special-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $special-primary,
        accent: $special-accent,
      ),
      density: 0,
    )
  );

  @include mat.list-theme($special-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($ige-theme);
//@include mat.input-theme($ige-theme);
@include mat.button-theme($ige-theme);
@include mat.icon-button-theme($ige-form-theme);
@include mat.form-field-theme($ige-form-theme);
@include mat.progress-spinner-theme($ige-form-theme);
@include mat.sidenav-theme($ige-form-theme);
@include mat.list-theme($ige-form-theme);
@include mat.card-theme($ige-theme);
//@include mat.menu-theme($ige-theme);
@include mat.divider-theme($ige-theme);
@include mat.expansion-theme($ige-theme);
@include mat.tabs-theme($ige-theme);
@include mat.checkbox-theme($ige-theme);
@include mat.datepicker-theme($ige-form-theme);
@include mat.table-theme($ige-table-theme);
@include mat.select-theme($ige-form-theme);
@include mat.autocomplete-theme($ige-form-theme);
@include mat.chips-theme($ige-theme);
@include mat.button-toggle-theme($ige-theme);
@include mat.slide-toggle-theme($ige-theme);
@include mat.tooltip-theme($ige-theme);
@include mat.stepper-theme($ige-theme);
@include mat.radio-theme($ige-theme);
@include mat.dialog-theme($ige-theme);
@include mat.menu-theme($ige-theme);
@include mat.paginator-theme($ige-theme);
@include mat.snack-bar-theme($ige-theme);
