
$ige-primary: #196EA2;
$ige-secondary: #28225B;
$ige-comment-color: #18181899;

$ige-active-color: #133E6D;
$ige-mark-color: #2B8FCB1a;

$ige-background: #F3F3F3;
$ige-background-bar: #dfdfdf;

$state-working-color: #F27100;
