$ige-primary: #196ea2; /* Middle blue, i.e. title */
$ige-secondary: #28225b; /* Dark blue, i.e. button / link text */
$ige-secondary-dark: #161243; /* Darkest blue, background sidebar menu */
$ige-comment-color: #979797; /* Middle grey, i.e. input outlines, placeholder, icons */

$ige-mark-color: #eef8ff; /* Light blue background of selected / highlighted */

$ige-background: #f3f3f3; /* Light grey background, i.e. toolbar */
$ige-background-bar: #dfdfdf; /* Middle grey background, i.e. header data set */

$ige-info-background: #dcf5d8; /* Green background, i.e. tree drop zone */

$state-working-color: #f27100; /* Orange */

$error-background: #f6e5e8;
$error-color: #b00020;

$ige-check-color: #398c32; /* Green, checkboxes and radio buttons */
$ige-check-background-color: #ecffebff;
$ige-icon-color: #333; /* Icons toolbar, data set */

$ige-text-color: rgba(
  0,
  0,
  0,
  0.87
); /* Dark grey, default text color - before #181818 - from material theme */
$ige-hint-color: rgba(0, 0, 0, 0.6); /* Middle grey - from material theme */
$ige-placeholder-color: rgba(
  0,
  0,
  0,
  0.45
); /* Light grey, i.e. placeholder, icons */
