<ige-dialog-template label="Veröffentlichungsrecht" (submit)="submit()">
    <ng-container content>
        <label class="padding">{{title}}</label>
        <mat-radio-group [(ngModel)]="currentValue">
            @for (option of options; track option) {
            <mat-radio-button [value]="option.key">
                {{option.value}}
            </mat-radio-button>
            }
        </mat-radio-group>

        @if (helpText) {
        <div class="help flex-row align-items-center">
            <mat-icon svgIcon="info-24px"></mat-icon>
            <div class="legend" [innerHTML]="helpText"></div>
        </div>
        }
    </ng-container>
</ige-dialog-template>
