<div class="wfsgnde-spatial-wrapper flex-col">
    <div class="dlg-field-label">Ort</div>
    <ige-search-input
        placeholder="Suchen"
        [query]="searchInput"
        [searchSub]="searchSubscribe"
        [withWhiteBorder]="false"
        hint="Für eine breitere Suche können Sie Wildcards verwenden, z.B. Harz* oder *Talsperre"
        minWidth="100%"
        ariaLabel="Suche im Geo-Thesaurus"
    ></ige-search-input>

    @if (showWelcome) {
        <div class="padding-vertical comment">
            Suchen Sie nach einem Gebiet oder Ort und wählen Sie ein Ergebnis
            zur Darstellung auf der Karte aus. Nach Klick auf „Übernehmen“
            werden die zugehörigen Breiten-/Längenkoordinaten automatisch
            angezeigt.
        </div>
    }

    @if (showNoResult) {
        <div>Keine Ergebnisse. Ändern Sie Ihre Suche.</div>
    }

    <div class="result-wrapper">
        <div class="list-wrapper">
            <mat-list dense style="overflow: auto" ngDefaultControl>
                @for (entry of geoThesaurusResults; track entry) {
                    <mat-list-item
                        (click)="handleSelection(entry)"
                        class="clickable"
                        [title]="entry.displayTitle"
                    >
                        <mat-radio-button
                            matListItemIcon
                            [value]="entry"
                            [checked]="spatialSelection === entry"
                            [aria-label]="entry.displayTitle"
                        ></mat-radio-button>
                        <div matListItemLine>
                            {{ entry.displayTitle }}
                        </div>
                    </mat-list-item>
                    <mat-divider aria-hidden="true"></mat-divider>
                }
            </mat-list>
            @if (hasMoreResults) {
                <div class="comment padding">
                    Max. 50 Treffer. Bitte verfeinern Sie die Suche.
                </div>
            }
        </div>
    </div>
    @if (spatialSelection?.ars) {
        <div>
            <mat-checkbox
                data-cy="ARS-checkbox"
                checked="true"
                [(ngModel)]="useArs"
                (change)="updateArsUsage($event)"
            >
                ARS übernehmen: {{ spatialSelection.ars }}
            </mat-checkbox>
        </div>
    }
    @if (spatialSelection && !spatialSelection.ars) {
        <div>Kein ARS vorhanden</div>
    }
</div>
