@import "src/variables";

.padding-btn {
  padding: 0 10px !important;
}

.steps {
  position: relative;
}

.btnRemove {
  position: absolute;
  top: 0;
  right: 0;
}

.mark {
}

ige-section-wrapper {
  display: flex;
  align-items: baseline;

  h3 {
    width: 272px;
  }
}

button {
  margin-bottom: 24px;
}

.mat-divider {
  border: 0;
  height: 4px !important;
  background: linear-gradient(90deg, $ige-background-bar, $ige-background);
  margin: 40px -24px 20px -36px;
}
