<ng-container *ngIf="field.fieldGroup.length > 0">
    <ng-container *ngFor="let currentField of field.fieldGroup; let i = index">
        <!--        <mat-divider></mat-divider>-->
        <div
            class="steps"
            [class.mat-elevation-z4]="markSection[i]"
            [class.elevated]="markSection[i]"
        >
            <formly-field [field]="currentField"></formly-field>
            <button
                type="button"
                class="menu dark menu-button"
                [class.elevated]="markSection[i]"
                mat-icon-button
                [matMenuTriggerFor]="sectionMenu"
            >
                <!--                (mouseenter)="markSection[i] = true"-->
                <!--                (mouseleave)="markSection[i] = false"-->
                <mat-icon svgIcon="Mehr"></mat-icon>
            </button>
            <mat-menu #sectionMenu="matMenu">
                <button mat-menu-item (click)="removeSection(i)">
                    Löschen
                </button>
            </mat-menu>
        </div>
    </ng-container>
    <div style="display: flex; justify-content: center">
        <button
            mat-flat-button
            color="primary"
            class="button-square-icon padding-btn add-button"
            [matMenuTriggerFor]="menu"
        >
            <mat-icon color="white">add</mat-icon>
            <span class="btn-title">Schritt Hinzufügen</span>
        </button>
    </div>
</ng-container>
<ng-container *ngIf="field.fieldGroup.length < 1">
    <ige-section-wrapper>
        <h3>Verfahrenschritte</h3>
        <button
            mat-flat-button
            color="primary"
            class="button-square-icon padding-btn"
            [matMenuTriggerFor]="menu"
        >
            <mat-icon color="white">add</mat-icon>
            <span class="btn-title">Hinzufügen</span>
        </button>
    </ige-section-wrapper>
</ng-container>

<mat-menu #menu="matMenu">
    <button
        *ngFor="let type of field.fieldArray.fieldGroup"
        mat-menu-item
        [attr.data-cy]="'add_step_' + type.name"
        (click)="addSection(type.name)"
    >
        <span>{{ type.templateOptions.label }}</span>
    </button>
</mat-menu>
