@if (field.fieldGroup.length > 0) {
    @for (
        currentField of field.fieldGroup;
        track currentField;
        let i = $index
    ) {
        <div
            class="steps"
            [class.mat-elevation-z4]="markSection[i]"
            [class.elevated]="markSection[i]"
        >
            <formly-field [field]="currentField"></formly-field>
            @if (form.enabled) {
                <button
                    type="button"
                    class="menu dark menu-button"
                    [class.elevated]="markSection[i]"
                    mat-icon-button
                    matTooltip="Bearbeiten"
                    [matMenuTriggerFor]="sectionMenu"
                >
                    <mat-icon svgIcon="Mehr"></mat-icon>
                </button>
                <mat-menu #sectionMenu="matMenu">
                    <button
                        mat-menu-item
                        type="button"
                        (click)="removeSection(i)"
                        [disabled]="currentField.form?.disabled"
                    >
                        Löschen
                    </button>
                </mat-menu>
            }
        </div>
    }
    <div style="display: flex; justify-content: center">
        @if (!(formState.disabled || props.disabled || formControl.disabled)) {
            <button
                mat-flat-button
                type="button"
                color="primary"
                class="button-square-icon padding-btn add-button"
                [matMenuTriggerFor]="menu"
            >
                <mat-icon color="white">add</mat-icon>
                <span class="btn-title">Schritt Hinzufügen</span>
            </button>
        }
    </div>
}
@if (field.fieldGroup.length < 1) {
    <div class="section-wrapper">
        <h3>Verfahrenschritte</h3>
        @if (!(formState.disabled || props.disabled || formControl.disabled)) {
            <button
                mat-flat-button
                type="button"
                color="primary"
                class="button-square-icon padding-btn"
                [matMenuTriggerFor]="menu"
            >
                <mat-icon color="white">add</mat-icon>
                <span class="btn-title">Hinzufügen</span>
            </button>
        }
    </div>
}
<mat-menu #menu="matMenu">
    @for (type of sectionTypes; track type) {
        <button
            mat-menu-item
            [attr.data-cy]="'add_step_' + type.name"
            (click)="addSection(type.name)"
        >
            <span>{{ type.props.label }}</span>
        </button>
    }
</mat-menu>
