<ng-container *ngIf="field.fieldGroup.length > 0">
    <ng-container *ngFor="let currentField of field.fieldGroup; let i = index">
        <div
            class="steps"
            [class.mat-elevation-z4]="markSection[i]"
            [class.elevated]="markSection[i]"
        >
            <formly-field [field]="currentField"></formly-field>
            <ng-container *ngIf="form.enabled">
                <button
                    type="button"
                    class="menu dark menu-button"
                    [class.elevated]="markSection[i]"
                    mat-icon-button
                    matTooltip="Bearbeiten"
                    [matMenuTriggerFor]="sectionMenu"
                >
                    <mat-icon svgIcon="Mehr"></mat-icon>
                </button>
                <mat-menu #sectionMenu="matMenu">
                    <button
                        mat-menu-item
                        type="button"
                        (click)="removeSection(i)"
                        [disabled]="currentField.form?.disabled"
                    >
                        Löschen
                    </button>
                </mat-menu>
            </ng-container>
        </div>
    </ng-container>
    <div style="display: flex; justify-content: center">
        <button
            *ngIf="
                !(formState.disabled || props.disabled || formControl.disabled)
            "
            mat-flat-button
            type="button"
            color="primary"
            class="button-square-icon padding-btn add-button"
            [matMenuTriggerFor]="menu"
        >
            <mat-icon color="white">add</mat-icon>
            <span class="btn-title">Schritt Hinzufügen</span>
        </button>
    </div>
</ng-container>
<ng-container *ngIf="field.fieldGroup.length < 1">
    <ige-section-wrapper>
        <h3>Verfahrenschritte</h3>
        <button
            *ngIf="
                !(formState.disabled || props.disabled || formControl.disabled)
            "
            mat-flat-button
            type="button"
            color="primary"
            class="button-square-icon padding-btn"
            [matMenuTriggerFor]="menu"
        >
            <mat-icon color="white">add</mat-icon>
            <span class="btn-title">Hinzufügen</span>
        </button>
    </ige-section-wrapper>
</ng-container>
<mat-menu #menu="matMenu">
    <button
        *ngFor="let type of sectionTypes"
        mat-menu-item
        [attr.data-cy]="'add_step_' + type.name"
        (click)="addSection(type.name)"
    >
        <span>{{ type.props.label }}</span>
    </button>
</mat-menu>
