@import "src/variables";

.spacing {
  padding-bottom: 15px;
}

.search-content {
  display: flex;
  padding-bottom: 2px;
  justify-content: center;

  ige-search-input {
    justify-content: center;
  }
}

::ng-deep .quicksearch-auto {
  .mat-mdc-option,
  .mat-mdc-optgroup-label {
    padding: 0 !important;
  }

  .mat-mdc-optgroup-label span {
    color: $ige-secondary;
    font-weight: 500 !important;
  }

  .mat-icon {
    padding-right: 4px;

    svg .coloring-stroke {
      stroke: $ige-secondary;
    }
  }

  .mat-icon + span {
    color: $ige-secondary;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  .result-header {
    span {
      font-weight: 500;
    }

    .mat-icon {
      height: 16px;
    }
  }
}
