@import "src/variables";

.spacing {
  padding-bottom: 30px;
}

.search-content {
  display: flex;
  padding-bottom: 2px;
  justify-content: center;

  ige-search-input {
    justify-content: center;
  }
}

.no-padding {
  padding: 0;
}

.result-header {
  font-weight: 500;
  padding-bottom: 16px;

  .mat-icon {
    height: 16px;
    vertical-align: middle;
  }
}

.research-icon svg .coloring-stroke {
  stroke: $ige-secondary;
}

.result-title {
  color: $ige-secondary;
  font-weight: 500;
  padding-bottom: 6px;
}

.show-all-link {
  line-height: 36px;

  .mat-icon {
    vertical-align: middle;
    padding-bottom: 4px;
  }
}
