@import "../../../variables";

:host {
  background-color: $ige-background;

  .scroll-header {
    position: fixed;
    background-color: $ige-background;
    box-shadow: 0 2px 2px -2px #666666;
    left: 0;
    right: 17px;
    top: 104px;
    z-index: 1000;
    transform: translateY(-50px);
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out, -o-transform 300ms ease-in-out;

    ::ng-deep .anchor-navigation {
      margin-left: 0;
      padding: 8px 0 4px;
    }
  }

  &.scrolled {
    .scroll-header {
      transform: translateY(0);
    }
  }
}

.form-info-bar {
  padding: 0 10px 2px 36px;
  transition: all .2s ease;
}
