@import "src/variables";

:host {
  background-color: $ige-background;

  ::ng-deep .anchor-navigation {
    transition: padding 0.2s linear;
  }

  .menu {
    opacity: 0;
    transition: opacity 0.2s linear;
    width: 26px;
    height: 26px;
    line-height: 24px;
    background-color: $ige-background-bar;
  }
}

.form-info-bar {
  padding: 0 24px 2px 36px;
  // transition: all .2s ease;

  .form-info-bar-inner {
    max-width: 1260px;
    margin: 0 auto;
  }
}

/* Safari 11+ only: don't reserve space for scrollbar */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .sticky {
      right: 0 !important;
    }
  }
}
