<div class="form-info-bar">
    <div class="form-info-bar-inner">
        <ige-breadcrumb
            [path]="path"
            [rootName]="rootName"
            [selectable]="true"
            (select)="scrollToTreeNode($event)"
        ></ige-breadcrumb>
        <ige-publish-pending
            [doc]="_model"
            [forAddress]="forAddress"
        ></ige-publish-pending>
        <ige-header-title-row
            [form]="form"
            [model]="_model"
            [disableEdit]="disableTitleEdit"
            [address]="forAddress"
        ></ige-header-title-row>
    </div>
</div>
