<div #host class="form-info-bar">

    <div class="form-info-bar-inner">
        <ige-breadcrumb [path]="path"
                        [rootName]="rootName"
                        [hideLastSeparator]="true"
                        [selectable]="true"
                        (select)="scrollToTreeNode($event)"></ige-breadcrumb>

        <ige-header-title-row [form]="form"
                              [model]="model"
                              [sections]="sections"
                              [disableEdit]="forAddress"></ige-header-title-row>
    </div>
</div>

<div #sticky_header class="navigation-header"
     [class.sticky]="showScrollHeader"
     [style.left]="scrollHeaderOffsetLeft + 'px'">

    <div>
        <div class="document-type">
            <mat-icon [svgIcon]="getIcon()"
                      [title]="form?.get('title')?.value"
                      [ngClass]="['document-icon',getStateClass()]"></mat-icon>
        </div>

        <ige-header-navigation fxFlex [sections]="sections"></ige-header-navigation>

        <button mat-icon-button mat-flat-button class="menu clickable dark">
            <mat-icon svgIcon="Mehr"></mat-icon>
        </button>
    </div>

    <ige-form-message></ige-form-message>
</div>

