@import "src/variables";

:host {
  background-color: $ige-background;

  .sticky {
    position: fixed;
    background-color: $ige-background;
    box-shadow: 0 2px 2px -2px #666666;
    left: 0;
    right: 17px;
    top: 104px;
    z-index: 2000;

    ::ng-deep .anchor-navigation {
      margin-left: 0;
      padding: 8px 0 4px;
    }

    .document-type {
      opacity: 1;
    }

    .anchor-navigation {
      text-align: center;
      padding: 10px 0 0;
      line-height: 36px;

      .mat-button {
        font-weight: 400;
        letter-spacing: 0.4px;
      }
    }

    a {
      color: $ige-secondary;
      //font-size: 13px;
      padding: 0 10px;
      text-transform: none;
    }

    .menu {
      opacity: 1;
    }
  }

  ::ng-deep .anchor-navigation {
    transition: padding 0.2s linear;
  }

  .document-type,
  .menu {
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  .menu {
    width: 26px;
    height: 26px;
    line-height: 24px;
    background-color: $ige-background-bar;
  }
  .document-type {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    height: 28px;
    width: 28px;

    mat-icon {
      line-height: 32px;
      color: $state-working-color;
      font-size: 16px;
      padding-left: 2px;
      padding-top: 2px;
    }
  }
}

.form-info-bar {
  padding: 0 24px 2px 36px;
  // transition: all .2s ease;

  .form-info-bar-inner {
    max-width: 1260px;
    margin: 0 auto;
  }
}

.navigation-header {
  padding: 0 24px 0 36px;

  & > div {
    max-width: 1260px;
    margin: 0 auto;
    align-items: center;
  }
}

/* Safari 11+ only: don't reserve space for scrollbar */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .sticky {
      right: 0 !important;
    }
  }
}
