<div class="form-info-bar">
    <div class="form-info-bar-inner" *transloco="let t">
        <ige-breadcrumb
            [path]="path()"
            [rootName]="rootName"
            [selectable]="true"
            (select)="scrollToTreeNode($event)"
        ></ige-breadcrumb>
        @if (isPending()) {
            <ige-doc-state-notification
                [message]="
                    t('publish.formWithPronoun') +
                    ' wird am ' +
                    metadata().pendingDate +
                    ' veröffentlicht.'
                "
                [buttonLabel]="
                    'Veröffentlichung abbrechen und ' +
                    t('dashboard.formSingular') +
                    ' bearbeiten'
                "
                [allowCancel]="metadata().hasWritePermission"
                (cancel)="stopPublish()"
            ></ige-doc-state-notification>
        }
        @if (canRemoveFromArchive()) {
            <ige-doc-state-notification
                [message]="t('publish.formWithPronoun') + ' wurde archiviert.'"
                buttonLabel="Aus dem Archiv holen"
                [allowCancel]="metadata().hasWritePermission"
                (cancel)="unarchive()"
            ></ige-doc-state-notification>
        }
        <ige-header-title-row
            [form]="form()"
            [model]="_model"
            [disableEdit]="disableTitleEdit()"
            [address]="forAddress()"
        ></ige-header-title-row>
    </div>
</div>
