@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.blocker.show {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000000;
  background-color: white;
  opacity: 0.7;
  transition: all 0.5s 2s linear;
}

:host ::ng-deep .as-split-gutter {
  background-color: $ige-background-bar !important;
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    padding: 24px;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  .form-inner {
    flex: 1;
    padding: 20px 24px 20px 36px;
    background-color: #ffffff;

    > form {
      position: relative;
      min-width: 400px;
      max-width: 1260px;
      margin: 0 auto;
    }

    &.extra-space-toggle-button {
      padding-top: 48px;
    }
  }
}

.form-content ige-form-info {
  display: block;
  margin-bottom: 0;
}

pre {
  //position: absolute;
  top: 70px;
  right: 20px;
  background-color: #ffffffa0;
}

.folder-content {
  padding: 20px 24px 20px 36px;
}

#sidebar {
  overflow: hidden;
  display: flex;
}

#sidebar::-webkit-scrollbar {
  width: 12px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 20px;
}

.requiredDescription {
  margin-bottom: 10px;
}
