@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

::ng-deep .as-split-gutter {
  background-color: $ige-background-bar !important;
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    padding: 24px;
  }
}

.form-content > form {
  padding: 20px 24px 0 36px;
  background-color: #ffffff;
  min-width: 400px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-content ige-form-info {
  display: block;
  margin-bottom: 0;
}

pre {
  //position: absolute;
  top: 70px;
  right: 20px;
  background-color: #ffffffa0;
}

.folder-content {
  padding: 20px;
}

#sidebar {
  overflow: hidden;
  display: flex;
}

#sidebar::-webkit-scrollbar {
  width: 12px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 20px;
}

.optional-fields-toggle {
  background: $ige-background;
  display: flex;
  float: right;
  margin-bottom: -2em;
  font-size: 14px;
  height: 36px;
  padding-right: 10px;

  .diagonal {
    width: 46px;
    background: -webkit-linear-gradient(45deg, #ffffff 45%, $ige-background 0%);
  }

  mat-slide-toggle {
    height: inherit;
  }
}

