<div class="flex-col flex-fill">
    <div class="blocker" [class.show]="showBlocker"></div>

    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <!--        [useTransition]="true"-->
    <as-split (dragEnd)="rememberSizebarWidth($event)" [gutterSize]="12">
        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-sidebar
                [address]="address"
                (dropped)="handleDrop($event)"
            ></ige-sidebar>
        </as-split-area>

        <!-- The form -->
        <as-split-area
            #scrollForm
            [size]="100 - sidebarWidth"
            id="form"
            class="form-content"
            cdkScrollable
        >
            <div *ngIf="isLoading" class="loading">
                <div>Lade Dokument ...</div>
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>

            <ng-container *ngIf="!isLoading">
                <ng-content *ngIf="fields.length === 0"></ng-content>

                <div [class.hide]="fields.length === 0">
                    <ige-form-info
                        #formInfo
                        *ngIf="formInfoModel !== null"
                        [form]="form"
                        [model]="formInfoModel"
                        [forAddress]="address"
                        [disableTitleEdit]="
                            formOptions.formState.disabled === true ||
                            (address && model._type !== 'FOLDER')
                        "
                    >
                    </ige-form-info>
                    <ige-quick-navbar
                        *ngIf="formInfoModel !== null"
                        [class.sticky-header]="isStickyHeader"
                        [model]="formInfoModel"
                        [sections]="sections | async"
                        [numberOfErrors]="numberOfErrors"
                        [hasOptionalFields]="hasOptionalFields"
                        [optionalButtonState]="!hideOptionalFields"
                        (toggleOptionalFields)="hideOptionalFields = !$event"
                    ></ige-quick-navbar>

                    <div
                        class="form-inner"
                        [class.extra-space-toggle-button]="hasOptionalFields"
                        [class.hide]="model._type === 'FOLDER'"
                    >
                        <form
                            [style.padding-top]="paddingWithHeader"
                            [class.hide-optionals]="hideOptionalFields"
                            [class.hide]="model._type === 'FOLDER'"
                        >
                            <div class="requiredDescription">
                                *Pflichtangabe
                                <br />Tastenkürzel: STRG + ALT + S zum
                                Speichern, STRG + ALT + V zum Veröffentlichen
                            </div>
                            <formly-form
                                [form]="form"
                                [fields]="fields"
                                [model]="model"
                                [options]="formOptions"
                            ></formly-form>
                            <!--<pre>
            JSON:
            {{model | json}}
                            </pre>-->
                        </form>
                    </div>

                    <div
                        *ngIf="model._type === 'FOLDER'"
                        class="folder-content"
                    >
                        <ige-folder-dashboard
                            [isAddress]="address"
                        ></ige-folder-dashboard>
                    </div>
                </div>
            </ng-container>
        </as-split-area>

        <as-split-area *ngIf="showJson">
            <pre
                >{{ form.value | json }}
           </pre
            >
        </as-split-area>
    </as-split>
</div>
