<div fxLayout="column" fxFill>
    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <as-split [useTransition]="true" (dragEnd)="rememberSizebarWidth($event)" [gutterSize]="12">

        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-sidebar [address]="address" [parentContainer]="scrollForm"></ige-sidebar>
        </as-split-area>

        <!-- The form -->
        <as-split-area #scrollForm [size]="100-sidebarWidth" id="form" class="form-content">
            <ng-content *ngIf="!activeId || fields.length === 0"></ng-content>

            <ng-container *ngIf="fields.length !== 0">
                <ige-form-info [form]="form"
                               [model]="model"
                               [forAddress]="address"
                               [sections]="sections"
                               [parentContainer]="scrollForm"
                               (showStickyHeader)="updateContentPadding($event)"></ige-form-info>

                <form [formGroup]="form"
                      [style.padding-top]="paddingWithHeader"
                      [class.hide-validation]="!showValidationErrors"
                      [class.hide]="model._profile === 'FOLDER'">
                    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="formOptions"></formly-form>

                    <!--<pre>
    JSON:
    {{model | json}}
                    </pre>-->
                </form>

                <div *ngIf="model._profile === 'FOLDER'" class="folder-content">
                    <ige-card-box label="Ordner-Informationen"></ige-card-box>
                </div>
            </ng-container>

        </as-split-area>

    </as-split>
</div>
