<div class="flex-col flex-fill">
    <div class="blocker" [class.show]="showBlocker"></div>

    <!-- Toolbar -->
    <form-toolbar></form-toolbar>

    <!--        [useTransition]="true"-->
    <as-split (dragEnd)="rememberSizebarWidth($event)" [gutterSize]="12">
        <!-- exchangable sidebar -->
        <as-split-area [size]="sidebarWidth" id="sidebar">
            <ige-sidebar
                [address]="address"
                (dropped)="handleDrop($event)"
            ></ige-sidebar>
        </as-split-area>

        <!-- The form -->
        <as-split-area
            #scrollForm
            [size]="100 - sidebarWidth"
            id="form"
            class="form-content"
            cdkScrollable
        >
            @if (isLoading) {
                <div class="loading">
                    <div>Lade Dokument ...</div>
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
            }

            @if (!isLoading) {
                @if (fields.length === 0) {
                    <ng-content></ng-content>
                }
                <div [class.hide]="fields.length === 0">
                    @if (formInfoModel !== null) {
                        <ige-form-info
                            #formInfo
                            [form]="form"
                            [model]="formInfoModel"
                            [forAddress]="address"
                            [disableTitleEdit]="
                                formOptions.formState.disabled === true ||
                                (address && model._type !== 'FOLDER')
                            "
                        >
                        </ige-form-info>
                    }
                    @if (formInfoModel !== null) {
                        <ige-quick-navbar
                            [class.sticky-header]="isStickyHeader"
                            [model]="formInfoModel"
                            [sections]="sections | async"
                            [numberOfErrors]="numberOfErrors"
                            [hasOptionalFields]="hasOptionalFields"
                        ></ige-quick-navbar>
                    }
                    <div
                        class="form-inner"
                        [class.extra-space-toggle-button]="hasOptionalFields"
                        [class.hide]="model._type === 'FOLDER'"
                    >
                        <form
                            [style.padding-top]="paddingWithHeader"
                            [class.hide-optionals]="!(showAllFields | async)"
                            [class.hide]="model._type === 'FOLDER'"
                        >
                            <div class="requiredDescription">
                                *Pflichtangabe
                                <br />STRG + ALT + S zum Speichern<br />STRG +
                                ALT + V zum Veröffentlichen
                            </div>
                            <formly-form
                                [form]="form"
                                [fields]="fields"
                                [model]="model"
                                [options]="formOptions"
                            ></formly-form>
                            <!--<pre>
              JSON:
              {{model | json}}
            </pre>-->
                            <div class="requiredDescription">
                                STRG + ALT + S zum Speichern<br />STRG + ALT + V
                                zum Veröffentlichen
                            </div>
                        </form>
                    </div>
                    @if (model._type === "FOLDER") {
                        <div class="folder-content">
                            <ige-folder-dashboard
                                [isAddress]="address"
                            ></ige-folder-dashboard>
                        </div>
                    }
                </div>
            }
        </as-split-area>

        @if (showJson) {
            <as-split-area>
                <pre
                    >{{ form.value | json }}
        </pre
                >
            </as-split-area>
        }
    </as-split>
</div>
