<label>{{label}}</label>

<button mat-button class="btnAdd" (click)="addRow()">+</button>
<nz-table #basicTable [nzData]="value" [nzSize]="'small'" [nzShowPagination]="false"
          [nzWidthConfig]="[null,null,'55px']">
    <thead>
    <tr>
        <th *ngFor="let column of columns">{{column.editor.label}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let column of columns">
            <ng-container *ngIf="!editCache[data.__id]?.edit">
                {{data[column.editor.key]}}
            </ng-container>
            <ng-container *ngIf="editCache[data.__id]?.edit">
                <input type="text" nz-input [(ngModel)]="editCache[data.__id].data[column.editor.key]">
            </ng-container>
        </td>
        <td class="-align-right">
            <div class="editable-row-operations">
                <ng-container *ngIf="!editCache[data.__id]?.edit">
                    <a (click)="startEdit(data.__id)" title="Bearbeiten">
                        <i nz-icon type="edit" theme="outline"></i>
                    </a>
                    <a (click)="deleteRow(data.__id)" title="Löschen">
                        <i nz-icon type="delete"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="editCache[data.__id]?.edit" title="Übernehmen">
                    <a (click)="saveEdit(data.__id)">
                        <i nz-icon type="check" theme="outline"></i>
                    </a>
                    <!--<nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.__id)">
                        <a nz-popconfirm>Cancel</a>
                    </nz-popconfirm>-->
                </ng-container>
            </div>
        </td>
    </tr>
    </tbody>
</nz-table>
