.empty-navigation-wrapper {

  .navigation-title {
    height: 100px;
    line-height: 100px;
  }

  .empty-text-wrapper {
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    height: 49px;
    line-height: 49px;
    color: #767676;
  }

}
