/**
 * NOTE: This class is auto generated by the swagger code generator program (2.2.3).
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */
package de.ingrid.igeserver.api

import de.ingrid.igeserver.model.Job
import de.ingrid.igeserver.model.JobCommand
import de.ingrid.igeserver.persistence.postgresql.jpa.model.ige.Group
import io.swagger.v3.oas.annotations.Parameter
import io.swagger.v3.oas.annotations.tags.Tag
import org.springframework.http.MediaType
import org.springframework.http.ResponseEntity
import org.springframework.web.bind.annotation.GetMapping
import org.springframework.web.bind.annotation.PathVariable
import org.springframework.web.bind.annotation.PostMapping
import org.springframework.web.bind.annotation.RequestParam
import java.security.Principal

@Tag(name = "Jobs", description = "the jobs API")
interface JobsApi {

    @GetMapping(
        value = ["/jobs"],
        produces = [MediaType.APPLICATION_JSON_VALUE]
    )
    fun getJobs(
        principal: Principal
    ): ResponseEntity<Job>

    @PostMapping(
        value = ["/jobs/{id}"],
        produces = [MediaType.APPLICATION_JSON_VALUE]
    )
    fun command(
        principal: Principal,
        @Parameter(description = "The unique id of the job.", required = true) @PathVariable("id") id: String,
        @Parameter(description = "command for the job", required = true) @RequestParam(
            value = "command",
            required = true
        ) command: JobCommand
    ): ResponseEntity<Group>
}

