/*
 * NOTE: This class is auto generated by the swagger code generator program (2.2.3).
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */
package de.ingrid.igeserver.api

import de.ingrid.igeserver.services.thesaurus.Keyword
import io.swagger.v3.oas.annotations.Parameter
import io.swagger.v3.oas.annotations.responses.ApiResponse
import io.swagger.v3.oas.annotations.responses.ApiResponses
import io.swagger.v3.oas.annotations.tags.Tag
import org.springframework.http.MediaType
import org.springframework.http.ResponseEntity
import org.springframework.web.bind.annotation.*
import java.util.*

@Tag(name = "Keywords")
interface KeywordsApi {
    @ApiResponses(value = [ApiResponse(responseCode = "200")])
    @GetMapping(value = ["/keywords/{thesaurusId}"], produces = [MediaType.APPLICATION_JSON_VALUE])
    fun search(
        @Parameter(required = true) @PathVariable("thesaurusId") thesaurusId: String,
        @RequestParam(value = "q", required = true) term: String
    ): ResponseEntity<List<Keyword>>

}
