<!--<p-toolbar>
    <div class="ui-toolbar-group-left">
        <ng-container *ngFor="let button of buttons">
            <button *ngIf="!button.isSeparator" pButton type="button"
                    icon="{{button.cssClasses}}"
                    class="ui-button-secondary"
                    [disabled]="!button.active"
                    [title]="button.tooltip"
                    (click)="sendEvent(button.eventId)"></button>

            <span *ngIf="button.isSeparator"
                  class="separator"></span>
        </ng-container>
    </div>

</p-toolbar>-->
<mat-toolbar>
    <mat-toolbar-row>
        <ng-container *ngFor="let button of buttons_left">
            <button *ngIf="!button.isSeparator" mat-icon-button
                    [title]="button.tooltip"
                    (click)="sendEvent(button.eventId)"
                    [disabled]="!button.active">
                <!--aria-label="{{button.tooltip}}"-->
                <mat-icon>{{button.cssClasses}}</mat-icon>
            </button>
            <mat-divider *ngIf="button.isSeparator" [vertical]="true" style="height: 20px"></mat-divider>
        </ng-container>
        <div fxFlex></div>

        <span class="save-buttons">
            <ng-container *ngFor="let button of buttons_right">
                <button *ngIf="!button.isSeparator && !button.label" mat-icon-button
                        [title]="button.tooltip"
                        (click)="sendEvent(button.eventId)"
                        [disabled]="!button.active">
                    <!--aria-label="{{button.tooltip}}"-->
                    <mat-icon>{{button.cssClasses}}</mat-icon>
                </button>
                <button *ngIf="button.label && !button.isPrimary" mat-stroked-button
                        (click)="sendEvent(button.eventId)">{{button.label}}</button>
                <ng-container *ngIf="button.label && button.isPrimary">
                    <!--<mat-menu #appMenu="matMenu">
                        <button mat-menu-item>... Black Forest</button>
                        <button mat-menu-item>... Salted Caramel</button>
                      </mat-menu>

                      <mat-button-toggle-group>
                        <mat-button-toggle>
                          Tell me about Earl Gray Ice Cream
                        </mat-button-toggle>

                        <mat-button-toggle [matMenuTriggerFor]="appMenu">
                          <mat-icon>arrow_drop_down</mat-icon>
                        </mat-button-toggle>
                      </mat-button-toggle-group>-->

                    <button mat-flat-button color="primary"
                            (click)="sendEvent(button.eventId)">Veröffentlichen</button>

                    <button mat-icon-button [matMenuTriggerFor]="publishMenu" aria-label="Additional publish options">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #publishMenu="matMenu">
                      <button mat-menu-item disabled>
    <!--                    <mat-icon>dialpad</mat-icon>-->
                        <span>Planen</span>
                      </button>
                      <button mat-menu-item disabled>
    <!--                    <mat-icon>voicemail</mat-icon>-->
                        <span>Zurücknehmen</span>
                      </button>
                    </mat-menu>
                </ng-container>

            </ng-container>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
