<div [formGroup]="form">
    <label *ngIf="!field.hideLabel" [attr.for]="field.key">{{field.label}}</label>

    <div *ngIf="parentKey">
        <div [ngSwitch]="field.controlType" [formGroupName]="parentKey">

            <input *ngSwitchCase="'textbox'" [formControlName]="field.key" class="form-control"
                   [id]="field.key" [type]="field.type"
                   [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">

            <input *ngSwitchCase="'checkbox'" [formControlName]="field.key"
                   [id]="field.key" type="checkbox"
                   [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">

            <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" class="form-control"
                    [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">
                <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
            </select>

            <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                      class="form-control"
                      [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">
            </textarea>

            <data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                        [ngModel]="value[parentKey] ? value[parentKey][field.key] : undefined">
            </data-table>

        </div>
    </div>
    <div *ngIf="!parentKey">
        <div [ngSwitch]="field.controlType">

            <input *ngSwitchCase="'textbox'" [formControlName]="field.key" class="form-control"
                   [id]="field.key" [attr.type]="field.type" [ngModel]="value[field.key]">

            <div *ngSwitchCase="'checkbox'" class="checkbox">
                <label>
                    <input [formControlName]="field.key" [id]="field.key" type="checkbox" [ngModel]="value[field.key]"> {{field.label}}
                </label>
            </div>

            <!-- TODO: https://github.com/pleerock/ng2-radio-group -->
            <span *ngSwitchCase="'radio'">
                <label *ngFor="let opt of field.options" class="radio-inline">
                    <input [formControlName]="field.key" [attr.name]="field.key" type="radio"
                           [ngModel]="value[field.key]"> {{opt.label}}
                </label>
            </span>

            <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" class="form-control"
                    [ngModel]="value[field.key]">
                <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
            </select>

            <textarea *ngSwitchCase="'textarea'" rows="{{field.rows}}" [formControlName]="field.key" [id]="field.key"
                      class="form-control"
                      [ngModel]="value[field.key]">
            </textarea>

            <data-table *ngSwitchCase="'table'" [formControlName]="field.key" [id]="field.key" [columns]="field.columns"
                        [ngModel]="value[field.key]">
            </data-table>

            <leaflet *ngSwitchCase="'map'" [options]="field.options" [height]="field.height"></leaflet>

        </div>
    </div>

    <!--<div class="errorMessage" *ngIf="!isValid">Message: {{form.controls[field.key].errors.message}}</div>-->

</div>
