<!-- Toolbar -->
<form-toolbar></form-toolbar>

<!-- Notification -->
<div class="notifyWrapper" [class.active]="saving">
    <div class="tn-box tn-box-color-1">
        <p>This form has been saved successfully!</p>
        <div class="tn-progress"></div>
    </div>
</div>
<div class="notifyWrapper" [class.active]="error">
    <div class="tn-box tn-box-color-1">
        <p>An error occured: {{error}}</p>
        <div class="tn-progress"></div>
    </div>
</div>

<div class="splitWrapper">
    <!-- exchangable sidebar -->
    <div id="sidebar" class="split split-horizontal">
        <sidebar></sidebar>
    </div>

    <!-- The form -->
    <div id="form" class="split split-horizontal formWrapper">
        <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">

            <!-- RENDER ALL FIELDS -->
            <div *ngFor="let field of fields" class="fieldContainer {{field.domClass}}"
                 [ngClass]="{hasChildren: field.children, padding: !field.children || field.isRepeatable}">

                <!-- SIMPLE FIELD -->
                <dyn-field *ngIf="!field.children" [field]="field" [form]="form" [value]="data"></dyn-field>

                <!-- COMPLEX FIELD -->
                <fieldset *ngIf="field.children">

                    <!-- CONTAINER FOR NESTED FIELDS -->
                    <div *ngIf="!field.isRepeatable">
                        <div [formGroupName]="field.useGroupKey">
                            <dyn-field *ngFor="let child of field.children" [field]="child"
                                       [form]="form.controls[field.useGroupKey]" [value]="data[field.useGroupKey]"
                                       class="padding {{child.domClass}}">
                            </dyn-field>
                        </div>
                    </div>

                    <!-- REPEATABLE FIELDS -->
                    <div *ngIf="field.isRepeatable">
                        <div [formArrayName]="field.useGroupKey">
                            <div *ngFor="let groups of field.children; let i=index" [formGroupName]="i"
                                 class="panel panel-default">
                                <div class="panel-heading">
                                    <span>{{i+1}}. {{field.label}}</span>
                                    <button class="close pull-right" aria-label="Close"
                                            *ngIf="form.controls[field.useGroupKey].controls.length > 1"
                                            (click)="removeArrayGroup(field.useGroupKey, i)"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="panel-body">
                                    <dyn-field *ngFor="let child of groups" [field]="child"
                                               [form]="form.controls[field.useGroupKey].controls[i]"
                                               [value]="data[field.useGroupKey] ? data[field.useGroupKey][i] : {}"
                                               class="padding {{child.domClass}}">
                                    </dyn-field>
                                </div>
                            </div>
                        </div>
                        <button (click)="addArrayGroup(field.useGroupKey)" type="button"
                                class="pull-right btn btn-default">ADD
                        </button>
                    </div>
                </fieldset>

            </div>


            <strong>Form contains the following values</strong><br>{{form.value | json}}
            <p>Form is valid: {{form.valid}}</p>
        </form>


    </div>
</div>

<modal #newDocModal title="Neues Dokument" submitButtonLabel="Neues Dokument" (onSubmit)="prepareNewDoc()">
    <modal-content>
        <div class="radio" *ngFor="let type of formularService.docTypes">
            <label>
                <input name="newDocChoice" type="radio" [(ngModel)]="choiceNewDoc" [value]="type.id"> {{type.label}}
            </label>
        </div>
    </modal-content>
</modal>

<modal #deleteConfirmModal title="Löschen" cancelButtonLabel="Nein" submitButtonLabel="Ja" (onSubmit)="doDelete()">
    <modal-content>
        <p>Möchten Sie wirklich diesen Datensatz löschen?</p>
    </modal-content>
</modal>

