<!-- Toolbar -->
<form-toolbar></form-toolbar>

<div class="notifyWrapper" [class.active]="error">
    <div class="tn-box tn-box-color-1">
        <p>An error occured: {{error}}</p>
        <div class="tn-progress"></div>
    </div>
</div>

<split>
    <!-- exchangable sidebar -->
    <split-area [size]="25" id="sidebar">
        <ul class="nav nav-tabs">
            <li role="presentation" [class.active]="sideTab === 'tree'"><a (click)="sideTab = 'tree'">Baum</a></li>
            <li role="presentation" [class.active]="sideTab === 'search'"><a (click)="sideTab = 'search'">Suche</a></li>
        </ul>
        <tree [class.hide]="sideTab !== 'tree'"
              (onSelected)="handleLoad($event.id, $event.profile, $event.forceLoad)"></tree>
        <browser [class.hide]="sideTab !== 'search'" (onSelected)="load($event.id)"></browser>
    </split-area>

    <!-- The form -->
    <split-area [size]="75" id="form" class="formWrapper">
        <div *ngIf="!form" class="info-no-selection well text-center">
            Kein Dokument ausgewählt. Laden Sie ein vorhandenes oder erstellen Sie ein neues Dokument über die Toolbar.
        </div>

        <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">

            <!-- bottom info bar -->
            <div class="bottom-bar" style="position:relative;" [class.expanded]="showDateBar"
                 (click)="showDateBar = !showDateBar">
                <span class="text-muted">
                    <div class="pull-left padding-sm">{{getTitle()}}</div>
                    <div class="padding-sm pull-right">
                        <span class="glyphicon glyphicon-user"></span>
                        <small>
                            <strong>Autor:</strong> {{data._modifiedBy}}
                        </small>
                    </div>
                    <div class="padding-sm pull-right">
                        <span class="glyphicon glyphicon-time" [class.active]="showDateBar"
                              title="Zeige Datumsinformation"></span>
                        <small>
                            <strong>Geändert:</strong> {{data._modified | date:'HH:mm - dd.MM.yyyy'}}
                        </small>
                    </div>
                    <div [class.hide]="!showDateBar" style="clear: both;">
                        <div class="padding-sm pull-right">
                            <small>
                                <strong>Erstellt:</strong> {{data._created | date:'HH:mm - dd.MM.yyyy'}}
                            </small>
                        </div>
                    </div>
                    <!--<span class="glyphicon glyphicon-chevron-left" (click)="showDateBar = !showDateBar"></span>-->
                    <div class="text-center" style="position:absolute; width: 100%; bottom: -5px;">
                        <span class="glyphicon"
                              [class.glyphicon-chevron-down]="!showDateBar"
                              [class.glyphicon-chevron-up]="showDateBar"></span>
                    </div>
                    <!--<div style="position: absolute; left: 50%;">
                        <div style="position: relative; left: -50%; border: dotted red 1px;">
                          <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                    </div>-->
                </span>
            </div>

            <div class="main-form-flex">
                <div class="main-form">
                    <!-- RENDER ALL FIELDS -->
                    <div *ngFor="let field of fields" class="fieldContainer {{field.domClass}}"
                         [ngClass]="{hasChildren: field.children, padding: !field.children || field.isRepeatable}">

                        <!-- SIMPLE FIELD -->
                        <dyn-field *ngIf="!field.children" [field]="field" [form]="form"
                                   (onAddSection)="addSection($event)"></dyn-field>

                        <!-- COMPLEX FIELD -->
                        <fieldset *ngIf="field.children">

                            <!-- CONTAINER FOR NESTED FIELDS -->
                            <div *ngIf="!field.isRepeatable">
                                <div [formGroupName]="field.key">
                                    <dyn-field *ngFor="let child of field.children" [field]="child"
                                               [form]="form.controls[field.key]"
                                               class="padding {{child.domClass}}">
                                    </dyn-field>
                                </div>
                            </div>

                            <!-- REPEATABLE FIELDS -->
                            <div *ngIf="field.isRepeatable">
                                <div [formArrayName]="field.key">
                                    <!-- render data -->
                                    <div *ngFor="let child of field.children; let i=index" class="panel panel-default">
                                        <div *ngIf="child.children" class="panel-heading"
                                             (click)="expandedField[child.key + i] = !expandedField[child.key + i]">
                                        <span class="fa" [class.fa-caret-down]="expandedField[child.key + i]"
                                              [class.fa-caret-right]="!expandedField[child.key + i]"></span>
                                            <span class="title">{{i+1}}. {{child.label}}</span>
                                            <button type="button" class="close" aria-label="Close"
                                                    (click)="removeArrayGroup(field.key, i)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div [formGroupName]="i" class="panel-body"
                                             [class.hide]="!expandedField[child.key + i]">
                                            <dyn-field *ngFor="let subChild of child.children" [field]="subChild"
                                                       [form]="form.controls[field.key].controls[i].controls[child.key]"
                                                       class="padding {{subChild.domClass}}">
                                            </dyn-field>
                                        </div>
                                    </div>

                                    <!-- render generator field -->
                                    <partial-generator [field]="field" [form]="form"
                                                       (onAddSection)="addSection($event)"></partial-generator>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div *ngIf="debugEnabled" class="well text-muted">
                <strong>Form contains the following values</strong><br>{{form.value | json}}
                <!--<p>Form is valid: {{form.valid}}</p>-->
            </div>
        </form>
    </split-area>

    <ng2-toasty [position]="'bottom-center'"></ng2-toasty>

</split>

<modal #newDocModal title="Neues Dokument" submitButtonLabel="Neues Dokument" (onSubmit)="prepareNewDoc()">
    <modal-content>
        <div class="radio" *ngFor="let type of newDocOptions.docTypes">
            <label>
                <input name="newDocChoice" type="radio" [(ngModel)]="choiceNewDoc" [value]="type.id"> {{type.label}}
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" [disabled]="!newDocOptions.rootOption" [(ngModel)]="addToRoot">
                als Root-Datensatz anlegen
            </label>
        </div>
    </modal-content>
</modal>

<modal #deleteConfirmModal title="Löschen" cancelButtonLabel="Nein" submitButtonLabel="Ja" (onSubmit)="doDelete()">
    <modal-content>
        <p>Möchten Sie wirklich diesen Datensatz löschen: {{docToDelete}}</p>
    </modal-content>
</modal>


<modal #discardConfirmModal title="Daten wurden geändert" cancelButtonLabel="Nein" submitButtonLabel="Ja"
       (onSubmit)="discardChanges()">
    <modal-content>
        <p>Der Datensatz wurde geändert. Wollen Sie die Änderungen verwerfen und einen anderen Datensatz laden?</p>
    </modal-content>
</modal>