<form-toolbar></form-toolbar>
<div>
    <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">

        <div *ngFor="let field of fields" class="fieldContainer {{field.domClass}}"
             [ngClass]="{hasChildren: field.children, padding: !field.children}">
            <fieldset *ngIf="field.children">
                <div *ngIf="!field.isRepeatable">
                    <dyn-field *ngFor="let child of field.children" [field]="child" [parentKey]="field.useGroupKey"
                               [form]="form" [value]="data" class="padding {{child.domClass}}"></dyn-field>
                </div>
                <div *ngIf="field.isRepeatable">
                    <div [formArrayName]="field.useGroupKey">
                        <div *ngFor="let groups of field.children; let i=index" [formGroupName]="i" class="well">
                            <div class="panel-heading">
                                <span>{{field.label}}</span>
                                <button class="glyphicon glyphicon-remove pull-right" *ngIf="form.controls[field.useGroupKey].controls.length > 1" (click)="removeArrayGroup(field.useGroupKey, i)"></button>
                            </div>
                            <dyn-field *ngFor="let child of groups" [field]="child"
                               [form]="form.controls[field.useGroupKey].controls[i]" [value]="data" class="padding {{child.domClass}}"></dyn-field>
                        </div>
                    </div>
                    <button (click)="addArrayGroup(field.useGroupKey)" type="button"
                            class="pull-right btn btn-default">ADD
                    </button>
                </div>
            </fieldset>
            <dyn-field *ngIf="!field.children" [field]="field" [form]="form" [value]="data"></dyn-field>
        </div>

        <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
        <strong>Saved the following values</strong><br>{{form.value | json}}
    </form>


</div>

<button (click)="load('0')">Load 1</button>
<button (click)="load('1')">Load 2</button>
