@import "src/variables";

:host {
  display: block;
  padding: 15px 0 12px;
  font-size: 14px;
  color: $ige-secondary;
  line-height: 17px;

  &.no-padding {
    padding: 0;
  }

  &.disabled {
    color: $ige-hint-color;
  }

  .emphasize {
    font-size: 16px;
    font-weight: 500;
    color: $ige-primary;

    .selectable:hover {
      color: $ige-secondary;
    }
  }

  .selectable:hover {
    cursor: pointer;
    color: $ige-primary;
  }

  .disabled {
    color: $ige-hint-color;
    cursor: default;
  }
}

mat-icon {
  height: 18px;
  margin-top: -2px;
  vertical-align: middle;
  line-height: 18px;
  color: $ige-hint-color;
}
