@import "../../../../variables";

:host {
  display: block;
  padding: 15px 0 12px;
  font-size: 14px;
  color: $ige-secondary;
  letter-spacing: 0.25px;
  line-height: 18px;

  .emphasize {
    font-size: 16px;
    font-weight: 500;
    color: $ige-primary;
  }

}

mat-icon {
  vertical-align: middle;
}
