@import "../../../../variables";

:host {
  display: block;
  padding: 15px 0;
  font-size: 14px;
  color: $ige-secondary;

  .emphasize {
    font-size: 16px;
    font-weight: 500;
  }

}

mat-icon {
  vertical-align: middle;
}
