<span *ngIf="path" [class.emphasize]="emphasize">
    <span *ngIf="showRoot" class="root">
        <span
            [class.selectable]="selectable && !disableRoot"
            [class.disabled]="disableRoot"
            [matTooltip]="
                disableRoot
                    ? 'Sie dürfen nicht auf das Root-Element zugreifen'
                    : ''
            "
            (click)="!disableRoot && onSelect(null)"
            >{{ rootName }}</span
        >
        <mat-icon *ngIf="path.length > 0 || !hideLastSeparator"
            >chevron_right</mat-icon
        >
    </span>

    <span *ngFor="let item of path; let last = last">
        <span
            [matTooltip]="
                item.disabled
                    ? 'Sie haben keine Schreibberechtigung auf diesen Ordner'
                    : ''
            "
            [class.selectable]="selectable && !item.disabled"
            [class.disabled]="item.disabled"
            (click)="!item.disabled && onSelect(item.id)"
            >{{ item.title }}</span
        >
        <mat-icon *ngIf="!last || !hideLastSeparator">chevron_right</mat-icon>
    </span>
</span>
