<span *ngIf="breadPath" [class.emphasize]="emphasize">
    <span *ngIf="showRoot" class="root">
        <span
            [class.selectable]="selectable && !disableRoot"
            [class.disabled]="disableRoot"
            [matTooltip]="
                disableRoot
                    ? 'Sie dürfen nicht auf das Root-Element zugreifen'
                    : ''
            "
            (click)="!disableRoot && onSelect(null)"
            *transloco="let t; read: 'menu'"
            >{{ rootName }}</span
        >
        <ng-container *ngIf="breadPath.length > 0 || !hideLastSeparator">
            <mat-icon *ngIf="!simplePath">chevron_right</mat-icon>
            <span *ngIf="simplePath">/</span>
        </ng-container>
    </span>

    <span *ngFor="let item of toShow; let last = last; let i = index">
        <span
            [matTooltip]="getBreadcrumbTooltip(item)"
            data-cy="{{ item.disabled ? 'yes' : 'no' }}"
            [class.selectable]="
                selectable &&
                (item.permission.canRead || item.permission.canWrite)
            "
            [class.disabled]="item.disabled"
            (click)="handleClick(breadPath, item)"
            >{{ representations[item.id] }}</span
        >
        <ng-container
            *ngIf="
                showChevron(toShow, item, i) && (!last || !hideLastSeparator)
            "
        >
            <mat-icon *ngIf="!simplePath">chevron_right</mat-icon>
            <span *ngIf="simplePath">/</span>
        </ng-container>
    </span>
</span>
