<div class="page-wrapper flex-col">
    <div class="header-wrapper">
        <div class="user-management-header">
            <div class="page-title">
                Gruppen (<span data-cy="groups-count">{{
                    (groups | async)?.length
                }}</span
                >)
            </div>
            <mat-toolbar>
                <mat-toolbar-row>
                    <ige-search-input
                        [query]="query"
                        [showSearchIcon]="true"
                        placeholder="Suchen"
                        [withWhiteBorder]="false"
                    ></ige-search-input>

                    <div class="flex-1"></div>

                    <span class="save-buttons">
                        <button
                            color="primary"
                            mat-stroked-button
                            (click)="openAddGroupDialog()"
                            matTooltip="Gruppe hinzufügen"
                        >
                            <mat-icon>person_add</mat-icon> Hinzufügen
                        </button>
                        <button
                            class="btnSave"
                            mat-flat-button
                            color="primary"
                            data-cy="toolbar_save_group"
                            matTooltip="Speichern"
                            (click)="saveGroup()"
                            [disabled]="form?.invalid || !form?.dirty"
                        >
                            Speichern
                        </button>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
    <as-split (dragEnd)="this.userManagementService.rememberTableWidth($event)">
        <!-- TODO: restrict role permission to groups! A simple user must not change his own role to admin!!! -->

        <!-- GROUP LIST -->
        <as-split-area
            [size]="tableWidth"
            id="sidebarRoles"
            class="split-pane-content-primary container"
        >
            <groups-table
                [query]="query.value"
                [groups]="groups | async"
                [userGroupNames]="userGroupNames"
                [selectedGroup]="groupQuery.selectActiveId()"
                (onGroupSelect)="groupService.setActive($event.id)"
                (onDelete)="deleteGroup($event)"
            ></groups-table>
        </as-split-area>

        <!-- GROUP DETAIL -->
        <as-split-area
            [size]="100 - tableWidth"
            id="formRoles"
            class="split-pane-content-secondary container-fluid flex-row"
        >
            @if (!isLoading) {
                @if (selectedGroup) {
                    <form
                        [formGroup]="form"
                        class="detail-role flex-col gap-12"
                    >
                        <div class="user-title">
                            <div class="document-type">
                                <mat-icon svgIcon="group"></mat-icon>
                            </div>
                            <span class="label flex-1" [class.editable]="false">
                                <span>{{
                                    form.get("name")?.value || "Kein Titel"
                                }}</span>
                            </span>
                            <button
                                mat-icon-button
                                data-cy="btn-expand-header"
                                class="dark menu-button"
                                [class.expanded]="showMore"
                                [matTooltip]="showMore ? 'Schließen' : 'Öffnen'"
                                (click)="this.showMore = !this.showMore"
                            >
                                <mat-icon class="rotating animated"
                                    >keyboard_arrow_down
                                </mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                data-cy="more-actions"
                                class="menu dark menu-button"
                                matTooltip="Bearbeiten"
                                [matMenuTriggerFor]="groupMoreMenu"
                            >
                                <mat-icon svgIcon="Mehr"></mat-icon>
                            </button>
                            <mat-menu #groupMoreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    (click)="showGroupUsers(selectedGroup.id)"
                                >
                                    Benutzer anzeigen
                                </button>
                                <button
                                    [disabled]="
                                        selectedGroup.currentUserIsMember
                                    "
                                    mat-menu-item
                                    (click)="deleteGroup(selectedGroup.id)"
                                >
                                    Löschen
                                </button>
                            </mat-menu>
                        </div>
                        <group-header-more
                            [showMore]="this.showMore"
                            [group]="selectedGroup"
                        ></group-header-more>
                        @if (selectedGroup.currentUserIsMember) {
                            <div class="no-fields-selected-notice warn">
                                <div class="infoIcon">
                                    <mat-icon
                                        class="material-icons-outlined"
                                        svgIcon="info-24px"
                                    ></mat-icon>
                                </div>
                                <span>
                                    Für Mitglieder der Gruppe ist die
                                    Bearbeitung deaktiviert.</span
                                >
                            </div>
                        }
                        <!-- TITLE -->
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" />
                            @if (form.get("name").errors?.forbiddenName) {
                                <mat-error
                                    >Es gibt bereits eine Gruppe mit diesem
                                    Namen
                                </mat-error>
                            }
                        </mat-form-field>
                        <!-- DESCRIPTION -->
                        <mat-form-field appearance="outline">
                            <mat-label>Beschreibung</mat-label>
                            <textarea
                                matInput
                                formControlName="description"
                            ></textarea>
                        </mat-form-field>
                        <ige-permissions
                            [disabled]="selectedGroup.currentUserIsMember"
                            [showRootReadSlider]="
                                userHasRootReadPermission ||
                                userHasRootWritePermission
                            "
                            [showRootWriteSlider]="userHasRootWritePermission"
                            formControlName="permissions"
                        ></ige-permissions>
                        <div>
                            <div class="section-title">
                                Zugeordnete Benutzer
                                @if (groupUsers) {
                                    <span>({{ groupUsers.length }})</span>
                                }
                            </div>
                        </div>
                        <mat-divider aria-hidden="true"></mat-divider>
                        <user-table
                            [users]="groupUsers"
                            tableType="simple"
                            (onUserSelect)="switchToUser($event)"
                        ></user-table>
                    </form>
                } @else {
                    @if ((groups | async)?.length > 0) {
                        <div
                            class="detail-role no-selection-placeholder flex-1 flex-col justify-content-center align-items-center"
                        >
                            <div>
                                <img
                                    src="assets/icons/group-management.png"
                                    alt="group-management"
                                />
                            </div>
                            <div class="no-selection-text">
                                Wählen Sie einen Eintrag aus, um Berechtigungen
                                anzuzeigen oder Änderungen durchzuführen.
                            </div>
                        </div>
                    }
                    @if ((groups | async)?.length === 0) {
                        <div
                            class="detail-role no-selection-placeholder flex-1 flex-col justify-content-center align-items-center"
                        >
                            <div>
                                <img
                                    src="assets/icons/group-management.png"
                                    alt="group-management"
                                />
                            </div>
                            <div class="no-selection-text">
                                Noch keine Gruppen erstellt!
                            </div>
                            <div class="no-selection-text">
                                Mit der oben stehenden Funktion „Hinzufügen“
                                können Sie Gruppen anlegen.
                            </div>
                        </div>
                    }
                }
                <!-- NO GROUP SELECTED -->
            } @else {
                <mat-spinner style="margin: 100px auto"></mat-spinner>
            }
        </as-split-area>
    </as-split>
</div>
