<div
    *ngIf="field.fieldGroup.length"
    class="image-container flex-row flex-wrap gap-12"
>
    <mat-card *ngFor="let field of field.fieldGroup; let i = index">
        <!-- when switching between same datasets, the model might not be initialized for a short time -->
        <ng-container *ngIf="model">
            <div class="content">
                <img
                    [src]="imageLinks[model[i]?.fileName?.uri]"
                    [alt]="model[i]?.fileName?.uri"
                />
                <button
                    *ngIf="!formControl.disabled"
                    type="button"
                    mat-icon-button
                    class="btn-edit"
                    matTooltip="Bearbeiten"
                    (click)="edit(i)"
                >
                    <mat-icon>edit</mat-icon>
                </button>
                <button
                    *ngIf="!formControl.disabled"
                    type="button"
                    mat-icon-button
                    class="btn-close"
                    matTooltip="Entfernen"
                    (click)="remove(i)"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <mat-card-footer>
                <div *ngIf="!model[i]?.fileName.asLink">
                    {{ model[i]?.fileName.value }}
                </div>
                <div *ngIf="model[i]?.fileDescription">
                    {{ model[i]?.fileDescription }}
                </div>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</div>

<div *ngIf="!formControl.disabled" class="button-wrapper">
    <button
        type="button"
        mat-stroked-button
        color="primary"
        (click)="showUploadFilesDialog()"
    >
        Dateien hochladen
    </button>
    oder
    <button
        type="button"
        mat-stroked-button
        color="primary"
        (click)="showAddLinkDialog()"
    >
        Link angeben
    </button>
</div>
