<div
    [formGroup]="form"
    class="flex-col"
    *transloco="let t; read: 'form.create-dialog'"
>
    <div class="dlg-field-label required">Titel</div>
    <mat-form-field appearance="outline" class="space-bottom">
        <input
            igeFocus
            matInput
            formControlName="title"
            data-cy="create-title"
            placeholder="Eingeben..."
            autocomplete="off"
            (keyup.enter)="create.emit()"
            required
            [attr.aria-label]="
                isFolder ? 'Titel des Ordners' : 'Titel des Datensatzes'
            "
        />
        <mat-error>{{ t("titleRequired") }}</mat-error>
    </mat-form-field>

    <ng-content></ng-content>

    @if (documentTypes?.length > 1) {
        <div class="dlg-create-place dlg-field-label required" id="doc-type">
            Datensatztyp wählen:
        </div>
        <ige-document-list-item
            [docs]="documentTypes"
            showSelection="true"
            [denseMode]="true"
            [hideDivider]="true"
            [setActiveItem]="initialActiveDocumentType"
            (select)="setDocType($event)"
        ></ige-document-list-item>
    }
</div>
