<div [formGroup]="form" class="flex-col">
    <div class="dlg-field-label required">Titel</div>
    <mat-form-field appearance="outline" class="space-bottom">
        <input
            igeFocus
            matInput
            formControlName="title"
            data-cy="create-title"
            placeholder="Eingeben..."
            autocomplete="off"
            (keyup.enter)="create.next()"
            required
        />
        <mat-error>Bitte geben Sie einen Titel ein</mat-error>
    </mat-form-field>

    <ng-content></ng-content>

    <ng-container *ngIf="documentTypes?.length > 1">
        <div class="dlg-create-place dlg-field-label required" id="doc-type">
            Datensatztyp wählen:
        </div>
        <ige-document-list-item
            [docs]="documentTypes"
            showSelection="true"
            [denseMode]="true"
            [hideDivider]="true"
            [setActiveItem]="initialActiveDocumentType"
            (select)="setDocType($event)"
        ></ige-document-list-item>
    </ng-container>
</div>
