@import "src/variables";

table {
  background: $ige-background;
}

.thin-column {
  width: 36px;
}

td {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mat-row .menu-button {
  margin-right: 7px;
  background: $ige-background;
}

mat-button {
  cursor: pointer;
  user-select: none;
  margin: 1px;
  padding: 6px;
  color: $ige-hint-color;
  background: $ige-background-bar;
  ::ng-deep svg path {
    fill: $ige-hint-color;
  }

  &:hover {
    color: darken($ige-hint-color, 5%);
    background: darken($ige-background-bar, 5%);
  }

  vertical-align: middle;

  &.active {
    color: white;
    background: $ige-check-color;
    ::ng-deep svg path {
      fill: white;
    }
    &:hover {
      color: darken(white, 5%);
      background: darken($ige-check-color, 5%);
    }
  }

  .mat-icon {
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

td mat-button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
td mat-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.permission-table-footer {
  padding: 10px 24px 38px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    span {
      padding-left: 4px;
    }
  }
}

.table-title {
  font-weight: 500;
  padding: 10px 5px 10px 24px;
}

.mat-column-permission {
  white-space: nowrap;
}

.add-permission-buttons {
  color: $ige-secondary;
  white-space: nowrap;
  padding-right: 24px;

  button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 36px;
    padding: 0;
    border-left-style: none;
    margin-left: -1px;
  }
}

.root-permission {
  background: $error-background;
  &:hover {
    background: darken($error-background, 5%) !important;
  }
}
