<div class="table-title">{{ label }}</div>
<table
    mat-table
    [dataSource]="val"
    class="dark width-100"
    *transloco="let t; read: 'menu'"
>
    <ng-container matColumnDef="type-icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="thin-column">
            @if (element.id) {
                <mat-icon [svgIcon]="element.iconClass"></mat-icon>
            }
            @if (!element.id) {
                <mat-icon></mat-icon>
            }
        </td>
    </ng-container>
    <!-- Title/path -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Bezeichung/Ort</th>
        <td mat-cell *matCellDef="let element">
            <div>{{ element.title }}</div>
            <div class="td-subtitle">
                <ige-breadcrumb
                    class="no-padding disabled"
                    [path]="breadcrumb[element.id]"
                    [rootName]="forAddress ? 'Adressen' : t('form')"
                    [simplePath]="true"
                ></ige-breadcrumb>
            </div>
        </td>
    </ng-container>

    <!-- Permissiontype -->
    <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef>Berechtigung</th>
        <td mat-cell *matCellDef="let element" width="150px">
            <mat-button
                matTooltip="Leserecht"
                (click)="updatePermission(element, permissionLevel.READ)"
                [class.disabled]="disabled"
                [class.active]="element.permission == permissionLevel.READ"
            >
                <mat-icon>visibility</mat-icon>
            </mat-button>
            @if (
                element.isFolder &&
                (element.hasWritePermission ||
                    element.hasOnlySubtreeWritePermission)
            ) {
                <mat-button
                    matTooltip="Nur Unterordner"
                    (click)="
                        updatePermission(
                            element,
                            permissionLevel.WRITE_EXCEPT_PARENT
                        )
                    "
                    [class.disabled]="disabled"
                    [class.active]="
                        element.permission ==
                        permissionLevel.WRITE_EXCEPT_PARENT
                    "
                >
                    <mat-icon
                        class="wide-icon-26px"
                        svgIcon="edit-lock-folder"
                    ></mat-icon>
                </mat-button>
            }
            @if (element.hasWritePermission) {
                <mat-button
                    matTooltip="Schreibrecht"
                    (click)="updatePermission(element, permissionLevel.WRITE)"
                    [class.disabled]="disabled"
                    [class.active]="element.permission == permissionLevel.WRITE"
                >
                    <mat-icon>edit</mat-icon>
                </mat-button>
            }
        </td>
    </ng-container>

    <!-- Settings -->
    <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef class="thin-column">Aktion</th>
        <td mat-cell class="thin-column" *matCellDef="let element">
            <button
                mat-icon-button
                class="menu-button"
                matTooltip="Bearbeiten"
                [matMenuTriggerFor]="permissionMoreMenu"
            >
                <mat-icon svgIcon="Mehr"></mat-icon>
            </button>
            <mat-menu #permissionMoreMenu="matMenu">
                <button
                    [disabled]="disabled"
                    mat-menu-item
                    (click)="removePermission(element.id)"
                >
                    Entfernen
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.root-permission]="row.id == null"
    ></tr>
</table>
<div class="permission-table-footer">
    <button
        [disabled]="disabled"
        type="button"
        data-cy="add-permission"
        color="primary"
        mat-stroked-button
        (click)="this.callAddPermissionDialog()"
    >
        Hinzufügen
    </button>
    <permission-legends></permission-legends>
</div>
