@import "../../../variables";

:host {
  max-width: 900px;
  flex-grow: 1;
  padding-bottom: 16px;
  display: flex;
}

.circular-chart {
  display: block;
  margin: 20px auto 0;
  max-height: 200px;
  animation: fadein 1s;

  .circle-bg {
    fill: none;
    stroke: $ige-background;
    stroke-width: 2;
  }

  .circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: butt;
    transform-origin: center;
    animation: progress 1s ease-in-out forwards;
  }

  // don't animate cicles on ios safari
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .circle {
        animation: none;
      }
    }
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
      transform: rotate(330deg); // starting angle of animation
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .circle-1 {
    stroke: $ige-icon-color;
  }

  .circle-2 {
    stroke: $state-working-color;
  }

  .circle-3 {
    stroke: #fff;
    stroke-width: 5;
  }

  .text {
    fill: $ige-icon-color;
    font-size: 0.8em;
    text-anchor: middle;
  }
}

.box {
  text-align: center;
  color: $ige-icon-color;
  font-size: 16px;
  font-weight: 500;

  &.working {
    color: $state-working-color;
  }

  .count {
    font-weight: 500;
    font-size: 24px;
  }
}

.wrapper {
  flex: 1 1 0 !important;
  padding: 0 15%;

  &.inline {
    @media (min-width: 1400px) {
      margin-top: -139px;
      padding-bottom: 100px;
    }
  }
}
