@import 'src/variables';

:host {
  //padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  ::ng-deep .mat-tab-body-wrapper {
    flex: 1;
    padding: 24px;
  }

  .header {
    padding: 12px 24px;
    border-bottom: 1px solid $ige-background-bar;

    button {
      margin-left: 24px;
    }
  }
}
