<mat-tab-group [animationDuration]="'0ms'" fxFlex class="page-tabs">

    <mat-tab label="Codelisten">
        <ige-catalog-codelists></ige-catalog-codelists>
    </mat-tab>

    <mat-tab label="Verhalten">
        <ng-template matTabContent>
            <ige-behaviours #behaviours></ige-behaviours>
        </ng-template>
    </mat-tab>

    <mat-tab label="Indexierung">
        <ng-template matTabContent>
            <ige-indexing></ige-indexing>
        </ng-template>
    </mat-tab>

</mat-tab-group>


