<mat-tab-group [animationDuration]="'0ms'" fxFlex class="page-tabs">

    <mat-tab label="Codelisten">
        <page-template title="Katalogspezifische Codelisten">
            <ng-container help>
                <p>
                    Sie haben hier die Möglichkeit bestehende Codelisten anzupassen. Diese Änderungen sind nur in diesem
                    Katalog
                    sichtbar. Wenn diese Änderungen auch in anderen Katalogen oder im Portal verwendet werden sollen,
                    dann muss
                    dies im Codelist-Repository geschehen.
                </p>

                <p>
                    Ein Codelisteneintrag kann optional als Defaultwert eingestellt werden. Bei einem neuen Dokument,
                    wird das
                    Feld, welches diese Codeliste verwendet, bereits den ausgewählten Eintrag vorausgewählt haben.
                </p>
            </ng-container>

            <ige-catalog-codelists main></ige-catalog-codelists>
        </page-template>
    </mat-tab>

    <mat-tab label="Formulare">
        <ng-template matTabContent>
            <ige-behaviours type="form" #behaviours></ige-behaviours>
        </ng-template>
    </mat-tab>

    <mat-tab label="Katalogverhalten">
        <ng-template matTabContent>
            <ige-behaviours type="catalog" #behavioursCatalog></ige-behaviours>
        </ng-template>
    </mat-tab>

    <mat-tab label="Indizierung">
        <ng-template matTabContent>
            <ige-indexing></ige-indexing>
        </ng-template>
    </mat-tab>

</mat-tab-group>


