<mat-tab-group [animationDuration]="'0ms'" fxFlex class="page-tabs">

    <mat-tab label="Codelisten">
        <ige-catalog-codelists></ige-catalog-codelists>
    </mat-tab>

    <mat-tab label="Formulare">
        <ng-template matTabContent>
            <ige-behaviours type="form" #behaviours></ige-behaviours>
        </ng-template>
    </mat-tab>

    <mat-tab label="Katalogverhalten">
        <ng-template matTabContent>
            <ige-behaviours type="catalog" #behavioursCatalog></ige-behaviours>
        </ng-template>
    </mat-tab>

    <mat-tab label="Indizierung">
        <ng-template matTabContent>
            <ige-indexing></ige-indexing>
        </ng-template>
    </mat-tab>

</mat-tab-group>


