<mat-form-field class="ige-form-field" appearance="outline">
    @if (searchQuery.length === 0) {
        <mat-icon class="passive" matSuffix>search</mat-icon>
    }
    <input
        matInput
        placeholder="Suchen"
        aria-label="Search"
        data-cy="search"
        (input)="onSearchChange($event.target.value)"
    />
    @if (searchQuery.length > 0) {
        <button
            mat-icon-button
            matSuffix
            class="close"
            (click)="onSearchChange(''); searchField.value = ''"
        >
            <mat-icon class="gray" svgIcon="Entfernen"></mat-icon>
        </button>
    }
</mat-form-field>
