<modal #createFolderModal modalClass="info" title="Ordner erstellen" submitButtonLabel="Erstellen"
       (onSubmit)="handleCreate()">
    <modal-content>
        <label class="control-label">Ordnername</label>
        <input #name type="text" class="form-control" (blur)="folderName = name.value" required>

        <div class="checkbox">
            <label>
                <input #subFolder type="checkbox" (change)="asSubFolder = subFolder.checked">
                unter ausgewähltem Ordner anlegen
            </label>
        </div>
    </modal-content>
</modal>