<div>
    <div class="input-group col-md-12">
        <input type="text" class="  search-query form-control" placeholder="Search"/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <ul>
        <li><a routerLink="/form/0">UVP-Dokument 1</a></li>
        <li><a routerLink="/form/2">UVP-Dokument 2</a></li>
        <li><a routerLink="/form/1">ISO-Dokument 1</a></li>
    </ul>
</div>