<!--<ul>
    <li>Verwaltung von Benutzern</li>
    <ul>
        <li>anlegen, bearbeiten neuer Benutzer</li>
        <li>Speicherung im Backend</li>
    </ul>
    <li>Rechtevergabe für eingeloggte Benutzer auf bestimmte Dokumente</li>
    <ul>
        <li>Rechte auf einzelne Dokumente</li>
        <li>Rechte auf Unterbäume (wenn Hierarchien vorhanden)</li>
        <li>Rechte auf Dokumente mit speziellen Attributen</li>
    </ul>
</ul>-->
<ul class="nav nav-tabs">
    <li role="presentation" [class.active]="currentTab === 'users'"><a (click)="currentTab = 'users'">Benutzer</a></li>
    <li role="presentation" [class.active]="currentTab === 'roles'"><a (click)="currentTab = 'roles'">Rollen</a></li>
</ul>
<div [class.hide]="currentTab !== 'users'">
    <div class="splitWrapper padding-vertical">
        <div id="sidebarUser" class="split split-horizontal container">
            <div class="list-group">
                <button *ngFor="let user of users" type="button" class="list-group-item"
                        [class.disabled]="user === selectedUser"
                        (click)="loadUser(user)">
                    {{user.login}}
                </button>
            </div>
            <div class="text-center">
                <button class="btn btn-primary glyphicon glyphicon-plus" (click)="addUser()"></button>
            </div>
        </div>
        <div id="formUser" class="split split-horizontal container-fluid">
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <div class="form-group">
                    <label>Login</label>
                    <input #loginRef type="text" [disabled]="!isNewUser" required class="form-control" autocomplete="off"
                           name="login"
                           [(ngModel)]="selectedUser.login">
                </div>
                <div class="form-group">
                    <label>Vorname</label>
                    <input type="text" class="form-control" autocomplete="off" [(ngModel)]="selectedUser.firstName"
                           name="firstName">
                </div>
                <div class="form-group">
                    <label>Nachname</label>
                    <input type="text" class="form-control" autocomplete="off" [(ngModel)]="selectedUser.lastName"
                           name="lastName">
                </div>
                <div class="form-group">
                    <label>Passwort</label>
                    <input type="password" class="form-control" autocomplete="new-password"
                           [required]="isNewUser"
                           name="password"
                           [(ngModel)]="selectedUser.password">
                </div>
                <div class="form-group">
                    <label>Rollen</label>
                    <select multiple class="form-control" [(ngModel)]="selectedUser.roles" name="roles">
                        <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                    </select>
                </div>

                <button class="btn btn-primary pull-right" [disabled]="!userForm.form.valid"
                        type="button"
                        (click)="saveUser(selectedUser)">Speichern
                </button>
                <button class="btn btn-danger pull-left" [disabled]="isNewUser"
                        type="button"
                        (click)="deleteUser(selectedUser.login)">Löschen
                </button>
            </form>
        </div>
    </div>
</div>

<div [class.hide]="currentTab !== 'roles'" class="container">
    <role-gui (onRoleChange)="updateRoles($event)"></role-gui>
</div>