@import "src/variables";

:host {
  display: block;
}

.more-info {
  padding: 10px 0 20px;
  overflow: hidden;
  line-height: 22px;

  > div > div:nth-child(1) {
    width: 296px;
    color: $ige-text-color;
  }

  .padding-below {
    padding-bottom: 10px;
  }

  .section {
    padding-top: 10px;
  }
}
