@import "src/variables";

:host {
  display: block;
}

.more-info {
  padding: 10px 20px;
  margin-bottom: 24px;
  overflow: hidden;
  line-height: 22px;
  background: $ige-background;
  border-radius: 8px;
  //font-size: 14px;
  font-weight: 400;
  color: $ige-text-color;

  > div > div:nth-child(1) {
    width: 296px;
    color: $ige-hint-color;
  }

  .padding-below {
    padding-bottom: 10px;
  }
}
