<h2 mat-dialog-title>Katalog-Administrator hinzufügen</h2>
<mat-dialog-content>
<mat-selection-list #userList dense>
    <mat-list-option *ngFor="let user of users | async" [value]="user.login">
        {{user.firstName}} {{user.lastName}} ({{user.login}})
    </mat-list-option>
    <mat-divider></mat-divider>
</mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <div fxFlex></div>
    <button mat-button color="primary"
            [mat-dialog-close]="userList._value">Ok</button>
</mat-dialog-actions>
