<h1 class="docs-header-title text-center" *transloco="let t; read: 'dashboard'">
    {{ t("form") }}
</h1>

<div class="text-center shortcut" *transloco="let t; read: 'dashboard'">
    @if (canCreateDatasets) {
        <ige-action-button
            label="Neuer Ordner"
            svgIcon="outline-create_new_folder-24px"
            (submit)="createNewFolder()"
        ></ige-action-button>
        <ige-action-button
            [label]="t('newDocument')"
            svgIcon="Neuer-Datensatz"
            (submit)="createNewDataset()"
        ></ige-action-button>
    }
    @if (canImport) {
        <ige-action-button
            [label]="t('importDocument')"
            icon="import_export"
            (submit)="importDataset()"
        ></ige-action-button>
    }
</div>
