<h1 class="text-center">Daten</h1>

<div class="text-center shortcut">
    <button
        mat-button
        (click)="createNewFolder()"
        [disabled]="!canCreateDatasets"
    >
        <mat-icon
            class="material-icons-outlined"
            svgIcon="outline-create_new_folder-24px"
        ></mat-icon>
        <span>Neuer Ordner</span>
    </button>
    <button
        mat-button
        (click)="createNewDataset()"
        [disabled]="!canCreateDatasets"
    >
        <mat-icon
            class="material-icons-outlined"
            svgIcon="Neuer-Datensatz"
        ></mat-icon>
        <span>Neuer Datensatz</span>
    </button>
    <button
        mat-button
        (click)="importDataset()"
        disabled
        [disabled]="!canImport"
    >
        <mat-icon>import_export</mat-icon>
        <span>Datensatz Import</span>
    </button>
</div>
