<div class="label-wrapper">
    <label
        [attr.tabindex]="hasContextHelp ? 0 : null"
        aria-haspopup="dialog"
        (click)="showContextHelp($event)"
        (keydown.enter)="showContextHelp($event)"
    >
        <div
            *ngIf="hasContextHelp"
            class="contextHelpIcon"
            (click)="showContextHelp($event)"
        >
            <mat-icon
                class="material-icons-outlined"
                svgIcon="info-24px"
            ></mat-icon>
        </div>
        <ng-content></ng-content>
    </label>
</div>
