<div class="label-wrapper">
    <!-- [id] is used for aria-labelledby with corresponding fields -->
    <label [attr.id]="fieldLabel()" (click)="showContextHelp($event)">
        <ng-content></ng-content>
    </label>

    @if (hasContextHelp()) {
        <div class="context-help">
            <mat-icon
                class="material-icons-outlined"
                svgIcon="info-24px"
                (click)="showContextHelp($event)"
                (keydown.enter)="showContextHelp($event)"
                tabindex="0"
                role="button"
                aria-hidden="false"
                aria-haspopup="dialog"
                matTooltip="Eingabehilfe"
                [attr.aria-labelledby]="fieldLabel()"
            ></mat-icon>
        </div>
    }
</div>
