@import "src/variables";

:host {
  display: flex;
  position: relative;
}

.label-wrapper {
  width: 90px;
  padding-right: 24px;
  padding-top: 10px;
}

:host-context(.preview-dialog) .label-wrapper {
  width: 190px;
}

:host-context(ige-new-user-dialog) .label-wrapper {
  width: 120px;
}

:host-context(ige-configuration) .label-wrapper {
  width: 160px;
}

:host-context(ige-user-manager) .label-wrapper {
  width: 150px;
}

:host-context(ige-form-wrapper) .label-wrapper {
  width: 272px;
}

:host-context(.required) .label-wrapper label {
  font-weight: 500;
}

:host-context(.hasContextHelp) {
  &:hover .contextHelpIcon {
    position: absolute;
    display: block;
  }

  &:hover label,
  label:focus {
    color: $ige-primary;
    cursor: pointer;
  }

  &:hover:before {
    content: "";
    width: 24px;
    left: -24px;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  .contextHelpIcon {
    display: none;
    cursor: pointer;
    background-color: $ige-background;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-left: -28px;
    margin-right: 4px;
    margin-top: 8px;

    ::ng-deep .mat-icon svg rect {
      fill: $ige-secondary;
    }
  }
}
