<div class="label-wrapper">
    <!-- [id] is used for aria-labelledby with connected fields due to accessibility requirements -->
    <label [id]="fieldId" (click)="showContextHelp($event)">
        <ng-content></ng-content>
    </label>
    <div *ngIf="hasContextHelp" class="context-help">
        <mat-icon
            class="material-icons-outlined"
            svgIcon="info-24px"
            (click)="showContextHelp($event)"
            (keydown.enter)="showContextHelp($event)"
            tabindex="0"
            role="button"
            aria-haspopup="dialog"
            matTooltip="Eingabehilfe"
            [attr.aria-labelledby]="fieldId"
        ></mat-icon>
    </div>
</div>
