@import "src/variables";

.mat-mdc-card {
  padding: 16px 24px 8px;
  border-color: #ffffff;
  border-radius: 5px;

  .mat-divider-horizontal {
    left: 24px;
    right: 24px;
    width: auto;
  }

  mat-card-title h2 {
    font-size: 24px;
    color: $ige-primary;
    text-align: center;
    letter-spacing: 0.74px;
    padding-bottom: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
  }

  mat-card-content {
    padding: 0;
  }
}
