<mat-card appearance="outlined" class="no-box-shadow">
    <mat-card-title>
        <div class="wrapper">
            <h2>
                {{ label }}
            </h2>
            @if (nameOfToggle()) {
                <mat-slide-toggle (change)="toggle.next($event.checked)">{{
                    nameOfToggle()
                }}</mat-slide-toggle>
            }
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-divider aria-hidden="true"></mat-divider>
        <ng-content></ng-content>
    </mat-card-content>
    @if (endBtnTitle) {
        <button mat-flat-button color="primary" (click)="endBtnOnClick.emit()">
            {{ endBtnTitle }}
        </button>
    }
</mat-card>
