<p>
    Sie haben hier die Möglichkeit bestehende Codelisten anzupassen. Diese Änderungen sind nur in diesem Katalog
    sichtbar. Wenn diese Änderungen auch in anderen Katalogen oder im Portal verwendet werden sollen, dann muss
    dies im Codelist-Repository geschehen.
</p>

<p *ngIf="(hasCatalogCodelists | async) === false">
    In diesem Katalog gibt es keine spezifischen Codelisten. Alle Codelisten können
    über das zentrale Codelist-Repository verwaltet werden.
</p>

<mat-card *ngIf="(hasCatalogCodelists | async) === true">
    <mat-card-title>Katalogspezifische Codelisten</mat-card-title>

    <mat-card-content>
        <!--<div fxLayout="row">
            <ige-filter-select #select [options]="codelists" fxFlex
                               [labelFormat]="codelistLabelFormat"
                               placeholder="Codeliste"></ige-filter-select>

            <button mat-button
                    (click)="addCodelist(select.getSelectedValue())"
                    [disabled]="!select.control.value || select.control.value?.length === 0">Überschreiben
            </button>
        </div>-->

        <div fxLayout="row">
            <mat-selection-list multiple="false" [(ngModel)]="selectedCodelist">
                <mat-list-option *ngFor="let codelist of catalogCodelists | async" [value]="codelist">
                    {{codelist.name}}
                </mat-list-option>
            </mat-selection-list>


            <div *ngIf="selectedCodelist.length > 0" fxLayout="column" fxFlex>
<!--                <button mat-button color="warn">Originale Codeliste verwenden</button>-->
                <mat-list dense fxFlex>
                    <mat-list-item *ngFor="let entry of selectedCodelist[0]?.entries">
                        {{entry.id}} - {{entry.value}} - {{entry.data}}
                        <div fxFlex></div>
                        <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button (click)="editCodelist(entry)"><mat-icon>edit</mat-icon></button>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>
