<page-template label="Katalogspezifische Codelisten">
    <ng-container left-side>
        <p>
            Sie haben hier die Möglichkeit, bestehende Codelisten anzupassen.
            Diese Änderungen sind nur in diesem Katalog sichtbar.
        </p>
        <p>
            Wenn diese Änderungen auch in anderen Katalogen oder im Portal
            verwendet werden sollen, dann müssen die Änderungen im
            Codelist-Repository durchgeführt werden.
        </p>
        <p>
            Sie können einen Codelisteneintrag optional als Defaultwert
            einstellen. Bei einem neu-erstellten Datensatz wird das Feld, das
            diese Codeliste verwendet, mit dem eingestellten Defaultwert
            vorausgefüllt.
        </p>

        <div>
            <button mat-button color="primary" (click)="resetAllCodelists()">
                Alle Codelisten zurücksetzen
            </button>
        </div>
    </ng-container>

    <div
        main-header
        class="flex-1 flex-col justify-content-center align-items-center"
    >
        <ng-container
            *ngIf="(hasCatalogCodelists | async) === false; else showSelector"
        >
            <div>
                In diesem Katalog liegen keine spezifischen Codelisten vor.
            </div>
            <div>
                Alle Codelisten können über das zentrale Codelist-Repository
                verwaltet werden.
            </div>
        </ng-container>

        <ng-template #showSelector>
            <mat-form-field appearance="outline" class="white-bg main-center">
                <mat-select
                    (selectionChange)="selectCodelist($event.value)"
                    [value]="initialValue"
                >
                    <mat-option
                        *ngFor="let codelist of catalogCodelists | async"
                        [value]="codelist"
                    >
                        {{ codelist.label }} ({{ codelist.value }})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-template>
    </div>

    <div
        main-content
        class="flex-1"
        *ngIf="(hasCatalogCodelists | async) === true; else showLogo"
    >
        <div *ngIf="selectedCodelist?.description" class="description">
            <div class="section-title">Beschreibung</div>
            <div>{{ selectedCodelist?.description }}</div>
        </div>

        <div class="flex-row justify-content-end align-items-end gap-12">
            <button
                mat-flat-button
                mat-stroked-button
                (click)="resetCodelist()"
            >
                Zurücksetzen
            </button>
            <button mat-flat-button color="primary" (click)="addCodelist()">
                Hinzufügen
            </button>
        </div>

        <ige-codelist-presenter
            [codelist]="selectedCodelist"
            (edit)="editCodelist($event)"
            (remove)="removeCodelist($event)"
            (setDefault)="setAsDefault($event)"
        ></ige-codelist-presenter>
    </div>

    <ng-template #showLogo>
        <div
            *ngIf="!selectedCodelist"
            class="flex-1 flex-row justify-content-center align-items-center"
        >
            <img src="assets/icons/catalog-codelist.png" alt="codelist-repo" />
        </div>
    </ng-template>
</page-template>
