@import "src/variables";

:host {
  //display: flex;
  //flex: 1;
  //flex-direction: column;
}

ige-codelist-presenter {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 12px;
  //height: 100%;
}

.description {
  padding-bottom: 24px;
  line-height: 22px;
}
