:host {
  display: flex;
  flex: 1;
  overflow: auto;

  .free-spatial-wrapper {
    flex: 1;
    overflow: auto;
  }

  .mat-form-field .mat-icon {
    padding-right: 10px;
  }

  .mat-radio-button {
    height: 26px !important;
  }
}

.result-wrapper {
  flex: 1;
  overflow: auto;
}

.mat-form-field {
  width: 100%;
}
