:host {
  display: flex;
  flex: 1;
  overflow: auto;

  .free-spatial-wrapper {
    flex: 1;
    overflow: auto;
  }

  .mat-mdc-form-field .mat-icon {
    padding-right: 10px;
  }

  .mat-mdc-radio-button {
    height: auto;
  }

  ige-search-input {
    display: block;
    flex: none;
  }
}

.result-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;

  .list-wrapper {
    overflow: auto;
    flex: 1;
  }
}

.mat-mdc-form-field {
  width: 100%;
}
