<div fxLayout="column" class="free-spatial-wrapper">

    <div class="place-title small-bottom">Raumbezug herstellen</div>

    <div class="dlg-field-label">Ort</div>
    <mat-form-field appearance="outline">
        <mat-icon matPrefix class="passive">search</mat-icon>
        <input matInput igeFocus placeholder="Suchen" [formControl]="searchInput">
    </mat-form-field>

    <div *ngIf="showNoResult">
        Keine Ergebnisse. Ändern Sie Ihre Suche.
    </div>
    <div *ngIf="showWelcome">
        Suchen Sie nach einem Ort und wählen Sie diesen aus, um ihn anzuzeigen.
    </div>

    <div class="result-wrapper">
        <div class="list-wrapper">
            <mat-selection-list dense (selectionChange)="handleSelection($event)" style="overflow: auto">
                <ng-container *ngFor="let entry of nominatimResult">
                    <mat-list-option [value]="entry">
                        <p matLine>{{entry.display_name}}</p>
                    </mat-list-option>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-selection-list>
        </div>
    </div>

</div>
