@import "src/variables";

::ng-deep ige-inline-help-wrapper {
  display: flex;
  align-items: center;

  .mat-icon-button.menu-button {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    background-color: $ige-background;

    .mat-button-wrapper {
      * {
        vertical-align: unset;
      }
    } 
  }
}
