:host {
  display: block;
  position: relative;
}

// style for info button, when suffix is unsupported.
:host > button {
  top: 6px;
  position: absolute;
  margin-left: 8px;
  margin-right: unset;
}

.infoIcon {
  z-index: 1;
  border-radius: 50%;
  background-color: #f3f3f3;
  margin-right: 8px;
}
