@import "src/variables";

// top level deep selector acceptable as ige-inline-help-wrapper is unique
::ng-deep ige-inline-help-wrapper {
  display: flex;
  align-items: center;

  formly-field-mat-input {
    width: 100%;
  }

  formly-field-mat-input + .mat-icon-button.menu-button {
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 0.75em;
  }

  .mat-icon-button.menu-button {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    background-color: $ige-background;
    margin-top: 0.15em;

    .mat-button-wrapper {
      * {
        vertical-align: unset;
      }
    }
  }

  formly-field-mat-radio {
    margin-top: 0.2em;
  }
}
