<!-- the suffix is unsupported, when the form does not contain a typical input field, e.g. checkbox. -->
<div
    class="flex-row gap-6 align-items-center"
    *ngIf="props.isSuffixUnsupported; else fieldTemplate"
>
    <ng-container [ngTemplateOutlet]="fieldTemplate"></ng-container>
    <ng-container [ngTemplateOutlet]="matSuffix"></ng-container>
</div>

<ng-template #fieldTemplate>
    <ng-container #fieldComponent></ng-container>
</ng-template>

<!-- suffix template for info button that activates context help -->
<ng-template #matSuffix>
    <button
        *ngIf="props.hasInlineContextHelp || props.hasContextHelp"
        type="button"
        mat-icon-button
        class="menu-button infoIcon"
        (click)="showContextHelp($event)"
        matTooltip="Eingabehilfe"
        aria-haspopup="dialog"
        [attr.aria-label]="'Eingabehilfe zu ' + props.ariaLabel"
    >
        <mat-icon
            class="material-icons-outlined"
            svgIcon="info-24px"
        ></mat-icon>
    </button>
</ng-template>
