<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <!-- dialog header -->
    <div cdkDragHandle class="dialog-title-wrapper mat-dialog-title">
        <h2 mat-dialog-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <span class="text">Berechtigungsübersicht</span>
        </h2>
    </div>

    <mat-dialog-content *ngIf="users; else loading">
        <!-- keyword search -->
        <ige-search-input
            [query]="query"
            [showSearchIcon]="true"
            [flexWidth]="true"
            placeholder="Suchen"
            [withWhiteBorder]="false"
        ></ige-search-input>

        <!-- permission table -->
        <user-table
            [users]="users"
            [query]="query.value"
            [canExport]="false"
            (onUserSelect)="switchToUser($event)"
            tableType="permission"
            defaultSort="permission"
        ></user-table>
    </mat-dialog-content>

    <!-- dialog action buttons -->
    <mat-dialog-actions>
        <div class="flex-1"></div>
        <button mat-flat-button color="primary" mat-dialog-close="true">
            Schließen
        </button>
    </mat-dialog-actions>
</div>

<ng-template #loading>
    <mat-spinner class="content-spinner" diameter="40"></mat-spinner>
</ng-template>
