@import "src/variables";

:host {
  display: flex;
}

:host-context(.single) :host {
  align-self: unset;
}

.mat-icon {
  //margin-right: 12px !important;

  &.marker ::ng-deep .coloring {
    fill: $ige-check-color;
  }
}

.icon-wrapper {
  display: inline-block;
  position: relative;

  .document-icon-tag {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 12px;
  }
}

::ng-deep.mdc-tooltip__surface {
  // needed to override the default max-width which is too short
  max-width: unset !important;
}
