@import "src/variables";

:host {
  display: flex;
  //align-self: flex-start;
  //height: 24px;
  //padding: 0;
  //margin-right: 16px !important;
}

:host-context(.single) :host {
  align-self: unset;
}

.mat-icon {
  //margin-right: 12px !important;

  &.marker ::ng-deep .coloring {
    fill: $ige-check-color;
  }
}

.icon-wrapper {
  display: inline-block;
  position: relative;

  .document-icon-tag {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 12px;
  }
}
