<div class="dialog-title-wrapper flex-row align-items-center gap-12">
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Veröffentlichung planen</h1>
</div>

<mat-dialog-content [formGroup]="form">
    <mat-form-field
        appearance="outline"
        class="width-100"
        data-cy="datepicker-publish"
    >
        <mat-label>Veröffentlichen am</mat-label>
        <input
            [min]="minDate"
            formControlName="date"
            igeFocus
            matInput
            (keydown.enter)="setDateAndPublish()"
            [matDatepicker]="picker"
            placeholder="Datum auswählen"
        />
        <!--            [value]="getCurrentDate()"-->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Abbrechen</button>
    <div class="flex-1"></div>
    <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="setDateAndPublish()"
    >
        Ok
    </button>
</mat-dialog-actions>
