@import "src/variables";

.mat-card {
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.mat-card-header {
  align-items: center;

  .mat-card-title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .mat-card-subtitle {
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.mat-card-content {
  padding: 12px 50px 0 15px;
}
