<div class="wrapper">
    <ng-container *ngIf="_options?.length === 0; else menuButton">
        <button
            *ngIf="buttonType == 'flat'"
            type="button"
            color="primary"
            mat-flat-button
            class="button-with-text primary"
            [class.padding-btn]="showTitle"
            [class.error-outline]="showRequiredError"
            (click)="add.emit()"
            aria-haspopup="true"
            [attr.aria-label]="ariaLabel"
            aria-description="hinzufügen"
        >
            <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
        </button>
        <button
            *ngIf="buttonType == 'stroked'"
            type="button"
            mat-stroked-button
            class="button-with-text"
            [class.padding-btn]="showTitle"
            [class.error-outline]="showRequiredError"
            (click)="add.emit()"
            [matTooltip]="showTitle ? '' : 'Hinzufügen'"
            aria-haspopup="dialog"
            [attr.aria-label]="ariaLabel"
            aria-description="hinzufügen"
        >
            <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
        </button>
    </ng-container>

    <ng-template #menuButton>
        <button
            type="button"
            mat-stroked-button
            class="button-with-text"
            [class.padding-btn]="showTitle"
            [class.error-outline]="showRequiredError"
            [matMenuTriggerFor]="menuOptions"
            [attr.aria-label]="ariaLabel"
            aria-description="hinzufügen"
        >
            <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
        </button>
        <mat-menu #menuOptions="matMenu">
            <button
                mat-menu-item
                *ngFor="let option of _options"
                (click)="add.emit(option.key)"
            >
                {{ option.value }}
            </button>
        </mat-menu>
    </ng-template>

    <mat-error *ngIf="showRequiredError" class="error"
        >Bitte erstellen Sie mindestens einen Eintrag</mat-error
    >

    <ng-template #buttonContent>
        <mat-icon>add</mat-icon>
        <span *ngIf="showTitle" class="btn-title">{{ buttonTitle }}</span>
    </ng-template>
</div>
