@import "src/variables";

.error {
  color: $error-color;
  font-size: 12px;
  padding-top: 4px;
  height: 0;
  overflow: visible;
}

button {
  transition: background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $ige-secondary;
  background-color: #ffffff !important;
  letter-spacing: 0.74px;

  &:hover {
    background-color: darken($ige-background, 5%);
  }

  &.error-outline {
    border-color: $error-color;
  }

  &.padding-btn {
    padding: 0 10px !important;
  }
}

:host ::ng-deep ige-repeat > div + ige-add-button .wrapper {
  padding-top: 0 !important;
}
