<div class="wrapper">
    @if (_options?.length === 0) {
        @if (buttonType == "flat") {
            <button
                type="button"
                color="primary"
                mat-flat-button
                class="button-with-text primary"
                data-cy="btn-add"
                [class.padding-btn]="showTitle"
                [class.error-outline]="showRequiredError"
                (click)="add.emit()"
                aria-haspopup="true"
                [attr.aria-labelledby]="ariaLabelledBy"
                aria-description="hinzufügen"
                [attr.aria-description]="
                    matError?.nativeElement?.textContent ?? 'hinzufügen'
                "
            >
                <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
            </button>
        }
        @if (buttonType == "stroked") {
            <button
                type="button"
                mat-stroked-button
                class="button-with-text"
                [class.padding-btn]="showTitle"
                [class.error-outline]="showRequiredError"
                (click)="add.emit()"
                [matTooltip]="showTitle ? '' : 'Hinzufügen'"
                aria-haspopup="dialog"
                [attr.aria-labelledby]="ariaLabelledBy"
                [attr.aria-description]="
                    matError?.nativeElement?.textContent ?? 'hinzufügen'
                "
            >
                <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
            </button>
        }
    } @else {
        <button
            type="button"
            mat-stroked-button
            class="button-with-text"
            [class.padding-btn]="showTitle"
            [class.error-outline]="showRequiredError"
            [matMenuTriggerFor]="menuOptions"
            [attr.aria-labelledby]="ariaLabelledBy"
            [attr.aria-description]="
                matError?.nativeElement?.textContent ?? 'hinzufügen'
            "
        >
            <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
        </button>
        <mat-menu #menuOptions="matMenu">
            @for (option of _options; track option) {
                <button
                    mat-menu-item
                    (click)="add.emit(option.key)"
                    [attr.data-cy]="option.key"
                >
                    {{ option.value }}
                </button>
            }
        </mat-menu>
    }

    <ng-container *transloco="let t">
        @if (showRequiredError) {
            <mat-error #matError class="error">{{
                t("form.validationMessages.createOneEntry")
            }}</mat-error>
        }
    </ng-container>

    <ng-template #buttonContent>
        <mat-icon>add</mat-icon>
        @if (showTitle) {
            <span class="btn-title">{{ buttonTitle }}</span>
        }
    </ng-template>
</div>
