<ige-dialog-template
    label="ISO-Ansicht"
    submitLabel="Herunterladen"
    (submit)="download()"
>
    <ng-container header>
        <div class="flex-1"></div>
        <mat-button-toggle-group
            *ngIf="isoTextPublished"
            name="compareView"
            value="false"
            aria-label="Ansicht"
            (change)="this.compareView = !this.compareView"
        >
            <mat-button-toggle value="false">ISO-Ansicht</mat-button-toggle>
            <mat-button-toggle value="true"
                >Vergleichsansicht</mat-button-toggle
            >
        </mat-button-toggle-group>
    </ng-container>

    <div content id="print-content" class="preview-dialog">
        <pre [hidden]="compareView">{{ isoText }}</pre>
        <div [hidden]="!compareView" id="diffView"></div>
    </div>

    <ng-container actions>
        <button mat-flat-button color="primary" (click)="copy()">
            Kopieren
        </button>
    </ng-container>
</ige-dialog-template>
