<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <!-- dialog header -->
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Schlagwörter konsolidieren</h1>
    </div>

    @if (true) {
        <mat-dialog-content>
            <div>
                Gemet Schlagworte
                <mat-chip-listbox>
                    <mat-chip *ngFor="let keyword of gemetKeywords">
                        {{ keyword.label }}
                    </mat-chip>
                </mat-chip-listbox>
            </div>
            <div>
                Umthes Schlagworte
                <mat-chip-listbox>
                    <mat-chip *ngFor="let keyword of umthesKeywords">
                        {{ keyword.label }}
                    </mat-chip>
                </mat-chip-listbox>
            </div>
            <div>
                Freie Schlagworte
                <mat-chip-listbox>
                    <mat-chip *ngFor="let keyword of freeKeywords">
                        {{ keyword.label }}
                    </mat-chip>
                </mat-chip-listbox>
            </div>

            @if (!isLoading) {
                <div>
                    Gemet New
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let keyword of gemetKeywordsNew">
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
                <div>
                    Umthes New
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let keyword of umthesKeywordsNew">
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
                <div>
                    Free New
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let keyword of freeKeywordsNew">
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            } @else {
                <mat-spinner
                    class="content-spinner"
                    diameter="40"
                ></mat-spinner>
            }
        </mat-dialog-content>
    } @else {
        <mat-spinner class="content-spinner" diameter="40"></mat-spinner>
    }

    <!-- dialog action buttons -->
    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close="true">Schließen</button>
        <div class="flex-1"></div>

        <button
            color="primary"
            mat-flat-button
            [disabled]="isLoading"
            (click)="({})"
        >
            Übernehmen
        </button>
    </mat-dialog-actions>
</div>
