@import "src/variables.scss";

.keyword-section {
  display: flex;
  margin-top: 12px;
}

.label-wrapper {
  width: 212px;
  padding-top: 10px;
}

.keyword-label {
  flex: 0 0 200px; /* Adjust the width as needed */
  //font-weight: bold;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

/* Chip status styles */
.added-keyword {
  background-color: #c8e6c9;
  border: 1px solid #81c784;
}

.removed-keyword {
  background-color: #ffcdd2;
  border: 1px solid #e57373;
}

.unchanged-keyword {
  border: 1px solid transparent;
}

.mat-mdc-chip {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: move;
  min-height: 36px;

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-icon {
    font-size: 18px; /* Ensure the icon size is appropriate */
    border-radius: 50%;
    vertical-align: middle; /* Align the icon with the text */
    //background-color: $ige-background;
  }
}

.help {
  padding-top: 20px;
  padding-left: 8px;

  mat-icon {
    margin-right: 12px;
    border-radius: 50%;
    background-color: $ige-background;
  }
}

.error-box {
  margin-top: 20px;
}

#save-btn {
  min-width: 147px;
}
