<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <!-- dialog header -->
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Schlagwörter konsolidieren</h1>
    </div>

    <mat-dialog-content>
        <div *ngIf="!isLoading">
            <div class="no-selection-text">
                Grün markierte Schlagworte werden neu hinzugefügt. Rot markierte
                werden entfernt.
            </div>
            @if (isInspireIdentified && inspireTopicsNew.length > 0) {
                <div class="keyword-section" aria-label="INSPIRE Themen">
                    <div class="label-wrapper">
                        <label>INSPIRE Themen</label>
                    </div>
                    <mat-chip-listbox class="chip-list">
                        <mat-chip
                            *ngFor="let keyword of inspireTopicsNew"
                            [ngClass]="{
                                'added-keyword': keyword.status === 'added',
                                'removed-keyword': keyword.status === 'removed'
                            }"
                            [disabled]="keyword.status === 'removed'"
                            [aria-label]="keyword.label"
                        >
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            }
            @if (gemetKeywordsNew.length > 0) {
                <div class="keyword-section" aria-label="Gemet Schlagworte">
                    <div class="label-wrapper">
                        <label>Gemet Schlagworte</label>
                    </div>
                    <mat-chip-listbox class="chip-list">
                        <mat-chip
                            *ngFor="let keyword of gemetKeywordsNew"
                            [ngClass]="{
                                'added-keyword': keyword.status === 'added',
                                'removed-keyword': keyword.status === 'removed'
                            }"
                            [disabled]="keyword.status === 'removed'"
                            [aria-label]="keyword.label"
                        >
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            }
            @if (umthesKeywordsNew.length > 0) {
                <div class="keyword-section" aria-label="Umthes Schlagworte">
                    <div class="label-wrapper">
                        <label>Umthes Schlagworte</label>
                    </div>

                    <mat-chip-listbox class="chip-list">
                        <mat-chip
                            *ngFor="let keyword of umthesKeywordsNew"
                            [ngClass]="{
                                'added-keyword': keyword.status === 'added',
                                'removed-keyword': keyword.status === 'removed'
                            }"
                            [disabled]="keyword.status === 'removed'"
                        >
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            }
            @if (freeKeywordsNew.length > 0) {
                <div class="keyword-section" aria-label="Freie Schlagworte">
                    <div class="label-wrapper">
                        <label>Freie Schlagworte</label>
                    </div>
                    <mat-chip-listbox class="chip-list">
                        <mat-chip
                            *ngFor="let keyword of freeKeywordsNew"
                            [ngClass]="{
                                'added-keyword': keyword.status === 'added',
                                'removed-keyword': keyword.status === 'removed'
                            }"
                            [disabled]="keyword.status === 'removed'"
                        >
                            {{ keyword.label }}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            }
        </div>
        <div *ngIf="isLoading" class="loading-wrapper">
            <mat-spinner class="content-spinner" diameter="40"></mat-spinner>
        </div>
    </mat-dialog-content>

    <!-- dialog action buttons -->
    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close="true">Schließen</button>
        <div class="flex-1"></div>
        <button
            color="primary"
            mat-flat-button
            [disabled]="isLoading"
            (click)="saveConsolidatedKeywords()"
        >
            Übernehmen
        </button>
    </mat-dialog-actions>
</div>
