<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <!-- dialog header -->
    <div
        cdkDragHandle
        class="dialog-title-wrapper flex-row align-items-center gap-12"
    >
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <h1 mat-dialog-title>Schlagworte konsolidieren</h1>
    </div>

    <mat-dialog-content>
        @if (this.hasKeywords) {
            <div *ngIf="!isLoading">
                <div class="no-selection-text">
                    Bestehende Schlagworte werden hier auf ihre Aktualität
                    geprüft. Grün hinterlegte Schlagworte werden der Liste
                    hinzugefügt. Rot hinterlegte Schlagworte werden entfernt.
                </div>
                <div *ngFor="let keywordType of keywordDialogData">
                    <div
                        *ngIf="keywordType.condition"
                        class="keyword-section"
                        [attr.aria-label]="keywordType.label"
                    >
                        <div class="label-wrapper">
                            <label>{{ keywordType.label }}</label>
                        </div>
                        <mat-chip-listbox class="chip-list">
                            <mat-chip
                                *ngFor="let keyword of keywordType.keywords"
                                [ngClass]="{
                                    'added-keyword': keyword.status === 'added',
                                    'removed-keyword':
                                        keyword.status === 'removed',
                                    'unchanged-keyword':
                                        keyword.status === 'unchanged'
                                }"
                                [aria-label]="keyword.label"
                            >
                                {{ keyword.label }}
                            </mat-chip>
                        </mat-chip-listbox>
                    </div>
                </div>
            </div>

            <div *ngIf="isLoading" class="loading-wrapper">
                <mat-spinner
                    class="content-spinner"
                    diameter="40"
                ></mat-spinner>
            </div>
            @if (timedOutKeywords.length && !this.isLoading) {
                <div class="error-box flex-row align-items-center">
                    Verbindungsprobleme bei:
                    {{ timedOutThesauri.join(", ") }}. Folgende Schlagworte
                    werden den Freien Schlagworten zugeordnet:
                    {{ timedOutKeywords.join(", ") }}
                </div>
            }
            <div class="help flex-row align-items-center">
                <mat-icon svgIcon="info-24px"></mat-icon>
                <div class="legend" *ngIf="!isLoading">
                    Klicken sie auf "Übernehmen" um die Änderungen zu speichern.
                </div>
                <div class="legend" *ngIf="isLoading">
                    Schlagworte werden analysiert...
                </div>
            </div>
        } @else {
            <div class="no-selection-text">
                Zurzeit sind keine Schlagworte vorhanden.
            </div>
            <div class="help flex-row align-items-center">
                <mat-icon svgIcon="info-24px"></mat-icon>
                <div class="legend">
                    Bitte fügen Sie Schlagworte hinzu, um diese zu
                    konsolidieren.
                </div>
            </div>
        }
    </mat-dialog-content>

    <!-- dialog action buttons -->
    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close="true">Schließen</button>
        <div class="flex-1"></div>
        <button
            color="secondary"
            mat-flat-button
            data-cy="save-btn"
            id="retry-btn"
            [disabled]="isLoading || saveButtonClicked"
            *ngIf="!this.isLoading"
            (click)="consolidateKeywords()"
        >
            <span> Wiederholen </span>
        </button>
        <button
            color="primary"
            mat-flat-button
            data-cy="save-btn"
            id="save-btn"
            [disabled]="isLoading || saveButtonClicked"
            *ngIf="this.hasKeywords"
            (click)="saveConsolidatedKeywords(); saveButtonClicked = true"
        >
            <span *ngIf="!saveButtonClicked">Übernehmen</span>
            <mat-spinner
                *ngIf="saveButtonClicked"
                class="button-spinner"
                diameter="20"
            ></mat-spinner>
        </button>
    </mat-dialog-actions>
</div>
