<page-template label="Codelist Repository">
    <div left-side>
        Die Codelisten werden von einem zentralen Repository verwaltet und
        werden mit dem IGE NG synchronisiert.
    </div>

    <div main-header class="header">
        <!--<div>Letzte Synchronisation erfolgte am ...</div>
        <button
            mat-icon-button
            class="dark menu-button"
            [class.expanded]="showMore"
            [matTooltip]="showMore ? 'Schließen' : 'Öffnen'"
            (click)="showMore = !showMore"
        >
            <mat-icon class="rotating animated">keyboard_arrow_down</mat-icon>
        </button>-->
        <div class="flex-1"></div>
        <div>
            <button
                mat-flat-button
                color="primary"
                (click)="updateCodelists()"
                [disabled]="disableSyncButton"
            >
                Synchronisieren
            </button>
        </div>
    </div>

    @if (showMore) {
        <div status class="status">Letzte Information ...</div>
    }

    <div main-content>
        <div class="flex-row justify-content-center align-items-stretch">
            <ige-filter-select
                [options]="codelists"
                class="white-bg"
                style="flex: 1; max-width: 460px"
                [labelFormat]="codelistLabelFormat"
                placeholder="Codeliste wählen..."
                (reset)="resetInput()"
                (optionSelect)="updateCodelistSelection($event)"
            ></ige-filter-select>
        </div>

        @if (selectedCodelist?.description) {
            <div class="description">
                <div class="section-title">Beschreibung</div>
                <div>{{ selectedCodelist?.description }}</div>
            </div>
        }

        <ige-codelist-presenter
            [codelist]="selectedCodelist"
            [hideMenu]="true"
        ></ige-codelist-presenter>

        @if (!selectedCodelist) {
            <div
                class="flex-row justify-content-center align-items-stretch"
                style="padding-top: 60px"
            >
                <img
                    src="assets/icons/codelist-repository.png"
                    alt="codelist-repo"
                />
            </div>
        }
    </div>
</page-template>
