:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mat-card {
  margin-bottom: 24px;
}

.entries {
  overflow: auto;
  max-height: 300px;
}

ige-filter-select {
  margin-top: 53px;
}

ige-codelist-presenter {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.status {
  padding: 30px;
  background-color: rgb(223, 223, 223);
}
