<mat-card>
    <mat-card-content>
        Die Codelisten werden von einem zentralen Repository verwaltet und werden mit dem IGE-NG synchronisiert.
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="updateCodelists()" [disabled]="disableSyncButton">
            Codelisten synchronisieren
        </button>
    </mat-card-actions>
</mat-card>


<mat-card>
    <mat-card-title>Codelisten</mat-card-title>

    <mat-card-content>

        <ige-filter-select [options]="codelists"
                           [labelFormat]="codelistLabelFormat"
                           placeholder="Codeliste"
                           (reset)="resetInput()"
                           (optionSelect)="updateCodelistTable($event)"></ige-filter-select>

        <table *ngIf="codelistDatasource?.data > 0; else emptyMessage" mat-table [dataSource]="codelistDatasource" matSort class="width-100">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Wert</th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data</th>
                <td mat-cell *matCellDef="let element"> {{element.data}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <ng-template #emptyMessage>Wählen Sie eine Codeliste aus</ng-template>

    </mat-card-content>
</mat-card>
