@import "src/variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

ige-codelist-presenter {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.description {
  padding-bottom: 24px;
  line-height: 22px;
}
