@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  height: 100%;
  overflow: auto;
}

.section {
  padding-bottom: 48px;

  .section-title {
    padding-bottom: 12px;
  }
}

.scrollable {
  overflow: auto;
}
