<page-template-no-header label="Verhalten">
    <ng-container left-side>
        {{
            type === "form"
                ? "Sie haben hier die Möglichkeit das Formular anzupassen. Es können diverse Funktionen (de-)aktiviert werden. Die Einstellungen gelten katalogweit."
                : "Hier können katalogspezifische Verhalten angepasst werden."
        }}
    </ng-container>

    <div main-content class="flex-1">
        <div class="scrollable">
            @for (item of pluginsGrouped | keyvalue; track item) {
                <div class="section">
                    <div class="section-title">{{ item.key }}</div>
                    @for (plugin of item.value; track plugin) {
                        <ige-behaviour-item
                            [title]="plugin.name"
                            [description]="plugin.description"
                            [control]="fields[plugin.id]"
                            (update)="save()"
                        ></ige-behaviour-item>
                    }
                </div>
            }
        </div>
    </div>
</page-template-no-header>
