@import "src/variables";

.empty-navigation-wrapper {
  .navigation-title {
    height: 100px;
    line-height: 100px;
  }

  .empty-text-wrapper {
    border-top: 1px solid $ige-background-bar;
    border-bottom: 1px solid $ige-background-bar;
    height: 49px;
    line-height: 49px;
    color: $ige-text-color;
    font-size: 14px;
    opacity: 0.38;
  }
}
