<div class="flex-grid">
    <div class="form-group" *ngIf="rows.length > 0">
        <!-- add columns for row modifiers -->
        <!--<div>
            <label class="control-label">&nbsp;</label>
            <div class="clickable" *ngFor="let row of rows, let i=index" title="Bearbeiten" (click)="editRow(row, i)">
                <i class="fa fa-edit"></i>
            </div>
        </div>-->
        <div>
            <label *ngIf="!hideTableHeader" class="control-label">&nbsp;</label>
            <div class="cell" *ngFor="let row of rows; let i=index" [class.odd]="i % 2 === 1" title="Löschen"><!-- (click)="deleteRow(i)">-->
                <!--<i class="fa fa-trash"></i>-->
                <input type="checkbox" [value]="i" (change)="updateSelection(i, $event)">
            </div>
        </div>

        <!-- render header -->
        <div *ngFor="let col of columns; let j=index" [style.width]="col.editor.width" [class.last]="j === columns.length-1">
            <label *ngIf="!hideTableHeader" class="control-label" (click)="sortBy(col)">{{col.editor.label}}</label>
            <!-- render data column of all rows -->
       <!--     <div class="clickable cell" [class.firstRow]="i===0" [class.odd]="i % 2 === 1" *ngFor="let row of value; let i=index" (click)="editRow(row, i, col)">-->
            <div class="clickable cell" [class.firstRow]="i===0" [class.odd]="i % 2 === 1" *ngFor="let row of rows; let i=index" (click)="editRowInline(row, col, $event)"> <!--(mouseover)="hoverRow = i"-->
                <span class="cellLabel">{{col.formatter ? col.formatter(row[col.editor.key]) : row[col.editor.key]}}</span>
            </div>
        </div>
    </div>

    <div class="well well-sm" *ngIf="rows.length === 0">Die Tabelle ist leer</div>

    <button class="btn btn-secondary" type="button" (click)="deleteRow()" [disabled]="markedRows.length === 0">Löschen</button>
    <button class="btn btn-secondary pull-right" type="button" (click)="showAddRowModal()">Hinzufügen</button>
</div>

<modal #addRowModal title="Hinzufügen" submitButtonLabel="Ok" (onSubmit)="addRow()">
    <modal-content>
        <form #addForm="ngForm"><!--(submit)="addRow()"-->
            <div class="form-group">
                <div *ngFor="let col of columns; let i=index" class="padding">
                    <label class="control-label">{{col.editor.label}}</label>
                    <input *ngIf="col.editor.controlType === 'textbox'" [focus]="i === focusNumber" [type]="col.editor.type" class="form-control" [(ngModel)]="addModel[col.editor.key]" [name]="col.editor.key">
                    <select class="form-control" *ngIf="col.editor.controlType === 'dropdown'" [(ngModel)]="addModel[col.editor.key]" [name]="col.editor.key">
                        <option *ngFor="let option of col.editor.options" [value]="option.id">{{option.value}}</option>
                    </select>
                </div>
            </div>
        </form>
    </modal-content>
</modal>
