<div style="display: flex; flex-direction: column; height: 100%;">
    <div>
        <div class="input-group" style="">
            <input type="text" class="search-query form-control" placeholder="Search" (keyup.enter)="query()" [(ngModel)]="searchString"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="query()">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </div>
    <div style="overflow-y: auto">
        <ul class="list-group">
            <li *ngFor="let entry of entries" class="list-group-item" (click)="open(entry._id, entry.title)" [class.active]="selectedId === entry._id">
                <span class="badge"
                      [class.badge-primary]="entry._state === 'P'"
                      [class.badge-warning]="entry._state === 'W'"
                      [class.pubished-working-label]="entry._state === 'PW'"
                >{{entry._type}}</span>
                {{entry.title}}
            </li>
        </ul>
    </div>
</div>
