@import "src/variables";

:host {
  height: 100%;
}

section {
  padding: 0 56px;
  background: white;
}

h2 {
  color: $ige-primary;
  font-weight: normal;
  font-size: 24px;
  margin: 24px 0 24px;
}

h2:first-child {
  margin-top: 0;
}

.side-title {
  color: $ige-placeholder-color;
  text-transform: uppercase;
  padding-top: 24px;
  font-size: 12px;
}

.side-item {
  display: flex;
  align-items: center;
  padding-top: 6px;

  mat-icon {
    padding-right: 10px;
  }
}

.info-row {
  line-height: 36px;
  padding-bottom: 15px;
}

.info-row,
.info-header-row {
  align-items: center;

  > div:nth-child(1) {
    width: 296px;
  }

  > div:nth-child(2) {
    font-weight: 500;
  }

  button {
    margin-left: auto;
  }
}
