<input
    matInput
    type="number"
    [formControl]="$any(field.fieldGroup[0].formControl)"
/>
<div
    matSuffix
    [matMenuTriggerFor]="!disabled && suffixMenu"
    class="suffix-wrapper"
    [class.disabled]="disabled"
>
    <span>{{ $unit() }}</span>
    @if (!disabled) {
        <mat-icon>arrow_drop_down</mat-icon>
    }
</div>
<mat-menu #suffixMenu>
    @for (item of $options(); track item) {
        <button mat-menu-item (click)="updateUnit(item)">
            {{ item.label }}
        </button>
    }
</mat-menu>
